Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aevesdocker, @craig-osterhout, @usha-mandya, @sarahsanders-docker

fix 25 seat limit
  content/manuals/billing/payment-method.md
  data/summary.yaml
Owners: @sarahsanders-docker

engine: Update version
  content/reference/api/engine/_index.md
Owners: @usha-mandya

update doc
  content/includes/desktop-linux-launch.md
Owners: none

Update get-docker.md
  content/get-started/get-docker.md
Owners: none

engine/install: deprecate Raspberry Pi OS 32-bit (armhf) support
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/engine/install/raspberry-pi-os.md
Owners: @usha-mandya

Update the MCP overview page (#23449)
  content/guides/agentic-ai.md
  content/manuals/_index.md
  content/manuals/ai/cagent/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/catalog.md
  content/manuals/ai/mcp-catalog-and-toolkit/faqs.md
  content/manuals/ai/mcp-catalog-and-toolkit/get-started.md
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-servers-overview.svg
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-toolkit-overview.png
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
  content/manuals/ai/mcp-catalog-and-toolkit/toolkit.md
Owners: @usha-mandya

Update desktop-linux-launch.md (#23487)
  content/includes/desktop-linux-launch.md
Owners: none

Update content/manuals/engine/release-notes/28.md
  content/manuals/engine/release-notes/28.md
Owners: @usha-mandya

docker: 28.5.0 (#23486)
  content/manuals/engine/release-notes/28.md
  content/reference/api/engine/_index.md
  hugo.yaml
Owners: @usha-mandya

Remove warning issue references to docker/for-mac#7527 (#23484)
  content/manuals/desktop/release-notes.md
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/_index.md
Owners: @aevesdocker

Update content/manuals/engine/install/raspberry-pi-os.md
  content/manuals/engine/install/raspberry-pi-os.md
Owners: @usha-mandya

Update wording
  content/manuals/engine/install/raspberry-pi-os.md
Owners: @usha-mandya

engine/install: deprecate Raspberry Pi OS 32-bit (armhf) support (#23489)
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/engine/install/raspberry-pi-os.md
Owners: @usha-mandya

hide cert revoke page
  content/manuals/desktop/cert-revoke-solution.md
Owners: @aevesdocker

hide cert revoke page
  content/manuals/desktop/cert-revoke-solution.md
Owners: @aevesdocker

engine/install: update supported OS versions
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/fedora.md
  content/manuals/engine/install/rhel.md
Owners: @usha-mandya

hide cert revoke page (#23490)
  content/manuals/desktop/cert-revoke-solution.md
Owners: @aevesdocker

vendor: github.com/docker/buildx v0.29.1
  _vendor/modules.txt
  go.mod
  go.sum
Owners: @sarahsanders-docker

Bump compose to v28.5.0
  _vendor/modules.txt
  content/manuals/compose/releases/release-notes.md
  go.mod
  hugo.yaml
Owners: @sarahsanders-docker, @aevesdocker

Apply suggestions from code review
  content/manuals/compose/releases/release-notes.md
Owners: @aevesdocker

Bump compose to v28.5.0 (#23493)
  _vendor/modules.txt
  content/manuals/compose/releases/release-notes.md
  go.mod
  hugo.yaml
Owners: @sarahsanders-docker, @aevesdocker

scout: update cli to 1.18.4 (#23485)
  _vendor/github.com/docker/scout-cli/docs/docker_scout.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_attestation_get.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_attestation_list.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_compare.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_quickview.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_vex.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_vex_get.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_watch.yaml
  _vendor/github.com/docker/scout-cli/docs/scout.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation_get.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation_list.md
  _vendor/github.com/docker/scout-cli/docs/scout_compare.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/github.com/docker/scout-cli/docs/scout_vex.md
  _vendor/github.com/docker/scout-cli/docs/scout_vex_get.md
  _vendor/github.com/docker/scout-cli/docs/scout_watch.md
  _vendor/modules.txt
  content/manuals/scout/release-notes/cli.md
  content/reference/cli/docker/scout/attestation/get.md
  content/reference/cli/docker/scout/attestation/list.md
  content/reference/cli/docker/scout/vex/_index.md
  content/reference/cli/docker/scout/vex/get.md
  go.mod
  go.sum
Owners: @sarahsanders-docker, @craig-osterhout, @usha-mandya

add redirect for /ai/mcp-gateway/
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
Owners: @usha-mandya

add redirect for /ai/mcp-gateway/ (#23495)
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
Owners: @usha-mandya

added installer flags for PAC file
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
  content/manuals/enterprise/enterprise-deployment/msi-install-and-configure.md
Owners: @aevesdocker

review
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
  content/manuals/enterprise/enterprise-deployment/msi-install-and-configure.md
Owners: @aevesdocker

add: feedback-dhi
  content/manuals/dhi/about/_index.md
  content/manuals/dhi/about/feedback.md
Owners: @craig-osterhout

add: dhi-feedback
  content/manuals/dhi/about/feedback.md
Owners: @craig-osterhout

update: header
  content/manuals/dhi/about/feedback.md
Owners: @craig-osterhout

RN fix
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

build: buildx 0.29.1 release notes
  content/manuals/build/release-notes.md
Owners: @aevesdocker

RN fix (#23501)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Desktop: release notes 4.48
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

fixes and edits
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
  content/manuals/enterprise/enterprise-deployment/msi-install-and-configure.md
Owners: @aevesdocker

fixes and edits
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
Owners: @aevesdocker

update unassociated machines for clarification
  content/manuals/unassociated-machines/_index.md
Owners: none

spelling
  content/manuals/unassociated-machines/_index.md
Owners: none

scout: fix watch docs
  content/reference/cli/docker/scout/watch.md
  layouts/_default/scout-cli.html
Owners: @usha-mandya

fix: typo — change 'at run time' to 'at runtime' for consistency
  content/manuals/compose/how-tos/environment-variables/variable-interpolation.md
Owners: @aevesdocker

Add minor-version aliases for Docker Engine 27 and 28
  content/manuals/engine/release-notes/27.md
  content/manuals/engine/release-notes/28.md
Owners: @usha-mandya

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @usha-mandya

/content/reference/api/engine/ @usha-mandya

/content/reference/cli/ @usha-mandya

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @usha-mandya

/_vendor @sarahsanders-docker

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout
