Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aevesdocker, @craig-osterhout, @usha-mandya, @sarahsanders-docker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @usha-mandya

/content/reference/api/engine/ @usha-mandya

/content/reference/cli/ @usha-mandya

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @usha-mandya

/_vendor @sarahsanders-docker

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout

fix typo
  content/manuals/docker-hub/repos/manage/trusted-content/dvp-program.md
Owners: @craig-osterhout

feedback
  content/manuals/docker-hub/repos/manage/trusted-content/dvp-program.md
Owners: @craig-osterhout

feedback2
  content/reference/api/dvp/latest.yaml
Owners: none

Compose release notes 2.40.2
  _vendor/modules.txt
  content/manuals/compose/releases/release-notes.md
  go.mod
  go.sum
Owners: @sarahsanders-docker, @aevesdocker

ci: move env vars to releaser
  .github/workflows/deploy.yml
  hack/releaser/env.json
Owners: none

Compose release notes 2.40.2 (#23590)
  _vendor/modules.txt
  content/manuals/compose/releases/release-notes.md
  go.mod
  go.sum
Owners: @sarahsanders-docker, @aevesdocker

more additions
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

ENGDOCS-3069
  data/summary.yaml
Owners: none

ENGDOCS-3070
  content/get-started/docker-concepts/running-containers/sharing-local-files.md
Owners: none

remove image
  content/get-started/docker-concepts/running-containers/images/delete-the-container.webp
Owners: none

nits
  content/guides/github-sonarqube-sandbox/_index.md
Owners: none

fix featured section
  content/guides/admin-user-management/_index.md
Owners: none

Update content/manuals/ai/cagent/_index.md
  content/manuals/ai/cagent/_index.md
Owners: @usha-mandya

Update content/manuals/desktop/release-notes.md
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

ENGDOCS-3070 (#23594)
  content/get-started/docker-concepts/running-containers/images/delete-the-container.webp
  content/get-started/docker-concepts/running-containers/sharing-local-files.md
Owners: none

fixes, add blog,turn off ol lint for now
  .markdownlint.json
  content/guides/github-sonarqube-sandbox/_index.md
  content/guides/github-sonarqube-sandbox/workflow.md
Owners: none

remove we
  content/guides/github-sonarqube-sandbox/workflow.md
Owners: none

Add sandboxes docs
  content/manuals/ai/mcp-catalog-and-toolkit/catalog.md
  content/manuals/ai/mcp-catalog-and-toolkit/faqs.md
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
  content/manuals/ai/mcp-catalog-and-toolkit/sandboxes.md
Owners: @usha-mandya

Add sandboxes docs (#23596)
  content/manuals/ai/mcp-catalog-and-toolkit/catalog.md
  content/manuals/ai/mcp-catalog-and-toolkit/faqs.md
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
  content/manuals/ai/mcp-catalog-and-toolkit/sandboxes.md
Owners: @usha-mandya

guide: code quality checks (#23595)
  .markdownlint.json
  content/guides/admin-user-management/_index.md
  content/guides/github-sonarqube-sandbox/_index.md
  content/guides/github-sonarqube-sandbox/customize.md
  content/guides/github-sonarqube-sandbox/troubleshoot.md
  content/guides/github-sonarqube-sandbox/workflow.md
  hugo_stats.json
Owners: none

Add a link to the Sonarqube use case guide
  content/manuals/ai/mcp-catalog-and-toolkit/sandboxes.md
Owners: @usha-mandya

Update content/manuals/desktop/release-notes.md
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

cagent update (#23585)
  content/manuals/ai/cagent/_index.md
Owners: @usha-mandya

ENGDOCS-3069 (#23592)
  data/summary.yaml
Owners: none

DKP-2613 Remove support for Windows 10 and 11 22H2 (#23584)
  content/manuals/desktop/setup/install/windows-install.md
Owners: @aevesdocker

Desktop RN (#23583)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

iam: idp-initiated doc updates
  content/manuals/enterprise/security/single-sign-on/_index.md
  content/manuals/enterprise/security/single-sign-on/connect.md
  hugo_stats.json
Owners: none

remove troubleshooting section
  content/manuals/enterprise/troubleshoot/troubleshoot-sso.md
Owners: none

Added New badge for Sandboxes
  content/manuals/ai/mcp-catalog-and-toolkit/sandboxes.md
Owners: @usha-mandya

update role info
  content/manuals/docker-hub/repos/manage/trusted-content/dsos-program.md
  content/manuals/docker-hub/repos/manage/trusted-content/dvp-program.md
  content/manuals/enterprise/security/roles-and-permissions.md
Owners: @craig-osterhout

Add back support for Windows 10
  content/manuals/desktop/setup/install/windows-install.md
Owners: @aevesdocker

Fix windows versions support
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

mcp: rewrite mcp toolkit/gateway documentation
  content/manuals/ai/mcp-catalog-and-toolkit/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/get-started.md
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-servers-2.svg
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-servers.svg
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-toolkit-overview.png
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
  content/manuals/ai/mcp-catalog-and-toolkit/toolkit.md
  hugo_stats.json
Owners: @usha-mandya
