Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @dvdksn, @aevesdocker, @craig-osterhout, @stephaurelio

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/build/ @crazy-max @dvdksn

/content/build-cloud/ @dvdksn

/content/compose/ @aevesdocker

/content/desktop/ @aevesdocker

/content/desktop/extensions/ @aevesdocker

/content/desktop/extensions-sdk/ @aevesdocker

/content/scout/ @dvdksn

/content/docker-hub/ @aevesdocker @craig-osterhout @stephaurelio

/content/engine/ @dvdksn

/content/subscription/ @aevesdocker @stephaurelio

/content/docker-hub/publish/ @aevesdocker

/content/docker-hub/official_images/ @aevesdocker

/content/registry/ @dvdksn

cli: make buildx build the canonical build
  content/build/building/best-practices.md
  content/build/building/packaging.md
  content/build/building/variables.md
  content/build/guide/export.md
  content/build/guide/intro.md
  content/docker-hub/builds/advanced.md
  content/guides/use-case/nlp/language-translation.md
  content/guides/use-case/nlp/named-entity-recognition.md
  content/guides/use-case/nlp/sentiment-analysis.md
  content/guides/use-case/nlp/text-classification.md
  content/guides/use-case/nlp/text-summarization.md
  content/language/rust/build-images.md
  content/reference/cli/docker/build-legacy.md
  content/reference/cli/docker/buildx/build.md
  data/engine-cli/docker_build.yaml
  data/engine-cli/docker_builder_build.yaml
  data/engine-cli/docker_image_build.yaml
  data/toc.yaml
Owners: @crazy-max, @dvdksn, @aevesdocker, @craig-osterhout, @stephaurelio

ENGDOCS-2153
  data/toc.yaml
Owners: none

build: output must include specified component for annotation
  content/build/building/annotations.md
  content/build/ci/github-actions/annotations.md
Owners: @crazy-max, @dvdksn

site: add vwo async smartcode to staging env
  hugo.yaml
  layouts/partials/head.html
Owners: none

ENGDOCS-2154
  content/desktop/install/msi/_index.md
  content/security/for-admins/enforce-sign-in/methods.md
Owners: @aevesdocker

ENGDOCS-2153 (#20418)
  data/toc.yaml
Owners: none

build: release notes for dockerfile 1.8.0, 1.8.1, 1.9.0
  content/build/dockerfile/release-notes.md
Owners: @crazy-max, @dvdksn

build: release notes for buildx 0.15.0, 0.15.1, 0.16.0
  content/build/release-notes.md
Owners: @crazy-max, @dvdksn

fix: update linux links pointing to latest
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/ubuntu.md
Owners: @aevesdocker

Create docker-publish.yml
  .github/workflows/docker-publish.yml
Owners: none

Create makefile.yml
  .github/workflows/makefile.yml
Owners: none

ENGDOCS-2154 (#20421)
  content/desktop/install/msi/_index.md
  content/security/for-admins/enforce-sign-in/methods.md
Owners: @aevesdocker

fix: update linux links pointing to latest (#20365)
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/ubuntu.md
Owners: @aevesdocker

ENGDOCS-2155
  content/desktop/install/msi/install-and-configure.md
Owners: @aevesdocker

ENGDOCS-2155 (#20426)
  content/desktop/install/msi/install-and-configure.md
Owners: @aevesdocker

busybox image is removed from the prune example
  data/engine-cli/docker_image_prune.yaml
Owners: none

Fix link to scout github action environments
  content/scout/integrations/environment/_index.md
Owners: @dvdksn

Apply suggestions from code review
  content/compose/release-notes.md
Owners: @aevesdocker

Update files from codereview
  content/language/ruby/_index.md
  content/language/ruby/containerize.md
  content/language/ruby/develop.md
Owners: none

Update .github/labeler.yml
  .github/labeler.yml
Owners: none

Add account section and update settings and security (#20350)
  .github/labeler.yml
  .github/vale/config/vocabularies/Docker/accept.txt
  content/accounts/_index.md
  content/accounts/deactivate-user-account.md
  content/accounts/manage-account.md
  content/admin/convert-account.md
  content/admin/deactivate-account.md
  content/admin/faqs/general-faqs.md
  content/docker-hub/builds/link-source.md
  content/docker-hub/images/docker-hub-repo-settings-menu.png
  content/docker-hub/repos/_index.md
  content/docker-id/_index.md
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
  content/security/for-developers/2fa/recover-hub-account.md
  content/security/for-developers/access-tokens.md
  data/toc.yaml
Owners: @aevesdocker, @craig-osterhout, @stephaurelio

fix broken link
  content/accounts/manage-account.md
Owners: none

Update develop md
  content/language/ruby/develop.md
Owners: none

Add whales
  content/language/ruby/develop.md
Owners: none

Add env file
  content/language/ruby/develop.md
Owners: none

Update the host networking documentation for GA
  content/network/drivers/host.md
Owners: none

vendor: github.com/docker/buildx v0.16.1
  _vendor/modules.txt
  go.mod
  go.sum
Owners: none

ENGDOCS-2157
  content/compose/compose-file/05-services.md
  content/compose/compose-file/build.md
Owners: @aevesdocker

ENGDOCS-2157
  content/compose/compose-file/build.md
Owners: @aevesdocker

ENGDOCS-2158
  content/desktop/hardened-desktop/settings-management/_index.md
  content/security/for-admins/enforce-sign-in/methods.md
Owners: @aevesdocker

ENGDOCS-2158 (#20443)
  content/desktop/hardened-desktop/settings-management/_index.md
  content/security/for-admins/enforce-sign-in/methods.md
Owners: @aevesdocker

Update linux.md
  content/compose/install/linux.md
Owners: @aevesdocker

Specify DD version for proxy-enable-kerberosntlm flag
  content/desktop/install/msi/install-and-configure.md
  content/desktop/install/windows-install.md
  content/desktop/settings/windows.md
Owners: @aevesdocker

♻️ Edit refactor to map container ports from 5000-5001 to 8000-8001
  content/language/python/containerize.md
  content/language/python/deploy.md
  content/language/python/develop.md
Owners: none

✏️ Fix some grammatical structures
  content/language/python/containerize.md
  content/language/python/deploy.md
Owners: none

📝 Add some notes about kubernetes stuff
  content/language/python/deploy.md
Owners: none

Update _index.md
  content/build/cache/_index.md
Owners: @crazy-max, @dvdksn

Update _index.md
  content/build/cache/_index.md
Owners: @crazy-max, @dvdksn

Update _index.md
  content/build/cache/_index.md
Owners: @crazy-max, @dvdksn

review comments
  content/desktop/install/msi/install-and-configure.md
  content/desktop/install/windows-install.md
  content/desktop/settings/windows.md
Owners: @aevesdocker
