Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @jedevc, @dvdksn, @aevesdocker, @ChrisChinchilla, @craig-osterhout, @stephaurelio

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/build/ @crazy-max @jedevc @dvdksn

/compose/ @aevesdocker

/desktop/ @aevesdocker

/desktop/extensions/ @ChrisChinchilla

/desktop/extensions-sdk/ @ChrisChinchilla

/scout/ @ChrisChinchilla

/docker-hub/ @aevesdocker @craig-osterhout @stephaurelio

/engine/ @dvdksn

/subscription/ @aevesdocker @stephaurelio

/docker-hub/publish/ @ChrisChinchilla

/docker-hub/official_images/ @ChrisChinchilla

/registry/ @dvdksn

Update scout/dashboard.md
  scout/dashboard.md
Owners: @ChrisChinchilla

tidy
  desktop/troubleshoot/overview.md
Owners: @aevesdocker

build fix
  desktop/troubleshoot/overview.md
Owners: @aevesdocker

review fix
  desktop/troubleshoot/known-issues.md
Owners: @aevesdocker

Update go guide repos
  language/golang/build-images.md
  language/golang/develop.md
  language/golang/run-tests.md
Owners: none

ENGDOCS-1405 (#17481)
  _data/toc.yaml
  desktop/previous-versions/edge-releases-windows.md
  desktop/troubleshoot/known-issues.md
  desktop/troubleshoot/overview.md
  desktop/troubleshoot/topics.md
Owners: @aevesdocker

add fourth installer flag
  desktop/install/windows-install.md
Owners: @aevesdocker

Desktop meta descriptions
  desktop/backup-and-restore.md
  desktop/faqs/general.md
  desktop/feedback.md
  desktop/get-started.md
  desktop/hardened-desktop/enhanced-container-isolation/faq.md
  desktop/hardened-desktop/enhanced-container-isolation/features-benefits.md
  desktop/hardened-desktop/enhanced-container-isolation/how-eci-works.md
  desktop/hardened-desktop/index.md
  desktop/hardened-desktop/registry-access-management.md
  desktop/hardened-desktop/settings-management/configure.md
  desktop/hardened-desktop/settings-management/index.md
  desktop/kubernetes.md
  desktop/mac/permission-requirements.md
  desktop/networking.md
  desktop/release-notes.md
  desktop/settings/linux.md
  desktop/settings/mac.md
  desktop/settings/windows.md
  desktop/support.md
  desktop/use-desktop/container.md
  desktop/use-desktop/images.md
  desktop/use-desktop/index.md
  desktop/use-desktop/pause.md
  desktop/use-desktop/volumes.md
  desktop/windows/permission-requirements.md
Owners: @aevesdocker

compose meta descriptions
  compose/environment-variables/env-file.md
  compose/environment-variables/envvars-precedence.md
  compose/faq.md
  compose/file-watch.md
  compose/gpu-support.md
  compose/install/uninstall.md
  compose/networking.md
  compose/profiles.md
  compose/use-secrets.md
Owners: @aevesdocker

checks
  compose/use-secrets.md
  desktop/faqs/general.md
  desktop/feedback.md
  desktop/get-started.md
  desktop/hardened-desktop/registry-access-management.md
  desktop/hardened-desktop/settings-management/configure.md
  desktop/networking.md
  desktop/settings/linux.md
Owners: @aevesdocker

Fix typo in link in file 24.0.md (#17495)
  engine/release-notes/24.0.md
Owners: @dvdksn

Update index.md fixing minor typo (#17494)
  network/index.md
Owners: none

add company description to faqs and add to subscription feature list
  docker-hub/onboarding-faqs.md
  subscription/details.md
Owners: @aevesdocker, @craig-osterhout, @stephaurelio

update title
  docker-hub/onboarding-faqs.md
Owners: @aevesdocker, @craig-osterhout, @stephaurelio

Update journald.md
  config/containers/logging/journald.md
Owners: none

Engdocs 1428 (#17506)
  compose/environment-variables/env-file.md
  compose/environment-variables/envvars-precedence.md
  compose/faq.md
  compose/file-watch.md
  compose/gpu-support.md
  compose/install/uninstall.md
  compose/networking.md
  compose/profiles.md
  compose/use-secrets.md
  desktop/backup-and-restore.md
  desktop/faqs/general.md
  desktop/feedback.md
  desktop/get-started.md
  desktop/hardened-desktop/enhanced-container-isolation/faq.md
  desktop/hardened-desktop/enhanced-container-isolation/features-benefits.md
  desktop/hardened-desktop/enhanced-container-isolation/how-eci-works.md
  desktop/hardened-desktop/index.md
  desktop/hardened-desktop/registry-access-management.md
  desktop/hardened-desktop/settings-management/configure.md
  desktop/hardened-desktop/settings-management/index.md
  desktop/kubernetes.md
  desktop/mac/permission-requirements.md
  desktop/networking.md
  desktop/release-notes.md
  desktop/settings/linux.md
  desktop/settings/mac.md
  desktop/settings/windows.md
  desktop/support.md
  desktop/use-desktop/container.md
  desktop/use-desktop/images.md
  desktop/use-desktop/index.md
  desktop/use-desktop/pause.md
  desktop/use-desktop/volumes.md
  desktop/windows/permission-requirements.md
Owners: @aevesdocker

WIP: reference: show aliases for commands
  _includes/cli.md
Owners: none

restructure files
  _data/toc.yaml
  desktop/windows/wsl.md
  desktop/wsl/Known-issues-workarounds.md
  desktop/wsl/best-practices.md
  desktop/wsl/index.md
  desktop/wsl/use-wsl.md
Owners: @aevesdocker

Update the link to public roadmap
  _includes/footer.html
Owners: none

extension settings for admins
  desktop/extensions/settings-feedback.md
Owners: @ChrisChinchilla

extension settings for admins (#17514)
  desktop/extensions/settings-feedback.md
Owners: @ChrisChinchilla

compose: remove incorrect statement about minor versions for v3.x
  compose/compose-file/compose-versioning.md
Owners: @aevesdocker

build: add example on how to use proxy with GHA
  _data/toc.yaml
  build/ci/github-actions/proxy.md
Owners: @crazy-max, @jedevc, @dvdksn

replace learn more links with page titles
  docker-hub/onboarding-faqs.md
Owners: @aevesdocker, @craig-osterhout, @stephaurelio

Update index.md
  get-started/index.md
Owners: none

Update 02_our_app.md
  get-started/02_our_app.md
Owners: none

Update 03_updating_app.md
  get-started/03_updating_app.md
Owners: none

Update stack-deploy.md
  engine/swarm/stack-deploy.md
Owners: @dvdksn

Update raspbian.md
  engine/install/raspbian.md
Owners: @dvdksn
