Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @usha-mandya, @jedevc, @aevesdocker, @jerae-duffin, @craig-osterhout, @dvdksn

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/build/ @crazy-max @usha-mandya @jedevc

/compose/ @usha-mandya

/desktop/ @aevesdocker

/docker-hub/ @jerae-duffin @craig-osterhout

/engine/ @usha-mandya

/subscription/ @jerae-duffin

/docker-hub/publish/ @dvdksn

/docker-hub/official_images/ @dvdksn

/registry/ @dvdksn

updated dockerfile label
  atomist/get-started.md
Owners: none

removed unsupported settings
  atomist/configure/settings.md
Owners: none

moved advisories page to new reference section
  _data/toc.yaml
  atomist/get-started.md
  atomist/reference/advisories.md
Owners: none

shift emphasis from scanning to sboms
  atomist/configure/settings.md
  atomist/index.md
Owners: none

address review comments
  _data/toc.yaml
  _includes/atomist/disclaimer.md
  atomist/get-started.md
  atomist/index.md
  atomist/integrate/github.md
Owners: none

rm policies from toc, update advisories page
  _data/toc.yaml
  atomist/configure/advisories.md
Owners: none

removed gitops and k8s adm ctrl
  _data/toc.yaml
  atomist/integrate/deploys.md
Owners: none

fix typo in oci label
  atomist/get-started.md
Owners: none

update try instruction
  atomist/try-atomist.md
Owners: none

edited deploy tracking
  atomist/integrate/deploys.md
Owners: none

added buildx and other edits
  atomist/get-started.md
Owners: none

updated try tutorial
  atomist/try-atomist.md
Owners: none

Update extension SDK with new APIs for exec with ENV vars and CWD
  desktop/extensions-sdk/dev/api/reference/interfaces/Docker.md
  desktop/extensions-sdk/dev/api/reference/interfaces/DockerDesktopClient.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Exec.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecOptions.md
  desktop/extensions-sdk/dev/api/reference/interfaces/SpawnOptions.md
Owners: @aevesdocker

Update extension SDK with new APIs for exec with ENV vars and CWD
  desktop/extensions-sdk/dev/api/reference/interfaces/DesktopUI.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Dialog.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Docker.md
  desktop/extensions-sdk/dev/api/reference/interfaces/DockerCommand.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Exec.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecOptions.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecProcess.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecResult.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecStreamOptions.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Extension.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExtensionCli.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExtensionHost.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExtensionVM.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Host.md
  desktop/extensions-sdk/dev/api/reference/interfaces/HttpService.md
  desktop/extensions-sdk/dev/api/reference/interfaces/NavigationIntents.md
  desktop/extensions-sdk/dev/api/reference/interfaces/OpenDialogResult.md
  desktop/extensions-sdk/dev/api/reference/interfaces/RawExecResult.md
  desktop/extensions-sdk/dev/api/reference/interfaces/RequestConfig.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ServiceError.md
  desktop/extensions-sdk/dev/api/reference/interfaces/SpawnOptions.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Toast.md
Owners: @aevesdocker

update google instructions
  atomist/get-started.md
  atomist/images/gcp/config_success.png
Owners: none

removed unsupported content
  atomist/configure/deployment-policies.md
  atomist/configure/images/deployment-policies.png
  atomist/integrate/kubernetes.md
Owners: none

add disclaimer to settings page
  atomist/configure/settings.md
Owners: none

editorial, cleanup
  atomist/get-started.md
  atomist/images/dockerhub/webhook.png
  atomist/images/ecr/connection-successful.png
  atomist/images/ecr/role-arn.png
  atomist/images/ecr/stack-output.png
  atomist/images/gcp/config-success.png
  atomist/index.md
  atomist/integrate/deploys.md
  atomist/integrate/github.md
  atomist/integrate/gitops.md
  atomist/integrate/images/api-access.png
  atomist/reference/advisories.md
  atomist/try-atomist.md
Owners: none

[CSP-178] Add export members (#15534)
  docker-hub/members.md
  docker-hub/release-notes.md
Owners: @jerae-duffin, @craig-osterhout

revised repositories
  _data/toc.yaml
  desktop/backup-and-restore.md
  docker-hub/members.md
  docker-hub/orgs.md
  docker-hub/repos.md
  docker-hub/repos/access/index.md
  docker-hub/repos/configure/index.md
  docker-hub/repos/index.md
  subscription/index.md
Owners: @aevesdocker, @jerae-duffin, @craig-osterhout

fix links
  samples/index.md
Owners: none

fix links
  samples/index.md
Owners: none

fix links
  samples/index.md
Owners: none
