Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aevesdocker, @craig-osterhout, @usha-mandya, @sarahsanders-docker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @usha-mandya

/content/reference/api/engine/ @usha-mandya

/content/reference/cli/ @usha-mandya

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @usha-mandya

/_vendor @sarahsanders-docker

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout

Update docs/content/manuals/build/ci/github-actions/cache.md
  content/manuals/build/ci/github-actions/cache.md
Owners: @aevesdocker

go.mod: update "replace" versions for docker, cli, moby
  _vendor/github.com/docker/cli/docs/deprecated.md
  _vendor/github.com/docker/cli/docs/reference/run.md
  _vendor/github.com/moby/moby/docs/api/v1.24.md
  _vendor/github.com/moby/moby/docs/api/v1.25.yaml
  _vendor/github.com/moby/moby/docs/api/v1.26.yaml
  _vendor/github.com/moby/moby/docs/api/v1.27.yaml
  _vendor/github.com/moby/moby/docs/api/v1.28.yaml
  _vendor/github.com/moby/moby/docs/api/v1.29.yaml
  _vendor/github.com/moby/moby/docs/api/v1.30.yaml
  _vendor/github.com/moby/moby/docs/api/v1.31.yaml
  _vendor/github.com/moby/moby/docs/api/v1.32.yaml
  _vendor/github.com/moby/moby/docs/api/v1.33.yaml
  _vendor/github.com/moby/moby/docs/api/v1.34.yaml
  _vendor/github.com/moby/moby/docs/api/v1.35.yaml
  _vendor/github.com/moby/moby/docs/api/v1.36.yaml
  _vendor/github.com/moby/moby/docs/api/v1.37.yaml
  _vendor/github.com/moby/moby/docs/api/v1.38.yaml
  _vendor/github.com/moby/moby/docs/api/v1.39.yaml
  _vendor/github.com/moby/moby/docs/api/v1.40.yaml
  _vendor/github.com/moby/moby/docs/api/v1.41.yaml
  _vendor/github.com/moby/moby/docs/api/v1.42.yaml
  _vendor/github.com/moby/moby/docs/api/v1.43.yaml
  _vendor/github.com/moby/moby/docs/api/v1.44.yaml
  _vendor/github.com/moby/moby/docs/api/v1.45.yaml
  _vendor/github.com/moby/moby/docs/api/v1.46.yaml
  _vendor/github.com/moby/moby/docs/api/v1.47.yaml
  _vendor/github.com/moby/moby/docs/api/v1.48.yaml
  _vendor/github.com/moby/moby/docs/api/v1.49.yaml
  _vendor/github.com/moby/moby/docs/api/v1.50.yaml
  _vendor/github.com/moby/moby/docs/api/v1.51.yaml
  _vendor/github.com/moby/moby/docs/api/version-history.md
  _vendor/modules.txt
  go.mod
  go.sum
Owners: @sarahsanders-docker

ci: fix s3 upload
  .github/workflows/deploy.yml
Owners: none

fix: settings reference
  content/manuals/enterprise/security/hardened-desktop/settings-management/settings-reference.md
Owners: none

get-started: update node version (#23464)
  content/get-started/workshop/06_bind_mounts.md
  content/get-started/workshop/07_multi_container.md
  content/get-started/workshop/08_using_compose.md
Owners: none

add section for deleting personal data
  content/manuals/accounts/deactivate-user-account.md
Owners: @sarahsanders-docker

Revert "ci: fix s3 upload"
  .github/workflows/deploy.yml
Owners: none

accounts: delete personal data (#23471)
  content/manuals/accounts/deactivate-user-account.md
Owners: @sarahsanders-docker

fix: settings reference (#23470)
  content/manuals/enterprise/security/hardened-desktop/settings-management/settings-reference.md
Owners: none

hub: add dvp infrastructure benefit
  content/manuals/docker-hub/repos/manage/trusted-content/dvp-program.md
  content/manuals/docker-hub/repos/manage/trusted-content/images/dvp-hub-flow.svg
Owners: @craig-osterhout

lint fixes
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/docker-hub/images/verified-publisher-badge-iso.png
  content/manuals/docker-hub/repos/manage/trusted-content/dvp-program.md
Owners: @craig-osterhout

Updated fedora add repo instructions to the new dnf version
  content/manuals/engine/install/fedora.md
Owners: @usha-mandya

More updates to the overview, move gateway to the toolkit section, update diagram
  _vendor/github.com/docker/mcp-gateway/docs/generator/reference/docker_mcp.yaml
  _vendor/github.com/docker/mcp-gateway/docs/generator/reference/mcp.md
  content/guides/agentic-ai.md
  content/manuals/_index.md
  content/manuals/ai/cagent/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/catalog.md
  content/manuals/ai/mcp-catalog-and-toolkit/faqs.md
  content/manuals/ai/mcp-catalog-and-toolkit/get-started.md
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-servers-overview.svg
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-toolkit-overview.png
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
  content/manuals/ai/mcp-catalog-and-toolkit/toolkit.md
Owners: @sarahsanders-docker, @usha-mandya

Fix vendor file mismatch issue
  _vendor/github.com/docker/mcp-gateway/docs/generator/reference/docker_mcp.yaml
  _vendor/github.com/docker/mcp-gateway/docs/generator/reference/mcp.md
Owners: @sarahsanders-docker

Add security notices regarding CVE-2025-10657.
  content/manuals/desktop/release-notes.md
  content/manuals/security/security-announcements.md
Owners: @aevesdocker, @sarahsanders-docker

dhi: update access (#23420)
  content/manuals/dhi/get-started.md
  content/manuals/dhi/how-to/explore.md
Owners: @craig-osterhout

dhi: add homepage banner (#23451)
  layouts/index.html
Owners: none

vendor: github.com/docker/buildx v0.29.0
  _vendor/github.com/docker/buildx/docs/bake-reference.md
  _vendor/modules.txt
  data/buildx/docker_buildx_bake.yaml
  data/buildx/docker_buildx_build.yaml
  data/buildx/docker_buildx_dap_build.yaml
  data/buildx/docker_buildx_debug_build.yaml
  data/buildx/docker_buildx_dial-stdio.yaml
  data/buildx/docker_buildx_imagetools_create.yaml
  go.mod
  go.sum
Owners: @sarahsanders-docker

get-started: update write a dockerfile
  content/get-started/docker-concepts/building-images/writing-a-dockerfile.md
Owners: none

typo
  content/get-started/docker-concepts/building-images/writing-a-dockerfile.md
Owners: none

Add security notices regarding CVE-2025-10657. (#23476)
  content/manuals/desktop/release-notes.md
  content/manuals/security/security-announcements.md
Owners: @aevesdocker, @sarahsanders-docker

Update buildx reference to v0.29.0 (#23477)
  _vendor/github.com/docker/buildx/docs/bake-reference.md
  _vendor/modules.txt
  data/buildx/docker_buildx_bake.yaml
  data/buildx/docker_buildx_build.yaml
  data/buildx/docker_buildx_dap_build.yaml
  data/buildx/docker_buildx_debug_build.yaml
  data/buildx/docker_buildx_dial-stdio.yaml
  data/buildx/docker_buildx_imagetools_create.yaml
  go.mod
  go.sum
Owners: @sarahsanders-docker

Update buildkit reference to v0.25.0
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  go.mod
  go.sum
Owners: @sarahsanders-docker

Build: buildx release notes 0.29.0
  content/manuals/build/release-notes.md
Owners: @aevesdocker

build: dockerfile 0.19.0 release notes
  content/manuals/build/buildkit/dockerfile-release-notes.md
Owners: @aevesdocker

build: dockerfile 0.19.0 release notes (#23481)
  content/manuals/build/buildkit/dockerfile-release-notes.md
Owners: @aevesdocker

Update buildkit reference to v0.25.0 (#23479)
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  go.mod
  go.sum
Owners: @sarahsanders-docker

Update content/manuals/build/release-notes.md
  content/manuals/build/release-notes.md
Owners: @aevesdocker

Build: buildx release notes 0.29.0 (#23480)
  content/manuals/build/release-notes.md
Owners: @aevesdocker

review edit
  content/manuals/build/ci/github-actions/checks.md
Owners: @aevesdocker

build: call input method (#23454)
  content/manuals/build/ci/github-actions/checks.md
Owners: @aevesdocker

Update debian.md
  content/manuals/engine/install/debian.md
Owners: @usha-mandya

get-started: update write a dockerfile (#23478)
  content/get-started/docker-concepts/building-images/writing-a-dockerfile.md
Owners: none

Address review comments on the overview page
  content/manuals/ai/mcp-catalog-and-toolkit/_index.md
Owners: @usha-mandya

Update local and remote servers section
  content/manuals/ai/mcp-catalog-and-toolkit/catalog.md
Owners: @usha-mandya

Update Go SDK installation command in documentation
  content/reference/api/engine/sdk/_index.md
Owners: @usha-mandya

address PM and tech review comments
  content/manuals/ai/mcp-catalog-and-toolkit/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/catalog.md
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
Owners: @usha-mandya

Remove warning issue references to docker/for-mac#7527
  content/manuals/desktop/release-notes.md
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/_index.md
Owners: @aevesdocker

scout: update cli to 1.18.4
  _vendor/github.com/docker/scout-cli/docs/docker_scout.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_attestation_get.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_attestation_list.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_compare.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_quickview.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_vex.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_vex_get.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_watch.yaml
  _vendor/github.com/docker/scout-cli/docs/scout.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation_get.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation_list.md
  _vendor/github.com/docker/scout-cli/docs/scout_compare.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/github.com/docker/scout-cli/docs/scout_vex.md
  _vendor/github.com/docker/scout-cli/docs/scout_vex_get.md
  _vendor/github.com/docker/scout-cli/docs/scout_watch.md
  _vendor/modules.txt
  content/manuals/scout/release-notes/cli.md
  content/reference/cli/docker/scout/attestation/get.md
  content/reference/cli/docker/scout/attestation/list.md
  content/reference/cli/docker/scout/vex/_index.md
  content/reference/cli/docker/scout/vex/get.md
  go.mod
  go.sum
Owners: @sarahsanders-docker, @craig-osterhout, @usha-mandya

engine: 28.5.0
  content/manuals/engine/release-notes/28.md
  hugo.yaml
Owners: @usha-mandya
