Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aevesdocker, @craig-osterhout, @usha-mandya, @sarahsanders-docker

Standardize phrasing to "at runtime" in Compose documentation (#23508)
  content/manuals/compose/how-tos/environment-variables/variable-interpolation.md
Owners: @aevesdocker

build: new driver-opt parameter
  content/manuals/build/builders/drivers/docker-container.md
Owners: @aevesdocker

engine/release-notes: fix header inconsistency in 28.2.1 section
  content/manuals/engine/release-notes/28.md
Owners: @usha-mandya

build: --set
  content/manuals/build/bake/overrides.md
Owners: @aevesdocker

Replace expression list with a table
  content/reference/compose-file/interpolation.md
Owners: none

improve table heading
  content/reference/compose-file/interpolation.md
Owners: none

Apply suggestions from code review
  content/manuals/dhi/about/_index.md
  content/manuals/dhi/about/feedback.md
Owners: @craig-osterhout

Clarify Raspberry Pi 32 bit deprecation
  content/manuals/engine/install/_index.md
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/raspberry-pi-os.md
  content/manuals/engine/release-notes/28.md
Owners: @usha-mandya

Add minor-version aliases for Docker Engine 27 and 28 (#23509)
  content/manuals/engine/release-notes/27.md
  content/manuals/engine/release-notes/28.md
Owners: @usha-mandya

engine/release-notes: fix header inconsistency in 28.2.1 section (#23511)
  content/manuals/engine/release-notes/28.md
Owners: @usha-mandya

Clarify Raspberry Pi 32 bit deprecation (#23514)
  content/manuals/engine/install/_index.md
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/raspberry-pi-os.md
  content/manuals/engine/release-notes/28.md
Owners: @usha-mandya

update unassociated machines for clarification (#23505)
  content/manuals/unassociated-machines/_index.md
Owners: none

scout: fix watch docs (#23506)
  content/reference/cli/docker/scout/watch.md
  layouts/_default/scout-cli.html
Owners: @usha-mandya

admin: deprecate org management from Hub
  content/manuals/admin/organization/activity-logs.md
  content/manuals/admin/organization/deactivate-account.md
  content/manuals/admin/organization/manage-a-team.md
  content/manuals/admin/organization/members.md
  content/manuals/admin/organization/orgs.md
Owners: @sarahsanders-docker

Update extension documentation: the SDK to execute commands on the host is not restricted to binaries listed in the extension metadata.
  content/manuals/extensions/extensions-sdk/dev/api/backend.md
  content/manuals/extensions/extensions-sdk/guides/invoke-host-binaries.md
  content/reference/api/extensions-sdk/DockerDesktopClient.md
Owners: @aevesdocker

remove includes
  content/includes/hub-org-management.md
Owners: none

admin: deprecate org management from Hub (#23516)
  content/includes/hub-org-management.md
  content/manuals/admin/organization/activity-logs.md
  content/manuals/admin/organization/deactivate-account.md
  content/manuals/admin/organization/manage-a-team.md
  content/manuals/admin/organization/members.md
  content/manuals/admin/organization/orgs.md
Owners: @sarahsanders-docker

admin: add proxy for config profiles
  content/manuals/enterprise/security/enforce-sign-in/methods.md
  content/manuals/enterprise/security/hardened-desktop/settings-management/_index.md
Owners: none

edits and version addition
  content/manuals/enterprise/security/enforce-sign-in/methods.md
  content/manuals/enterprise/security/hardened-desktop/settings-management/_index.md
Owners: none

more items
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

fresh-dd-landing
  content/manuals/desktop/_index.md
Owners: @aevesdocker

docs: update deploy.md with wrong constraint
  content/reference/compose-file/deploy.md
Owners: none

docs: add troubleshooting guide for Docker.app is damaged dialog on macOS
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/_index.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/known-issues.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/mac-damaged-dialog.md
Owners: @aevesdocker

desktop: refresh landing (#23520)
  content/manuals/desktop/_index.md
Owners: @aevesdocker

engine: 28.5.1
  content/manuals/engine/release-notes/28.md
  hugo.yaml
Owners: @usha-mandya

engine: Update version
  content/reference/api/engine/_index.md
Owners: @usha-mandya

vendor: github.com/moby/moby v28.5.1
  _vendor/github.com/moby/moby/docs/api/v1.25.yaml
  _vendor/github.com/moby/moby/docs/api/v1.26.yaml
  _vendor/github.com/moby/moby/docs/api/v1.27.yaml
  _vendor/github.com/moby/moby/docs/api/v1.28.yaml
  _vendor/github.com/moby/moby/docs/api/v1.29.yaml
  _vendor/github.com/moby/moby/docs/api/v1.30.yaml
  _vendor/github.com/moby/moby/docs/api/v1.31.yaml
  _vendor/github.com/moby/moby/docs/api/v1.32.yaml
  _vendor/github.com/moby/moby/docs/api/v1.33.yaml
  _vendor/github.com/moby/moby/docs/api/v1.34.yaml
  _vendor/github.com/moby/moby/docs/api/v1.35.yaml
  _vendor/github.com/moby/moby/docs/api/v1.36.yaml
  _vendor/github.com/moby/moby/docs/api/v1.37.yaml
  _vendor/github.com/moby/moby/docs/api/v1.38.yaml
  _vendor/github.com/moby/moby/docs/api/v1.39.yaml
  _vendor/github.com/moby/moby/docs/api/v1.40.yaml
  _vendor/github.com/moby/moby/docs/api/v1.41.yaml
  _vendor/github.com/moby/moby/docs/api/v1.42.yaml
  _vendor/github.com/moby/moby/docs/api/v1.43.yaml
  _vendor/github.com/moby/moby/docs/api/v1.44.yaml
  _vendor/github.com/moby/moby/docs/api/v1.45.yaml
  _vendor/github.com/moby/moby/docs/api/v1.46.yaml
  _vendor/github.com/moby/moby/docs/api/v1.47.yaml
  _vendor/github.com/moby/moby/docs/api/v1.48.yaml
  _vendor/github.com/moby/moby/docs/api/v1.49.yaml
  _vendor/github.com/moby/moby/docs/api/v1.50.yaml
  _vendor/github.com/moby/moby/docs/api/v1.51.yaml
  _vendor/github.com/moby/moby/docs/api/version-history.md
  _vendor/modules.txt
  go.mod
  go.sum
Owners: @sarahsanders-docker

vendor: github.com/docker/cli v28.5.1
  _vendor/modules.txt
  go.mod
  go.sum
Owners: @sarahsanders-docker

hub: update categories
  content/includes/hub-categories.md
Owners: none

hub: update categories (#23525)
  content/includes/hub-categories.md
Owners: none

reference: mcp: add markdown stubs for new subcommands
  content/reference/cli/docker/mcp/catalog/catalog_bootstrap.md
  content/reference/cli/docker/mcp/catalog/catalog_export.md
  content/reference/cli/docker/mcp/feature/_index.md
  content/reference/cli/docker/mcp/feature/feature_disable.md
  content/reference/cli/docker/mcp/feature/feature_enable.md
  content/reference/cli/docker/mcp/feature/feature_ls.md
  content/reference/cli/docker/mcp/server/server_ls.md
  content/reference/cli/docker/mcp/tools/tools_disable.md
  content/reference/cli/docker/mcp/tools/tools_enable.md
  content/reference/cli/docker/mcp/tools/tools_ls.md
Owners: @usha-mandya

Update containerize.md
  content/guides/ruby/containerize.md
Owners: none

Update containerize.md (#23526)
  content/guides/ruby/containerize.md
Owners: none

feat: add link to pt-br translation
  content/get-started/resources.md
Owners: none

new additions
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

update lambda and workflow to handle secure s3 bucket
  .github/workflows/deploy.yml
  hack/releaser/cloudfront-lambda-redirects.js
Owners: none

Compose volume clarity
  content/reference/compose-file/volumes.md
Owners: none

Compose volume clarity (#23531)
  content/reference/compose-file/volumes.md
Owners: none

light edit
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/known-issues.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/mac-damaged-dialog.md
Owners: @aevesdocker

engine/install: Update supported CentOS versions
  content/manuals/engine/install/centos.md
Owners: @usha-mandya

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @usha-mandya

/content/reference/api/engine/ @usha-mandya

/content/reference/cli/ @usha-mandya

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @usha-mandya

/_vendor @sarahsanders-docker

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout
