Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @usha-mandya, @jedevc, @aevesdocker, @jerae-duffin, @craig-osterhout, @dvdksn

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/build/ @crazy-max @usha-mandya @jedevc

/compose/ @usha-mandya

/desktop/ @aevesdocker

/docker-hub/ @jerae-duffin @craig-osterhout

/engine/ @usha-mandya

/subscription/ @jerae-duffin

/docker-hub/publish/ @dvdksn

/docker-hub/official_images/ @dvdksn

/registry/ @dvdksn

create .net guide
  _data/toc.yaml
  language/dotnet/build-images.md
  language/dotnet/configure-ci-cd.md
  language/dotnet/deploy.md
  language/dotnet/develop.md
  language/dotnet/images/dotnet-adminer-add.png
  language/dotnet/images/dotnet-adminer-db.png
  language/dotnet/images/dotnet-adminer-login.png
  language/dotnet/images/dotnet-adminer-table.png
  language/dotnet/images/dotnet-app-verify-build.png
  language/dotnet/images/dotnet-app-verify-db-add.png
  language/dotnet/images/dotnet-verify-db.png
  language/dotnet/index.md
  language/dotnet/nav.html
  language/dotnet/run-containers.md
  language/images/c-sharp.png
  language/index.md
Owners: none

fix link and run command
  language/dotnet/build-images.md
  language/index.md
Owners: none

Update docker-hub/members.md
  docker-hub/members.md
Owners: @jerae-duffin, @craig-osterhout

Update docker-hub/release-notes.md
  docker-hub/release-notes.md
Owners: @jerae-duffin, @craig-osterhout

update keywords
  language/dotnet/configure-ci-cd.md
  language/dotnet/deploy.md
  language/dotnet/index.md
  language/index.md
Owners: none

tweaking vale rules per feedback
  .github/vale/Docker/Callouts.yml
  .github/vale/Docker/ComplexWords.yml
  .github/vale/Docker/Italics.yml
  .github/vale/Docker/SentenceCase.yml
  .github/vale/Docker/SentenceLength.yml
Owners: none

fix broken link
  contribute/contribute-guide.md
Owners: none

Update .env wording and fix urls
  language/dotnet/develop.md
Owners: none

Add information about supported Storage Account type
  registry/storage-drivers/azure.md
Owners: @dvdksn

Add section in contribution guidelines on testing/linting with vale (#15664)
  contribute/contribute-guide.md
Owners: none

edits, edits, edits
  _data/toc.yaml
  assets/images/lock.svg
  assets/images/registry.svg
  assets/images/secure.svg
  desktop/hardened-desktop/admin-controls/configure-ac.md
  desktop/hardened-desktop/admin-controls/index.md
  desktop/hardened-desktop/desktop-managed.md
  desktop/hardened-desktop/enhanced-container-isolation/enable-eci.md
  desktop/hardened-desktop/enhanced-container-isolation/faq.md
  desktop/hardened-desktop/enhanced-container-isolation/how-eci-works.md
  desktop/hardened-desktop/enhanced-container-isolation/index.md
  desktop/hardened-desktop/index.md
  desktop/hardened-desktop/registry-access-management.md
  desktop/images/admin-settings.PNG
Owners: @aevesdocker

changes to left toc
  _scss/_layout.scss
  _scss/_navigation.scss
Owners: none

changes to left toc (#15672)
  _scss/_layout.scss
  _scss/_navigation.scss
Owners: none

edits and fix broken link
  desktop/hardened-desktop/admin-controls/configure-ac.md
  desktop/hardened-desktop/admin-controls/index.md
  desktop/hardened-desktop/enhanced-container-isolation/how-eci-works.md
  desktop/hardened-desktop/enhanced-container-isolation/index.md
  desktop/hardened-desktop/registry-access-management.md
Owners: @aevesdocker

updated RAM overview
  docker-hub/registry-access-management.md
Owners: @jerae-duffin, @craig-osterhout

samples update
  samples/index.md
Owners: none

fix links
  samples/index.md
Owners: none

separate task into steps
  _includes/configure-registry-json.md
Owners: none

Add wp_data volume
  samples/wordpress.md
Owners: none

Update `debian.md`, `fedora.md`, `ubuntu.md`
  desktop/install/debian.md
  desktop/install/fedora.md
  desktop/install/ubuntu.md
Owners: @aevesdocker

Update `debian.md`, `fedora.md`, `ubuntu.md` (#15679)
  desktop/install/debian.md
  desktop/install/fedora.md
  desktop/install/ubuntu.md
Owners: @aevesdocker

share to distribute
  _data/toc.yaml
  desktop/dev-environments/share.md
Owners: @aevesdocker

share to distribute
  desktop/dev-environments/create-compose-dev-env.md
  desktop/dev-environments/create-dev-env.md
  desktop/dev-environments/index.md
Owners: @aevesdocker

Update versions of actions used in the workflow
  ci-cd/github-actions.md
Owners: none

build: update build.yml Signed-off-by: sashashura <93376818+sashashura@users.noreply.github.com>
  .github/workflows/build.yml
Owners: none

added bold rule
  .github/vale/Docker/Bold.yml
Owners: none

update toc and remove broken links
  _data/toc.yaml
  atomist/get-started.md
Owners: none

rm excess pages
  atomist/configure/images/configured-policy.png
  atomist/configure/images/enable-check-run.png
  atomist/configure/images/enable-secret-scanning.png
  atomist/configure/secrets.md
  atomist/integrate/deploys.md
  atomist/integrate/jfrog.md
  atomist/integrate/slack.md
Owners: none

fixed broken link
  atomist/get-started.md
Owners: none

updated image policies
  atomist/configure/image-policies.md
  atomist/configure/images/add-first-policy.png
  atomist/configure/images/configure-new-policy.png
  atomist/configure/images/deployment-policies.png
Owners: none

updated tutorial
  atomist/images/images-overview.png
  atomist/images/tags-list.png
  atomist/images/vulnerabilities-overview.png
  atomist/try-atomist.md
Owners: none

initial commit with atomist content
  _data/toc.yaml
  _includes/atomist/disclaimer.md
  atomist/configure/advisories.md
  atomist/configure/gitops.md
  atomist/configure/image-policies.md
  atomist/configure/images/add-first-policy.png
  atomist/configure/images/api-access.png
  atomist/configure/images/configure-new-policy.png
  atomist/configure/images/configured-policy.png
  atomist/configure/images/enable-check-run.png
  atomist/configure/images/enable-secret-scanning.png
  atomist/configure/secrets.md
  atomist/get-started.md
  atomist/images/dockerhub/webhook.png
  atomist/images/ecr/ConnectionSuccessful.png
  atomist/images/ecr/RoleArn.png
  atomist/images/ecr/capability.png
  atomist/images/ecr/stackoutput.png
  atomist/images/gar/config_success.png
  atomist/index.md
  atomist/integrate/deploys.md
  atomist/integrate/github.md
  atomist/integrate/images/activate-repos.png
  atomist/integrate/images/gh-install.png
  atomist/integrate/jfrog.md
  atomist/integrate/kubernetes.md
  atomist/integrate/slack.md
  atomist/try-atomist.md
Owners: none

updated domain name for dso
  atomist/integrate/deploys.md
  atomist/integrate/kubernetes.md
Owners: none

fix platform statement for connect registry
  atomist/get-started.md
Owners: none

added reference to seamless docker hub integration
  atomist/get-started.md
Owners: none

reworked policies, restructuring
  _data/toc.yaml
  atomist/configure/deployment-policies.md
  atomist/configure/image-policies.md
  atomist/configure/settings.md
  atomist/integrate/github.md
  atomist/integrate/gitops.md
  atomist/integrate/images/api-access.png
  atomist/integrate/kubernetes.md
Owners: none

update links, rm dockerhub integration
  _data/toc.yaml
  atomist/get-started.md
  atomist/integrate/kubernetes.md
Owners: none

added back hub tab in get started
  atomist/get-started.md
Owners: none

update get-started
  atomist/get-started.md
Owners: none

first pass on k8s integration pageg
  atomist/integrate/kubernetes.md
Owners: none
