Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ArthurFlag, @aevesdocker, @craig-osterhout, @sarahsanders-docker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @ArthurFlag @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @ArthurFlag

/content/reference/api/engine/ @ArthurFlag

/content/reference/cli/ @ArthurFlag

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @ArthurFlag

/_vendor @sarahsanders-docker @ArthurFlag

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout

cagent: add docs
  assets/icons/cagent.svg
  content/manuals/_index.md
  content/manuals/ai/cagent/_index.md
  content/manuals/ai/mcp-gateway/_index.md
  content/manuals/testcontainers.md
Owners: @ArthurFlag

chore: update module info
  content/manuals/desktop/settings-and-maintenance/settings.md
Owners: @aevesdocker

chore: update module info (#23335)
  content/manuals/desktop/settings-and-maintenance/settings.md
Owners: @aevesdocker

updates
  content/manuals/ai/cagent/_index.md
  content/manuals/ai/cagent/examples.md
Owners: @ArthurFlag

add summary bar
  content/manuals/ai/cagent/_index.md
  data/summary.yaml
Owners: @ArthurFlag

update
  content/manuals/ai/cagent/_index.md
Owners: @ArthurFlag

vale
  _vale/config/vocabularies/Docker/accept.txt
Owners: none

security-announcements: Fix 4.44.3 date
  content/manuals/security/security-announcements.md
Owners: @aevesdocker, @sarahsanders-docker

Fix 4.44.3 security announcement date (#23337)
  content/manuals/security/security-announcements.md
Owners: @aevesdocker, @sarahsanders-docker

helm push need the username
  content/manuals/docker-hub/repos/manage/hub-images/oci-artifacts.md
Owners: @craig-osterhout

add missing release note
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

build: document URL queries
  content/manuals/build/concepts/context.md
Owners: @ArthurFlag, @aevesdocker
