Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @ArthurFlag, @craig-osterhout, @aevesdocker, @thaJeztah, @sarahsanders-docker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @crazy-max @ArthurFlag

/content/manuals/build-cloud/ @crazy-max @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @thaJeztah @ArthurFlag

/content/reference/api/engine/ @thaJeztah @ArthurFlag

/content/reference/cli/ @thaJeztah @ArthurFlag

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/trusted-content/ @craig-osterhout

/content/manuals/docker-hub/official_images/ @craig-osterhout

/content/manuals/registry/ @craig-osterhout

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @ArthurFlag

/_vendor @sarahsanders-docker @ArthurFlag

improve SCIM
  content/manuals/security/faqs/general.md
  content/manuals/security/for-admins/provisioning/scim.md
  hugo_stats.json
Owners: @aevesdocker, @sarahsanders-docker

add: admonitions
  assets/css/components.css
  hugo_stats.json
  layouts/_default/_markup/render-blockquote.html
  layouts/partials/admonitions/icons/error.svg
  layouts/partials/admonitions/icons/important.svg
  layouts/partials/admonitions/icons/info.svg
  layouts/partials/admonitions/icons/lightbulb.svg
  layouts/partials/admonitions/icons/warning.svg
Owners: none

troubleshooting: mention specific HCS_E_HYPERV_NOT_INSTALLED error code
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/topics.md
Owners: @aevesdocker

fix lint error
  content/manuals/security/faqs/general.md
Owners: @aevesdocker, @sarahsanders-docker

Merge pull request #22643 from crazy-max/buildx-0.24.0-rc1
  _vendor/modules.txt
  data/buildx/docker_buildx_build.yaml
  data/buildx/docker_buildx_debug.yaml
  data/buildx/docker_buildx_debug_build.yaml
  data/buildx/docker_buildx_dial-stdio.yaml
  data/buildx/docker_buildx_history_export.yaml
  data/buildx/docker_buildx_history_import.yaml
  data/buildx/docker_buildx_history_inspect.yaml
  data/buildx/docker_buildx_history_inspect_attachment.yaml
  data/buildx/docker_buildx_history_logs.yaml
  data/buildx/docker_buildx_history_ls.yaml
  data/buildx/docker_buildx_history_open.yaml
  data/buildx/docker_buildx_history_rm.yaml
  data/buildx/docker_buildx_history_trace.yaml
  data/buildx/docker_buildx_imagetools_create.yaml
  data/buildx/docker_buildx_rm.yaml
  go.mod
  go.sum
Owners: @sarahsanders-docker, @ArthurFlag

Apply suggestions from code review
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/topics.md
Owners: @aevesdocker

troubleshooting: mention specific HCS_E_HYPERV_NOT_INSTALLED error code (#22645)
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/topics.md
Owners: @aevesdocker
