Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aevesdocker, @craig-osterhout, @usha-mandya, @sarahsanders-docker

dhi: update mirroring ux
  content/manuals/dhi/get-started.md
  content/manuals/dhi/how-to/mirror.md
  content/manuals/dhi/images/dhi-mirror-screen.png
Owners: @craig-osterhout

update screenshot
  content/manuals/dhi/images/dhi-mirror-button.png
Owners: @craig-osterhout

build: don't specify the buildx install/uninstall commands
  content/manuals/build/builders/_index.md
Owners: @aevesdocker

engine: v29.0.0
  content/manuals/engine/release-notes/28.md
  content/manuals/engine/release-notes/29.md
Owners: @usha-mandya

build: deprecate `docker buildx install`
  content/manuals/build/builders/_index.md
  data/buildx/docker_buildx_install.yaml
  data/buildx/docker_buildx_uninstall.yaml
Owners: @aevesdocker

Desktop linux fixes (#23569)
  content/manuals/desktop/setup/install/linux/_index.md
  content/manuals/desktop/setup/install/linux/archlinux.md
Owners: @aevesdocker

Update content/guides/bun/_index.md
  content/guides/bun/_index.md
Owners: none

Update Bun getting started guide description
  content/guides/bun/_index.md
Owners: none

ENGDOCS-2620
  content/manuals/compose/install/standalone.md
Owners: @aevesdocker

Update content/manuals/compose/install/standalone.md
  content/manuals/compose/install/standalone.md
Owners: @aevesdocker

ENGDOCS-2620 (#23574)
  content/manuals/compose/install/standalone.md
Owners: @aevesdocker

release-notes for Compose v2.40.1 version
  _vendor/github.com/docker/compose/v2/docs/reference/compose_publish.md
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_alpha_publish.yaml
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_publish.yaml
  _vendor/modules.txt
  content/manuals/compose/releases/release-notes.md
  go.mod
  go.sum
  hugo.yaml
Owners: @sarahsanders-docker, @aevesdocker

Update garbage-collection.md
  content/manuals/build/cache/garbage-collection.md
Owners: @aevesdocker

dhi: update mirroring ux (#23571)
  content/manuals/dhi/get-started.md
  content/manuals/dhi/how-to/mirror.md
  content/manuals/dhi/images/dhi-mirror-button.png
  content/manuals/dhi/images/dhi-mirror-screen.png
Owners: @craig-osterhout

docs: Add a section in the Bun guide to use DHI (#23565)
  content/guides/bun/_index.md
  content/guides/bun/containerize.md
Owners: none

Fix CA generation to use keyUsage keyCertSign
  content/manuals/engine/security/protect-access.md
Owners: @usha-mandya

Add initial devcontainer configuration
  .devcontainer/devcontainer.json
Owners: none

Apply suggestions from code review
  content/manuals/compose/releases/release-notes.md
Owners: @aevesdocker

compose: spec update
  content/reference/compose-file/services.md
Owners: none

build: fix set note
  content/manuals/build/bake/overrides.md
Owners: @aevesdocker

release-notes for Compose v2.40.1 version (#23575)
  _vendor/github.com/docker/compose/v2/docs/reference/compose_publish.md
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_alpha_publish.yaml
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_publish.yaml
  _vendor/modules.txt
  content/manuals/compose/releases/release-notes.md
  go.mod
  go.sum
  hugo.yaml
Owners: @sarahsanders-docker, @aevesdocker

sme review
  content/manuals/compose/bridge/usage.md
  content/manuals/compose/bridge/use-model-runner.md
Owners: @aevesdocker

build: fix set note (#23581)
  content/manuals/build/bake/overrides.md
Owners: @aevesdocker

compose: spec update (#23580)
  content/reference/compose-file/services.md
Owners: none

feat: Docker Debug no longer requires a subscription (#23564)
  data/summary.yaml
Owners: none

further edits
  content/manuals/compose/bridge/usage.md
  content/manuals/compose/bridge/use-model-runner.md
Owners: @aevesdocker

add github sonarqube guide
  content/guides/github-sonarqube-sandbox/_index.md
  content/guides/github-sonarqube-sandbox/customize.md
  content/guides/github-sonarqube-sandbox/troubleshoot.md
  content/guides/github-sonarqube-sandbox/workflow.md
Owners: none

Update content/manuals/compose/bridge/usage.md
  content/manuals/compose/bridge/usage.md
Owners: @aevesdocker

Engdocs 3051 (#23568)
  content/manuals/compose/bridge/_index.md
  content/manuals/compose/bridge/customize.md
  content/manuals/compose/bridge/usage.md
  content/manuals/compose/bridge/use-model-runner.md
Owners: @aevesdocker

Remove support for Windows 10 and 11 22H2
  content/manuals/desktop/setup/install/windows-install.md
Owners: @aevesdocker

Desktop RN
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

update title
  content/guides/github-sonarqube-sandbox/_index.md
  content/guides/github-sonarqube-sandbox/troubleshoot.md
Owners: none

add callout about claude
  content/guides/github-sonarqube-sandbox/workflow.md
Owners: none

typescript and python examples
  content/guides/github-sonarqube-sandbox/customize.md
  content/guides/github-sonarqube-sandbox/troubleshoot.md
  content/guides/github-sonarqube-sandbox/workflow.md
  hugo_stats.json
Owners: none

proofread: headings and fixes
  content/guides/github-sonarqube-sandbox/troubleshoot.md
  content/guides/github-sonarqube-sandbox/workflow.md
  hugo_stats.json
Owners: none

cagent update
  content/manuals/ai/cagent/_index.md
Owners: @usha-mandya

releaser: remove s3-config handling
  .github/workflows/deploy.yml
  docker-bake.hcl
  hack/releaser/Dockerfile
  hack/releaser/aws.go
  hack/releaser/s3-config.json
Owners: none

releaser: remove s3-config handling
  .github/workflows/deploy.yml
  docker-bake.hcl
  hack/releaser/Dockerfile
  hack/releaser/aws.go
  hack/releaser/s3-config.json
Owners: none

billing: pay by invoice (#23413)
  content/manuals/billing/cycle.md
  content/manuals/billing/faqs.md
  content/manuals/billing/history.md
  content/manuals/billing/payment-method.md
  content/manuals/subscription/manage-seats.md
  data/summary.yaml
Owners: @sarahsanders-docker

add DSOS to analytics tabs
  content/manuals/docker-hub/images/organization-tabs.png
  content/manuals/docker-hub/repos/manage/trusted-content/insights-analytics.md
Owners: @craig-osterhout

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @usha-mandya

/content/reference/api/engine/ @usha-mandya

/content/reference/cli/ @usha-mandya

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @usha-mandya

/_vendor @sarahsanders-docker

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout
