Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @dvdksn, @aevesdocker, @craig-osterhout, @stephaurelio

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/build/ @crazy-max @dvdksn

/content/build-cloud/ @dvdksn

/content/compose/ @aevesdocker

/content/desktop/ @aevesdocker

/content/desktop/extensions/ @aevesdocker

/content/desktop/extensions-sdk/ @aevesdocker

/content/scout/ @dvdksn

/content/docker-hub/ @aevesdocker @craig-osterhout @stephaurelio

/content/engine/ @dvdksn

/content/subscription/ @aevesdocker @stephaurelio

/content/docker-hub/publish/ @aevesdocker

/content/docker-hub/official_images/ @aevesdocker

/content/registry/ @dvdksn

vendor: github.com/docker/buildx v0.16.2
  _vendor/modules.txt
  go.mod
  go.sum
Owners: none

docs: update Docker Desktop 4.33.0 release notes (#20455)
  content/desktop/release-notes.md
Owners: @aevesdocker

remove beta label from debug (#20463)
  content/desktop/use-desktop/container.md
  content/reference/cli/docker/debug.md
  data/toc.yaml
Owners: @aevesdocker

Update docs for host net IPv6 support (#20473)
  content/network/drivers/host.md
Owners: none

add PROXYENABLEKERBEROSNTLM to msi installer (#20452)
  content/desktop/install/msi/install-and-configure.md
Owners: @aevesdocker

add release notes for docker scout v1.11.0 (#20416)
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_push.yaml
  _vendor/github.com/docker/scout-cli/docs/scout.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_push.md
  _vendor/modules.txt
  content/scout/policy/_index.md
  content/scout/release-notes/cli.md
  go.mod
  go.sum
Owners: @dvdksn

ENGDOCS-2160 (#20454)
  content/desktop/faqs/macfaqs.md
  content/desktop/settings/mac.md
Owners: @aevesdocker

buildx 0.16.2 release notes
  content/build/release-notes.md
Owners: @crazy-max, @dvdksn

Add -y flag to Docker installation command in documentation, Remove installation pause
  content/engine/install/ubuntu.md
Owners: @dvdksn

Fix typo in command in databases.md
  content/guides/use-case/databases.md
Owners: none

Fix typo the other way around to comply with the rest of the document
  content/guides/use-case/databases.md
Owners: none

Fix typo in command in databases.md (#20480)
  content/guides/use-case/databases.md
Owners: none

fix build number
  content/desktop/release-notes.md
Owners: @aevesdocker

build/buildkit: fix image name
  content/build/buildkit/_index.md
Owners: @crazy-max, @dvdksn

add Compose Bridge to ToC
  content/compose/_index.md
  data/toc.yaml
Owners: @aevesdocker

Update content/desktop/release-notes.md
  content/desktop/release-notes.md
Owners: @aevesdocker

Update content/build-cloud/usage.md
  content/build-cloud/usage.md
Owners: @dvdksn

fix build number (#20483)
  content/desktop/release-notes.md
Owners: @aevesdocker

Apply suggestions from code review
  content/compose/bridge/usage.md
Owners: @aevesdocker

Update content/compose/bridge/_index.md
  content/compose/bridge/_index.md
Owners: @aevesdocker

ENGDOCS-2078 (#19927)
  content/compose/bridge/_index.md
  content/compose/bridge/advanced-integration.md
  content/compose/bridge/customize.md
  content/compose/bridge/templates.md
  content/compose/bridge/transformation.md
  content/compose/bridge/usage.md
  content/includes/compose-bridge-early-access.md
  data/toc.yaml
Owners: @aevesdocker

vendor: github.com/moby/buildkit v0.15.1
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/consistent-instruction-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/copy-ignored-file.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/file-consistent-command-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/from-as-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/from-platform-flag-const-disallowed.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/invalid-default-arg-in-from.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/legacy-key-value-format.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/multiple-instructions-disallowed.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/redundant-target-platform.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/secrets-used-in-arg-or-env.md
  go.mod
  go.sum
Owners: none

chore: update build checks reference toc
  data/toc.yaml
Owners: none

add wsl known issue
  content/desktop/release-notes.md
Owners: @aevesdocker

add wsl known issue (#20488)
  content/desktop/release-notes.md
Owners: @aevesdocker

build-cloud: replace `Hyrdobuild` with `Build Cloud`
  content/build-cloud/ci.md
Owners: @dvdksn

add guide to _index and toc
  content/guides/use-case/_index.md
  data/toc.yaml
Owners: none
