Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aevesdocker, @craig-osterhout, @usha-mandya, @sarahsanders-docker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @usha-mandya

/content/reference/api/engine/ @usha-mandya

/content/reference/cli/ @usha-mandya

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @usha-mandya

/_vendor @sarahsanders-docker

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout

admin: activity log data retention
  content/manuals/admin/organization/activity-logs.md
Owners: @sarahsanders-docker

add api option
  content/manuals/admin/organization/activity-logs.md
  hugo_stats.json
Owners: @sarahsanders-docker

enterprise: dd settings reference AI
  content/manuals/enterprise/security/hardened-desktop/settings-management/settings-reference.md
Owners: none

add: feedback-dhi (#23497)
  content/manuals/dhi/about/_index.md
  content/manuals/dhi/about/feedback.md
Owners: @craig-osterhout

dhi: add keywords to mirroring
  content/manuals/dhi/how-to/mirror.md
Owners: @craig-osterhout

Update content/manuals/admin/organization/activity-logs.md
  content/manuals/admin/organization/activity-logs.md
Owners: @sarahsanders-docker

enterprise: dd settings reference AI (#23554)
  content/manuals/enterprise/security/hardened-desktop/settings-management/settings-reference.md
Owners: none

admin: activity log data retention (#23553)
  content/manuals/admin/organization/activity-logs.md
  hugo_stats.json
Owners: @sarahsanders-docker

Networking overview - clarifications and gentler intro.
  content/manuals/engine/network/_index.md
Owners: @usha-mandya

Split packet filtering / port publishing / iptables
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/firewall-iptables.md
  content/manuals/engine/network/packet-filtering-firewalls.md
  content/manuals/engine/network/port-publishing.md
Owners: @usha-mandya

Bridge network driver: add high-level description
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/drivers/bridge.md
Owners: @usha-mandya

Describe migration from iptables to experimental nftables
  content/manuals/engine/network/firewall-nftables.md
  content/manuals/engine/network/packet-filtering-firewalls.md
Owners: @usha-mandya

Note that nftables support was added in moby 29.0.0
  content/manuals/engine/network/firewall-nftables.md
Owners: @usha-mandya

nftables doc: moby 29.0.0 -> Docker 29.0.0
  content/manuals/engine/network/firewall-nftables.md
Owners: @usha-mandya

refresh compose bridge
  content/manuals/compose/bridge/_index.md
  content/manuals/compose/bridge/customize.md
  content/manuals/compose/bridge/usage.md
Owners: @aevesdocker

moby 29 networking - address review comments
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/firewall-iptables.md
  content/manuals/engine/network/firewall-nftables.md
  content/manuals/engine/network/port-publishing.md
Owners: @usha-mandya

feat: Docker Debug no longer requires a subscription
  data/summary.yaml
Owners: none

dhi: add keywords to mirroring (#23556)
  content/manuals/dhi/how-to/mirror.md
Owners: @craig-osterhout

dhi: add note that vex is retrieved from scout registry
  content/manuals/dhi/core-concepts/vex.md
  content/manuals/dhi/how-to/scan.md
Owners: @craig-osterhout

fix link
  content/manuals/dhi/core-concepts/vex.md
Owners: @craig-osterhout

dhi: add scout result comparision
  content/manuals/dhi/how-to/scan.md
Owners: @craig-osterhout

model runner support
  content/manuals/compose/bridge/_index.md
  content/manuals/compose/bridge/customize.md
  content/manuals/compose/bridge/usage.md
  content/manuals/compose/bridge/use-model-runner.md
Owners: @aevesdocker

edits
  content/manuals/compose/bridge/_index.md
  content/manuals/compose/bridge/customize.md
  content/manuals/compose/bridge/usage.md
  content/manuals/compose/bridge/use-model-runner.md
Owners: @aevesdocker

edits
  content/manuals/compose/bridge/use-model-runner.md
Owners: @aevesdocker

fix build
  content/manuals/compose/bridge/usage.md
Owners: @aevesdocker

rm version
  content/manuals/compose/bridge/_index.md
  content/manuals/compose/bridge/customize.md
  content/manuals/compose/bridge/use-model-runner.md
Owners: @aevesdocker

docs: Update Bun guide to clarify base image options and enhance DHI information
  content/guides/bun/_index.md
  content/guides/bun/containerize.md
Owners: none

Desktop linux fixes
  content/manuals/desktop/setup/install/linux/_index.md
  content/manuals/desktop/setup/install/linux/archlinux.md
Owners: @aevesdocker

networking documentation changes for engine v29 (#23362)
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/drivers/bridge.md
  content/manuals/engine/network/firewall-iptables.md
  content/manuals/engine/network/firewall-nftables.md
  content/manuals/engine/network/packet-filtering-firewalls.md
  content/manuals/engine/network/port-publishing.md
Owners: @usha-mandya

engine-cli: fix `docker volume prune` output without `--all`
  data/engine-cli/docker_volume_prune.yaml
Owners: none

add registry:// note and remove --platform in vex get and attest list
  content/manuals/dhi/about/test.md
  content/manuals/dhi/core-concepts/attestations.md
  content/manuals/dhi/core-concepts/cves.md
  content/manuals/dhi/core-concepts/signatures.md
  content/manuals/dhi/core-concepts/vex.md
  content/manuals/dhi/how-to/scan.md
  content/manuals/dhi/how-to/verify.md
Owners: @craig-osterhout

dhi: add scout result comparison (#23567)
  content/manuals/dhi/how-to/scan.md
Owners: @craig-osterhout

dhi: add note that vex is retrieved from scout registry (#23566)
  content/manuals/dhi/about/test.md
  content/manuals/dhi/core-concepts/attestations.md
  content/manuals/dhi/core-concepts/cves.md
  content/manuals/dhi/core-concepts/signatures.md
  content/manuals/dhi/core-concepts/vex.md
  content/manuals/dhi/how-to/scan.md
  content/manuals/dhi/how-to/verify.md
Owners: @craig-osterhout

Update content/guides/bun/containerize.md
  content/guides/bun/containerize.md
Owners: none

Update content/guides/bun/containerize.md
  content/guides/bun/containerize.md
Owners: none

Update content/guides/bun/containerize.md
  content/guides/bun/containerize.md
Owners: none

Update content/guides/bun/containerize.md
  content/guides/bun/containerize.md
Owners: none

Update content/guides/bun/containerize.md
  content/guides/bun/containerize.md
Owners: none

Update content/guides/bun/containerize.md
  content/guides/bun/containerize.md
Owners: none

Update content/guides/bun/containerize.md
  content/guides/bun/containerize.md
Owners: none
