Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @dvdksn, @aevesdocker, @craig-osterhout, @sarahsanders-docker

Update content/manuals/desktop/release-notes.md
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

docs freshness: choose profile UI flow (#21611)
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/admin/company/organizations.md
  content/manuals/admin/company/owners.md
  content/manuals/admin/organization/general-settings.md
  content/manuals/admin/organization/insights.md
  content/manuals/admin/organization/members.md
  content/manuals/security/for-admins/provisioning/just-in-time.md
  content/manuals/security/for-admins/single-sign-on/configure.md
  content/manuals/security/for-admins/single-sign-on/connect.md
  content/manuals/security/for-admins/single-sign-on/manage.md
  content/manuals/security/for-admins/single-sign-on/troubleshoot.md
  layouts/shortcodes/admin-domain-audit.md
  layouts/shortcodes/admin-sso-config.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-connections.md
  layouts/shortcodes/admin-sso-management-orgs.md
  layouts/shortcodes/admin-sso-management.md
  layouts/shortcodes/admin-users.html
Owners: @sarahsanders-docker, @aevesdocker

Release notes 4.37.0 (#21545)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

desktop: add docker hub view (#21581)
  content/manuals/desktop/images/dashboard.webp
  content/manuals/desktop/use-desktop/_index.md
  content/manuals/desktop/use-desktop/images.md
  content/manuals/docker-hub/quickstart.md
Owners: @aevesdocker, @craig-osterhout

ENGDOCS-2342 (#21573)
  content/manuals/desktop/features/desktop-cli.md
  content/manuals/desktop/features/usbip.md
  content/manuals/desktop/features/vmm.md
  content/manuals/desktop/features/wsl/_index.md
  content/reference/cli/docker/desktop/_index.md
  content/reference/cli/docker/desktop/engine/_index.md
  content/reference/cli/docker/desktop/engine/ls.md
  content/reference/cli/docker/desktop/engine/use.md
  content/reference/cli/docker/desktop/restart.md
  content/reference/cli/docker/desktop/start.md
  content/reference/cli/docker/desktop/status.md
  content/reference/cli/docker/desktop/stop.md
  data/desktop-cli/docker_desktop.yaml
  data/desktop-cli/docker_desktop_engine.yaml
  data/desktop-cli/docker_desktop_engine_ls.yaml
  data/desktop-cli/docker_desktop_engine_use.yaml
  data/desktop-cli/docker_desktop_restart.yaml
  data/desktop-cli/docker_desktop_start.yaml
  data/desktop-cli/docker_desktop_status.yaml
  data/desktop-cli/docker_desktop_stop.yaml
Owners: @aevesdocker, @dvdksn

add windows callout
  content/reference/cli/docker/desktop/start.md
Owners: @dvdksn

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @crazy-max @dvdksn

/content/manuals/build-cloud/ @dvdksn

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @dvdksn

/content/reference/api/engine/ @dvdksn

/content/reference/cli/ @dvdksn

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker

/content/manuals/trusted-content/ @craig-osterhout

/content/manuals/docker-hub/official_images/ @craig-osterhout

/content/manuals/registry/ @craig-osterhout

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/hack @dvdksn

/_vendor @dvdksn
