Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @dvdksn, @aevesdocker, @craig-osterhout, @stephaurelio

Specify DD version for proxy-enable-kerberosntlm flag (#20446)
  content/desktop/install/msi/install-and-configure.md
  content/desktop/install/windows-install.md
  content/desktop/settings/windows.md
Owners: @aevesdocker

add PROXYENABLEKERBEROSNTLM to msi installer
  content/desktop/install/msi/install-and-configure.md
Owners: @aevesdocker

ENGDOCS-2159
  content/desktop/settings/linux.md
  content/desktop/settings/mac.md
  content/desktop/settings/windows.md
  content/includes/desktop-network-setting.md
Owners: @aevesdocker

ENGDOCS-2160
  content/desktop/faqs/macfaqs.md
  content/desktop/settings/mac.md
Owners: @aevesdocker

ENGDOCS-2160
  content/desktop/faqs/macfaqs.md
Owners: @aevesdocker

engine: fix typo: iptables6 -> ip6tables
  content/engine/install/debian.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/ubuntu.md
Owners: @dvdksn

ENGDOCS-2157 (#20442)
  content/compose/compose-file/05-services.md
  content/compose/compose-file/build.md
Owners: @aevesdocker

Minor grammar fixes
  content/compose/compose-file/14-include.md
Owners: @aevesdocker

Minor grammar fixes (#20458)
  content/compose/compose-file/14-include.md
Owners: @aevesdocker

ENGDOCS-2161
  content/desktop/install/msi/install-and-configure.md
Owners: @aevesdocker

remove beta label from debug
  content/desktop/use-desktop/container.md
  content/reference/cli/docker/debug.md
  data/toc.yaml
Owners: @aevesdocker

engine: update to v27.1.0
  content/engine/api/_index.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/sles.md
  content/engine/install/ubuntu.md
  content/engine/release-notes/27.0.md
  content/engine/release-notes/27.1.md
  data/toc.yaml
  hugo.yaml
Owners: @dvdksn

engine: update to v27.1.1
  content/engine/api/_index.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/ubuntu.md
  content/engine/release-notes/27.1.md
  hugo.yaml
Owners: @dvdksn

engine fix compose version in release notes
  content/engine/release-notes/27.1.md
Owners: @dvdksn

Bump compose v2.29.1
  _vendor/modules.txt
  content/compose/release-notes.md
  go.mod
  hugo.yaml
Owners: @aevesdocker

add release notes for buildx v0.16.1
  content/build/release-notes.md
Owners: @crazy-max, @dvdksn

Update build-billing.md
  content/billing/build-billing.md
Owners: none

Update build-billing.md
  content/billing/build-billing.md
Owners: none

Update build-billing.md
  content/billing/build-billing.md
Owners: none

Update build-billing.md
  content/billing/build-billing.md
Owners: none

Update build-billing.md
  content/billing/build-billing.md
Owners: none

engine/install: remove Ubuntu 23.10 (Mantic Minotaur) (EOL: July 11, 2024)
  content/engine/install/ubuntu.md
Owners: @dvdksn

desktop: remove Ubuntu 23.10 (Mantic Minotaur) (EOL: July 11, 2024)
  content/desktop/install/ubuntu.md
Owners: @aevesdocker

engine, desktop: remove Ubuntu 23.10 (Mantic Minotaur) (EOL: July 11, 2024) (#20469)
  content/desktop/install/ubuntu.md
  content/engine/install/ubuntu.md
Owners: @aevesdocker, @dvdksn

Update description of SSC attestations
  content/scout/policy/_index.md
Owners: @dvdksn

add release notes for docker scout v1.11.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_push.yaml
  _vendor/github.com/docker/scout-cli/docs/scout.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_push.md
  _vendor/modules.txt
  content/scout/release-notes/cli.md
  go.mod
  go.sum
Owners: @dvdksn

Fix version in header
  content/scout/release-notes/cli.md
Owners: @dvdksn

Revert --provenance=mode=max change
  content/scout/policy/_index.md
  go.mod
Owners: @dvdksn

edit
  content/desktop/install/msi/install-and-configure.md
Owners: @aevesdocker

changes to release
  content/desktop/settings/linux.md
  content/desktop/settings/mac.md
  content/desktop/settings/windows.md
Owners: @aevesdocker

changes to release
  content/desktop/settings/mac.md
Owners: @aevesdocker

ENGDOCS-2161 (#20459)
  content/desktop/install/msi/install-and-configure.md
Owners: @aevesdocker

ENGDOCS-2159 (#20453)
  content/desktop/settings/linux.md
  content/desktop/settings/mac.md
  content/desktop/settings/windows.md
  content/includes/desktop-network-setting.md
Owners: @aevesdocker

Apply changes
  content/language/ruby/deploy.md
  content/language/ruby/develop.md
Owners: none

Add FastAPI example for python docs (#20396)
  content/language/python/containerize.md
  content/language/python/deploy.md
  content/language/python/develop.md
Owners: none

Update Javs Version From 3.3.0 (m3) to 3.3.2
  content/guides/docker-concepts/building-images/multi-stage-builds.md
Owners: none

Update docs for host net IPv6 support
  content/network/drivers/host.md
Owners: none

ENGDOCS-2162
  content/build-cloud/usage.md
Owners: @dvdksn

docs: update Docker Desktop 4.33.0 release notes
  content/desktop/release-notes.md
Owners: @aevesdocker

Apply feedback from craig
  content/language/ruby/deploy.md
  content/language/ruby/develop.md
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/build/ @crazy-max @dvdksn

/content/build-cloud/ @dvdksn

/content/compose/ @aevesdocker

/content/desktop/ @aevesdocker

/content/desktop/extensions/ @aevesdocker

/content/desktop/extensions-sdk/ @aevesdocker

/content/scout/ @dvdksn

/content/docker-hub/ @aevesdocker @craig-osterhout @stephaurelio

/content/engine/ @dvdksn

/content/subscription/ @aevesdocker @stephaurelio

/content/docker-hub/publish/ @aevesdocker

/content/docker-hub/official_images/ @aevesdocker

/content/registry/ @dvdksn
