Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @dvdksn, @aevesdocker, @craig-osterhout, @sarahsanders-docker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @crazy-max @dvdksn

/content/manuals/build-cloud/ @dvdksn

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @dvdksn

/content/reference/api/engine/ @dvdksn

/content/reference/cli/ @dvdksn

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker

/content/manuals/trusted-content/ @craig-osterhout

/content/manuals/docker-hub/official_images/ @craig-osterhout

/content/manuals/registry/ @craig-osterhout

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/hack @dvdksn

/_vendor @dvdksn

scout: support OATs
  content/manuals/scout/explore/metrics-exporter.md
  content/manuals/scout/how-tos/configure-cli.md
  content/manuals/scout/install.md
  content/manuals/scout/integrations/environment/cli.md
  content/manuals/scout/integrations/registry/artifactory.md
  content/manuals/security/for-admins/access-tokens.md
Owners: @craig-osterhout, @aevesdocker

engine: dynamic docker-ce version n (latest) and n-1
  content/manuals/engine/install/centos.md
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/fedora.md
  content/manuals/engine/install/raspberry-pi-os.md
  content/manuals/engine/install/rhel.md
  content/manuals/engine/install/sles.md
  content/manuals/engine/install/ubuntu.md
  hugo.yaml
Owners: @dvdksn

dockerfile: pin golang alpine version
  Dockerfile
Owners: none

Fix redirect issue in DCP docs updates
  content/manuals/billing/cycle.md
  content/manuals/billing/details.md
  content/manuals/billing/history.md
Owners: @sarahsanders-docker

docs: add missing modes for compose file reference
  content/reference/compose-file/deploy.md
Owners: none

Remove callout for service accounts
  content/manuals/docker-hub/service-accounts.md
Owners: @craig-osterhout

Update callout in OATs docs to clarify incompatibility with Docker Desktop
  content/manuals/security/for-admins/access-tokens.md
Owners: @aevesdocker

Update callout in OATs docs (#21608)
  content/manuals/security/for-admins/access-tokens.md
Owners: @aevesdocker

Remove callout for service accounts (#21607)
  content/manuals/docker-hub/service-accounts.md
Owners: @craig-osterhout

hub: autobuild refresh
  content/manuals/docker-hub/repos/manage/builds/_index.md
  content/manuals/docker-hub/repos/manage/builds/advanced.md
  content/manuals/docker-hub/repos/manage/builds/automated-testing.md
  content/manuals/docker-hub/repos/manage/builds/how-builds-work.md
  content/manuals/docker-hub/repos/manage/builds/link-source.md
  content/manuals/docker-hub/repos/manage/builds/setup.md
  content/manuals/docker-hub/repos/manage/builds/troubleshoot.md
Owners: @craig-osterhout

fix vale nags - round 1
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/docker-hub/repos/manage/builds/automated-testing.md
  content/manuals/docker-hub/repos/manage/builds/setup.md
Owners: @craig-osterhout

fix typo
  _vale/config/vocabularies/Docker/accept.txt
Owners: none

Docs freshness for Admin Console Choose profile UI flow
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/admin/company/organizations.md
  content/manuals/admin/company/owners.md
  content/manuals/admin/organization/general-settings.md
  content/manuals/admin/organization/insights.md
  content/manuals/admin/organization/members.md
  content/manuals/security/for-admins/provisioning/just-in-time.md
  content/manuals/security/for-admins/single-sign-on/configure.md
  content/manuals/security/for-admins/single-sign-on/connect.md
  content/manuals/security/for-admins/single-sign-on/manage.md
  content/manuals/security/for-admins/single-sign-on/troubleshoot.md
Owners: @sarahsanders-docker, @aevesdocker

Add missing shortcode update
  layouts/shortcodes/admin-users.html
Owners: none

More missing shortcodes
  layouts/shortcodes/admin-sso-management-connections.md
  layouts/shortcodes/admin-sso-management-orgs.md
Owners: none

All shortcodes for SSO
  layouts/shortcodes/admin-domain-audit.md
  layouts/shortcodes/admin-sso-config.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management.md
Owners: none

add 4.37.x release notes
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Fix description of 'inhibit_ipv4'
  content/manuals/engine/network/drivers/bridge.md
Owners: @dvdksn

Updates to default bridge address config
  content/manuals/engine/network/drivers/bridge.md
Owners: @dvdksn

SME review
  data/desktop-cli/docker_desktop_start.yaml
  data/desktop-cli/docker_desktop_stop.yaml
Owners: none

SME review
  data/desktop-cli/docker_desktop_start.yaml
Owners: none

SME review
  data/desktop-cli/docker_desktop_start.yaml
  data/desktop-cli/docker_desktop_stop.yaml
Owners: none

Describe gateway selection in the networking overview.
  content/manuals/engine/network/_index.md
Owners: @dvdksn

Update description of gateway modes
  content/manuals/engine/network/drivers/bridge.md
  content/manuals/engine/network/packet-filtering-firewalls.md
Owners: @dvdksn

Describe IPv6-only network config
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/drivers/bridge.md
Owners: @dvdksn

hub: add catalog callout on homepage
  layouts/index.html
Owners: none

Find and replace for Choose profile page, add bolding
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/admin/company/organizations.md
  content/manuals/admin/company/owners.md
  content/manuals/admin/organization/general-settings.md
  content/manuals/admin/organization/insights.md
  content/manuals/security/for-admins/single-sign-on/configure.md
  content/manuals/security/for-admins/single-sign-on/connect.md
  content/manuals/security/for-admins/single-sign-on/manage.md
  content/manuals/security/for-admins/single-sign-on/troubleshoot.md
  layouts/shortcodes/admin-domain-audit.md
  layouts/shortcodes/admin-sso-config.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-orgs.md
  layouts/shortcodes/admin-sso-management.md
  layouts/shortcodes/admin-users.html
Owners: @sarahsanders-docker, @aevesdocker

center button text for resize
  layouts/index.html
Owners: none

Update _index.md about switching container mode
  content/manuals/desktop/features/wsl/_index.md
Owners: @aevesdocker

feedback1
  content/manuals/docker-hub/repos/manage/builds/_index.md
  content/manuals/docker-hub/repos/manage/builds/setup.md
Owners: @craig-osterhout

Update content/manuals/harmonia/_index.md
  content/manuals/harmonia/_index.md
Owners: none

hub-api: add org management api specs
  content/reference/api/hub/latest.yaml
Owners: none

harmonia: one more pass for bind volumes (#21582)
  content/manuals/harmonia/_index.md
Owners: none

add windows callout
  content/reference/cli/docker/desktop/start.md
Owners: @dvdksn

Update content/manuals/desktop/features/wsl/_index.md
  content/manuals/desktop/features/wsl/_index.md
Owners: @aevesdocker

Update _index.md about switching container mode (#21614)
  content/manuals/desktop/features/wsl/_index.md
Owners: @aevesdocker

desktop: add ask gordon page
  content/manuals/desktop/features/gordon.md
  content/manuals/desktop/images/gordon-run-ctr.png
Owners: @aevesdocker

desktop: add enableDockerAI settings management property
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-json-file.md
Owners: @aevesdocker

site: add landing page callout to Ask Gordon
  hugo_stats.json
  layouts/index.html
Owners: none

add 4.37.x release notes
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker
