Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ArthurFlag, @aevesdocker, @craig-osterhout, @sarahsanders-docker

scout: update scout cli release notes (#23313)
  content/manuals/scout/release-notes/cli.md
Owners: @craig-osterhout

Networking overview - clarifications and gentler intro.
  content/manuals/engine/network/_index.md
Owners: @ArthurFlag

Bridge network driver: add high-level description
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/drivers/bridge.md
Owners: @ArthurFlag

Split packet filtering / port publishing / iptables
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/firewall-iptables.md
  content/manuals/engine/network/packet-filtering-firewalls.md
  content/manuals/engine/network/port-publishing.md
Owners: @ArthurFlag

Describe migration from iptables to experimental nftables
  content/manuals/engine/network/firewall-nftables.md
  content/manuals/engine/network/packet-filtering-firewalls.md
Owners: @ArthurFlag

fix: remove duplicate sentence in downgrade guide
  content/manuals/subscription/change.md
Owners: @sarahsanders-docker

offload: ga updates
  content/manuals/offload/_index.md
  content/manuals/offload/about.md
  content/manuals/offload/configuration.md
  content/manuals/offload/optimize.md
  content/manuals/offload/quickstart.md
  content/manuals/offload/troubleshoot.md
  content/manuals/offload/usage.md
  data/summary.yaml
Owners: @craig-osterhout

fix typo
  content/manuals/offload/configuration.md
Owners: @craig-osterhout

fix typo
  content/manuals/offload/usage.md
Owners: @craig-osterhout

update vdi
  content/manuals/desktop/setup/vm-vdi.md
Owners: @aevesdocker

dhi: add skip-tlog info (#23274)
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/dhi/how-to/verify.md
Owners: @craig-osterhout

add links for MCP
  data/redirects.yml
Owners: none

mcp: add go links (#23319)
  data/redirects.yml
Owners: none

engine: update apache licensing (#23316)
  .vscode/docker.code-snippets
  content/includes/engine-license.md
  content/manuals/engine/_index.md
  content/manuals/engine/install/_index.md
  content/manuals/engine/install/centos.md
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/fedora.md
  content/manuals/engine/install/raspberry-pi-os.md
  content/manuals/engine/install/rhel.md
  content/manuals/engine/install/sles.md
  content/manuals/engine/install/ubuntu.md
Owners: @ArthurFlag

Update content/manuals/build/bake/remote-definition.md
  content/manuals/build/bake/remote-definition.md
Owners: @ArthurFlag, @aevesdocker

Update remote-definition.md
  content/manuals/build/bake/remote-definition.md
Owners: @ArthurFlag, @aevesdocker

fix: remove duplicate sentence in downgrade guide (#23317)
  content/manuals/subscription/change.md
Owners: @sarahsanders-docker

Desktop: 4.45 release notes (#23309)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

dmr: GA (#23312)
  content/manuals/ai/model-runner/_index.md
  content/manuals/ai/model-runner/get-started.md
  content/manuals/enterprise/security/hardened-desktop/settings-management/configure-json-file.md
  content/manuals/enterprise/security/hardened-desktop/settings-management/settings-reference.md
  data/summary.yaml
Owners: @ArthurFlag

fix: dd rn
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

fix: dd rn (#23320)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

scout: add artifactory integration via watch
  content/manuals/scout/integrations/_index.md
  content/manuals/scout/integrations/registry/artifactory.md
Owners: @craig-osterhout

lint fixes
  content/manuals/scout/integrations/_index.md
  content/manuals/scout/integrations/registry/artifactory.md
Owners: @craig-osterhout

fix typo
  content/manuals/scout/integrations/registry/artifactory.md
Owners: @craig-osterhout

fix typo
  content/manuals/scout/integrations/registry/artifactory.md
Owners: @craig-osterhout

build: document URL queries
  content/manuals/build/concepts/context.md
Owners: @ArthurFlag, @aevesdocker

engine/install: SLES no longer supported
  content/includes/install-script.md
  content/manuals/compose/install/linux.md
  content/manuals/engine/install/_index.md
  content/manuals/engine/install/sles.md
Owners: @aevesdocker, @ArthurFlag

Update Docker Desktop release date
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Update Docker Desktop release date (#23324)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Bump `registry` image references to `3`
  content/manuals/build/ci/github-actions/local-registry.md
  content/manuals/build/ci/github-actions/named-contexts.md
  content/manuals/engine/security/trust/trust_sandbox.md
Owners: @ArthurFlag, @aevesdocker

engine: 28.4.0
  content/manuals/engine/release-notes/28.md
Owners: @ArthurFlag

dhi: add migration tip
  content/manuals/dhi/get-started.md
Owners: @craig-osterhout

vale: add term
  _vale/config/vocabularies/Docker/accept.txt
Owners: none

add link to announcement
  content/manuals/dhi/get-started.md
Owners: @craig-osterhout

security: add RSS feed option
  content/manuals/security/security-announcements.md
  hugo_stats.json
  layouts/security-announcements/single.rss.xml
  layouts/shortcodes/rss-button.html
Owners: @aevesdocker, @sarahsanders-docker

security: add RSS feed option (#23328)
  content/manuals/security/security-announcements.md
  hugo_stats.json
  layouts/security-announcements/single.rss.xml
  layouts/shortcodes/rss-button.html
Owners: @aevesdocker, @sarahsanders-docker

dhi: add helm chart migration
  content/manuals/dhi/how-to/migrate.md
Owners: @craig-osterhout

add redirect
  content/manuals/subscription/details.md
  data/redirects.yml
Owners: @sarahsanders-docker

dhi: add migration tip (#23327)
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/dhi/get-started.md
Owners: @craig-osterhout

chore: release note fix
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @ArthurFlag @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @ArthurFlag

/content/reference/api/engine/ @ArthurFlag

/content/reference/cli/ @ArthurFlag

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @ArthurFlag

/_vendor @sarahsanders-docker @ArthurFlag

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout
