Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @jedevc, @dvdksn, @usha-mandya, @aevesdocker, @jerae-duffin, @craig-osterhout

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/build/ @crazy-max @jedevc @dvdksn

/compose/ @usha-mandya @aevesdocker

/desktop/ @aevesdocker

/docker-hub/ @jerae-duffin @craig-osterhout

/engine/ @dvdksn

/subscription/ @jerae-duffin

/docker-hub/publish/ @dvdksn

/docker-hub/official_images/ @dvdksn

/registry/ @dvdksn

/atomist/ @dvdksn

Update gettingstarted.md - grammar/typo
  compose/gettingstarted.md
Owners: @usha-mandya, @aevesdocker

Update gettingstarted.md - grammar/typo (#16243)
  compose/gettingstarted.md
Owners: @usha-mandya, @aevesdocker

last edits
  _includes/beta.md
  _includes/desktop-experimental.md
  desktop/settings/linux.md
  desktop/settings/mac.md
  desktop/settings/windows.md
Owners: @aevesdocker

last edits
  desktop/dev-environments/create-dev-env.md
Owners: @aevesdocker

Genericize frontend tutorial and make it clear other tech are usable and track it
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
Owners: @aevesdocker

Rework backend tutorial to add tabs for other techs and incorporate the build and install commands.
  _data/toc.yaml
  desktop/extensions-sdk/build/set-up/backend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/minimal-backend-extension.md
  desktop/extensions-sdk/build/set-up/minimal-frontend-extension.md
Owners: @aevesdocker

addition of share content
  _data/toc.yaml
  desktop/extensions-sdk/extensions/images/list-preview.png
  desktop/extensions-sdk/extensions/images/open-share.PNG
  desktop/extensions-sdk/extensions/share.md
Owners: @aevesdocker

docs: Add "Run your tests" section to .NET
  language/dotnet/configure-ci-cd.md
  language/dotnet/deploy.md
  language/dotnet/develop.md
  language/dotnet/nav.html
  language/dotnet/run-tests.md
Owners: none

fix: Add "Run your tests" to toc.yaml
  _data/toc.yaml
Owners: none

Apply suggestions from code review
  desktop/release-notes.md
Owners: @aevesdocker

reviews
  desktop/release-notes.md
Owners: @aevesdocker

change screenshots to reflect new Design System
  assets/images/grayed-setting.png
  desktop/hardened-desktop/settings-management/configure.md
  desktop/hardened-desktop/settings-management/index.md
  desktop/images/dashboard.PNG
  desktop/images/diagnose-support.png
  desktop/images/docker-tutorial-linux.png
  desktop/images/troubleshoot.png
  desktop/windows/images/wsl2-context.png
  desktop/windows/images/wsl2-enable.png
  desktop/windows/images/wsl2-ui.png
  desktop/windows/wsl.md
  develop/scan-images/images/hvs-scan-summary.png
  get-started/images/dashboard-two-containers.png
Owners: @aevesdocker

updated grammar
  docker-hub/service-accounts.md
Owners: @jerae-duffin, @craig-osterhout

review changes
  _scss/_landing.scss
  _scss/_layout.scss
  _scss/_navigation.scss
  _scss/_night-mode.scss
  _scss/_variables.scss
Owners: none

remove play-with-docker and simplify
  get-started/04_sharing_app.md
Owners: none

Update docker-hub/service-accounts.md
  docker-hub/service-accounts.md
Owners: @jerae-duffin, @craig-osterhout

add hardened desktop and align steps with UI guide
  docker-hub/onboard-business.md
  docker-hub/onboard-team.md
Owners: @jerae-duffin, @craig-osterhout

remove create team note
  docker-hub/onboard-business.md
  docker-hub/onboard-team.md
Owners: @jerae-duffin, @craig-osterhout

review fix
  docker-hub/onboard-business.md
Owners: @jerae-duffin, @craig-osterhout

Update 02_our_app.md
  get-started/02_our_app.md
Owners: none

Update desktop/dev-environments/create-dev-env.md
  desktop/dev-environments/create-dev-env.md
Owners: @aevesdocker

Update desktop/dev-environments/create-dev-env.md
  desktop/dev-environments/create-dev-env.md
Owners: @aevesdocker

Update desktop/dev-environments/create-dev-env.md
  desktop/dev-environments/create-dev-env.md
Owners: @aevesdocker

Update desktop/dev-environments/create-dev-env.md
  desktop/dev-environments/create-dev-env.md
Owners: @aevesdocker

Update desktop/release-notes.md
  desktop/release-notes.md
Owners: @aevesdocker
