Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dockertopia, @usha-mandya, @aevesdocker, @jerae-duffin, @craig-osterhout

ci: fix aws s3 cmd on ubuntu 20.04
  .github/workflows/build.yml
Owners: none

fix link in release notes
  desktop/release-notes.md
Owners: @aevesdocker, @usha-mandya

Improve WSL 2 docs (#14766)
  desktop/windows/wsl.md
Owners: @aevesdocker, @usha-mandya

ci: split build and publish workflows and set up cache
  .github/workflows/build.yml
  .github/workflows/publish.yml
Owners: none

Move 'Previous Versions' into new folder at root of DD docs (#14742)
  _data/toc.yaml
  desktop/previous-versions/2.x-mac.md
  desktop/previous-versions/2.x-windows.md
  desktop/previous-versions/3.x-mac.md
  desktop/previous-versions/3.x-windows.md
  desktop/previous-versions/archive-mac.md
  desktop/previous-versions/archive-windows.md
  desktop/previous-versions/edge-releases-mac.md
  desktop/previous-versions/edge-releases-windows.md
Owners: @aevesdocker, @usha-mandya

Update install.md
  compose/install.md
Owners: @aevesdocker

jekyll: create plugin to update api toc
  Dockerfile
  _plugins/update_api_toc.rb
  _scripts/update-api-toc.sh
Owners: none

jekyll: create plugin to fetch remote resources
  Dockerfile
  Gemfile
  Gemfile.lock
  _config.yml
  _plugins/fetch_remote.rb
  _scripts/fetch-upstream-resources.sh
  docker-bake.hcl
Owners: none

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/compose/ @dockertopia @usha-mandya

/compose/install.md @aevesdocker

/desktop/ @aevesdocker @usha-mandya

/docker-hub/ @jerae-duffin @craig-osterhout

/engine/ @dockertopia @usha-mandya

/registry/ @usha-mandya

/single-sign-on/ @jerae-duffin 

/single-sign-on/index.md @craig-osterhout

/subscription/ @jerae-duffin
