Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aevesdocker, @craig-osterhout, @usha-mandya, @sarahsanders-docker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @aevesdocker

/content/manuals/build-cloud/ @craig-osterhout

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @usha-mandya

/content/reference/api/engine/ @usha-mandya

/content/reference/cli/ @usha-mandya

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/content/manuals/ai/ @usha-mandya

/_vendor @sarahsanders-docker

/content/manuals/offload/ @craig-osterhout

/content/manuals/dhi/ @craig-osterhout

docs: add troubleshooting guide for Docker.app is damaged dialog on macOS (#23523)
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/_index.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/known-issues.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/mac-damaged-dialog.md
Owners: @aevesdocker

engine/install: Update supported Ubuntu versions
  content/manuals/engine/install/ubuntu.md
Owners: @usha-mandya

Update supported distros (#23532)
  content/manuals/engine/install/centos.md
  content/manuals/engine/install/ubuntu.md
Owners: @usha-mandya

add build
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

admin: add proxy for config profiles (#23517)
  content/manuals/enterprise/security/enforce-sign-in/methods.md
  content/manuals/enterprise/security/hardened-desktop/settings-management/_index.md
Owners: none

added installer flags for PAC file (#23496)
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
  content/manuals/enterprise/enterprise-deployment/msi-install-and-configure.md
Owners: @aevesdocker

Update content/manuals/desktop/release-notes.md
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Desktop: release notes 4.48 (#23503)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

4.48 desktop release content (#23533)
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
  content/manuals/enterprise/enterprise-deployment/msi-install-and-configure.md
  content/manuals/enterprise/security/enforce-sign-in/methods.md
  content/manuals/enterprise/security/hardened-desktop/settings-management/_index.md
Owners: @aevesdocker

docs: add docker/model-runner to CLI reference repos
  CONTRIBUTING.md
Owners: none

docs: models-and-compose: move deprecated provider service type section to end of page
  content/manuals/ai/compose/models-and-compose.md
Owners: @usha-mandya

docs: add docker/model-runner to CLI reference repos (#23536)
  CONTRIBUTING.md
Owners: none

Desktop: release notes 4.48: Docker Model Runner
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Desktop: release notes 4.48: Docker Model Runner (#23535)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Desktop: release notes 4.48: Docker Model Runner CLI upgrade
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

docs: models-and-compose: move deprecated provider service type section to end of page (#23537)
  content/manuals/ai/compose/models-and-compose.md
Owners: @usha-mandya

Desktop: release notes 4.48: Docker Model Runner CLI upgrade (#23538)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

updated the examples
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
Owners: @aevesdocker

updated the examples (#23539)
  content/manuals/desktop/setup/install/mac-install.md
  content/manuals/desktop/setup/install/windows-install.md
Owners: @aevesdocker

engine/install: Add Ubuntu 25.10
  content/manuals/engine/install/ubuntu.md
Owners: @usha-mandya

Add note in the extension security model
  content/manuals/extensions/extensions-sdk/architecture/security.md
Owners: @aevesdocker

fix note
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

fix note (#23541)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

update lambda to handle secure s3 bucket
  hack/releaser/cloudfront-lambda-redirects.js
Owners: none

ci: don't set public acl when uploading files to s3 bucket
  .github/workflows/deploy.yml
Owners: none

hub: add dvp infrastructure benefit
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/docker-hub/images/verified-publisher-badge-iso.png
  content/manuals/docker-hub/images/verified-publisher-badge.png
  content/manuals/docker-hub/repos/manage/trusted-content/dvp-program.md
  content/manuals/docker-hub/repos/manage/trusted-content/images/dvp-hub-flow.svg
  content/manuals/docker-hub/repos/manage/trusted-content/insights-analytics.md
Owners: @craig-osterhout

Fix: update compose intro doc
  content/manuals/compose/intro/compose-application-model.md
Owners: @aevesdocker

docs(github-actions): add missing "checkout" step before docker build
  content/manuals/build/ci/github-actions/multi-platform.md
Owners: @aevesdocker

Fix: update compose intro doc (#23545)
  content/manuals/compose/intro/compose-application-model.md
Owners: @aevesdocker

ci: don't set public acl when uploading files to s3 bucket
  .github/workflows/deploy.yml
Owners: none

RN: add links
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

RN: add links (#23547)
  content/manuals/desktop/release-notes.md
Owners: @aevesdocker

Updated proxy info in config profile template
  content/manuals/enterprise/security/enforce-sign-in/methods.md
Owners: none

Updated proxy info in config profile template (#23548)
  content/manuals/enterprise/security/enforce-sign-in/methods.md
Owners: none

Rename _index.md to aumm_index.md
  content/manuals/desktop/aumm_index.md
Owners: @aevesdocker

capitals
  content/manuals/build/bake/overrides.md
Owners: @aevesdocker

new direction
  content/manuals/build/builders/drivers/docker-container.md
Owners: @aevesdocker

build: --set (#23512)
  content/manuals/build/bake/overrides.md
Owners: @aevesdocker

docs: simplify youki setup instructions
  content/manuals/engine/daemon/alternative-runtimes.md
Owners: @usha-mandya

Update content/manuals/build/builders/drivers/docker-container.md
  content/manuals/build/builders/drivers/docker-container.md
Owners: @aevesdocker
