Repository docker/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crazy-max, @jedevc, @dvdksn, @usha-mandya, @aevesdocker, @jerae-duffin, @craig-osterhout

fix compose release notes (#16214)
  compose/release-notes.md
Owners: @usha-mandya, @aevesdocker

build: fixed misplaced enhancement in release note
  build/release-notes.md
Owners: @crazy-max, @jedevc, @dvdksn

build: fixed misplaced enhancement in release note (#16215)
  build/release-notes.md
Owners: @crazy-max, @jedevc, @dvdksn

Minor update in docker command for displaying logs
  get-started/07_multi_container.md
Owners: none

build: move upstream bake docs in docs repo
  _config.yml
  build/customize/bake/build-contexts.md
  build/customize/bake/compose-file.md
  build/customize/bake/configuring-build.md
  build/customize/bake/file-definition.md
  build/customize/bake/hcl-funcs.md
  build/customize/bake/index.md
Owners: @crazy-max, @jedevc, @dvdksn

POS virtiofs additions
  desktop/settings/mac.md
Owners: @aevesdocker

Update Wasm docs
  desktop/images/containerd_feature_activation.png
  desktop/wasm/index.md
Owners: @aevesdocker

image store can be disabled actually.
  desktop/wasm/index.md
Owners: @aevesdocker

remove old known-issues content
  desktop/settings/mac.md
  desktop/troubleshoot/known-issues.md
Owners: @aevesdocker

update release notes also
  desktop/release-notes.md
Owners: @aevesdocker

Review feedback
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/minimal-backend-extension.md
  desktop/extensions-sdk/build/set-up/minimal-frontend-extension.md
Owners: @aevesdocker

Fix link
  desktop/extensions-sdk/build/set-up/minimal-frontend-extension.md
Owners: @aevesdocker

Update Dockerfile base image and python version
  get-started/02_our_app.md
Owners: none

Fix error: PowerShell environment variable setting
  engine/context/working-with-contexts.md
Owners: @dvdksn

Fix anchor locations
  _scss/_layout.scss
Owners: none

Example is outdated and throws errors
  get-started/02_our_app.md
Owners: none

fix [WORKDIR /app] docker file content
  get-started/02_our_app.md
Owners: none

Edit tag syntax
  build/building/packaging.md
Owners: @crazy-max, @jedevc, @dvdksn

Update systemd.md
  config/daemon/systemd.md
Owners: none

quickstart.md
  เดสก์ทอป/ส่วนขยาย-sdk/quickstart.md
Owners: none

added note formatting
  config/daemon/systemd.md
Owners: none

Genericize frontend tutorial and make it clear other tech are usable and track it (#16195)
  _data/toc.yaml
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/minimal-backend-extension.md
  desktop/extensions-sdk/build/set-up/minimal-frontend-extension.md
  desktop/extensions-sdk/build/set-up/minimal-frontend-using-docker-cli.md
  desktop/extensions-sdk/build/set-up/react-extension.md
Owners: @aevesdocker

More feedback from the team
  _data/toc.yaml
  desktop/extensions-sdk/guides/invoke-host-binaries.md
Owners: @aevesdocker

Fixes, improvements fronm review
  desktop/extensions-sdk/guides/invoke-host-binaries.md
Owners: @aevesdocker

Add host binary guide and move others to this section
  _data/toc.yaml
  desktop/extensions-sdk/extensions/METADATA.md
  desktop/extensions-sdk/guides/invoke-host-binaries.md
  desktop/extensions-sdk/guides/kubernetes.md
  desktop/extensions-sdk/guides/oauth2-flow.md
Owners: @aevesdocker

Fix tab id
  desktop/extensions-sdk/guides/invoke-host-binaries.md
Owners: @aevesdocker

Update the example with a working version on windows
  desktop/extensions-sdk/guides/invoke-host-binaries.md
Owners: @aevesdocker

Use the correct error message when trying to inspect a nonexisting container
  engine/swarm/swarm-tutorial/delete-service.md
Owners: @dvdksn

commiting all sidebar changes
  _data/toc.yaml
  _includes/header_backup.html
  _includes/navigation_backup.html
  _layouts/landing.html
  _layouts/landing_backup.html
  _layouts/landing_sublinks_backup.html
  _scss/_landing.scss
  _scss/_navigation.scss
  assets/js/docs.js
Owners: none

Update environment-variables.md (#15635)
  compose/environment-variables.md
Owners: @usha-mandya, @aevesdocker

Fix broken links and images
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/minimal-backend-extension.md
  desktop/extensions-sdk/build/set-up/minimal-frontend-extension.md
  desktop/extensions-sdk/build/test-debug.md
  desktop/extensions-sdk/guides/images/oauth2-flow.png
  desktop/extensions-sdk/guides/oauth2-flow.md
  desktop/extensions-sdk/process.md
  desktop/extensions-sdk/quickstart.md
Owners: @aevesdocker

Add doc about sharing extensions
  desktop/extensions-sdk/extensions/images/list-preview.png
  desktop/extensions-sdk/extensions/images/open-share.png
  desktop/extensions-sdk/extensions/share.md
Owners: @aevesdocker

Add containerd release notes for December release
  desktop/containerd/index.md
Owners: @aevesdocker

Making some copy changes
  _data/toc.yaml
  _layouts/landing.html
  _scss/_landing.scss
Owners: none

dark mode and accessibility
  _scss/_content.scss
  _scss/_landing.scss
  _scss/_layout.scss
  _scss/_navigation.scss
  _scss/_night-mode.scss
  _scss/_notes.scss
  _scss/_overrides.scss
  _scss/_perldoc.scss
  _scss/_utilities.scss
  _scss/_variables.scss
Owners: none

Add guide about host binaries (#16198)
  _data/toc.yaml
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/minimal-backend-extension.md
  desktop/extensions-sdk/build/set-up/minimal-frontend-extension.md
  desktop/extensions-sdk/build/test-debug.md
  desktop/extensions-sdk/extensions/METADATA.md
  desktop/extensions-sdk/guides/images/oauth2-flow.png
  desktop/extensions-sdk/guides/invoke-host-binaries.md
  desktop/extensions-sdk/guides/kubernetes.md
  desktop/extensions-sdk/guides/oauth2-flow.md
  desktop/extensions-sdk/process.md
  desktop/extensions-sdk/quickstart.md
Owners: @aevesdocker

align HD with product naming in marketing
  _data/toc.yaml
  _includes/landing-page/hardened-desktop.html
  desktop/hardened-desktop/index.md
  desktop/hardened-desktop/registry-access-management.md
  desktop/release-notes.md
  subscription/index.md
Owners: @aevesdocker, @jerae-duffin

update get started app
  get-started/02_our_app.md
  get-started/06_bind_mounts.md
  get-started/07_multi_container.md
  get-started/08_using_compose.md
  get-started/09_image_best.md
Owners: none

align HD with product naming in marketing (#16239)
  _data/toc.yaml
  _includes/landing-page/hardened-desktop.html
  desktop/hardened-desktop/index.md
  desktop/hardened-desktop/registry-access-management.md
  desktop/release-notes.md
  subscription/index.md
Owners: @aevesdocker, @jerae-duffin

Docker Desktop 4.15.0 release notes
  desktop/release-notes.md
Owners: @aevesdocker

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/build/ @crazy-max @jedevc @dvdksn

/compose/ @usha-mandya @aevesdocker

/desktop/ @aevesdocker

/docker-hub/ @jerae-duffin @craig-osterhout

/engine/ @dvdksn

/subscription/ @jerae-duffin

/docker-hub/publish/ @dvdksn

/docker-hub/official_images/ @dvdksn

/registry/ @dvdksn

/atomist/ @dvdksn
