Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/config, area/contrib, area/tests, area/build, area/build-cloud, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/guides, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/extensions, area/samples, area/storage, area/accounts, area/copilot, hugo, dependencies

Update all outdated callouts
  content/get-started/workshop/08_using_compose.md
  content/includes/aci-ecs-eol.md
  content/includes/install-script.md
  content/manuals/compose/releases/release-notes.md
  content/manuals/desktop/previous-versions/edge-releases-mac.md
  content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/manuals/desktop/troubleshoot-and-support/faqs/macfaqs.md
  content/manuals/engine/logging/configure.md
  content/manuals/engine/network/links.md
  content/manuals/engine/release-notes/17.03.md
  content/manuals/engine/release-notes/20.10.md
  content/manuals/engine/release-notes/prior-releases.md
  content/manuals/engine/storage/drivers/device-mapper-driver.md
  content/manuals/engine/swarm/how-swarm-mode-works/nodes.md
  content/manuals/engine/swarm/swarm-tutorial/inspect-service.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
  content/reference/api/extensions-sdk/DockerDesktopClient.md
Labels: area/compose, area/desktop, area/engine, area/swarm, area/security, area/get-started, area/networking, area/api, area/extensions, area/storage

Update content/manuals/engine/storage/drivers/device-mapper-driver.md
  content/manuals/engine/storage/drivers/device-mapper-driver.md
Labels: area/engine, area/storage

Update content/manuals/desktop/faqs/macfaqs.md
  content/manuals/desktop/troubleshoot-and-support/faqs/macfaqs.md
Labels: area/desktop

Update content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/manuals/desktop/previous-versions/edge-releases-windows.md
Labels: area/desktop

Update content/manuals/docker-hub/builds/link-source.md
  content/manuals/docker-hub/builds/link-source.md
Labels: area/hub

Found more outdated callouts, fixed whitespacing
  _vendor/github.com/moby/moby/docs/api/v1.24.md
  content/get-started/docker-concepts/the-basics/what-is-a-registry.md
  content/get-started/workshop/03_updating_app.md
  content/manuals/build/bake/contexts.md
  content/manuals/compose/intro/compose-application-model.md
  content/manuals/desktop/previous-versions/edge-releases-mac.md
  content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/manuals/docker-hub/builds/link-source.md
  content/manuals/docker-hub/builds/manage-builds.md
  content/manuals/docker-hub/download-rate-limit.md
  content/manuals/docker-hub/quickstart.md
  content/manuals/engine/storage/drivers/zfs-driver.md
  content/manuals/engine/swarm/swarm-tutorial/_index.md
  content/manuals/extensions/settings-feedback.md
  content/manuals/security/for-admins/hardened-desktop/enhanced-container-isolation/limitations.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
  layouts/shortcodes/admin-domain-audit.md
  layouts/shortcodes/admin-image-access.html
  layouts/shortcodes/admin-org-audit-log.html
  layouts/shortcodes/admin-sso-management.md
  layouts/shortcodes/admin-users.html
Labels: area/build, area/compose, area/desktop, area/engine, area/swarm, area/security, area/get-started, area/hub, area/api, area/extensions, area/storage, hugo, dependencies

Update content/manuals/engine/swarm/how-swarm-mode-works/nodes.md
  content/manuals/engine/swarm/how-swarm-mode-works/nodes.md
Labels: area/engine, area/swarm

Update aci-ecs-eol.md
  content/includes/aci-ecs-eol.md
Labels: none

Update content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/manuals/desktop/previous-versions/edge-releases-windows.md
Labels: area/desktop

Update content/manuals/engine/release-notes/17.03.md
  content/manuals/engine/release-notes/17.03.md
Labels: area/engine

Update content/manuals/admin/organization/members.md
  content/manuals/admin/organization/members.md
Labels: area/admin

Update manage org docs for user invitation flow
  content/manuals/admin/organization/members.md
  layouts/shortcodes/admin-users.html
Labels: area/admin, hugo

Fix more typos/errors
  content/manuals/admin/organization/members.md
Labels: area/admin

Fix accept invite flow
  content/manuals/admin/organization/members.md
Labels: area/admin

Fix typos and links
  content/manuals/admin/organization/members.md
Labels: area/admin

Update admin-users.html
  layouts/shortcodes/admin-users.html
Labels: hugo

Update 09_image_best.md - 18-alpine image
  content/get-started/workshop/09_image_best.md
Labels: area/get-started

vale: add monorepo to vocabulary
  _vale/config/vocabularies/Docker/accept.txt
Labels: area/tests

enforce-sign-in-updates
  content/manuals/security/for-admins/enforce-sign-in/_index.md
  content/manuals/security/for-admins/enforce-sign-in/methods.md
  layouts/shortcodes/admin-registry-access.html
Labels: area/security, hugo

remove banner
  content/manuals/desktop/use-desktop/volumes.md
Labels: area/desktop

Update vmm.md
  content/manuals/desktop/features/vmm.md
Labels: area/desktop

remove banner (#21395)
  content/manuals/desktop/use-desktop/volumes.md
Labels: area/desktop

Update content/manuals/desktop/features/vmm.md
  content/manuals/desktop/features/vmm.md
Labels: area/desktop

Update content/manuals/desktop/features/vmm.md
  content/manuals/desktop/features/vmm.md
Labels: area/desktop

Update VMM page (#21396)
  content/manuals/desktop/features/vmm.md
Labels: area/desktop

ENGDOCS-2305
  _vale/Docker/Acronyms.yml
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
Labels: area/tests, area/security

edits
  content/manuals/security/for-admins/enforce-sign-in/methods.md
Labels: area/security

ENGDOCS-2306
  _vale/Docker/Acronyms.yml
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/security/for-admins/hardened-desktop/_index.md
  content/manuals/security/for-admins/hardened-desktop/air-gapped-containers.md
  content/manuals/security/for-admins/hardened-desktop/image-access-management.md
  layouts/shortcodes/admin-image-access.html
Labels: area/tests, area/security, hugo

hub: refresh overview
  content/manuals/docker-hub/_index.md
Labels: area/hub

hub: refresh quickstart (#21374)
  content/manuals/docker-hub/quickstart.md
Labels: area/hub

Update DH release notes to include OATs and PAT expiration
  content/manuals/docker-hub/release-notes.md
Labels: area/hub

docs: update links about docker desktop for linux
  content/get-started/get-docker.md
  content/get-started/introduction/get-docker-desktop.md
  content/manuals/desktop/_index.md
Labels: area/desktop, area/get-started

docs: remove interference option in docker engine install doc
  content/manuals/engine/install/_index.md
Labels: area/engine, area/install

ENGDOCS-2306 (#21398)
  _vale/Docker/Acronyms.yml
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/security/for-admins/hardened-desktop/_index.md
  content/manuals/security/for-admins/hardened-desktop/air-gapped-containers.md
  content/manuals/security/for-admins/hardened-desktop/image-access-management.md
  layouts/shortcodes/admin-image-access.html
Labels: area/tests, area/security, hugo

fix broken links
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/known-issues.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/topics.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/workarounds.md
  data/redirects.yml
Labels: area/desktop

fix broken links (#21408)
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/known-issues.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/topics.md
  content/manuals/desktop/troubleshoot-and-support/troubleshoot/workarounds.md
  data/redirects.yml
Labels: area/desktop

formatting
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
Labels: area/security

formatting
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
Labels: area/security

final formatting
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
Labels: area/security

Fix duplicated word
  content/manuals/build/building/best-practices.md
Labels: area/build

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/config:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - Makefile
          - compose.yaml
          - docker-bake.hcl
          - hugo.yaml
          - pagefind.yml

area/contrib:
  - changed-files:
      - any-glob-to-any-file:
          - content/contribute/**
          - CONTRIBUTING.md

area/tests:
  - changed-files:
      - any-glob-to-any-file:
          - .htmltest.yml
          - .markdownlint.json
          - .vale.ini
          - _vale/**
          - scripts/test_*

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/reference/cli/docker/buildx/**

area/build-cloud:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/build-cloud/**

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/compose/**
          - content/reference/compose-file/**
          - _vendor/github.com/docker/compose/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/**
          - content/reference/api/engine/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/desktop/install/**
          - content/manuals/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/security/**
          - content/manuals/engine/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**

area/guides:
  - changed-files:
      - any-glob-to-any-file:
          - content/guides/**
          - content/learning-paths/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/network/**
          - content/manuals/engine/daemon/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/reference/cli/**
          - _vendor/github.com/docker/cli/**
          - _vendor/github.com/docker/scout-cli/**
          - data/engine-cli/**
          - data/buildx-cli/**
          - data/debug-cli/**
          - data/init-cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/reference/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/admin/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/extensions/**
          - content/reference/api/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/storage/**

area/accounts:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/accounts/**

area/copilot:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/copilot/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - assets/**
          - hugo.yaml
          - hugo_stats.json
          - i18n/**
          - layouts/**
          - postcss.config.js
          - static/**
          - tailwind.config.js

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**
