Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/config, area/contrib, area/tests, area/build, area/build-cloud, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/guides, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/extensions, area/samples, area/storage, area/accounts, area/copilot, hugo, dependencies

Removed Java as a pre-requisite for Multi-Stage Build Concept page
  content/get-started/docker-concepts/building-images/multi-stage-builds.md
Labels: area/get-started

hub: refresh overview (#21399)
  content/manuals/docker-hub/_index.md
Labels: area/hub

eci: document Docker socket mount permission improvements.
  content/manuals/security/for-admins/hardened-desktop/enhanced-container-isolation/config.md
Labels: area/security

Remove _vendor/github.com/moby/moby/docs/api/v1.24.md changes
  _vendor/github.com/moby/moby/docs/api/v1.24.md
Labels: area/api, dependencies

Revert changes to match main
  _vendor/github.com/moby/moby/docs/api/v1.24.md
Labels: area/api, dependencies

Fix heading of scout/how-tos/artifact-types/
  content/manuals/scout/how-tos/artifact-types.md
Labels: area/scout

Update merge.yml
  .github/workflows/merge.yml
Labels: area/release

Apply suggestions from code review
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
Labels: area/security

ENGDOCS-2305 (#21397)
  _vale/Docker/Acronyms.yml
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure.md
Labels: area/tests, area/security

ENGDOCS-2315
  content/manuals/accounts/_index.md
  content/manuals/admin/_index.md
  content/manuals/build/_index.md
  content/manuals/compose/_index.md
  content/manuals/desktop/_index.md
  content/manuals/docker-hub/_index.md
  content/manuals/engine/_index.md
  content/manuals/extensions/_index.md
  content/manuals/subscription/_index.md
Labels: area/build, area/compose, area/desktop, area/engine, area/hub, area/subscription, area/admin, area/extensions, area/accounts

ENGDOCS-2315 (#21416)
  content/manuals/accounts/_index.md
  content/manuals/admin/_index.md
  content/manuals/build/_index.md
  content/manuals/compose/_index.md
  content/manuals/desktop/_index.md
  content/manuals/docker-hub/_index.md
  content/manuals/engine/_index.md
  content/manuals/extensions/_index.md
  content/manuals/subscription/_index.md
Labels: area/build, area/compose, area/desktop, area/engine, area/hub, area/subscription, area/admin, area/extensions, area/accounts

Fix: .docker hidden folder instead of docker
  content/manuals/compose/install/linux.md
Labels: area/compose

ENGDOCS-2181c
  content/guides/admin-set-up/comms-and-info-gathering.md
  content/manuals/desktop/release-notes.md
  content/manuals/scout/release-notes/cli.md
  content/manuals/security/for-admins/hardened-desktop/enhanced-container-isolation/_index.md
  content/manuals/security/for-admins/hardened-desktop/enhanced-container-isolation/config.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-admin-console.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-json-file.md
Labels: area/desktop, area/security, area/guides, area/scout

edit
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/desktop/release-notes.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-admin-console.md
Labels: area/tests, area/desktop, area/security

change title lengths
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-admin-console.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-json-file.md
Labels: area/security

scout: restructure learning path, add videos
  content/guides/docker-scout/_index.md
  content/guides/docker-scout/attestations.md
  content/guides/docker-scout/common-questions.md
  content/guides/docker-scout/demo.md
  content/guides/docker-scout/remediation.md
  content/guides/docker-scout/s3c.md
  content/guides/docker-scout/sbom.md
  content/guides/docker-scout/why.md
  content/manuals/build/metadata/attestations/_index.md
  content/manuals/scout/concepts/_index.md
  content/manuals/scout/policy/remediation.md
Labels: area/build, area/guides, area/scout

chore: regenerate hugo_stats.json
  hugo_stats.json
Labels: hugo

vale: do not flag "Admin Console"
  _vale/Docker/RecommendedWords.yml
  _vale/config/vocabularies/Docker/accept.txt
Labels: area/tests

Clarify enabling/disabling access
  content/manuals/admin/organization/manage-products.md
Labels: area/admin

Update TCC trial period and a few nits
  content/manuals/subscription/details.md
Labels: area/subscription

Replace node:18 with node:lts in 09_image_best.md
  content/get-started/workshop/09_image_best.md
Labels: area/get-started

Rename container.md to wcontainer.md
  content/manuals/desktop/use-desktop/wcontainer.md
Labels: area/desktop

Update .markdownlint.json
  .markdownlint.json
Labels: area/tests

Update and rename validate-upstream.yml to validate-stream.yml
  .github/workflows/validate-stream.yml
Labels: area/release

Update merge.yml
  .github/workflows/merge.yml
Labels: area/release

docs(localstack): fix formatting of code block
  content/guides/localstack.md
Labels: area/guides

Fix broken link anchor windows-install.md
  content/manuals/desktop/setup/install/windows-install.md
Labels: area/desktop

Fix broken link anchor windows-install.md (#21430)
  content/manuals/desktop/setup/install/windows-install.md
Labels: area/desktop

chore: remove Fedora 39 (EOL: November 12, 2024)
  content/manuals/desktop/setup/install/linux/fedora.md
Labels: area/desktop

guides: build compose projects with bake
  content/guides/compose-bake/index.md
Labels: area/guides

vale: add CI to acronym exceptions
  _vale/Docker/Acronyms.yml
Labels: area/tests

vale: update vocab
  _vale/config/vocabularies/Docker/accept.txt
Labels: area/tests

Small nit on SSO overview
  content/manuals/security/for-admins/single-sign-on/_index.md
Labels: area/security

Freshness for Docker accounts
  content/manuals/accounts/create-account.md
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/accounts/manage-account.md
Labels: area/accounts

refactor: move scripts and utils to hack/ directory
  Dockerfile
  Makefile
  docker-bake.hcl
  hack/releaser/Dockerfile
  hack/releaser/aws.go
  hack/releaser/cloudfront-lambda-redirects.js
  hack/releaser/go.mod
  hack/releaser/go.sum
  hack/releaser/main.go
  hack/releaser/redirects-prefixes.json
  hack/releaser/s3-config.json
  hack/test/go_redirects
  hack/test/unused_media
  hack/vendor
Labels: area/config

build(cloud): update dbc app links
  content/guides/admin-set-up/finalize-plans-and-setup.md
  content/manuals/billing/build-billing.md
  content/manuals/build-cloud/_index.md
  content/manuals/build-cloud/setup.md
  content/manuals/subscription/build-cloud/manage-seats.md
  data/redirects.yml
Labels: area/build-cloud, area/guides, area/billing, area/subscription

test: fix broken unused-media test
  Dockerfile
  hack/test/unused_media
Labels: area/config

chore: remove unused media files
  content/guides/images/c-sharp.webp
  content/guides/images/cpp.webp
  content/guides/images/golang.webp
  content/guides/images/java.webp
  content/guides/images/nodejs.webp
  content/guides/images/php-logo.webp
  content/guides/images/python.webp
  content/guides/images/ruby-on-rails.webp
  content/guides/images/rust-logo.webp
  content/manuals/admin/images/remove-owner.png
  content/manuals/desktop/images/diagnose-support.png
  content/manuals/desktop/images/troubleshoot.png
  content/manuals/desktop/setup/install/images/docker-app-in-apps.png
  content/manuals/docker-hub/images/index-tag.webp
  static/assets/images/green-check.svg
Labels: area/desktop, area/guides, area/hub, area/admin, hugo

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/config:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile
          - Makefile
          - compose.yaml
          - docker-bake.hcl
          - hugo.yaml
          - pagefind.yml

area/contrib:
  - changed-files:
      - any-glob-to-any-file:
          - content/contribute/**
          - CONTRIBUTING.md

area/tests:
  - changed-files:
      - any-glob-to-any-file:
          - .htmltest.yml
          - .markdownlint.json
          - .vale.ini
          - _vale/**
          - scripts/test_*

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/reference/cli/docker/buildx/**

area/build-cloud:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/build-cloud/**

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/compose/**
          - content/reference/compose-file/**
          - _vendor/github.com/docker/compose/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/**
          - content/reference/api/engine/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/desktop/install/**
          - content/manuals/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/security/**
          - content/manuals/engine/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**

area/guides:
  - changed-files:
      - any-glob-to-any-file:
          - content/guides/**
          - content/learning-paths/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/network/**
          - content/manuals/engine/daemon/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/reference/cli/**
          - _vendor/github.com/docker/cli/**
          - _vendor/github.com/docker/scout-cli/**
          - data/engine-cli/**
          - data/buildx-cli/**
          - data/debug-cli/**
          - data/init-cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/reference/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/admin/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/extensions/**
          - content/reference/api/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/engine/storage/**

area/accounts:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/accounts/**

area/copilot:
  - changed-files:
      - any-glob-to-any-file:
          - content/manuals/copilot/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - assets/**
          - hugo.yaml
          - hugo_stats.json
          - i18n/**
          - layouts/**
          - postcss.config.js
          - static/**
          - tailwind.config.js

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**
