Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

.github/labeler.yml:

area/release:
  - .github/**
  - _releaser/**
  - netlify.toml

area/build:
  - content/build/**
  - _vendor/github.com/moby/buildkit/**
  - _vendor/github.com/docker/buildx/**
  - content/engine/commandline/build*

area/compose:
  - content/compose/**
  - _vendor/github.com/docker/compose/**
  - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - any:
      [
        content/desktop/**,
        "!content/desktop/extensions/**",
        "!content/desktop/extensions-sdk/**",
      ]

area/engine:
  - any:
      [
        content/engine/**,
        content/config/**,
        "!content/engine/reference/commandline/*",
      ]

area/install:
  - content/desktop/install/**
  - content/engine/install/**

area/swarm:
  - content/engine/swarm/**

area/security:
  - content/security/**

area/get-started:
  - content/get-started/**
  - content/language/**

area/networking:
  - content/network/**
  - content/config/ipv6.md

area/hub:
  - content/docker-hub/**

area/cli:
  - content/engine/reference/commandline/**
  - _vendor/github.com/docker/cli/**

area/api:
  - content/engine/api/**
  - content/docker-hub/api/**
  - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - content/scout/**
  - _vendor/github.com/docker/scout-cli/**

area/billing:
  - content/billing/**

area/subscription:
  - content/subscription/**

area/admin:
  - content/admin/**

area/configuration:
  - content/config/**

area/extensions:
  - content/desktop/extensions/**
  - content/desktop/extensions-sdk/**

area/samples:
  - content/samples/**

area/storage:
  - content/storage/**

hugo:
  - layouts/**
  - hugo.yaml
  - tailwind.config.js
  - postcss.config.js
  - assets/**

dependencies:
  - go.mod
  - go.sum
  - package*.json
  - _vendor/**

Update what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Unify the "Next steps" sections at the end of each page
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update what-is-docker-compose.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Update what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

scout: refactor release notes
  content/release-notes.md
  content/scout/release-notes/cli.md
  content/scout/release-notes/platform.md
  data/toc.yaml
Labels: area/scout

desktop: remove artifactory tab
  content/desktop/use-desktop/images.md
Labels: area/desktop

add definitions of COMPOSE_MENU and COMPOSE_EXPERIMENTAL env variables for Compose
  content/compose/environment-variables/envvars.md
Labels: area/compose

COMPOSE_MENU and COMPOSE_EXPERIMENTAL - Apply suggestions from code review
  content/compose/environment-variables/envvars.md
Labels: area/compose

reflect latest ui
  content/compose/compose-file/05-services.md
  content/compose/compose-file/07-volumes.md
  content/desktop/synchronized-file-sharing.md
Labels: area/compose, area/desktop

Update content/compose/environment-variables/envvars.md
  content/compose/environment-variables/envvars.md
Labels: area/compose

ENGDOCS-2037
  content/desktop/hardened-desktop/enhanced-container-isolation/config.md
  data/toc.yaml
Labels: area/desktop

ds-950
  content/desktop/troubleshoot/overview.md
Labels: area/desktop

ENGDOCS-2038
  content/desktop/hardened-desktop/settings-management/_index.md
  content/desktop/hardened-desktop/settings-management/configure.md
Labels: area/desktop

ENGDOCS-2038
  content/desktop/hardened-desktop/settings-management/configure.md
Labels: area/desktop

Remove text saying that host networking is a paid feature
  content/network/drivers/host.md
Labels: area/networking

re-write with D.Scott's info
  content/desktop/hardened-desktop/settings-management/air-gapped-containers.md
  content/desktop/hardened-desktop/settings-management/configure.md
  data/toc.yaml
Labels: area/desktop

ENGDOCS-2039
  content/desktop/_index.md
Labels: area/desktop

rootless: ubuntu 24.04 restricts unprivileged userns
  content/engine/security/rootless.md
Labels: none

WiP
  content/compose/bridge/_index.md
  content/compose/bridge/templates.md
  content/compose/bridge/transformation.md
Labels: area/compose

scout: vulnerability exceptions m1
  content/scout/exceptions.md
  content/scout/guides/vex.md
  data/redirects.yml
  data/toc.yaml
Labels: area/scout

ENGDOCS-2010 (#19596)
  content/compose/compose-file/05-services.md
Labels: area/compose

ENGDOCS-2040
  content/compose/compose-file/05-services.md
Labels: area/compose
