Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**

few formatting changes
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Added missing steps for VS Code
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/images/clone-the-repo.webp
Labels: none

doc: finalize 4.31.0 build number
  content/desktop/release-notes.md
Labels: area/desktop

remove and update callouts
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/security/for-admins/provisioning/just-in-time.md
  content/security/for-admins/provisioning/scim.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-users.md
Labels: area/security, hugo

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

changed the title to Get Docker Desktop
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/get-docker-desktop.md
  data/toc.yaml
Labels: none

Modified Additional setup instructions to Install Instructions
  content/guides/docker-concepts/getting-started/get-docker-desktop.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Apply suggestions from code review
  content/desktop/release-notes.md
Labels: area/desktop

ENGDOCS-2117
  content/desktop/previous-versions/2.x-mac.md
  content/desktop/previous-versions/2.x-windows.md
  content/desktop/previous-versions/3.x-mac.md
  content/desktop/previous-versions/3.x-windows.md
  content/desktop/previous-versions/archive-mac.md
  content/desktop/previous-versions/archive-windows.md
  content/desktop/previous-versions/edge-releases-mac.md
  content/desktop/previous-versions/edge-releases-windows.md
Labels: area/desktop

Add proxyEnableKerberosNTLM to documentation
  content/desktop/settings/windows.md
Labels: area/desktop

document proxyEnableKerberosNTLM config
  content/desktop/settings/windows.md
Labels: area/desktop

ENGDOCS-2118
  content/compose/environment-variables/envvars.md
Labels: area/compose

Mention to extension developers they might need to change DD settings in order to test their extension being developed (#20136)
  content/desktop/extensions-sdk/quickstart.md
Labels: area/desktop, area/extensions

Docker Desktop 4.31.0 (#20114)
  content/desktop/release-notes.md
  layouts/shortcodes/desktop-install.html
Labels: area/desktop, hugo

ENGDOCS-2107 (#20117)
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

ENGDOCS-2105 (#20092)
  content/desktop/hardened-desktop/air-gapped-containers.md
  content/desktop/hardened-desktop/settings-management/_index.md
  content/desktop/hardened-desktop/settings-management/configure.md
Labels: area/desktop

ENGDOCS-2108 (#20118)
  content/desktop/settings/mac.md
Labels: area/desktop

add tabs for admin console
  content/admin/organization/manage-a-team.md
  content/admin/organization/members.md
Labels: area/admin

update faq
  content/billing/faqs.md
Labels: area/billing

update vale
  .github/vale/Docker/Acronyms.yml
Labels: area/release

ENGDOCS-2118 (#20163)
  content/compose/environment-variables/envvars.md
Labels: area/compose

remove and update callouts (#20158)
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/security/for-admins/provisioning/just-in-time.md
  content/security/for-admins/provisioning/scim.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-users.md
Labels: area/security, hugo

add tabs
  content/admin/organization/manage-a-team.md
  content/admin/organization/members.md
Labels: area/admin

fix missing word in secrets documentation
  content/build/building/secrets.md
Labels: area/build

chore: remove duplicate content paths
  content/compose/install/standalone.md
  content/config/containers/resource_constraints.md
  content/desktop/get-started.md
  content/docker-hub/quickstart.md
  content/engine/install/rhel.md
  content/network/drivers/bridge.md
  content/reference/_index.md
  content/reference/cli/docker/stack/ps.md
Labels: area/compose, area/desktop, area/engine, area/install, area/networking, area/hub, area/configuration

chore: fix incorrect redirect for oci/docker exporter
  content/build/exporters/oci-docker.md
Labels: area/build

ENGDOCS-2117 (#20160)
  content/desktop/previous-versions/2.x-mac.md
  content/desktop/previous-versions/2.x-windows.md
  content/desktop/previous-versions/3.x-mac.md
  content/desktop/previous-versions/3.x-windows.md
  content/desktop/previous-versions/archive-mac.md
  content/desktop/previous-versions/archive-windows.md
  content/desktop/previous-versions/edge-releases-mac.md
  content/desktop/previous-versions/edge-releases-windows.md
Labels: area/desktop

engine: 26.1.4 release notes
  content/engine/release-notes/26.1.md
  hugo.yaml
Labels: area/engine, hugo

c8d: move note about switching content stores
  content/desktop/containerd.md
Labels: area/desktop

engine: rhel x86_64/aarch64 experimental support
  content/engine/install/_index.md
  content/engine/install/rhel.md
  data/toc.yaml
Labels: area/engine, area/install

build(dockerignore): leading and trailing slashes are ignored
  content/build/building/context.md
Labels: area/build

add known issue for windows
  content/desktop/release-notes.md
Labels: area/desktop
