Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

Formatting changes
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Added few tips
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Few formatting changes
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Formatted tabs and fixed semicolons
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

feat(wip): persistent tab groups
  assets/js/src/alpine.js
  layouts/partials/head.html
  layouts/shortcodes/tabs.html
  package-lock.json
  package.json
Labels: hugo, dependencies

Adjustments to the "What is a registry?" page
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update YouTube embeds with the uploaded versions
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Added an instruction for compose file
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Create shortcode for youtube embeds and ensure they are responsive
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
  layouts/shortcodes/youtube-embed.html
Labels: hugo

Persist tab group selection of hands-on tabs
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Adjustments to the Compose page
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Fix a couple of broken links
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Fix validation errors
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
  hugo_stats.json
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-docker-compose.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Update content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

.github/labeler.yml:

area/release:
  - .github/**
  - _releaser/**
  - netlify.toml

area/build:
  - content/build/**
  - _vendor/github.com/moby/buildkit/**
  - _vendor/github.com/docker/buildx/**
  - content/engine/commandline/build*

area/compose:
  - content/compose/**
  - _vendor/github.com/docker/compose/**
  - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - any:
      [
        content/desktop/**,
        "!content/desktop/extensions/**",
        "!content/desktop/extensions-sdk/**",
      ]

area/engine:
  - any:
      [
        content/engine/**,
        content/config/**,
        "!content/engine/reference/commandline/*",
      ]

area/install:
  - content/desktop/install/**
  - content/engine/install/**

area/swarm:
  - content/engine/swarm/**

area/security:
  - content/security/**

area/get-started:
  - content/get-started/**
  - content/language/**

area/networking:
  - content/network/**
  - content/config/ipv6.md

area/hub:
  - content/docker-hub/**

area/cli:
  - content/engine/reference/commandline/**
  - _vendor/github.com/docker/cli/**

area/api:
  - content/engine/api/**
  - content/docker-hub/api/**
  - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - content/scout/**
  - _vendor/github.com/docker/scout-cli/**

area/billing:
  - content/billing/**

area/subscription:
  - content/subscription/**

area/admin:
  - content/admin/**

area/configuration:
  - content/config/**

area/extensions:
  - content/desktop/extensions/**
  - content/desktop/extensions-sdk/**

area/samples:
  - content/samples/**

area/storage:
  - content/storage/**

hugo:
  - layouts/**
  - hugo.yaml
  - tailwind.config.js
  - postcss.config.js
  - assets/**

dependencies:
  - go.mod
  - go.sum
  - package*.json
  - _vendor/**
