Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

Update content/desktop/release-notes.md
  content/desktop/release-notes.md
Labels: area/desktop

Update content/desktop/release-notes.md
  content/desktop/release-notes.md
Labels: area/desktop

add known issue for windows (#20177)
  content/desktop/release-notes.md
Labels: area/desktop

containerd: add migration guide
  content/desktop/containerd.md
Labels: area/desktop

Update content/desktop/settings/windows.md
  content/desktop/settings/windows.md
Labels: area/desktop

document proxyEnableKerberosNTLM config (#20162)
  content/desktop/settings/windows.md
Labels: area/desktop

build: consolidate building best practices
  content/build/building/base-images.md
  content/build/building/best-practices.md
  content/build/guide/layers.md
  content/develop/develop-images/dockerfile_best-practices.md
  content/develop/develop-images/guidelines.md
  content/develop/security-best-practices.md
  content/docker-hub/builds/_index.md
  content/get-started/09_image_best.md
  content/language/_index.md
  content/scout/policy/remediation.md
  content/storage/storagedriver/_index.md
  content/trusted-content/official-images/_index.md
  data/redirects.yml
  data/toc.yaml
Labels: area/build, area/get-started, area/hub, area/scout, area/storage

guides: remove develop with docker section
  content/build/building/best-practices.md
  content/build/images/hub-official-images.webp
  content/compose/gettingstarted.md
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/rhel.md
  content/desktop/install/ubuntu.md
  content/develop/_index.md
  content/develop/dev-best-practices.md
  content/develop/security-best-practices.md
  content/engine/install/binaries.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/linux-postinstall.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/sles.md
  content/engine/install/ubuntu.md
  content/guides/_index.md
  content/language/_index.md
  data/toc.yaml
Labels: area/build, area/compose, area/desktop, area/engine, area/install, area/get-started

removed main.log
  main.log
Labels: none

build: gha build job summary
  content/build/ci/github-actions/build-summary.md
  content/build/ci/images/build_summary_error.png
  content/build/ci/images/gha_build_summary.png
  data/toc.yaml
Labels: area/build

build: update builds view doc with new tab names
  content/desktop/use-desktop/builds.md
Labels: area/desktop

build: import build records in Docker Desktop
  content/build/ci/github-actions/build-summary.md
  content/desktop/use-desktop/builds.md
Labels: area/build, area/desktop

redirects: add go-redirect for build imports in DD
  data/redirects.yml
Labels: none

redirects: add go-redirect for gha build summary
  data/redirects.yml
Labels: none

//.
  .vscode/settings.json
Labels: none

fix li
  content/admin/organization/manage-a-team.md
Labels: area/admin

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

ENGDOCS-2003b
  content/compose/environment-variables/_index.md
  content/compose/environment-variables/best-practices.md
  content/compose/environment-variables/env-file.md
  content/compose/environment-variables/envvars-precedence.md
  content/compose/environment-variables/envvars.md
  content/compose/environment-variables/set-environment-variables.md
  content/compose/environment-variables/variable-interpolation.md
  data/toc.yaml
Labels: area/compose

doc(desktop): add known issue from 4.29 to 4.30 release notes
  content/desktop/release-notes.md
Labels: area/desktop

Update content/desktop/release-notes.md
  content/desktop/release-notes.md
Labels: area/desktop

doc(desktop): add known issue from 4.30 to 4.31 release notes (#20191)
  content/desktop/release-notes.md
Labels: area/desktop

doc(docker-desktop): release notes 4.31.1
  content/desktop/release-notes.md
Labels: area/desktop

Release notes for Builds view in DD 4.31
  content/desktop/release-notes.md
Labels: area/desktop

build(gha): update minimal actions release for build summary support
  content/build/ci/github-actions/build-summary.md
Labels: area/build

redirect
  content/compose/environment-variables/variable-interpolation.md
  content/compose/migrate.md
Labels: area/compose

lint fix
  content/compose/migrate.md
Labels: area/compose

doc(docker-desktop): update 4.31.1 build number
  content/desktop/release-notes.md
Labels: area/desktop

lint fix
  content/compose/environment-variables/variable-interpolation.md
Labels: area/compose

build: add beta badge to build summary
  data/toc.yaml
Labels: none

ENGDOCS-2003b (#20188)
  content/compose/environment-variables/_index.md
  content/compose/environment-variables/best-practices.md
  content/compose/environment-variables/env-file.md
  content/compose/environment-variables/envvars-precedence.md
  content/compose/environment-variables/envvars.md
  content/compose/environment-variables/set-environment-variables.md
  content/compose/environment-variables/variable-interpolation.md
  content/compose/migrate.md
  data/toc.yaml
Labels: area/compose

ENGDOCS-2103
  content/desktop/install/mac-install.md
  content/desktop/install/windows-install.md
  content/security/for-admins/domain-audit.md
Labels: area/desktop, area/install, area/security

edit
  content/desktop/install/mac-install.md
  content/desktop/install/windows-install.md
  content/security/for-admins/domain-audit.md
Labels: area/desktop, area/install, area/security

edit
  content/desktop/install/mac-install.md
  content/desktop/install/windows-install.md
  content/security/for-admins/domain-audit.md
Labels: area/desktop, area/install, area/security

Add banner and update billing docs (#20145)
  .github/vale/Docker/Acronyms.yml
  content/billing/core-billing/cycle.md
  content/billing/core-billing/details.md
  content/billing/core-billing/get-started-core.md
  content/billing/core-billing/history.md
  content/billing/core-billing/payment-method.md
  content/billing/faqs.md
  content/includes/tax-compliance.md
  content/subscription/core-subscription/add-seats.md
  content/subscription/core-subscription/upgrade.md
Labels: area/release, area/billing, area/subscription

Docker Desktop 4.31.1 (#20179)
  content/desktop/release-notes.md
Labels: area/desktop

Update jupyter.md for minor spelling from 'Dockefile' to 'Dockerfile'
  content/guides/use-case/jupyter.md
Labels: none

vendor: github.com/moby/buildkit v0.14.0-rc2.0.20240610193248-7da4d591c4dc
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/consistent-instruction-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/duplicate-stage-name.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/file-consistent-command-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/from-as-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/json-args-recommended.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/legacy-key-value-format.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/maintainer-deprecated.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/multiple-instructions-disallowed.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/no-empty-continuations.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/reserved-stage-name.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/stage-name-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/undefined-arg-in-from.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/undefined-var.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/workdir-relative-path.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/build, dependencies

add integration steps and scim set up note
  content/security/for-admins/provisioning/scim.md
  content/security/for-admins/single-sign-on/_index.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  layouts/shortcodes/admin-sso-config.md
Labels: area/security, hugo

vale fixes
  .github/vale/config/vocabularies/Docker/accept.txt
  content/security/for-admins/single-sign-on/configure/configure-idp.md
Labels: area/release, area/security

vendor build checks reference
  data/toc.yaml
  hugo.yaml
Labels: hugo

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**
