Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

search: clip overflowing excerpt
  layouts/partials/search.html
Labels: hugo

search: fix pagefind path in production
  Dockerfile
Labels: none

update description
  content/billing/core-billing/buy-core.md
Labels: area/billing

implement feedback
  content/billing/_index.md
  content/billing/build-billing.md
  content/billing/core-billing/get-started-core.md
  content/billing/scout-billing.md
  data/toc.yaml
Labels: area/billing

Update and standardized billing pages (#20137)
  content/admin/organization/orgs.md
  content/billing/_index.md
  content/billing/build-billing.md
  content/billing/core-billing/get-started-core.md
  content/billing/scout-billing.md
  content/subscription/core-subscription/details.md
  data/toc.yaml
Labels: area/billing, area/subscription, area/admin

add tax banner and update billing faq
  content/billing/core-billing/cycle.md
  content/billing/core-billing/details.md
  content/billing/core-billing/get-started-core.md
  content/billing/core-billing/history.md
  content/billing/core-billing/payment-method.md
  content/billing/faqs.md
  content/includes/tax-compliance.md
  content/subscription/core-subscription/add-seats.md
  content/subscription/core-subscription/upgrade.md
Labels: area/billing, area/subscription

fix: add release-notes tag to engine release note
  content/engine/release-notes/26.1.md
Labels: area/engine

get-started: add .dockerignore earlier in guide
  content/get-started/02_our_app.md
  content/get-started/09_image_best.md
Labels: area/get-started

ENGDOCS-2109 (#20124)
  content/desktop/settings/linux.md
  content/desktop/settings/mac.md
  content/desktop/settings/windows.md
Labels: area/desktop

engine: remove centos 8 (EOL)
  content/engine/install/centos.md
  content/engine/security/rootless.md
Labels: area/engine, area/install

engine(centos-install): bump docker-ce example versions
  content/engine/install/centos.md
Labels: area/engine, area/install

review comments
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

updated description for always-run-service (#20125)
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

grammar fix
  content/desktop/install/mac-install.md
Labels: area/desktop, area/install

grammar fix (#20149)
  content/desktop/install/mac-install.md
Labels: area/desktop, area/install

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

latest docs changes and additions
  content/desktop/install/msi/_index.md
  content/desktop/install/msi/analytics.md
  content/desktop/install/msi/faq.md
  content/desktop/install/msi/install-and-configure.md
Labels: area/desktop, area/install

doc: bump containerd v1.6.32 -> v1.6.33
  content/desktop/release-notes.md
Labels: area/desktop

latest docs changes and additions
  content/desktop/install/msi/install-and-configure.md
Labels: area/desktop, area/install

fix toc
  data/toc.yaml
Labels: none

fix toc
  content/desktop/install/msi/install-and-configure.md
Labels: area/desktop, area/install

The word "container" should be changed to "image" for factual correctness. (#20133)
  content/get-started/05_persisting_data.md
Labels: area/get-started

Update content/language/cpp/containerize.md
  content/language/cpp/containerize.md
Labels: area/get-started

docs: add language specific guide for c++ (#19903)
  content/language/_index.md
  content/language/cpp/_index.md
  content/language/cpp/configure-ci-cd.md
  content/language/cpp/containerize.md
  content/language/cpp/deploy.md
  content/language/cpp/develop.md
  content/language/images/cpp.webp
  data/toc.yaml
Labels: area/get-started

Removed a statement based on review
  content/guides/docker-concepts/getting-started/develop-with-containers.md
Labels: none

doc: bump docker v26.1.3 -> v26.1.4
  content/desktop/release-notes.md
Labels: area/desktop

Added link to the zip file
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**
