Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**

Engdocs 2080 (#19953)
  content/compose/compose-file/05-services.md
  content/compose/compose-file/06-networks.md
  content/compose/compose-file/07-volumes.md
  content/compose/compose-file/08-configs.md
  content/compose/compose-file/10-fragments.md
  content/compose/compose-file/11-extension.md
  content/compose/compose-file/12-interpolation.md
  content/compose/compose-file/13-merge.md
  content/compose/compose-file/build.md
  content/compose/compose-file/deploy.md
  content/compose/compose-file/develop.md
  content/compose/file-watch.md
  content/compose/multiple-compose-files/include.md
  content/compose/profiles.md
  content/compose/use-secrets.md
  content/includes/compose/build.md
  content/includes/compose/configs.md
  content/includes/compose/configure-watch.md
  content/includes/compose/deploy.md
  content/includes/compose/extension.md
  content/includes/compose/fragments.md
  content/includes/compose/include.md
  content/includes/compose/interpolation.md
  content/includes/compose/merge.md
  content/includes/compose/networks.md
  content/includes/compose/profiles.md
  content/includes/compose/secrets.md
  content/includes/compose/services-depends-on.md
  content/includes/compose/services-develop.md
  content/includes/compose/services-env-file.md
  content/includes/compose/services-environment.md
  content/includes/compose/services-healthcheck.md
  content/includes/compose/services-networks.md
  content/includes/compose/services-ports.md
  content/includes/compose/services-secrets.md
  content/includes/compose/services-volumes.md
  content/includes/compose/services.md
  content/includes/compose/volumes.md
  content/includes/compose/watch.md
Labels: area/compose

hugo: add data-include shortcode
  layouts/shortcodes/data-include.html
Labels: hugo

hugo: add uistrings data file
  data/uistrings.yaml
Labels: none

hugo: add uistrings.json output type
  hugo.yaml
  layouts/index.uistrings.json
Labels: hugo

compose: use data-include for compose uistrings
  content/compose/compose-file/05-services.md
  content/compose/compose-file/06-networks.md
  content/compose/compose-file/07-volumes.md
  content/compose/compose-file/08-configs.md
  content/compose/compose-file/10-fragments.md
  content/compose/compose-file/11-extension.md
  content/compose/compose-file/12-interpolation.md
  content/compose/compose-file/13-merge.md
  content/compose/compose-file/build.md
  content/compose/compose-file/deploy.md
  content/compose/compose-file/develop.md
  content/compose/file-watch.md
  content/compose/multiple-compose-files/include.md
  content/compose/profiles.md
  content/compose/use-secrets.md
  content/includes/compose/build.md
  content/includes/compose/configs.md
  content/includes/compose/configure-watch.md
  content/includes/compose/deploy.md
  content/includes/compose/extension.md
  content/includes/compose/fragments.md
  content/includes/compose/include.md
  content/includes/compose/interpolation.md
  content/includes/compose/merge.md
  content/includes/compose/networks.md
  content/includes/compose/profiles.md
  content/includes/compose/secrets.md
  content/includes/compose/services-depends-on.md
  content/includes/compose/services-develop.md
  content/includes/compose/services-env-file.md
  content/includes/compose/services-environment.md
  content/includes/compose/services-healthcheck.md
  content/includes/compose/services-networks.md
  content/includes/compose/services-ports.md
  content/includes/compose/services-secrets.md
  content/includes/compose/services-volumes.md
  content/includes/compose/services.md
  content/includes/compose/volumes.md
  content/includes/compose/watch.md
Labels: area/compose

Added a new page for Sharing local files with containers
  content/guides/docker-concepts/running-containers/images/delete-the-container.webp
  content/guides/docker-concepts/running-containers/images/deleted-files.webp
  content/guides/docker-concepts/running-containers/images/mounted-files.webp
  content/guides/docker-concepts/running-containers/persisting-container-data.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
  data/toc.yaml
Labels: none

Formatting changes
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Fixed few links
  content/guides/docker-concepts/running-containers/persisting-container-data.md
Labels: none

test: remove pointless validation step
  Dockerfile
  docker-bake.hcl
Labels: none

build: make release the default build stage
  Dockerfile
Labels: none

Add steps to deactivate orgs in Admin Console (#20046)
  content/admin/deactivate-account.md
Labels: area/admin

test: add coarse test for unused media files
  scripts/test_unused_media.sh
Labels: none

test: add build targets for unused media test
  Dockerfile
  docker-bake.hcl
Labels: none

chore: remove migration script
  scripts/migrate.py
Labels: none

Fixed links
  content/guides/docker-concepts/running-containers/images/delete-httpd-container.webp
  content/guides/docker-concepts/running-containers/persisting-container-data.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

ci: add unused-media target to validate matrix
  .github/workflows/build.yml
Labels: area/release

Few fixes using vale
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Revised a tip
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

docs: fix extension in example
  content/compose/multiple-compose-files/extends.md
Labels: area/compose

docs: fix extension in example (#20069)
  content/compose/multiple-compose-files/extends.md
Labels: area/compose

Update vm-vdi.md
  content/desktop/vm-vdi.md
Labels: area/desktop

clarify variables and .env file usage for interpolation
  content/compose/environment-variables/envvars-precedence.md
  content/compose/environment-variables/envvars.md
  content/compose/environment-variables/variables.md
Labels: area/compose

clarification on environment variable use with docker compose
  content/compose/environment-variables/_index.md
  content/compose/environment-variables/envvars-precedence.md
  content/compose/environment-variables/interpolation.md
  content/compose/environment-variables/set-environment-variables.md
Labels: area/compose

Update provisioning pages and add group mapping steps (#20016)
  .github/vale/config/vocabularies/Docker/accept.txt
  content/_index.md
  content/admin/company/_index.md
  content/admin/company/owners.md
  content/admin/faqs/company-faqs.md
  content/admin/faqs/organization-faqs.md
  content/admin/organization/_index.md
  content/admin/organization/general-settings.md
  content/docker-hub/_index.md
  content/docker-hub/api/latest.yaml
  content/security/_index.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/security/for-admins/group-mapping.md
  content/security/for-admins/provisioning/group-mapping.md
  content/security/for-admins/provisioning/just-in-time.md
  content/security/for-admins/provisioning/scim.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
  content/security/for-admins/single-sign-on/manage/_index.md
  content/subscription/core-subscription/details.md
  data/toc.yaml
  layouts/shortcodes/admin-domain-audit.md
  layouts/shortcodes/admin-org-onboarding.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-users.md
  layouts/shortcodes/admin-users.html
Labels: area/release, area/security, area/hub, area/api, area/subscription, area/admin, hugo

update urls and release phase
  content/accounts/_index.md
  content/accounts/deactivate-user-account.md
  content/accounts/manage-account.md
  content/admin/convert-account.md
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
  content/security/for-developers/2fa/recover-hub-account.md
  content/security/for-developers/access-tokens.md
Labels: area/security, area/admin

Rephrased the tip
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update vm-vdi.md (#20072)
  content/desktop/vm-vdi.md
Labels: area/desktop

ENGDOCS-2080b
  content/compose/compose-file/05-services.md
  content/includes/compose/extension.md
  content/includes/compose/merge.md
  content/includes/compose/services-healthcheck.md
  content/includes/compose/services-networks.md
  content/includes/compose/services-secrets.md
  content/includes/compose/services-volumes.md
Labels: area/compose

ENGDOCS-2080b
  content/compose/compose-file/11-extension.md
Labels: area/compose

Update content/compose/compose-file/05-services.md
  content/compose/compose-file/05-services.md
Labels: area/compose

Update content/desktop/install/windows-install.md
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

Docker Desktop on Windows Server support statement (#20056)
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

ENGDOCS-2104
  content/desktop/networking.md
  content/desktop/release-notes.md
  content/desktop/use-desktop/container.md
Labels: area/desktop

vendor: github.com/docker/buildx v0.14.1
  _vendor/modules.txt
  go.mod
  go.sum
Labels: dependencies

remove dev env links from samples
  data/samples.yaml
  layouts/samples/single.html
Labels: hugo

refresh admin and security pages
  content/admin/company/_index.md
  content/admin/company/new-company.md
  content/admin/company/owners.md
  content/admin/faqs/company-faqs.md
  content/admin/faqs/general-faqs.md
  content/admin/faqs/organization-faqs.md
  content/security/faqs/single-sign-on/domain-faqs.md
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/faqs.md
  content/subscription/core-subscription/add-seats.md
  layouts/shortcodes/admin-org-onboarding.md
Labels: area/security, area/subscription, area/admin, hugo

fixes to windows-install
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none
