Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

ENGDOCS-2104 (#20081)
  content/desktop/networking.md
  content/desktop/release-notes.md
  content/desktop/use-desktop/container.md
Labels: area/desktop

Added a tip for volume mount flag
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

Update content/guides/docker-concepts/running-containers/sharing-local-files.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
Labels: none

redirect: add alias for /get-started/hands-on-overview/
  content/get-started/_index.md
Labels: area/get-started

ENGDOCS-2080b (#20080)
  content/compose/compose-file/05-services.md
  content/compose/compose-file/11-extension.md
  content/includes/compose/extension.md
  content/includes/compose/merge.md
  content/includes/compose/services-healthcheck.md
  content/includes/compose/services-networks.md
  content/includes/compose/services-secrets.md
  content/includes/compose/services-volumes.md
Labels: area/compose

ENGDOCS-2080c
  content/compose/compose-file/05-services.md
  content/compose/compose-file/07-volumes.md
Labels: area/compose

fixes to windows-install (#20085)
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

redirect-air-gapped
  content/desktop/hardened-desktop/air-gapped-containers.md
Labels: area/desktop

search: pagefind v1.1.0
  .gitignore
  Dockerfile
  assets/css/global.css
  assets/js/src/search.js
  docker-bake.hcl
  hugo_stats.json
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/baseof.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/partials/breadcrumbs.html
  layouts/partials/head.html
  layouts/partials/pagemeta.html
  layouts/partials/search.html
  netlify.toml
  package-lock.json
  package.json
  pagefind.yml
Labels: area/release, hugo, dependencies

redirect-air-gapped (#20091)
  content/desktop/hardened-desktop/air-gapped-containers.md
Labels: area/desktop

ENGDOCS-2015
  content/desktop/hardened-desktop/air-gapped-containers.md
  content/desktop/hardened-desktop/settings-management/_index.md
  content/desktop/hardened-desktop/settings-management/configure.md
Labels: area/desktop

fix callout
  content/desktop/hardened-desktop/air-gapped-containers.md
Labels: area/desktop

ENGDOCS-2072b
  content/admin/faqs/organization-faqs.md
  content/desktop/extensions/private-marketplace.md
  content/desktop/get-started.md
  content/desktop/hardened-desktop/air-gapped-containers.md
  content/desktop/hardened-desktop/enhanced-container-isolation/_index.md
  content/desktop/hardened-desktop/settings-management/_index.md
  content/desktop/hardened-desktop/settings-management/configure.md
  content/docker-hub/_index.md
  content/docker-hub/release-notes.md
  content/security/_index.md
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/security/for-admins/domain-audit.md
  content/security/for-admins/enforce-sign-in/_index.md
  content/security/for-admins/enforce-sign-in/methods.md
  content/security/for-admins/image-access-management.md
  content/security/for-admins/registry-access-management.md
  data/toc.yaml
  layouts/shortcodes/admin-org-onboarding.md
Labels: area/desktop, area/security, area/hub, area/admin, area/extensions, hugo

style guide addition
  content/contribute/style/grammar.md
Labels: none

ENGDOCS-2080c (#20090)
  content/compose/compose-file/05-services.md
  content/compose/compose-file/07-volumes.md
Labels: area/compose

remove dev env links from samples (#20083)
  data/samples.yaml
  layouts/samples/single.html
Labels: hugo

Add a new guide "Sharing local files with containers" (#20068)
  content/guides/docker-concepts/running-containers/images/delete-httpd-container.webp
  content/guides/docker-concepts/running-containers/images/delete-the-container.webp
  content/guides/docker-concepts/running-containers/images/deleted-files.webp
  content/guides/docker-concepts/running-containers/images/mounted-files.webp
  content/guides/docker-concepts/running-containers/persisting-container-data.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
  data/toc.yaml
Labels: none

remove ea from hub categories
  content/docker-hub/repos/categories.md
Labels: area/hub

add release note
  content/docker-hub/release-notes.md
Labels: area/hub
