Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

Update deprecated syntax usage + minor text improvements (#20120)
  content/compose/compose-file/07-volumes.md
Labels: area/compose

reviews
  content/desktop/release-notes.md
Labels: area/desktop

ENGDOCS-2109
  content/desktop/settings/mac.md
Labels: area/desktop

ENGDOCS-2109
  content/desktop/settings/linux.md
  content/desktop/settings/mac.md
  content/desktop/settings/windows.md
Labels: area/desktop

ENGDOCS-2109
  content/desktop/settings/linux.md
  content/desktop/settings/mac.md
  content/desktop/settings/windows.md
Labels: area/desktop

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

updated description for always-run-service
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

updated always-run-service
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

review comments
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

feedback updates
  content/accounts/_index.md
  content/accounts/deactivate-user-account.md
  content/accounts/manage-account.md
  content/admin/convert-account.md
  content/admin/faqs/general-faqs.md
  content/docker-hub/builds/link-source.md
  content/docker-hub/images/docker-hub-repo-settings-menu.png
  content/docker-hub/repos/_index.md
  content/docker-id/_index.md
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
  content/security/for-developers/2fa/recover-hub-account.md
  content/security/for-developers/access-tokens.md
Labels: area/security, area/hub, area/admin

Rename ci.md to ci.md deep4clean.wordpress.com
  content/build/cloud/ci.md deep4clean
Labels: area/build

Added video for get started guides
  content/guides/docker-concepts/getting-started/develop-with-containers.md
  main.log
Labels: none

fix url
  content/security/for-admins/registry-access-management.md
Labels: area/security

fix url (#20131)
  content/security/for-admins/registry-access-management.md
Labels: area/security

Create jekyll-gh-pages.yml
  .github/workflows/jekyll-gh-pages.yml
Labels: area/release

The word "container" should be changed to "image" for factual correctness.
  content/get-started/05_persisting_data.md
Labels: area/get-started

Update run-tests.md
  content/language/nodejs/run-tests.md
Labels: area/get-started

doc: remove one highlight
  content/desktop/release-notes.md
Labels: area/desktop

Update content/desktop/settings/windows.md
  content/desktop/settings/windows.md
Labels: area/desktop

engine: consolidate troubleshooting to single page
  content/config/containers/resource_constraints.md
  content/config/daemon/troubleshoot.md
  content/engine/install/troubleshoot.md
  content/storage/troubleshooting_volume_errors.md
  data/toc.yaml
Labels: area/engine, area/install, area/configuration, area/storage

engine: move remote api access through firewall to remote-access.md
  content/config/daemon/remote-access.md
  content/config/daemon/troubleshoot.md
Labels: area/engine, area/configuration

Mention to extension developers they might need to change DD settings in order to test their extension being developped
  content/desktop/extensions-sdk/quickstart.md
Labels: area/desktop, area/extensions

Update content/desktop/extensions-sdk/quickstart.md
  content/desktop/extensions-sdk/quickstart.md
Labels: area/desktop, area/extensions

Update content/language/cpp/develop.md
  content/language/cpp/develop.md
Labels: area/get-started

add new biling page
  content/admin/organization/orgs.md
  content/billing/_index.md
  content/billing/build-billing.md
  content/billing/core-billing/buy-core.md
  content/subscription/core-subscription/details.md
  data/toc.yaml
Labels: area/billing, area/subscription, area/admin

Update content/guides/docker-concepts/getting-started/get-docker.md
  content/guides/docker-concepts/getting-started/get-docker.md
Labels: none

Update content/guides/docker-concepts/getting-started/get-docker.md
  content/guides/docker-concepts/getting-started/get-docker.md
Labels: none

Update content/guides/docker-concepts/getting-started/develop-with-containers.md
  content/guides/docker-concepts/getting-started/develop-with-containers.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/whats-next.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Update content/guides/docker-concepts/getting-started/get-docker.md
  content/guides/docker-concepts/getting-started/get-docker.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/develop-with-containers.md
  content/guides/docker-concepts/getting-started/develop-with-containers.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none

Update content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
Labels: none
