Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

Delete content/guides/docker-concepts/building-images directory
  content/guides/docker-concepts/building-images/building-and-publishing-image.md
  content/guides/docker-concepts/building-images/building-for-multiple-architecture.md
  content/guides/docker-concepts/building-images/building-in-cicd.md
  content/guides/docker-concepts/building-images/images/access_token.webp
  content/guides/docker-concepts/building-images/images/authenticate.webp
  content/guides/docker-concepts/building-images/images/build_cloud_userid.webp
  content/guides/docker-concepts/building-images/images/builder_instructions.webp
  content/guides/docker-concepts/building-images/images/builder_view.webp
  content/guides/docker-concepts/building-images/images/cicd.webp
  content/guides/docker-concepts/building-images/images/configuring-repo.webp
  content/guides/docker-concepts/building-images/images/create_new_builder.webp
  content/guides/docker-concepts/building-images/images/flow.webp
  content/guides/docker-concepts/building-images/images/github_action.webp
  content/guides/docker-concepts/building-images/images/github_workflow.webp
  content/guides/docker-concepts/building-images/images/image-layer.webp
  content/guides/docker-concepts/building-images/images/image_size.webp
  content/guides/docker-concepts/building-images/images/mybuilder.webp
  content/guides/docker-concepts/building-images/images/signup_dockerhub.webp
  content/guides/docker-concepts/building-images/injecting-secrets.md
  content/guides/docker-concepts/building-images/multi-stage-builds.md
  content/guides/docker-concepts/building-images/troubleshooting-failing-builds.md
  content/guides/docker-concepts/building-images/using-remote-builders.md
  content/guides/docker-concepts/building-images/using-the-build-cache.md
  content/guides/docker-concepts/building-images/writing-dockerfile.md
Labels: none

Delete content/guides/docker-concepts/the-basics directory
  content/guides/docker-concepts/the-basics/images/dockerhub-page.webp
  content/guides/docker-concepts/the-basics/images/hello-world.webp
  content/guides/docker-concepts/the-basics/images/helloworld-run.webp
  content/guides/docker-concepts/the-basics/images/helloworld-success.webp
  content/guides/docker-concepts/the-basics/images/image-layers.webp
  content/guides/docker-concepts/the-basics/images/image-sidebar.webp
  content/guides/docker-concepts/the-basics/images/nginx-desktop.webp
  content/guides/docker-concepts/the-basics/images/nginx-files.webp
  content/guides/docker-concepts/the-basics/images/nginx-parameters.webp
  content/guides/docker-concepts/the-basics/images/nginx-running.webp
  content/guides/docker-concepts/the-basics/images/nginx-settings.webp
  content/guides/docker-concepts/the-basics/images/nginx-stop.webp
  content/guides/docker-concepts/the-basics/images/nginx-stopped.webp
  content/guides/docker-concepts/the-basics/images/nginx-success.webp
  content/guides/docker-concepts/the-basics/images/nginx.webp
  content/guides/docker-concepts/the-basics/images/pull-ubuntu.webp
  content/guides/docker-concepts/the-basics/images/pulled-ubuntu-image.webp
  content/guides/docker-concepts/the-basics/images/search-image.webp
  content/guides/docker-concepts/the-basics/images/select-ubuntu.webp
  content/guides/docker-concepts/the-basics/images/sidebar-image.webp
  content/guides/docker-concepts/the-basics/images/ubuntu-pulled-image.webp
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

Added Phase 1 concept pages
  content/guides/docker-concepts/the-basics/images/access-the-frontend.webp
  content/guides/docker-concepts/the-basics/images/click-image.webp
  content/guides/docker-concepts/the-basics/images/create-hub-repository.webp
  content/guides/docker-concepts/the-basics/images/dockerhub-signup.webp
  content/guides/docker-concepts/the-basics/images/dockerhub-tags.webp
  content/guides/docker-concepts/the-basics/images/explore-your-container.webp
  content/guides/docker-concepts/the-basics/images/image-layers.webp
  content/guides/docker-concepts/the-basics/images/pulled-image.webp
  content/guides/docker-concepts/the-basics/images/run-a-new-container.webp
  content/guides/docker-concepts/the-basics/images/search-image.webp
  content/guides/docker-concepts/the-basics/images/search-the-docker-image.webp
  content/guides/docker-concepts/the-basics/images/select-image.webp
  content/guides/docker-concepts/the-basics/images/stop-your-container.webp
  content/guides/docker-concepts/the-basics/images/todo-list-app.png
  content/guides/docker-concepts/the-basics/images/todo-list-app.webp
  content/guides/docker-concepts/the-basics/images/todo-list-containers.png
  content/guides/docker-concepts/the-basics/images/todo-list-containers.webp
  content/guides/docker-concepts/the-basics/images/todo-list-delete.png
  content/guides/docker-concepts/the-basics/images/todo-list-delete.webp
  content/guides/docker-concepts/the-basics/images/view-your-containers.webp
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
  data/toc.yaml
Labels: none

Add RHEL docs (#19444)
  content/desktop/install/fedora.md
  content/desktop/install/linux-install.md
  content/desktop/install/rhel.md
  data/toc.yaml
Labels: area/desktop, area/install

rhel-eap
  content/desktop/install/rhel.md
  data/toc.yaml
Labels: area/desktop, area/install

rhel-eap (#19667)
  content/desktop/install/rhel.md
  data/toc.yaml
Labels: area/desktop, area/install

eap banner
  content/desktop/install/rhel.md
Labels: area/desktop, area/install

eap banner (#19668)
  content/desktop/install/rhel.md
Labels: area/desktop, area/install

fix: incorrect syntax for ENTRYPOINT
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
Labels: area/build, dependencies

Review suggestions
  content/network/drivers/host.md
Labels: area/networking

Rename linuxfaqs.md to linuxfaqs.m
  content/desktop/faqs/linuxfaqs.m
Labels: area/desktop

Bump compose to v2.26.0
  _vendor/modules.txt
  content/compose/release-notes.md
  go.mod
  hugo.yaml
Labels: area/compose, hugo, dependencies

Apply suggestions from code review
  content/compose/release-notes.md
Labels: area/compose

Bump compose to v2.26.0 (#19672)
  _vendor/modules.txt
  content/compose/release-notes.md
  go.mod
  hugo.yaml
Labels: area/compose, hugo, dependencies

fix override file name in the merge.md
  content/compose/compose-file/13-merge.md
Labels: area/compose

fix override file name in the merge.md (#19678)
  content/compose/compose-file/13-merge.md
Labels: area/compose

doc(settings management): Add Rosetta enforcement Adds the Rosetta option to Settings Management capability
  content/desktop/hardened-desktop/settings-management/_index.md
  content/desktop/hardened-desktop/settings-management/configure.md
Labels: area/desktop

fix: update external link to systemd website
  content/config/containers/start-containers-automatically.md
Labels: area/configuration

scout: "Fixable vulnerabilities only" config option
  content/scout/policy/_index.md
  content/scout/release-notes.md
Labels: area/scout

build: fix c8d option in daemon.json
  content/build/guide/multi-platform.md
Labels: area/build

Update ubuntu.md
  content/engine/install/ubuntu.md
Labels: area/install

index sbom
  content/build/attestations/sbom.md
Labels: area/build

ENGDOCS-2033 (#19636)
  content/compose/compose-file/05-services.md
Labels: area/compose

ENGDOCS-2031 (#19630)
  content/compose/compose-file/05-services.md
Labels: area/compose

Apply suggestions from code review
  content/network/drivers/host.md
Labels: area/networking

Apply review suggestions
  content/network/drivers/host.md
Labels: area/networking

ENGDOCS-2034
  content/desktop/synchronized-file-sharing.md
  data/toc.yaml
Labels: area/desktop

ENGDOCS-2035
  content/compose/gettingstarted.md
Labels: area/compose

feat: add Kapa.ai
  assets/css/code.css
  assets/css/kapa.css
  assets/css/styles.css
  hugo_stats.json
  layouts/partials/head.html
  static/assets/images/logo-icon-white.svg
Labels: hugo

Apply suggestions from code review
  content/compose/gettingstarted.md
Labels: area/compose

ENGDOCS-2035 (#19689)
  content/compose/gettingstarted.md
Labels: area/compose

Update content/desktop/hardened-desktop/settings-management/configure.md
  content/desktop/hardened-desktop/settings-management/configure.md
Labels: area/desktop

Update content/build/attestations/sbom.md
  content/build/attestations/sbom.md
Labels: area/build

Update _index.md
  content/engine/api/sdk/_index.md
Labels: area/api

Added Formatting changes
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Tweaked formatting changes
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: none

Added the-basic pages
  content/guides/docker-concepts/the-basics/images/access-the-frontend.webp
  content/guides/docker-concepts/the-basics/images/click-image.webp
  content/guides/docker-concepts/the-basics/images/create-hub-repository.webp
  content/guides/docker-concepts/the-basics/images/dockerhub-signup.webp
  content/guides/docker-concepts/the-basics/images/dockerhub-tags.webp
  content/guides/docker-concepts/the-basics/images/explore-your-container.webp
  content/guides/docker-concepts/the-basics/images/image-layers.webp
  content/guides/docker-concepts/the-basics/images/pulled-image.webp
  content/guides/docker-concepts/the-basics/images/run-a-new-container.webp
  content/guides/docker-concepts/the-basics/images/search-image.webp
  content/guides/docker-concepts/the-basics/images/search-the-docker-image.webp
  content/guides/docker-concepts/the-basics/images/select-image.webp
  content/guides/docker-concepts/the-basics/images/stop-your-container.webp
  content/guides/docker-concepts/the-basics/images/todo-list-app.png
  content/guides/docker-concepts/the-basics/images/todo-list-app.webp
  content/guides/docker-concepts/the-basics/images/todo-list-containers.png
  content/guides/docker-concepts/the-basics/images/todo-list-containers.webp
  content/guides/docker-concepts/the-basics/images/todo-list-delete.png
  content/guides/docker-concepts/the-basics/images/todo-list-delete.webp
  content/guides/docker-concepts/the-basics/images/view-your-containers.webp
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
  data/toc.yaml
Labels: none

Pushed few formatting changes
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Adjustments to what is a container/image pages
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: none

Formatting changes based on vale recommendation
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
Labels: none

.github/labeler.yml:

area/release:
  - .github/**
  - _releaser/**
  - netlify.toml

area/build:
  - content/build/**
  - _vendor/github.com/moby/buildkit/**
  - _vendor/github.com/docker/buildx/**
  - content/engine/commandline/build*

area/compose:
  - content/compose/**
  - _vendor/github.com/docker/compose/**
  - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - any:
      [
        content/desktop/**,
        "!content/desktop/extensions/**",
        "!content/desktop/extensions-sdk/**",
      ]

area/engine:
  - any:
      [
        content/engine/**,
        content/config/**,
        "!content/engine/reference/commandline/*",
      ]

area/install:
  - content/desktop/install/**
  - content/engine/install/**

area/swarm:
  - content/engine/swarm/**

area/security:
  - content/security/**

area/get-started:
  - content/get-started/**
  - content/language/**

area/networking:
  - content/network/**
  - content/config/ipv6.md

area/hub:
  - content/docker-hub/**

area/cli:
  - content/engine/reference/commandline/**
  - _vendor/github.com/docker/cli/**

area/api:
  - content/engine/api/**
  - content/docker-hub/api/**
  - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - content/scout/**
  - _vendor/github.com/docker/scout-cli/**

area/billing:
  - content/billing/**

area/subscription:
  - content/subscription/**

area/admin:
  - content/admin/**

area/configuration:
  - content/config/**

area/extensions:
  - content/desktop/extensions/**
  - content/desktop/extensions-sdk/**

area/samples:
  - content/samples/**

area/storage:
  - content/storage/**

hugo:
  - layouts/**
  - hugo.yaml
  - tailwind.config.js
  - postcss.config.js
  - assets/**

dependencies:
  - go.mod
  - go.sum
  - package*.json
  - _vendor/**
