Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

docs(desktop): add release notes for 4.31.0
  content/desktop/release-notes.md
Labels: area/desktop

Apply suggestions from code review
  content/desktop/release-notes.md
Labels: area/desktop

reviews
  content/desktop/release-notes.md
Labels: area/desktop

ENGDOCS-2107
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

ENGDOCS-2108
  content/desktop/settings/mac.md
Labels: area/desktop

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

reviews
  content/desktop/release-notes.md
Labels: area/desktop

Update content/desktop/release-notes.md
  content/desktop/release-notes.md
Labels: area/desktop

SME review feedback
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

SME review feedback
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

freshness: language guides refresh (#20101)
  content/language/dotnet/configure-ci-cd.md
  content/language/golang/configure-ci-cd.md
  content/language/java/configure-ci-cd.md
  content/language/php/configure-ci-cd.md
  content/language/python/configure-ci-cd.md
  content/language/python/containerize.md
  content/language/python/deploy.md
  content/language/python/develop.md
  content/language/r/configure-ci-cd.md
Labels: area/get-started

freshness: add diagram to concept (#20100)
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

hub: categories released (#20099)
  content/docker-hub/release-notes.md
  content/docker-hub/repos/categories.md
Labels: area/hub

implement feedback
  content/security/faqs/single-sign-on/idp-faqs.md
Labels: area/security

Added a new concept pages 'Get Docker'
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/develop-with-containers.md
  content/guides/docker-concepts/getting-started/get-docker.md
  content/guides/docker-concepts/getting-started/images/build-vscode-menu-item.webp
  content/guides/docker-concepts/getting-started/images/build-vscode-push-image.webp
  content/guides/docker-concepts/getting-started/images/develop-app-with-greetings.webp
  content/guides/docker-concepts/getting-started/images/develop-app-with-updated-client.webp
  content/guides/docker-concepts/getting-started/images/develop-getting-started-app-first-launch.webp
  content/guides/docker-concepts/getting-started/images/exec-into-docker-container.webp
  content/guides/docker-concepts/getting-started/images/inspecting-container.webp
  content/guides/docker-concepts/getting-started/whats-next.md
  data/toc.yaml
Labels: none

Changes in whats-next page
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Formattinf changes
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

scout: add notification settings section
  content/scout/dashboard.md
Labels: area/scout

redirects: add go-redirect for scout slack integration
  data/redirects.yml
Labels: none

scout: notification settings in Docker Desktop
  content/scout/dashboard.md
Labels: area/scout

redirects: go-redirect for scout notification settings
  content/scout/dashboard.md
  data/redirects.yml
Labels: area/scout

scout: slack integration
  content/scout/images/scout-slack-notification.png
  content/scout/integrations/_index.md
  content/scout/integrations/team-collaboration/slack.md
  data/toc.yaml
Labels: area/scout

scout: link to notification settings from slack integration
  content/scout/integrations/team-collaboration/slack.md
Labels: area/scout

scout: link to slack integration from notification settings
  content/scout/dashboard.md
Labels: area/scout

reviews
  content/desktop/release-notes.md
Labels: area/desktop

reviews
  content/desktop/release-notes.md
Labels: area/desktop

scout: CLI v1.9.x release notes
  content/scout/release-notes/cli.md
Labels: area/scout

vendor: github.com/docker/scout-cli v1.9.3
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/scout, dependencies

Removed an extra dot
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/get-docker.md
  content/guides/docker-concepts/getting-started/images/develop-app-with-updated-placeholder.webp
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

Formatting changes
  content/guides/docker-concepts/getting-started/build-and-push-first-image.md
  content/guides/docker-concepts/getting-started/whats-next.md
Labels: none

ENGDOCS-2107
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

Update content/desktop/install/windows-install.md
  content/desktop/install/windows-install.md
Labels: area/desktop, area/install

fix: update syntax to not use deprecated syntax
  content/compose/compose-file/07-volumes.md
Labels: area/compose

docs: grammar/understandability changes
  content/compose/compose-file/07-volumes.md
Labels: area/compose

Few formatting changes
  content/guides/docker-concepts/getting-started/develop-with-containers.md
  content/guides/docker-concepts/getting-started/get-docker.md
Labels: none

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

doc: add missing release note entry
  content/desktop/release-notes.md
Labels: area/desktop

Refresh admin and security FAQ pages (#20084)
  .github/vale/config/vocabularies/Docker/accept.txt
  content/admin/company/_index.md
  content/admin/company/new-company.md
  content/admin/company/owners.md
  content/admin/faqs/company-faqs.md
  content/admin/faqs/general-faqs.md
  content/admin/faqs/organization-faqs.md
  content/security/faqs/single-sign-on/domain-faqs.md
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/faqs.md
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/faqs/single-sign-on/saml-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/subscription/core-subscription/add-seats.md
  data/toc.yaml
  layouts/shortcodes/admin-org-onboarding.md
Labels: area/release, area/security, area/subscription, area/admin, hugo

Update macfaqs.md
  content/desktop/faqs/macfaqs.md
Labels: area/desktop

Update macfaqs.md (#20122)
  content/desktop/faqs/macfaqs.md
Labels: area/desktop

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**
