Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

Update compose-file-v3.md with note about swarm mode
  content/compose/compose-file/compose-file-v3.md
Labels: area/compose

ENGDOCS-2029 (#19619)
  content/desktop/synchronized-file-sharing.md
Labels: area/desktop

ENGDOCS-2028 (#19615)
  content/desktop/vm-vdi.md
  content/support.md
Labels: area/desktop

scout: remove "All critical vulnerabilities" policy
  content/scout/policy/_index.md
  content/scout/policy/view.md
  content/scout/quickstart.md
  content/scout/release-notes.md
Labels: area/scout

ENGDOCS-2030
  content/compose/compose-file/05-services.md
  content/compose/compose-file/07-volumes.md
  content/desktop/synchronized-file-sharing.md
Labels: area/compose, area/desktop

update sign in step and reword invite step
  content/billing/build-billing.md
  content/subscription/build-cloud/manage-seats.md
Labels: area/billing, area/subscription

ENGDOCS-2031
  content/compose/compose-file/05-services.md
Labels: area/compose

ENGDOCS-2031
  content/compose/compose-file/05-services.md
Labels: area/compose

adjust-compose-example
  content/compose/file-watch.md
Labels: area/compose

adjust-compose-example
  content/compose/file-watch.md
Labels: area/compose

adjust-compose-example
  content/compose/file-watch.md
Labels: area/compose

Update 06_bind_mounts.md
  content/get-started/06_bind_mounts.md
Labels: area/get-started

update intro and examples
  content/security/for-admins/registry-access-management.md
Labels: area/security

add tensorflowjs use-case guide (#19544)
  content/guides/use-case/_index.md
  content/guides/use-case/tensorflowjs.md
  data/toc.yaml
Labels: none

Update SSO and SCIM structure (#19484)
  content/security/for-admins/scim.md
  content/security/for-admins/single-sign-on/_index.md
  content/security/for-admins/single-sign-on/configure/_index.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
  data/toc.yaml
  layouts/shortcodes/admin-org-onboarding.md
  layouts/shortcodes/admin-scim-disable.html
  layouts/shortcodes/admin-sso-config.md
  layouts/shortcodes/admin-sso-connect.md
Labels: area/security, hugo

update intro and examples (#19633)
  content/security/for-admins/registry-access-management.md
Labels: area/security

Update volumes.md
  content/storage/volumes.md
Labels: area/storage

Adjust Compose Watch example (#19631)
  content/compose/file-watch.md
Labels: area/compose

Apply suggestions from code review
  content/compose/gettingstarted.md
Labels: area/compose

ENGDOCS-2033
  content/compose/compose-file/05-services.md
Labels: area/compose

Bump compose to v2.25.0
  _vendor/modules.txt
  content/compose/release-notes.md
  go.mod
  hugo.yaml
Labels: area/compose, hugo, dependencies

[15/3] Update DBC billing and subscription (#19623)
  content/billing/build-billing.md
  content/build/cloud/_index.md
  content/subscription/_index.md
  content/subscription/build-cloud/build-details.md
  content/subscription/build-cloud/manage-seats.md
  content/subscription/core-subscription/details.md
  data/toc.yaml
Labels: area/build, area/billing, area/subscription

Bump compose to v2.25.0 (#19637)
  _vendor/modules.txt
  content/compose/release-notes.md
  go.mod
  hugo.yaml
Labels: area/compose, hugo, dependencies

buildx: default-load driver opt
  content/build/drivers/docker-container.md
  content/build/drivers/kubernetes.md
  content/build/drivers/remote.md
Labels: area/build

toc and nav items
  data/toc.yaml
  hugo.yaml
Labels: hugo

Update configure-ci-cd.md to include 'linux/arm64' so people could run the demo on Apple Silicon
  content/language/python/configure-ci-cd.md
Labels: area/get-started

fix: add a note about experimental windows support
  content/build/buildkit/_index.md
Labels: area/build

Fix verification command
  content/get-started/05_persisting_data.md
Labels: area/get-started

hugo: bump engine to 26.0.0
  hugo.yaml
Labels: hugo

engine: add 25.0.5 release notes
  content/engine/release-notes/25.0.md
Labels: none

engine: 26.0.0 release notes
  content/engine/release-notes/26.0.md
  data/toc.yaml
  hugo.yaml
Labels: hugo

vendor: github.com/docker/scout-cli v1.6.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_attestation_add.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cache_prune.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_quickview.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_attestation_add.md
  _vendor/github.com/docker/scout-cli/docs/scout_cache_prune.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/scout, dependencies

fix: patch invalid hl_lines syntax in upstream codeblock
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  hugo_stats.json
Labels: area/scout, dependencies

Fine-tune GitHub's language detection for the repo
  .gitattributes
Labels: none

Add info about host network support in DD 4.29
  content/network/drivers/host.md
Labels: area/networking

engine: 26.0.0 release notes
  content/engine/release-notes/26.0.md
  data/toc.yaml
  hugo.yaml
Labels: hugo

engine: vendor v26.0.0
  _vendor/github.com/docker/cli/docs/deprecated.md
  _vendor/github.com/docker/cli/docs/reference/dockerd.md
  _vendor/github.com/docker/cli/docs/reference/run.md
  _vendor/github.com/moby/moby/docs/api/v1.45.yaml
  _vendor/github.com/moby/moby/docs/api/version-history.md
  _vendor/modules.txt
  content/engine/api/_index.md
  data/toc.yaml
  go.mod
  go.sum
  hugo.yaml
Labels: area/cli, area/api, hugo, dependencies

engine: update cli reference yamldocs for v26.0.0
  data/engine-cli/docker_container_exec.yaml
  data/engine-cli/docker_container_run.yaml
  data/engine-cli/docker_image_build.yaml
  data/engine-cli/docker_network_create.yaml
  data/engine-cli/docker_stack_deploy.yaml
  data/engine-cli/docker_stack_rm.yaml
Labels: none

ENGDOCS-2001 (#19580)
  content/compose/gettingstarted.md
Labels: area/compose

fix: reword
  content/build/buildkit/_index.md
Labels: area/build

.github/labeler.yml:

area/release:
  - .github/**
  - _releaser/**
  - netlify.toml

area/build:
  - content/build/**
  - _vendor/github.com/moby/buildkit/**
  - _vendor/github.com/docker/buildx/**
  - content/engine/commandline/build*

area/compose:
  - content/compose/**
  - _vendor/github.com/docker/compose/**
  - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - any:
      [
        content/desktop/**,
        "!content/desktop/extensions/**",
        "!content/desktop/extensions-sdk/**",
      ]

area/engine:
  - any:
      [
        content/engine/**,
        content/config/**,
        "!content/engine/reference/commandline/*",
      ]

area/install:
  - content/desktop/install/**
  - content/engine/install/**

area/swarm:
  - content/engine/swarm/**

area/security:
  - content/security/**

area/get-started:
  - content/get-started/**
  - content/language/**

area/networking:
  - content/network/**
  - content/config/ipv6.md

area/hub:
  - content/docker-hub/**

area/cli:
  - content/engine/reference/commandline/**
  - _vendor/github.com/docker/cli/**

area/api:
  - content/engine/api/**
  - content/docker-hub/api/**
  - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - content/scout/**
  - _vendor/github.com/docker/scout-cli/**

area/billing:
  - content/billing/**

area/subscription:
  - content/subscription/**

area/admin:
  - content/admin/**

area/configuration:
  - content/config/**

area/extensions:
  - content/desktop/extensions/**
  - content/desktop/extensions-sdk/**

area/samples:
  - content/samples/**

area/storage:
  - content/storage/**

hugo:
  - layouts/**
  - hugo.yaml
  - tailwind.config.js
  - postcss.config.js
  - assets/**

dependencies:
  - go.mod
  - go.sum
  - package*.json
  - _vendor/**
