Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**

refine release note
  content/docker-hub/release-notes.md
Labels: area/hub

add registry diagram
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

language guides refresh
  content/language/dotnet/configure-ci-cd.md
  content/language/golang/configure-ci-cd.md
  content/language/java/configure-ci-cd.md
  content/language/php/configure-ci-cd.md
  content/language/python/configure-ci-cd.md
  content/language/python/containerize.md
  content/language/python/deploy.md
  content/language/python/develop.md
  content/language/r/configure-ci-cd.md
Labels: area/get-started

clean up sso faqs
  content/security/faqs/single-sign-on/domain-faqs.md
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/faqs.md
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/faqs/single-sign-on/saml-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  data/toc.yaml
Labels: area/security

edits
  .github/vale/config/vocabularies/Docker/accept.txt
  content/security/faqs/single-sign-on/enforcement-faqs.md
Labels: area/release, area/security

vale fixes
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/idp-faqs.md
Labels: area/security

vale fixes and edit
  content/security/faqs/single-sign-on/domain-faqs.md
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/idp-faqs.md
Labels: area/security

Update content/get-started/05_persisting_data.md
  content/get-started/05_persisting_data.md
Labels: area/get-started

Update 05_persisting_data.md (#19956)
  content/get-started/05_persisting_data.md
Labels: area/get-started

Apply suggestions from code review
  content/desktop/hardened-desktop/air-gapped-containers.md
  content/desktop/hardened-desktop/settings-management/_index.md
Labels: area/desktop

style guide addition (#20095)
  content/contribute/style/grammar.md
Labels: none

add analytics.md
  content/desktop/install/msi/_index.md
  content/desktop/install/msi/analytics.md
  content/desktop/install/msi/install-and-configure.md
  data/toc.yaml
Labels: area/desktop, area/install

fix: Image Registry extension category is missing
  content/desktop/extensions-sdk/extensions/labels.md
Labels: area/desktop, area/extensions

fix: Image Registry extension category is missing (#20104)
  content/desktop/extensions-sdk/extensions/labels.md
Labels: area/desktop, area/extensions

search: exclude hidden pages from index
  layouts/_default/baseof.html
Labels: hugo

Fix: update docker compose file reference in metadata.md
  content/desktop/extensions-sdk/architecture/metadata.md
Labels: area/desktop, area/extensions

Fix: update docker compose file reference in metadata.md (#20105)
  content/desktop/extensions-sdk/architecture/metadata.md
Labels: area/desktop, area/extensions

Update content/language/dotnet/configure-ci-cd.md
  content/language/dotnet/configure-ci-cd.md
Labels: area/get-started

Update content/language/golang/configure-ci-cd.md
  content/language/golang/configure-ci-cd.md
Labels: area/get-started

Update content/language/java/configure-ci-cd.md
  content/language/java/configure-ci-cd.md
Labels: area/get-started

Update content/language/python/configure-ci-cd.md
  content/language/python/configure-ci-cd.md
Labels: area/get-started

Update content/language/r/configure-ci-cd.md
  content/language/r/configure-ci-cd.md
Labels: area/get-started

Update content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: none

Update content/language/php/configure-ci-cd.md
  content/language/php/configure-ci-cd.md
Labels: area/get-started

Update content/language/c-plus-plus/containerize.md
  content/language/c-plus-plus/containerize.md
Labels: area/get-started

Update content/language/c-plus-plus/containerize.md
  content/language/c-plus-plus/containerize.md
Labels: area/get-started

Update content/language/c-plus-plus/containerize.md
  content/language/c-plus-plus/containerize.md
Labels: area/get-started

Update content/language/c-plus-plus/containerize.md
  content/language/c-plus-plus/containerize.md
Labels: area/get-started

Update content/language/c-plus-plus/containerize.md
  content/language/c-plus-plus/containerize.md
Labels: area/get-started

Update content/language/c-plus-plus/develop.md
  content/language/c-plus-plus/develop.md
Labels: area/get-started

Update content/language/c-plus-plus/configure-ci-cd.md
  content/language/c-plus-plus/configure-ci-cd.md
Labels: area/get-started

Update _index.md
  content/language/c-plus-plus/_index.md
Labels: area/get-started

Create SECURITY.md
  SECURITY.md
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

Update compose.yaml
  compose.yaml
Labels: none

guides: use /cpp instead of /c-plus-plus
  content/language/_index.md
  content/language/cpp/_index.md
  content/language/cpp/configure-ci-cd.md
  content/language/cpp/containerize.md
  content/language/cpp/deploy.md
  content/language/cpp/develop.md
  content/language/images/cpp.webp
  data/toc.yaml
Labels: area/get-started

build: upgrade to Alpine v3.20
  Dockerfile
Labels: none

config: bump example Alpine version to 3.20
  hugo.yaml
Labels: hugo

scout: add subheadings for dashboard settings pages
  content/scout/dashboard.md
Labels: area/scout

docs(desktop): promote windows arm beta on release notes page
  content/desktop/release-notes.md
  layouts/shortcodes/desktop-install.html
Labels: area/desktop, hugo
