Repository docker/docs, changes with the labels that .github/labeler.yml gives for each.
All labels: area/release, area/build, area/compose, area/desktop, area/engine, area/install, area/swarm, area/security, area/get-started, area/networking, area/hub, area/cli, area/api, area/scout, area/billing, area/subscription, area/admin, area/configuration, area/extensions, area/samples, area/storage, hugo, dependencies

update get started toc
  content/get-started/11_what_next.md
  content/get-started/_index.md
  content/guides/_index.md
  content/guides/getting-started/build-and-push-first-image.md
  content/guides/getting-started/develop-with-containers.md
  content/guides/getting-started/get-docker-desktop.md
  content/guides/getting-started/images/build-vscode-menu-item.webp
  content/guides/getting-started/images/build-vscode-push-image.webp
  content/guides/getting-started/images/clone-the-repo.webp
  content/guides/getting-started/images/develop-app-with-greetings.webp
  content/guides/getting-started/images/develop-app-with-updated-client.webp
  content/guides/getting-started/images/develop-app-with-updated-placeholder.webp
  content/guides/getting-started/images/develop-getting-started-app-first-launch.webp
  content/guides/getting-started/images/exec-into-docker-container.webp
  content/guides/getting-started/images/inspecting-container.webp
  content/guides/getting-started/whats-next.md
  data/toc.yaml
  layouts/index.html
Labels: area/get-started, hugo

fix links
  content/guides/getting-started/build-and-push-first-image.md
  content/guides/getting-started/get-docker-desktop.md
Labels: none

vendor: github.com/moby/buildkit v0.14.0-rc2.0.20240611065153-eed17a45c62b
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/no-empty-continuation.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/build, dependencies

build-checks: fixes after new vendoring
  data/toc.yaml
Labels: none

hub: change "My Account" to "Account settings"
  content/admin/convert-account.md
  content/admin/deactivate-account.md
  content/docker-hub/builds/link-source.md
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
  content/security/for-developers/access-tokens.md
Labels: area/security, area/hub, area/admin

WSl2 docs: add tipo on how to move data on windows
  content/desktop/wsl/_index.md
Labels: area/desktop

.github/labeler.yml:

area/release:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**
          - _releaser/**
          - netlify.toml

area/build:
  - changed-files:
      - any-glob-to-any-file:
          - content/build/**
          - _vendor/github.com/moby/buildkit/**
          - _vendor/github.com/docker/buildx/**
          - content/engine/commandline/build*

area/compose:
  - changed-files:
      - any-glob-to-any-file:
          - content/compose/**
          - _vendor/github.com/docker/compose/**
          - _vendor/github.com/compose-spec/compose-spec/**

area/desktop:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/**

area/engine:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/**
          - content/config/**

area/install:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/install/**
          - content/engine/install/**

area/swarm:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/swarm/**

area/security:
  - changed-files:
      - any-glob-to-any-file:
          - content/security/**

area/get-started:
  - changed-files:
      - any-glob-to-any-file:
          - content/get-started/**
          - content/language/**

area/networking:
  - changed-files:
      - any-glob-to-any-file:
          - content/network/**
          - content/config/ipv6.md

area/hub:
  - changed-files:
      - any-glob-to-any-file:
          - content/docker-hub/**

area/cli:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/reference/commandline/**
          - _vendor/github.com/docker/cli/**

area/api:
  - changed-files:
      - any-glob-to-any-file:
          - content/engine/api/**
          - content/docker-hub/api/**
          - _vendor/github.com/moby/moby/docs/api/*

area/scout:
  - changed-files:
      - any-glob-to-any-file:
          - content/scout/**
          - _vendor/github.com/docker/scout-cli/**

area/billing:
  - changed-files:
      - any-glob-to-any-file:
          - content/billing/**

area/subscription:
  - changed-files:
      - any-glob-to-any-file:
          - content/subscription/**

area/admin:
  - changed-files:
      - any-glob-to-any-file:
          - content/admin/**

area/configuration:
  - changed-files:
      - any-glob-to-any-file:
          - content/config/**

area/extensions:
  - changed-files:
      - any-glob-to-any-file:
          - content/desktop/extensions/**
          - content/desktop/extensions-sdk/**

area/samples:
  - changed-files:
      - any-glob-to-any-file:
          - content/samples/**

area/storage:
  - changed-files:
      - any-glob-to-any-file:
          - content/storage/**

hugo:
  - changed-files:
      - any-glob-to-any-file:
          - layouts/**
          - hugo.yaml
          - tailwind.config.js
          - postcss.config.js
          - assets/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - go.mod
          - go.sum
          - package*.json
          - _vendor/**
