Repository docker/docs, pull requests merged in 2018-04, with the labels that each got.

#6363 Address ppc64le PRs; Clean up EE install pages
  _includes/ee-linux-install-reuse.md
  install/linux/docker-ee/centos.md
  install/linux/docker-ee/oracle.md
  install/linux/docker-ee/rhel.md
Labels: area/install, process/review-needed

#6372 Add a note for the DNS settings in docs.
  get-started/part2.md
Labels: area/tutorials

#5920 Included a step to verify if Windows needs a restart
  install/windows/docker-ee.md
Labels: area/desktop, platform/win

#6428 Add Windows unset shell variables instructions
  get-started/part4.md
Labels: platform/win

#6421 Update certify-plugins-logging.md
  docker-store/certify-plugins-logging.md
Labels: area/store

#6124 DO-NOT-MERGE update the docs for using host-network
  compose/compose-file/index.md
Labels: area/networking

#6078 add sctp docs
  network/links.md
  network/overlay.md
Labels: area/engine

#6444 Remove references to security scanning for private repos
  _data/toc.yaml
  datacenter/dtr/2.4/guides/admin/configure/set-up-vulnerability-scans.md
  docker-cloud/builds/image-scan.md
  docker-cloud/builds/images/repo-general.png
  docker-cloud/builds/images/scan-enable.png
  docker-cloud/builds/images/scan-full-details.png
  docker-cloud/builds/images/scan-single.png
  docker-cloud/builds/images/scan-tags.png
  docker-cloud/builds/images/scan-view.png
  docker-cloud/builds/index.md
  docker-cloud/release-notes.md
  docker-store/images/scan-full-details.png
  docker-store/images/scan-single.png
  docker-store/images/scan-tags.png
  docker-store/images/scan-view.png
  docker-store/publish.md
Labels: area/cloud

#6435 Quote port numbers when using short syntax
  compose/compose-file/index.md
Labels: area/compose
