Repository docker/docs, pull requests merged in 2018-02, with the labels that each got.

#6027 Fixing Windows Event Log command
  config/daemon/index.md
Labels: area/logging, platform/win

#5962 HRM and Window Servers
  datacenter/ucp/2.2/guides/user/services/use-domain-names-to-access-services.md
Labels: area/networking, platform/win

#5993 Update docker-ee.md
  install/windows/docker-ee.md
Labels: area/install, platform/win

#6026 Ensure custom build hooks consume DOCKERFILE_PATH
  docker-cloud/builds/advanced.md
Labels: area/builder

#5928 Update product version references
  docker-for-mac/index.md
Labels: area/docsite

#6082 Fix double-hyphen typographic bug
  Gemfile
  _config.yml
Labels: area/docsite

#6092 Add more packages to uninstall before installation
  install/linux/docker-ce/centos.md
  install/linux/docker-ce/fedora.md
  install/linux/docker-ee/centos.md
  install/linux/docker-ee/rhel.md
Labels: area/install
