Repository docker/docs, pull requests merged in 2018-08, with the labels that each got.

#7090 Update version-format for nightly builds
  install/index.md
Labels: area/community, area/install

#7115 DTR LB config link
  ee/ucp/admin/configure/join-nodes/use-a-load-balancer.md
Labels: area/dtr

#7134 Update the UCP Kubectl Instructions
  ee/ucp/images/kubernetes-version.png
  ee/ucp/user-access/kubectl.md
Labels: area/ucp

#6997 Update userns-remap.md
  engine/security/userns-remap.md
Labels: area/security

#7023 Update docker_load.yaml
  _data/engine-cli/docker_load.yaml
Labels: area/cli

#7074 Update bridge.md
  network/bridge.md
Labels: area/networking

#7152 [manage-images] Clarify character limitations on image names
  ee/dtr/user/manage-images/index.md
Labels: area/dtr

#6844 Content Trust link update
  ee/dtr/admin/upgrade.md
Labels: area/dtr, area/upgrade

#7008 Ubuntu 18.04 support added in 18.03.1-ee-1
  ee/engine/release-notes.md
Labels: relnotes

#6950 fix: configuration reference link
  registry/deploying.md
Labels: area/registry, type/404

#7260 Remove DockerCon '18 SF advert from site
  _includes/global-header.html
Labels: area/site

#7234 Reflect name change from IBM z Systems to IBM Z
  ee/index.md
Labels: area/ee

#6972 Update Windows install instructions to support multiple channels
  install/windows/docker-ee.md
Labels: platform/win

#7261 Formatting and grammar updates
  install/linux/linux-postinstall.md
Labels: area/install

#7176 extend description of Windows Server 1709 and 1803
  ee/engine/release-notes.md
Labels: platform/win

#7135 Update Variables to UCP 3.0.3
  _config.yml
Labels: area/dtr, area/ucp

#6962 introduce rethinkcli non-interactive mode for DTR 2.2-2.5
  datacenter/dtr/2.2/guides/admin/monitor-and-troubleshoot/troubleshoot-with-logs.md
  datacenter/dtr/2.3/guides/admin/monitor-and-troubleshoot/troubleshoot-with-logs.md
  datacenter/dtr/2.4/guides/admin/monitor-and-troubleshoot/troubleshoot-with-logs.md
  ee/dtr/admin/monitor-and-troubleshoot/troubleshoot-with-logs.md
Labels: area/dtr
