Repository docker/docs, pull requests merged in 2018-10, with the labels that each got.

#7400 Fix overlay network tutorial node names
  network/network-tutorial-overlay.md
Labels: area/networking

#7389 Specific docker installation - moar details.
  install/windows/docker-ee.md
Labels: area/install, platform/win

#7103 Update troubleshooting guide, index and supported Kubernetes versions
  _includes/kubernetes-mac-win.md
  docker-for-mac/images/diagnose-feedback-id.png
  docker-for-mac/images/diagnose-feedback.png
  docker-for-mac/images/mac-install-success-docker-cloud.png
  docker-for-mac/images/menu/prefs-kubernetes.png
  docker-for-mac/index.md
  docker-for-mac/opensource.md
  docker-for-mac/troubleshoot.md
  docker-for-windows/faqs.md
  docker-for-windows/images/diagnose-feedback.png
  docker-for-windows/images/diagnostic-id.png
  docker-for-windows/images/docker-app-welcome.png
  docker-for-windows/images/docker-menu-context-switch.png
  docker-for-windows/images/docker-menu-settings.png
  docker-for-windows/images/docker-menu-switch.png
  docker-for-windows/images/issue-template.png
  docker-for-windows/images/settings-advanced.png
  docker-for-windows/images/settings-daemon-advanced.png
  docker-for-windows/images/settings-daemon-basic.png
  docker-for-windows/images/settings-diagnose.png
  docker-for-windows/images/settings-general.png
  docker-for-windows/images/settings-kubernetes.png
  docker-for-windows/images/settings-network.png
  docker-for-windows/images/settings-proxies.png
  docker-for-windows/images/settings-reset.png
  docker-for-windows/images/settings-shared-drives.png
  docker-for-windows/index.md
  docker-for-windows/install.md
  docker-for-windows/opensource.md
  docker-for-windows/troubleshoot.md
Labels: area/ee, area/kubernetes

#7560 Adding October 2018 patch release notes for EE Engine, UCP, and DTR.
  datacenter/dtr/2.3/guides/release-notes.md
  ee/dtr/release-notes.md
  ee/engine/release-notes.md
  ee/ucp/release-notes.md
Labels: relnotes
