Repository docker/docs, pull requests merged in 2018-03, with the labels that each got.

#6105 Added required line to update TLS version
  compose/install.md
Labels: platform/win

#6088 docs-base Dockerfile: fix apk command
  Dockerfile
Labels: area/docsite

#6083 Fix broken links to postinstall documentation
  _includes/ee-linux-install-reuse.md
  install/linux/docker-ee/suse.md
  install/linux/docker-ee/ubuntu.md
Labels: area/docsite

#6120 Clarify which version of Notary to use with EE
  datacenter/dtr/2.4/guides/user/access-dtr/configure-your-notary-client.md
Labels: area/notary

#6208 Issue fix #6163
  install/linux/docker-ce/debian.md
Labels: area/install

#6194 Docker for Desktop updates
  docker-for-mac/images/hello-world-nginx.png
  docker-for-mac/images/kubernetes/kubernetes-enable.png
  docker-for-mac/images/kubernetes/kubernetes-install-complete.png
  docker-for-mac/images/kubernetes/kubernetes-status.png
  docker-for-mac/images/kubernetes/menu.png
  docker-for-mac/images/menu-prefs-selected.png
  docker-for-mac/images/menu.png
  docker-for-mac/images/menu/d4m-menu-kube-context.png
  docker-for-mac/images/menu/d4m-menu-prefs-advanced.png
  docker-for-mac/images/menu/d4m-menu-prefs-daemon-adv.png
  docker-for-mac/images/menu/d4m-menu-prefs-daemon-basic.png
  docker-for-mac/images/menu/d4m-menu-prefs-disk.png
  docker-for-mac/images/menu/d4m-menu-prefs-fileshare.png
  docker-for-mac/images/menu/d4m-menu-prefs-general.png
  docker-for-mac/images/menu/d4m-menu-prefs-kubernetes.png
  docker-for-mac/images/menu/d4m-menu-prefs-proxies.png
  docker-for-mac/images/menu/d4m-menu-prefs-reset.png
  docker-for-mac/images/menu/d4m-menu-prefs.png
  docker-for-mac/images/menu/d4m-menu-sign-in.png
  docker-for-mac/images/menu/menu-cloud-sign-in.png
  docker-for-mac/index.md
  docker-for-mac/install.md
  docker-for-mac/troubleshoot.md
  docker-for-windows/faqs.md
  docker-for-windows/troubleshoot.md
Labels: area/editions

#6209 Update "configure local computer" for SUSE SLES 12
  datacenter/ucp/2.2/guides/admin/configure/integrate-with-dtr.md
Labels: area/ucp

#6242 Fix anchors to API version changes
  _includes/api-version-matrix.md
Labels: area/engine

#6231 Desktop: split stable/edge release notes
  _data/toc.yaml
  docker-for-mac/edge-release-notes.md
  docker-for-mac/install.md
  docker-for-mac/release-notes.md
  docker-for-windows/edge-release-notes.md
  docker-for-windows/install.md
  docker-for-windows/release-notes.md
  get-started/index.md
  release-notes/docker-engine.md
  release-notes/index.md
Labels: area/desktop, platform/mac, platform/win

#6269 Desktop: remove obsolete doc
  docker-for-mac/troubleshoot.md
  docker-for-windows/troubleshoot.md
Labels: area/desktop

#6195 Fix events JSON blob format
  compose/reference/events.md
Labels: area/compose

#6337 __docker_machine_ps1 is not found
  machine/install-machine.md
Labels: area/machine
