Repository docker/docs, pull requests merged in 2018-06, with the labels that each got.

#6771 update rails.md for Ruby 2.5 and Rails 5.2
  compose/images/rails-welcome.png
  compose/rails.md
Labels: area/compose

#6734 Update upgrade.md
  ee/ucp/admin/install/upgrade.md
Labels: area/ucp

#6769 ucp: node-local support dump works on all nodes
  datacenter/ucp/2.0/guides/support.md
  datacenter/ucp/2.1/guides/get-support.md
  datacenter/ucp/2.2/guides/get-support.md
  ee/get-support.md
Labels: area/ee, area/ucp

#6763 Add note about host networking in linux
  network/host.md
Labels: area/networking

#6781 Added docker-java-api
  develop/sdk/index.md
Labels: area/sdk

#6391 Fixed issues with Configure where the Docker daemon listens for conne…
  install/linux/linux-postinstall.md
Labels: area/configuration

#6757 Cannot find reference to --net
  compose/compose-file/index.md
Labels: area/compose

#6730 Updated version specification
  _includes/content/compose-extfields-sub.md
Labels: area/compose

#6767 Update index.md
  develop/sdk/index.md
Labels: area/sdk

#6803 Update docker-compose run --rm doc
  compose/reference/run.md
Labels: area/compose
