Repository docker/docs, pull requests merged in 2018-11, with the labels that each got.

#7636 Post-GA Fixes
  datacenter/dtr/2.5/guides/admin/configure/garbage-collection.md
  ee/dtr/admin/manage-jobs/auto-delete-job-logs.md
  ee/dtr/release-notes.md
  ee/dtr/user/promotion-policies/pull-mirror.md
Labels: area/dtr, relnotes

#7638 Remove duplicate row for dtr-storage-volume option
  reference/dtr/2.6/cli/restore.md
Labels: area/cli, area/dtr

#7674 Fixes #880
  datacenter/dtr/2.5/guides/admin/install/install-offline.md
Labels: area/dtr, area/install

#7669 Update "select a storage driver" with current status
  storage/storagedriver/select-storage-driver.md
Labels: area/storage

#7686 Backport fixes
  datacenter/dtr/2.5/guides/index.md
  ee/dtr/index.md
  ee/dtr/release-notes.md
  ee/dtr/user/audit-repository-events.md
Labels: area/dtr, relnotes

#7659 Update title to reference 3.1
  ee/ucp/admin/install/upgrade.md
Labels: area/ucp

#7692 Restoring open source registry garbage collection page
  registry/garbage-collection.md
Labels: area/registry

#7712 Update gem version for Rack
  apidocs/cloud-api-source/Gemfile.lock
Labels: area/site

#7702 Fix FIPS /proc path typo
  install/linux/docker-ee/rhel.md
Labels: area/install

#7688 dtr: fix a couple variable templates
  datacenter/dtr/2.3/guides/admin/configure/external-storage/nfs.md
  ee/dtr/admin/configure/external-storage/nfs.md
  ee/dtr/admin/monitor-and-troubleshoot/index.md
Labels: area/dtr

#5982 add info about arm64 repo
  install/linux/docker-ce/debian.md
Labels: area/install

#7093 ucp 3.0.2 release notes: dereference cni_ipinip_mtu
  ee/ucp/release-notes.md
Labels: area/ucp

#5992 Add docker-machine-driver-hetzner
  machine/AVAILABLE_DRIVER_PLUGINS.md
Labels: area/machine

#7761 Add backup link redirect
  reference/dtr/2.6/cli/backup.md
Labels: area/dtr, type/404
