Repository docker/docs, pull requests merged in 2019-04, with the labels that each got.

#8425 Update index.md : #### host or none - network
  compose/compose-file/index.md
Labels: OP/pending tech review, topic/networking

#7626 Update configs.md
  engine/swarm/configs.md
Labels: OP/pending tech review, content/compose, content/orchestration/swarm

#8591 Add HSTS warning for specifying --dtr-external-url
  ee/dtr/admin/install/index.md
  reference/dtr/2.6/cli/install.md
  reference/dtr/2.6/cli/reconfigure.md
Labels: content/dtr

#8586 --unmanaged-cni is not a valid option for upgrade
  reference/ucp/3.1/cli/upgrade.md
Labels: content/cli, content/ucp

#8580 Storage backend data migration updates
  _data/toc.yaml
  ee/dtr/admin/configure/external-storage/index.md
  ee/dtr/admin/configure/external-storage/nfs.md
  ee/dtr/admin/configure/external-storage/s3.md
  ee/dtr/admin/configure/external-storage/storage-backend-migration.md
  ee/dtr/admin/disaster-recovery/create-a-backup.md
  ee/dtr/admin/disaster-recovery/restore-from-backup.md
  reference/dtr/2.6/cli/reconfigure.md
  reference/dtr/2.6/cli/restore.md
Labels: OP/pending editorial review, content/dtr

#8611 Update the "role-based access control" link
  ee/ucp/user-access/index.md
Labels: content/ucp

#7276 Adding emphasis on Static IP requirement
  ee/ucp/admin/install/system-requirements.md
Labels: content/ucp, topic/networking

#8619 Sync published with master
  ee/ucp/admin/backups-and-disaster-recovery.md
  ee/ucp/admin/install/system-requirements.md
  ee/ucp/user-access/index.md
  engine/examples/postgresql_service.md
  engine/security/trust/content_trust.md
  reference/ucp/3.1/cli/install.md
Labels: publish-cycle

#8623 Add the 'Install on Azure' page back to the TOC for UCP 3.0
  _data/toc.yaml
  datacenter/ucp/3.0/guides/admin/install/install-on-azure.md
Labels: content/ucp

#8631 Fix Liquid syntax error in "reset user password"
  ee/ucp/authorization/reset-user-password.md
Labels: content/ucp

#8630 Use site parameter to use latest compose file versions in examples
  _config.yml
  _config_authoring.yml
  compose/compose-file/compose-file-v2.md
  compose/compose-file/compose-versioning.md
  compose/compose-file/index.md
Labels: content/compose

#8628 compose-file: remove reference to custom init path
  compose/compose-file/compose-file-v2.md
  compose/compose-file/index.md
Labels: content/compose

#8644 Sync published with master
  _config.yml
  _config_authoring.yml
  compose/compose-file/compose-file-v2.md
  compose/compose-file/compose-versioning.md
  compose/compose-file/index.md
  ee/ucp/kubernetes/install-cni-plugin.md
  ee/ucp/release-notes.md
Labels: publish-cycle

#8664 Redirect to current version of page, since it's reached EOL
  ee/dtr/admin/configure/set-up-vulnerability-scans.md
Labels: content/dtr

#8666 Sync published with master
  ee/dtr/admin/configure/set-up-vulnerability-scans.md
  storage/storagedriver/aufs-driver.md
Labels: publish-cycle

#8670 Revert "Netlify redirects interlock"
  ee/ucp/interlock/architecture.md
  ee/ucp/interlock/config/custom-template.md
  ee/ucp/interlock/config/haproxy-config.md
  ee/ucp/interlock/config/host-mode-networking.md
  ee/ucp/interlock/config/index.md
  ee/ucp/interlock/config/nginx-config.md
  ee/ucp/interlock/config/service-labels.md
  ee/ucp/interlock/config/tuning.md
  ee/ucp/interlock/config/updates.md
  ee/ucp/interlock/deploy/index.md
  ee/ucp/interlock/deploy/offline-install.md
  ee/ucp/interlock/deploy/production.md
  ee/ucp/interlock/index.md
  ee/ucp/interlock/usage/canary.md
  ee/ucp/interlock/usage/context.md
  ee/ucp/interlock/usage/index.md
  ee/ucp/interlock/usage/interlock-vip-mode.md
  ee/ucp/interlock/usage/redirects.md
  ee/ucp/interlock/usage/service-clusters.md
  ee/ucp/interlock/usage/sessions.md
  ee/ucp/interlock/usage/ssl.md
  ee/ucp/interlock/usage/websockets.md
Labels: content/interlock, content/ucp, site/external dependency

#8522 UCP Install on Azure Patch
  ee/ucp/admin/install/install-on-azure.md
Labels: OP/pending tech review, content/ucp, topic/install

#8597 Improved backup commands
  ee/dtr/admin/disaster-recovery/create-a-backup.md
Labels: content/dtr

#8599 Added examples
  reference/dtr/2.6/cli/backup.md
Labels: content/dtr

#8668 Remove deadlink in the Interlock ToC
  _data/toc.yaml
  ee/ucp/interlock/usage/interlock-vip-mode.md
Labels: content/interlock, content/ucp

#8673 Sync published with master
  _data/toc.yaml
  ee/dtr/admin/disaster-recovery/create-a-backup.md
  ee/dtr/user/promotion-policies/push-mirror.md
  ee/ucp/admin/install/install-on-azure.md
  ee/ucp/admin/monitor-and-troubleshoot/troubleshoot-with-logs.md
  ee/ucp/images/troubleshoot-with-logs-1.png
  ee/ucp/images/troubleshoot-with-logs-2.png
  ee/ucp/images/troubleshoot-with-logs-3.png
  ee/ucp/interlock/architecture.md
  ee/ucp/interlock/config/custom-template.md
  ee/ucp/interlock/config/haproxy-config.md
  ee/ucp/interlock/config/host-mode-networking.md
  ee/ucp/interlock/config/index.md
  ee/ucp/interlock/config/nginx-config.md
  ee/ucp/interlock/config/service-labels.md
  ee/ucp/interlock/config/tuning.md
  ee/ucp/interlock/config/updates.md
  ee/ucp/interlock/deploy/index.md
  ee/ucp/interlock/deploy/offline-install.md
  ee/ucp/interlock/deploy/production.md
  ee/ucp/interlock/index.md
  ee/ucp/interlock/usage/canary.md
  ee/ucp/interlock/usage/context.md
  ee/ucp/interlock/usage/index.md
  ee/ucp/interlock/usage/interlock-vip-mode.md
  ee/ucp/interlock/usage/redirects.md
  ee/ucp/interlock/usage/service-clusters.md
  ee/ucp/interlock/usage/sessions.md
  ee/ucp/interlock/usage/ssl.md
  ee/ucp/interlock/usage/websockets.md
  reference/dtr/2.6/cli/backup.md
Labels: publish-cycle

#8678 Trying to fix command rendering of '--format "{{ .Names }}"'
  reference/dtr/2.6/cli/backup.md
Labels: content/cli, content/dtr

#8685 Sync published with master
  ee/dtr/admin/disaster-recovery/create-a-backup.md
  ee/ucp/interlock/config/updates.md
  reference/dtr/2.6/cli/backup.md
Labels: publish-cycle

#8693 Sync published with master
  datacenter/ucp/3.0/guides/user/interlock/deploy/configuration-reference.md
  datacenter/ucp/3.0/guides/user/interlock/usage/service-clusters.md
  ee/dtr/admin/disaster-recovery/create-a-backup.md
  ee/ucp/interlock/config/host-mode-networking.md
  ee/ucp/interlock/config/index.md
  ee/ucp/interlock/config/updates.md
  ee/ucp/interlock/deploy/index.md
  ee/ucp/interlock/deploy/offline-install.md
  ee/ucp/interlock/usage/service-clusters.md
Labels: publish-cycle

#8686 docs: fix typo in removal of named volumes
  storage/volumes.md
Labels: content/storage

#8695 Sync published with master
  storage/volumes.md
Labels: publish-cycle

#8690 Update index.md
  storage/index.md
Labels: content/minoredits, content/storage

#8696 Update bind-mounts.md
  storage/bind-mounts.md
Labels: content/storage

#8708 Minor edits
  ee/dtr/admin/disaster-recovery/create-a-backup.md
  reference/dtr/2.6/cli/backup.md
Labels: content/dtr

#8698 Removed the Duplicate Interlock TLS Page
  _data/toc.yaml
  datacenter/ucp/3.0/guides/user/interlock/usage/tls.md
  ee/ucp/interlock/usage/ssl.md
  ee/ucp/interlock/usage/tls.md
Labels: content/interlock, content/ucp

#8722 Interlock fix - remove haproxy and custom template files
  _data/toc.yaml
  ee/ucp/interlock/config/custom-template.md
  ee/ucp/interlock/config/haproxy-config.md
Labels: content/interlock, content/ucp

#8726 Render DTR version
  reference/dtr/2.6/cli/backup.md
Labels: OP/site/accessibility, content/dtr
