Repository docker/docs, pull requests merged in 2019-03, with the labels that each got.

#8383 Sync published with master
  _config.yml
  _data/ddc_offline_files_2.yaml
  _data/toc.yaml
  docker-for-aws/deploy.md
  docker-for-azure/deploy.md
  ee/ucp/admin/configure/use-nfs-volumes.md
  ee/ucp/images/use-nfs-volume-1.png
  ee/ucp/images/use-nfs-volume-2.png
  ee/ucp/images/use-nfs-volume-3.png
  ee/ucp/images/use-nfs-volume-4.png
  ee/ucp/images/use-nfs-volume-5.png
  ee/ucp/kubernetes/layer-7-routing.md
  ee/ucp/kubernetes/storage/configure-aws-storage.md
  ee/ucp/kubernetes/storage/use-nfs-volumes.md
  engine/swarm/swarm-tutorial/rolling-update.md
Labels: publish-cycle

#8382 Ucp audit logs
  _data/toc.yaml
  ee/ucp/admin/configure/enable-audit-logging.md
Labels: assigned-to-milestone, content/logging, content/ucp, size/small

#8253 Create local.md
  config/containers/logging/local.md
Labels: OP/pending tech review, topic/config

#8130 Fixes Docker Hub repository tag env var name
  docker-hub/builds/advanced.md
Labels: OP/pending refinement, OP/pending tech review, content/cloud

#8386 Macos client binaries
  install/linux/docker-ce/binaries.md
Labels: content/community, content/platform/mac, topic/install

#8394 Sync published with master
  _data/toc.yaml
  config/containers/logging/local.md
  docker-hub/builds/advanced.md
  ee/ucp/admin/configure/enable-audit-logging.md
  install/linux/docker-ce/binaries.md
Labels: publish-cycle

#8391 Update running_ssh_service.md
  engine/examples/running_ssh_service.md
Labels: OP/pending tech review, content/engine/security

#8407 Clean up some old setup information for overlayFS
  storage/storagedriver/overlayfs-driver.md
Labels: OP/pending tech review, content/storage

#8411 Clarify that compose installation is for stable release
  compose/install.md
Labels: content/compose

#8408 Add missing stubs for docker builder subcommands
  _data/toc.yaml
  engine/reference/commandline/builder.md
  engine/reference/commandline/builder_prune.md
Labels: content/engine

#8419 Fix liquid warnings on DTR troubleshooting page
  datacenter/dtr/2.5/guides/admin/monitor-and-troubleshoot/troubleshoot-dtr.md
  ee/dtr/admin/monitor-and-troubleshoot/troubleshoot-dtr.md
Labels: content/dtr, topic/site

#8384 Addresses 8370
  ee/dtr/admin/configure/external-storage/index.md
  ee/dtr/admin/configure/external-storage/nfs.md
  ee/dtr/admin/configure/external-storage/s3.md
  ee/dtr/admin/disaster-recovery/restore-from-backup.md
  ee/dtr/images/configure-external-storage-2.png
  ee/dtr/release-notes.md
  reference/dtr/2.6/cli/reconfigure.md
  reference/dtr/2.6/cli/restore.md
Labels: OP/pending tech review, content/dtr, priority/P1-broken, size/large

#8274 Admin password update when in debug mode
  ee/ucp/authorization/reset-user-password.md
  ee/ucp/images/recover-a-user-password-1.png
  ee/ucp/images/recover-a-user-password-2.png
Labels: OP/pending tech review, content/ucp

#8438 Update https.md
  engine/security/https.md
Labels: content/engine, content/engine/security, content/minoredits

#8402 Addresses 8157
  _data/toc.yaml
  config/thirdparty/index.md
Labels: OP/pending tech review, size/small, topic/config

#8400 Update UCP upgrade path
  ee/ucp/admin/install/upgrade.md
Labels: OP/pending tech review, content/ucp

#8255 Saml integration
  ee/ucp/admin/configure/integrate-saml.md
  ee/ucp/images/saml_okta_1.png
  ee/ucp/images/saml_okta_2.png
  ee/ucp/images/saml_okta_3.png
  ee/ucp/images/saml_okta_4.png
Labels: OP/pending tech review, content/ucp

#8442 Sync published with master
  _data/toc.yaml
  config/thirdparty/index.md
  develop/develop-images/dockerfile_best-practices.md
  docker-hub/builds/automated-testing.md
  ee/ucp/admin/configure/integrate-saml.md
  ee/ucp/admin/configure/join-nodes/join-windows-nodes-to-cluster.md
  ee/ucp/admin/install/upgrade.md
  ee/ucp/authorization/grant-permissions.md
  ee/ucp/authorization/reset-user-password.md
  ee/ucp/images/recover-a-user-password-1.png
  ee/ucp/images/recover-a-user-password-2.png
  ee/ucp/images/saml_okta_1.png
  ee/ucp/images/saml_okta_2.png
  ee/ucp/images/saml_okta_3.png
  ee/ucp/images/saml_okta_4.png
  ee/ucp/release-notes.md
  engine/security/https.md
  engine/security/trust/trust_delegation.md
Labels: publish-cycle

#8441 DTR from failure has to be destroyed.
  reference/dtr/2.6/cli/restore.md
Labels: OP/pending tech review

#8448 Fix destroy reference page link
  ee/dtr/admin/install/uninstall.md
Labels: content/dtr, priority/P1-broken, size/small, topic/install

#8449 Gsantandrea patch 1
  engine/examples/running_ssh_service.md
Labels: content/engine

#8450 Sync published with master
  docker-for-mac/osxfs.md
  ee/dtr/admin/install/uninstall.md
  engine/examples/running_ssh_service.md
  get-started/part4.md
  reference/dtr/2.6/cli/restore.md
Labels: publish-cycle

#8418 Compose: Update build docs, Add --quiet flag
  compose/reference/build.md
Labels: content/compose

#8460 Fix broken image links
  datacenter/ucp/3.0/guides/user/access-ucp/kubectl.md
  datacenter/ucp/3.0/guides/user/interlock/architecture.md
  datacenter/ucp/3.0/guides/user/interlock/deploy/index.md
  datacenter/ucp/3.0/guides/user/interlock/deploy/production.md
  datacenter/ucp/3.0/guides/user/interlock/index.md
  datacenter/ucp/3.0/guides/user/interlock/usage/default-service.md
  datacenter/ucp/3.0/guides/user/interlock/usage/index.md
  datacenter/ucp/3.0/guides/user/interlock/usage/tls.md
Labels: content/ucp, priority/P1-broken, size/medium

#8461 Sync published with master
  datacenter/ucp/3.0/guides/user/access-ucp/kubectl.md
  datacenter/ucp/3.0/guides/user/interlock/architecture.md
  datacenter/ucp/3.0/guides/user/interlock/deploy/index.md
  datacenter/ucp/3.0/guides/user/interlock/deploy/production.md
  datacenter/ucp/3.0/guides/user/interlock/index.md
  datacenter/ucp/3.0/guides/user/interlock/usage/default-service.md
  datacenter/ucp/3.0/guides/user/interlock/usage/index.md
  datacenter/ucp/3.0/guides/user/interlock/usage/tls.md
Labels: publish-cycle

#8457 Addresses 8446
  engine/security/trust/trust_delegation.md
Labels: OP/pending tech review, content/dtr, content/engine/security, priority/P3-minor, size/small

#8416 Showing Build Cache Information on the example output
  _data/engine-cli/docker_system_df.yaml
Labels: content/cli, content/engine

#8467 Sync published with master
  _data/engine-cli/docker_system_df.yaml
  ee/upgrade.md
  engine/security/trust/trust_delegation.md
  engine/swarm/services.md
  toolbox/toolbox_install_windows.md
Labels: publish-cycle

#8466 Remove link to latest download
  toolbox/toolbox_install_windows.md
Labels: area/deprecated, content/platform/win, content/toolbox, priority/P1-broken, size/small

#7495 NFS volume with service create
  storage/volumes.md
Labels: OP/pending tech review, content/storage

#8474 Sync published with master
  docker-for-windows/troubleshoot.md
  engine/security/certificates.md
  storage/volumes.md
  toolbox/toolbox_install_windows.md
Labels: publish-cycle

#8246 Update index.md
  compose/compose-file/compose-file-v2.md
  compose/compose-file/index.md
Labels: OP/pending tech review, content/compose

#8480 Additional error for troubleshooting section
  ee/dtr/user/manage-images/sign-images/trust-with-remote-ucp.md
Labels: content/dtr

#8482 Add highlighting to compose-file reference
  _includes/content/compose-extfields-sub.md
  _includes/content/compose-var-sub.md
  compose/compose-file/index.md
Labels: content/compose

#8399 stop_signal supported with docker stack deploy
  compose/compose-file/index.md
Labels: content/compose

#8488 Sync published with master
  _includes/content/compose-extfields-sub.md
  _includes/content/compose-var-sub.md
  compose/compose-file/compose-file-v2.md
  compose/compose-file/index.md
  develop/develop-images/build_enhancements.md
  ee/dtr/user/manage-images/sign-images/trust-with-remote-ucp.md
Labels: publish-cycle

#8499 Docker Trust with Remote UCP - Added the full error message
  ee/dtr/user/manage-images/sign-images/trust-with-remote-ucp.md
Labels: content/dtr

#8452 Remove obsolete CS Engine docs
  _data/toc.yaml
  cs-engine/1.12/index.md
  cs-engine/1.12/release-notes/index.md
  cs-engine/1.12/release-notes/prior-release-notes.md
  cs-engine/1.12/release-notes/release-notes.md
  cs-engine/1.12/upgrade.md
  cs-engine/1.13/index.md
  cs-engine/1.13/release-notes.md
  cs-engine/1.13/upgrade.md
  ee/supported-platforms.md
  release-notes/docker-engine.md
Labels: area/deprecated, content/engine

#8389 Update info for deploy with compose.md
  ee/ucp/images/deploy-compose-kubernetes-0.png
  ee/ucp/images/deploy-compose-kubernetes-2.png
  ee/ucp/images/deploy-compose-kubernetes-3.png
  ee/ucp/kubernetes/deploy-with-compose.md
Labels: OP/pending tech review, content/compose, content/orchestration/kubernetes, content/ucp

#8501 Sync published with master
  _data/toc.yaml
  config/containers/logging/journald.md
  cs-engine/1.12/index.md
  cs-engine/1.12/release-notes/index.md
  cs-engine/1.12/release-notes/prior-release-notes.md
  cs-engine/1.12/release-notes/release-notes.md
  cs-engine/1.12/upgrade.md
  cs-engine/1.13/index.md
  cs-engine/1.13/release-notes.md
  cs-engine/1.13/upgrade.md
  ee/dtr/user/manage-images/sign-images/trust-with-remote-ucp.md
  ee/supported-platforms.md
  ee/ucp/images/deploy-compose-kubernetes-0.png
  ee/ucp/images/deploy-compose-kubernetes-2.png
  ee/ucp/images/deploy-compose-kubernetes-3.png
  ee/ucp/kubernetes/deploy-with-compose.md
  engine/security/trust/content_trust.md
  engine/security/trust/trust_automation.md
  engine/security/trust/trust_key_mng.md
  engine/security/trust/trust_sandbox.md
  release-notes/docker-engine.md
Labels: publish-cycle

#8505 Removed HTML folder found in UCP RBAC Directory
  ee/ucp/authorization/_site/create-teams-with-ldap.html
  ee/ucp/authorization/_site/create-users-and-teams-manually.html
  ee/ucp/authorization/_site/define-roles.html
  ee/ucp/authorization/_site/deploy-stateless-app.html
  ee/ucp/authorization/_site/ee-advanced.html
  ee/ucp/authorization/_site/ee-standard.html
  ee/ucp/authorization/_site/grant-permissions.html
  ee/ucp/authorization/_site/group-resources.html
  ee/ucp/authorization/_site/index.html
  ee/ucp/authorization/_site/isolate-nodes.html
  ee/ucp/authorization/_site/isolate-volumes.html
  ee/ucp/authorization/_site/migrate-kubernetes-roles.html
  ee/ucp/authorization/_site/pull-images.html
  ee/ucp/authorization/_site/reset-user-password.html
Labels: topic/site

#8512 Minor fixes
  ee/ucp/kubernetes/deploy-with-compose.md
Labels: content/orchestration/kubernetes, content/ucp, priority/P1-broken, size/small

#8511 Update index.md [Sample applications table]
  samples/index.md
Labels: area/dev

#8485 Patch UCP Azure instructions
  ee/ucp/admin/install/install-on-azure.md
Labels: content/ucp, topic/install

#8515 Sync published with master
  _data/toc.yaml
  ee/ucp/admin/install/install-on-azure.md
  ee/ucp/authorization/_site/create-teams-with-ldap.html
  ee/ucp/authorization/_site/create-users-and-teams-manually.html
  ee/ucp/authorization/_site/define-roles.html
  ee/ucp/authorization/_site/deploy-stateless-app.html
  ee/ucp/authorization/_site/ee-advanced.html
  ee/ucp/authorization/_site/ee-standard.html
  ee/ucp/authorization/_site/grant-permissions.html
  ee/ucp/authorization/_site/group-resources.html
  ee/ucp/authorization/_site/index.html
  ee/ucp/authorization/_site/isolate-nodes.html
  ee/ucp/authorization/_site/isolate-volumes.html
  ee/ucp/authorization/_site/migrate-kubernetes-roles.html
  ee/ucp/authorization/_site/pull-images.html
  ee/ucp/authorization/_site/reset-user-password.html
  ee/ucp/authorization/migrate-kubernetes-roles.md
  ee/ucp/kubernetes/deploy-with-compose.md
  get-started/index.md
  samples/index.md
Labels: publish-cycle

#8412 Compose: put Windows Server in its own tab for installation
  compose/install.md
Labels: content/compose

#8527 Update seccomp.md
  engine/security/seccomp.md
Labels: content/engine/security, priority/P4-trivial

#8529 Sync published with master
  _includes/kubernetes-mac-win.md
  compose/completion.md
  compose/install.md
  ee/ucp/interlock/deploy/index.md
  engine/security/seccomp.md
Labels: publish-cycle

#8537 Fix some minor issues in vfs storage-driver section
  storage/storagedriver/vfs-driver.md
Labels: content/engine

#8543 Sync published with master
  Jenkinsfile
  _config.yml
  ee/dtr/admin/configure/enable-single-sign-on.md
  ee/dtr/release-notes.md
  ee/ucp/admin/configure/external-auth/index.md
  ee/ucp/release-notes.md
  engine/release-notes.md
  reference/ucp/3.1/api/index.md
  reference/ucp/3.1/api/main.js
  storage/storagedriver/vfs-driver.md
Labels: publish-cycle

#8544 Update compose-version to 1.24.0
  _config.yml
  _config_authoring.yml
  compose/reference/build.md
  compose/reference/config.md
  compose/reference/events.md
  compose/reference/images.md
  compose/reference/kill.md
  compose/reference/logs.md
  compose/reference/port.md
  compose/reference/ps.md
  compose/reference/pull.md
  compose/reference/restart.md
  compose/reference/scale.md
  compose/reference/stop.md
Labels: content/compose

#8514 Adding mention of UCP client bundle requirement
  ee/ucp/admin/configure/deploy-route-reflectors.md
Labels: content/ucp

#8555 Update release notes for 1.23.2 and 1.24.0
  release-notes/docker-compose.md
Labels: content/compose
