Repository docker/docs, pull requests merged in 2019-06, with the labels that each got.

#8881 Clean up syntax
  ee/dtr/admin/configure/external-storage/storage-backend-migration.md
Labels: content/dtr

#8880 Removed 2018 references.
  docker-hub/publish/publisher_faq.md
Labels: content/hub, content/minoredits

#8879 Remove pay thru Docker section
  docker-hub/publish/index.md
Labels: content/hub

#8882 Edit signing images
  ee/dtr/user/manage-images/sign-images/index.md
Labels: content/dtr

#8750 Removed Build from Compose on Docker Desktop Example
  _includes/kubernetes-mac-win.md
  ee/ucp/kubernetes/deploy-with-compose.md
Labels: content/compose, content/orchestration/kubernetes, content/platform/win, content/ucp

#8908 Publish Hub updates and add TOC entry for Publish page
  _data/toc.yaml
  docker-hub/publish/index.md
  docker-hub/publish/publish.md
  docker-hub/publish/publisher_faq.md
  docker-hub/upgrade.md
Labels: content/hub

#8909 Sync published with master
  _data/toc.yaml
  _includes/kubernetes-mac-win.md
  config/containers/logging/local.md
  docker-hub/publish/index.md
  docker-hub/publish/publish.md
  docker-hub/publish/publisher_faq.md
  docker-hub/upgrade.md
  ee/ucp/kubernetes/deploy-with-compose.md
Labels: publish-cycle

#8913 DESKTOP-1299 Adding experimental blurb in the Desktop community docs
  _includes/experimental-feature.md
  docker-for-mac/faqs.md
  docker-for-windows/faqs.md
Labels: content/desktop

#8945 Added logging driver section
  install/linux/linux-postinstall.md
Labels: content/engine, content/logging

#8964 Sync published with master
  _data/toc.yaml
  ee/ucp/admin/configure/ucp-configuration-file.md
  ee/ucp/admin/install/install-on-azure.md
  ee/ucp/authorization/index.md
  ee/ucp/release-notes.md
  engine/index.md
  install/linux/linux-postinstall.md
Labels: publish-cycle

#7041 update dotnet data
  compose/aspnet-mssql-compose.md
Labels: OP/+21 days, OP/pending tech review, content/platform/win

#8037 Add labels-regex logging opt
  config/containers/logging/fluentd.md
  config/containers/logging/gcplogs.md
  config/containers/logging/gelf.md
  config/containers/logging/journald.md
  config/containers/logging/json-file.md
  config/containers/logging/splunk.md
  config/containers/logging/syslog.md
Labels: OP/pending tech review
