Repository docker/docs, pull requests merged in 2019-08, with the labels that each got.

#9226 Add notes about DTR install
  ee/dtr/admin/install/index.md
Labels: OP/pending tech review, content/ucp

#8818 Adding buildx content
  docker-for-mac/images/desktop-buildx-version.png
  docker-for-mac/images/localhost-arm.png
  docker-for-mac/multi-arch.md
Labels: OP/pending tech review, content/desktop, size/medium

#9306 Change API URL to 3.2
  ee/ucp/admin/configure/external-auth/index.md
Labels: content/ucp
