Repository docker/docs, pull requests merged in 2019-02, with the labels that each got.

#6995 Include httpsProxy key/value in sample client config.json
  network/proxy.md
Labels: topic/networking

#8111 Addresses partial documentation gaps in the pull mirroring page
  ee/dtr/images/pull-mirror-1.png
  ee/dtr/images/pull-mirror-2.png
  ee/dtr/user/promotion-policies/pull-mirror.md
Labels: OP/pending editorial review, content/dtr

#8124 Removes IBM Z references to architecture-specific images doc.
  ee/ucp/admin/install/architecture-specific-images.md
Labels: OP/pending tech review, content/ucp

#8057 Update deploying.md
  registry/deploying.md
Labels: OP/pending tech review, content/registry

#8121 Rename resin to balena and fix 404 link
  docker-for-mac/multi-arch.md
Labels: OP/pending tech review

#6944 Docker for Mac: add page on disk space
  docker-for-mac/images/settings-disk.png
  docker-for-mac/space.md
Labels: OP/+7 days, OP/pending tech review, content/platform/mac

#7425 interlock install: shrink screenshot
  ee/ucp/images/interlock-install-3.png
Labels: content/ucp

#6385 Fix `-OutFile` argument to be the correct path
  compose/install.md
Labels: OP/pending tech review, content/compose, content/platform/win

#8132 CURRENT STATE instead of LAST STATE with docker 18.09.1
  engine/swarm/swarm-tutorial/inspect-service.md
Labels: OP/pending tech review, content/orchestration/swarm

#7583 Update services.md
  engine/swarm/services.md
Labels: OP/pending tech review, content/orchestration/swarm

#8171 Fixes issue 8141
  datacenter/dtr/2.5/reference/cli/destroy.md
Labels: OP/pending editorial review, content/cli, content/dtr

#8172 Fixes 7798
  ee/ucp/admin/backups-and-disaster-recovery.md
Labels: OP/pending editorial review, content/ucp

#8173 Update description of private collection
  ee/ucp/authorization/group-resources.md
Labels: content/ucp

#6933 Clear confusion in the restart policies
  config/containers/start-containers-automatically.md
Labels: OP/+14 days, OP/pending tech review, topic/config

#8231 Add notice around EOL versions
  README.md
Labels: OP/site/accessibility, topic/site

#8179 Update balena link
  docker-for-mac/multi-arch.md
Labels: content/desktop, content/platform/mac, size/small

#8240 Fixes 785
  ee/ucp/admin/configure/ucp-configuration-file.md
Labels: content/ucp

#8238 Fixes 964
  ee/ucp/authorization/group-resources.md
  ee/ucp/images/nested-collection.png
  ee/ucp/release-notes.md
Labels: content/ucp

#8237 Fixes 7984
  ee/ucp/kubernetes/configure-aws-storage.md
Labels: content/ucp

#8243 Addresses 8242
  ee/ucp/admin/configure/use-nfs-volumes.md
Labels: content/orchestration/kubernetes, content/ucp

#8244 Fixes 8034
  _data/glossary.yaml
Labels: content/glossary, topic/glossary

#8189 Added a command for getting the service
  get-started/part3.md
Labels: topic/install

#8259 Add known issue to release notes, and update tag pruning page
  ee/dtr/release-notes.md
  ee/dtr/user/tag-pruning.md
Labels: content/dtr, content/relnotes

#8260 Add tip on finding DTR replica ID
  ee/dtr/admin/disaster-recovery/repair-a-cluster.md
  ee/dtr/admin/disaster-recovery/repair-a-single-replica.md
Labels: content/dtr

#8288 Extra regions
  docker-for-azure/faqs.md
Labels: content/cloud

#8254 Add a reference to the `local` log-driver
  config/containers/logging/configure.md
Labels: content/logging, topic/config

#8205 Overlay driver note rewording (fixes #38695)
  storage/storagedriver/overlayfs-driver.md
Labels: OP/pending tech review

#8329 docker compose autocompletion content refresh
  compose/completion.md
Labels: content/compose

#8092 Added docker-compose for oh-my-zsh autocomplete
  compose/completion.md
Labels: content/compose

#8320 Remove misleading pages, add updated troubleshooting guides
  _data/toc.yaml
  datacenter/dtr/2.5/guides/admin/monitor-and-troubleshoot/troubleshoot-dtr.md
  datacenter/dtr/2.5/guides/admin/monitor-and-troubleshoot/troubleshoot-with-logs.md
  ee/dtr/admin/monitor-and-troubleshoot/troubleshoot-dtr.md
  ee/dtr/admin/monitor-and-troubleshoot/troubleshoot-with-logs.md
Labels: OP/pending tech review, content/dtr

#7001 add Linode to AVAILABLE_DRIVER_PLUGINS.md
  machine/AVAILABLE_DRIVER_PLUGINS.md
  machine/drivers/index.md
  machine/drivers/linode.md
Labels: OP/pending tech review, content/machine

#7998 Add kamatera-docker-machine-driver to the list of 3rd part machine drivers
  machine/AVAILABLE_DRIVER_PLUGINS.md
Labels: OP/+21 days, OP/pending tech review, content/machine, content/plugin

#7388 calicoctl: use docker/ucp-dsinfo and client bundle
  ee/ucp/admin/configure/deploy-route-reflectors.md
Labels: content/ucp

#8311 Update part4.md
  get-started/part4.md
Labels: topic/networking

#8207 Add an example json-file log line to the documentation.
  config/containers/logging/json-file.md
Labels: OP/pending tech review

#8195 Added Using DTR Trust Data with a Remote UCP
  _data/toc.yaml
  ee/dtr/images/delegate-image-signing-1.svg
  ee/dtr/images/remoteucp-addregistry.png
  ee/dtr/images/remoteucp-enablesigning.png
  ee/dtr/images/remoteucp-graphic.png
  ee/dtr/images/remoteucp-signedimage.png
  ee/dtr/images/sign-an-image-3.png
  ee/dtr/user/access-dtr/configure-your-notary-client.md
  ee/dtr/user/manage-images/sign-images/delegate-image-signing.md
  ee/dtr/user/manage-images/sign-images/index.md
  ee/dtr/user/manage-images/sign-images/manage-trusted-repositories.md
  ee/dtr/user/manage-images/sign-images/trust-with-remote-ucp.md
  ee/ucp/admin/configure/integrate-with-multiple-registries.md
  engine/security/trust/trust_delegation.md
Labels: content/dtr

#7416 Clarifying some confusing explanations for limiting cpus resource.
  compose/compose-file/index.md
  get-started/part3.md
Labels: content/compose

#8174 Specify that mac_address is a legacy option
  compose/compose-file/index.md
Labels: OP/pending tech review, area/deprecated, content/compose, size/small

#8333 Found an old 'DCT with CI' page in the latest UCP Docs
  _data/toc.yaml
  datacenter/ucp/3.0/guides/admin/configure/use-trusted-images-for-ci.md
  ee/ucp/admin/configure/use-trusted-images-for-ci.md
Labels: content/ucp, topic/site

#8373 Fixes Windows container limitations
  docker-for-windows/troubleshoot.md
Labels: content/desktop, content/platform/win

#8364 Correct docker stack deploy option
  docker-for-aws/deploy.md
  docker-for-azure/deploy.md
Labels: OP/pending tech review

#8380 Remove deprecated Cloud links
  engine/installation/index.md
Labels: area/deprecated, content/hub

#8381 Addresses 7094
  engine/swarm/swarm-tutorial/rolling-update.md
Labels: content/engine, content/orchestration/swarm
