Repository docker/docs, pull requests merged in 2019-05, with the labels that each got.

#8744 Updated Engine/DTR/UCP version info
  _config.yml
  _data/ddc_offline_files_2.yaml
Labels: content/relnotes, topic/install

#8763 Release notes update (May)
  ee/dtr/release-notes.md
  ee/ucp/release-notes.md
  engine/release-notes.md
Labels: content/dtr, content/engine, content/relnotes, content/ucp

#8760 Remove outdated links/fix links
  ee/ucp/interlock/config/index.md
Labels: content/interlock, content/ucp

#8732 Fixed syntax error
  ee/dtr/admin/disaster-recovery/create-a-backup.md
Labels: content/cli, content/dtr

#8773 Added new example and deprecation info
  ee/ucp/admin/configure/ucp-configuration-file.md
Labels: content/ucp, topic/config

#8719 Update configure-tls.md
  swarm/configure-tls.md
Labels: content/minoredits

#8718 Update upgrade.md
  docker-hub/upgrade.md
Labels: content/minoredits

#8717 Update index.md
  docker-hub/index.md
Labels: content/minoredits

#8713 Update get-started.md
  machine/get-started.md
Labels: content/machine, content/minoredits

#8711 Update tmpfs.md
  storage/tmpfs.md
Labels: content/minoredits, content/storage

#8778 Sync published with master
  _data/toc.yaml
  compose/extends.md
  compose/gettingstarted.md
  develop/develop-images/multistage-build.md
  docker-hub/index.md
  docker-hub/upgrade.md
  ee/dtr/admin/disaster-recovery/create-a-backup.md
  ee/dtr/release-notes.md
  ee/ucp/admin/configure/ucp-configuration-file.md
  ee/ucp/kubernetes/storage/use-nfs-volumes.md
  ee/ucp/release-notes.md
  machine/get-started.md
  storage/tmpfs.md
  swarm/configure-tls.md
Labels: publish-cycle

#8781 DESKTOP-1122 Docker Desktop for Mac 2.0.4.1 (Edge)
  docker-for-mac/edge-release-notes.md
Labels: content/desktop

#8783 Internal UCP component version updates
  ee/ucp/ucp-architecture.md
Labels: content/relnotes, content/ucp

#8764 Fixed env_file anchor in environment-variables.md
  compose/environment-variables.md
Labels: content/compose, content/minoredits

#8747 Remove Google+ and change linkt to GitHub org
  _includes/footer.html
Labels: content/community, site/external dependency, size/small

#8782 Removed unsupported Win version from sys reqs
  docker-for-windows/install.md
Labels: content/desktop, size/small

#8787 removed external ticket reference from edge rel notes
  docker-for-mac/edge-release-notes.md
  docker-for-windows/edge-release-notes.md
Labels: content/desktop, size/small

#8800 Sync published with master
  _data/toc.yaml
  config/containers/logging/configure.md
  config/containers/logging/dual-logging.md
  config/containers/logging/json-file.md
  config/containers/logging/local.md
  ee/ucp/interlock/deploy/production.md
  ee/ucp/interlock/usage/index.md
Labels: publish-cycle

#8735 Update zfs-driver.md
  storage/storagedriver/zfs-driver.md
Labels: content/storage, size/small

#8774 Added Azure Disk and Azure File Storage for UCP Workloads
  _data/toc.yaml
  ee/ucp/kubernetes/storage/use-azure-disk.md
  ee/ucp/kubernetes/storage/use-azure-files.md
Labels: OP/pending editorial review, content/orchestration/kubernetes, content/storage, content/ucp, size/medium

#8805 Updated UCP CLI Reference to 3.1.7
  reference/ucp/3.1/cli/backup.md
  reference/ucp/3.1/cli/dump-certs.md
  reference/ucp/3.1/cli/id.md
  reference/ucp/3.1/cli/images.md
  reference/ucp/3.1/cli/index.md
  reference/ucp/3.1/cli/install.md
  reference/ucp/3.1/cli/restart.md
  reference/ucp/3.1/cli/restore.md
  reference/ucp/3.1/cli/stop.md
  reference/ucp/3.1/cli/support.md
  reference/ucp/3.1/cli/uninstall-ucp.md
  reference/ucp/3.1/cli/upgrade.md
Labels: content/cli, content/ucp

#8810 Added UCP Kubernetes Secure RBAC Defaults
  ee/ucp/authorization/index.md
Labels: content/ucp

#8822 Sync published with master
  _data/toc.yaml
  config/containers/logging/dual-logging.md
  ee/dtr/admin/configure/auto-delete-repo-events.md
  ee/ucp/admin/install/index.md
  ee/ucp/authorization/index.md
  ee/ucp/interlock/config/index.md
  ee/ucp/kubernetes/storage/use-azure-disk.md
  ee/ucp/kubernetes/storage/use-azure-files.md
  get-started/index.md
  install/linux/docker-ee/ubuntu.md
  reference/ucp/3.1/cli/backup.md
  reference/ucp/3.1/cli/dump-certs.md
  reference/ucp/3.1/cli/id.md
  reference/ucp/3.1/cli/images.md
  reference/ucp/3.1/cli/index.md
  reference/ucp/3.1/cli/install.md
  reference/ucp/3.1/cli/restart.md
  reference/ucp/3.1/cli/restore.md
  reference/ucp/3.1/cli/stop.md
  reference/ucp/3.1/cli/support.md
  reference/ucp/3.1/cli/uninstall-ucp.md
  reference/ucp/3.1/cli/upgrade.md
  storage/storagedriver/zfs-driver.md
Labels: publish-cycle

#8828 Add deprecation notice for Hub discovery
  ee/ucp/admin/configure/ucp-configuration-file.md
  reference/ucp/3.1/cli/install.md
  swarm/discovery.md
Labels: content/hub

#8829 Sync published with master
  ee/ucp/admin/configure/ucp-configuration-file.md
  reference/ucp/3.1/cli/install.md
  swarm/discovery.md
Labels: publish-cycle

#8827 Propose 3 as the number of manager nodes
  ee/ucp/admin/configure/join-nodes/index.md
Labels: content/ucp

#8837 typeo in document update and small update to image
  ee/ucp/images/interlock-install-4.png
  ee/ucp/interlock/deploy/index.md
Labels: content/minoredits

#8650 Fix typos
  network/macvlan.md
Labels: topic/networking

#8626 remove extra 'but' on line 40
  ee/dtr/user/manage-images/scan-images-for-vulnerabilities.md
Labels: content/dtr, content/minoredits

#8609 Update Python and Flask usage in Compose tutorial
  compose/gettingstarted.md
Labels: content/compose

#8794 Improve webhook management docs for DTR
  _data/toc.yaml
  ee/dtr/admin/configure/auto-delete-repo-events.md
  ee/dtr/admin/manage-webhooks/index.md
  ee/dtr/admin/manage-webhooks/use-the-api.md
  ee/dtr/admin/manage-webhooks/use-the-web-ui.md
  ee/dtr/images/manage-webhooks-1.png
  ee/dtr/images/manage-webhooks-2.png
  ee/dtr/user/audit-repository-events.md
  ee/dtr/user/create-and-manage-webhooks.md
Labels: content/dtr

#8848 Sync published with master
  _data/toc.yaml
  compose/gettingstarted.md
  ee/dtr/admin/configure/auto-delete-repo-events.md
  ee/dtr/admin/manage-webhooks/index.md
  ee/dtr/admin/manage-webhooks/use-the-api.md
  ee/dtr/admin/manage-webhooks/use-the-web-ui.md
  ee/dtr/images/manage-webhooks-1.png
  ee/dtr/images/manage-webhooks-2.png
  ee/dtr/user/audit-repository-events.md
  ee/dtr/user/create-and-manage-webhooks.md
  ee/ucp/admin/configure/enable-saml-authentication.md
  ee/ucp/interlock/deploy/index.md
Labels: publish-cycle

#8849 Follow-up fixes to webhook management changes
  _data/toc.yaml
  ee/dtr/admin/manage-webhooks/use-the-api.md
Labels: content/dtr

#8841 Fix incorrect subject-verb agreement in image signing doc
  ee/dtr/user/manage-images/sign-images/index.md
Labels: content/dtr, content/minoredits

#8746 Update ubuntu version and common driver on storagedriver docs
  storage/storagedriver/index.md
Labels: content/storage

#8876 7724
  datacenter/ucp/2.0/guides/configuration/index.md
  datacenter/ucp/2.0/guides/configuration/integrate-with-dtr.md
Labels: content/404, content/minoredits, content/ucp
