Repository docker/docs, pull requests merged in 2019-10, with the labels that each got.

#9301 Add warning about the impact of not following the config guidelines
  ee/ucp/admin/install/cloudproviders/install-on-azure.md
Labels: UCP

#9559 Fix broken link to Using routing labels section
  _data/toc.yaml
Labels: UCP

#9560 Add note on swarm mode restore process
  engine/swarm/admin_guide.md
Labels: Engine, UCP

#9540 Small typo
  ee/ucp/interlock/usage/tls.md
Labels: UCP

#9506 Updating number of files in the backup tar
  ee/admin/backup/back-up-ucp.md
Labels: UCP

#9604 Add more details for Interlock 3 upgrade
  ee/ucp/release-notes.md
Labels: UCP

#9600 Fix formatting, headings, typos
  _data/toc.yaml
  ee/ucp/kubernetes/cluster-ingress/canary.md
  ee/ucp/kubernetes/cluster-ingress/index.md
  ee/ucp/kubernetes/cluster-ingress/ingress.md
  ee/ucp/kubernetes/cluster-ingress/install.md
  ee/ucp/kubernetes/cluster-ingress/sticky.md
Labels: Kubernetes, UCP

#9567 Remove Advanced and Standard names
  _data/toc.yaml
  ee/ucp/admin/install/index.md
  ee/ucp/admin/monitor-and-troubleshoot/index.md
  ee/ucp/authorization/ee-advanced.md
  ee/ucp/authorization/ee-standard.md
  ee/ucp/authorization/group-resources.md
  ee/ucp/authorization/index.md
  ee/ucp/authorization/isolate-nodes.md
Labels: UCP

#9590 Fix syntax and formatting
  ee/ucp/admin/install/upgrade.md
Labels: UCP

#9615 Remove 3.2.2 section
  _config.yml
  _data/ddc_offline_files_2.yaml
  ee/ucp/release-notes.md
Labels: UCP

#9612 Added commentary around Azure NSGs for UCP
  ee/ucp/admin/install/cloudproviders/install-on-azure.md
  ee/ucp/admin/install/system-requirements.md
Labels: UCP

#9649 Add back up and restore links
  _data/toc.yaml
Labels: UCP

#9666 Remove duplicate firewall section
  ee/ucp/admin/install/system-requirements.md
Labels: UCP

#9711 [WIP] Add vSphere Volumes section
  _data/toc.yaml
  ee/ucp/kubernetes/storage/use-vsphere-volumes.md
Labels: Kubernetes, UCP

#9716 [WIP] Add information on Swarm operations roles
  ee/ucp/authorization/define-roles.md
Labels: Swarm, UCP

#9756 Change note on workloads on managers
  ee/ucp/admin/install/system-requirements.md
Labels: UCP

#9757 Add note on DTR node mixed mode
  ee/ucp/admin/configure/set-orchestrator-type.md
Labels: UCP

#9762 Add the Network option
  ee/ucp/interlock/config/index.md
Labels: UCP

#9780 Add Networks to extensions table
  ee/ucp/interlock/config/index.md
Labels: UCP
