Repository docker/docs, pull requests merged in 2019-09, with the labels that each got.

#7275 Updated bullet on FROM instruction.
  develop/develop-images/baseimages.md
Labels: Build

#8409 Adds `--no-interpolate` to `docker-compose config`
  compose/reference/config.md
Labels: Compose

#9391 Add bug fix to 3.2.1 relnotes
  ee/ucp/release-notes.md
Labels: UCP

#9372 Update screenshots to 3.2
  ee/ucp/images/monitor-ucp-0.png
  ee/ucp/images/monitor-ucp-1.png
Labels: UCP

#9361 Adding JIRA to bug fix
  ee/ucp/release-notes.md
Labels: UCP

#9453 Update broken links
  ee/ucp/admin/install/cloudproviders/install-on-azure.md
Labels: UCP

#9376 Add options for ucp backup
  reference/ucp/3.2/cli/backup.md
Labels: UCP

#8481 [19.03] Update compose-file reference for sysctls
  compose/compose-file/index.md
Labels: Compose

#9395 ucp: fix whitespace on node labels doc
  ee/ucp/admin/configure/add-labels-to-cluster-nodes.md
Labels: UCP

#9317 The documentation is misleading
  ee/ucp/user-access/cli.md
Labels: UCP

#9406 Remove web interface upgrade section
  ee/ucp/admin/install/upgrade.md
  ee/ucp/images/upgrade-ucp-1.png
  ee/ucp/images/upgrade-ucp-2.png
Labels: UCP

#8662 Correct swarm init default-address-pool to default-addr-pool
  engine/swarm/networking.md
  engine/swarm/swarm-mode.md
Labels: Swarm, UCP

#9517 Add commands to export scripts
  cluster/index.md
Labels: UCP

#9480 Stop referring to deprecated 'links' feature
  compose/extends.md
Labels: Compose
