Repository docker/docs, pull requests merged in 2019-12, with the labels that each got.

#9662 Remove ptrace from blocked syscalls
  engine/security/seccomp.md
Labels: Engine

#9977 Add link to Generic drivers
  machine/drivers/index.md
Labels: Machine

#9954 Remove Enterprise terms from glossary
  _data/glossary.yaml
Labels: Docs UX, Glossary

#9566 Call out FROM can take a previous stage
  develop/develop-images/multistage-build.md
Labels: Desktop

#9969 Docker Desktop FAQ updates
  docker-for-mac/faqs.md
  docker-for-windows/faqs.md
  docker-for-windows/index.md
  docker-for-windows/install.md
Labels: Desktop

#9721 Update install.md
  docker-for-mac/install.md
Labels: Desktop

#9976 Update json file example
  ee/ucp/admin/configure/join-nodes/join-windows-nodes-to-cluster.md
Labels: UCP

#9997 Adding links to Docker EULA and DPA
  docker-for-mac/install.md
  docker-for-windows/install.md
Labels: Desktop

#9986 WIP - Fix broken links in UCP topics
  cluster/cluster-file.md
  datacenter/ucp/3.1/guides/admin/install/index.md
  ee/ucp/admin/configure/join-nodes/join-linux-nodes-to-cluster.md
  ee/ucp/kubernetes/create-service-account.md
  ee/ucp/kubernetes/install-cni-plugin.md
  ee/ucp/kubernetes/storage/configure-aws-storage.md
Labels: UCP

#9980 Add info about K8s backup
  ee/admin/backup/back-up-ucp.md
Labels: UCP

#9857 Added release note links for Calico and Kube
  ee/ucp/release-notes.md
Labels: UCP

#10008 Commandline reference: add note to "enterprise only" subcommands
  _includes/cli.md
  engine/reference/commandline/assemble.md
  engine/reference/commandline/assemble_backend.md
  engine/reference/commandline/assemble_backend_cache.md
  engine/reference/commandline/assemble_backend_cache_purge.md
  engine/reference/commandline/assemble_backend_cache_usage.md
  engine/reference/commandline/assemble_backend_image.md
  engine/reference/commandline/assemble_backend_info.md
  engine/reference/commandline/assemble_backend_logs.md
  engine/reference/commandline/assemble_backend_start.md
  engine/reference/commandline/assemble_backend_stop.md
  engine/reference/commandline/assemble_build.md
  engine/reference/commandline/assemble_version.md
  engine/reference/commandline/cluster.md
  engine/reference/commandline/cluster_backup.md
  engine/reference/commandline/cluster_create.md
  engine/reference/commandline/cluster_inspect.md
  engine/reference/commandline/cluster_ls.md
  engine/reference/commandline/cluster_restore.md
  engine/reference/commandline/cluster_rm.md
  engine/reference/commandline/cluster_update.md
  engine/reference/commandline/cluster_version.md
  engine/reference/commandline/registry.md
  engine/reference/commandline/registry_events.md
  engine/reference/commandline/registry_history.md
  engine/reference/commandline/registry_info.md
  engine/reference/commandline/registry_inspect.md
  engine/reference/commandline/registry_joblogs.md
  engine/reference/commandline/registry_jobs.md
  engine/reference/commandline/registry_ls.md
  engine/reference/commandline/registry_rmi.md
  engine/reference/commandline/template.md
  engine/reference/commandline/template_config.md
  engine/reference/commandline/template_config_set.md
  engine/reference/commandline/template_config_view.md
  engine/reference/commandline/template_inspect.md
  engine/reference/commandline/template_list.md
  engine/reference/commandline/template_scaffold.md
  engine/reference/commandline/template_version.md
Labels: CLI, Enterprise

#9929 Clarified function of com.docker.lb.context_root_rewrite
  ee/ucp/interlock/usage/labels-reference.md
Labels: UCP

#9843 interlock: Default update failure action is now rollback
  ee/ucp/interlock/config/index.md
Labels: UCP

#9822 added default install directories
  ee/ucp/admin/install/system-requirements.md
Labels: UCP

#9816 Interlock Service Cluster Config Note
  ee/ucp/interlock/deploy/index.md
  ee/ucp/interlock/usage/service-clusters.md
Labels: UCP

#8641 Example to indicate behavioral diff. client bundle
  ee/ucp/user-access/cli.md
Labels: UCP

#9753 granting cluster-admin to normal users
  ee/ucp/authorization/index.md
Labels: UCP

#9999 Update restore-dtr.md
  ee/admin/restore/restore-dtr.md
Labels: DTR

#7469 Update system-requirements.md
  ee/ucp/admin/install/system-requirements.md
Labels: UCP

#10021 Add API information
  ee/ucp/admin/configure/join-nodes/join-linux-nodes-to-cluster.md
Labels: UCP

#9959 Added Azure Files troubleshooting details
  ee/ucp/kubernetes/storage/use-azure-files.md
Labels: UCP

#9774 add disclaimer for consistency across layer7 docs
  ee/ucp/interlock/index.md
Labels: UCP

#10048 Add note about TLS passthrough
  ee/ucp/interlock/usage/redirects.md
Labels: UCP

#10055 Fix typos and formatting
  ee/ucp/admin/install/cloudproviders/install-on-azure.md
Labels: UCP

#10066 Update process for creating grants
  ee/ucp/authorization/grant-permissions.md
Labels: UCP
