Repository docker/docs, pull requests merged in 2019-11, with the labels that each got.

#9730 Add note on CSI drivers
  ee/ucp/kubernetes/storage/use-csi.md
Labels: Kubernetes, UCP

#9768 Add section on Azure custom roles for DE
  _data/toc.yaml
  ee/ucp/admin/install/cloudproviders/install-on-azure-custom.md
Labels: UCP

#9861 Add RHEL8 information
  ee/ucp/admin/install/plan-installation.md
Labels: UCP

#9889 Change Golang version number
  ee/ucp/release-notes.md
Labels: UCP

#9902 Add SAML user admin information
  _data/toc.yaml
  ee/ucp/admin/configure/integrate-saml.md
Labels: UCP

#9887 Add features to config table
  ee/ucp/admin/configure/ucp-configuration-file.md
Labels: UCP

#9915 Add info on Kube secrets
  ee/ucp/ucp-architecture.md
Labels: Kubernetes, UCP

#9797 Add table for IP ranges
  ee/ucp/admin/install/plan-installation.md
Labels: UCP

#9948 Add note on UCP usernames
  ee/ucp/admin/install/system-requirements.md
Labels: UCP

#9927 Update release notes for docker-compose 1.25.0
  release-notes/docker-compose.md
Labels: Compose

#9928 Bump docker-compose 1.25.0
  _config_authoring.yml
Labels: Compose
