Repository docker/docs, pull requests merged in 2020-04, with the labels that each got.

#10577 compose: add "docker-compose" to CLI reference TOC
  _data/toc.yaml
Labels: Compose

#10479 Engine: reorganize install topic
  _data/toc.yaml
  _includes/ee-linux-install-reuse.md
  compose/aspnet-mssql-compose.md
  compose/gettingstarted.md
  compose/install.md
  config/containers/resource_constraints.md
  config/daemon/index.md
  config/daemon/systemd.md
  datacenter/ucp/1.1/installation/system-requirements.md
  datacenter/ucp/2.2/guides/admin/install/index.md
  datacenter/ucp/2.2/guides/admin/install/system-requirements.md
  datacenter/ucp/3.0/guides/admin/install/index.md
  datacenter/ucp/3.0/guides/admin/install/system-requirements.md
  docker-for-mac/install.md
  docker-for-windows/install.md
  ee/docker-ee/centos.md
  ee/docker-ee/oracle.md
  ee/docker-ee/release-notes.md
  ee/docker-ee/rhel.md
  ee/docker-ee/suse.md
  ee/docker-ee/ubuntu.md
  ee/supported-platforms.md
  ee/upgrade.md
  engine/api/sdk/examples.md
  engine/examples/apt-cacher-ng.md
  engine/examples/couchdb_data_volumes.md
  engine/index.md
  engine/install/binaries.md
  engine/install/centos.md
  engine/install/debian.md
  engine/install/fedora.md
  engine/install/index.md
  engine/install/linux-postinstall.md
  engine/install/ubuntu.md
  engine/release-notes/18.06.md
  engine/release-notes/index.md
  engine/swarm/index.md
  engine/swarm/swarm-tutorial/index.md
  get-docker.md
  get-started/overview.md
  index.md
  install/index.md
  storage/storagedriver/aufs-driver.md
  storage/storagedriver/device-mapper-driver.md
  swarm/install-manual.md
Labels: Engine

#10578 Engine API: remove per-branch fetching of API docs
  _data/not_edited_here.yaml
  _scripts/fetch-upstream-resources.sh
Labels: Engine

#10601 Add doc for awslogs-endpoint log option
  config/containers/logging/awslogs.md
Labels: Engine

#10621 compose: fix highlighting on startup-order page
  compose/startup-order.md
Labels: Compose

#10624 update postgres initialization for compose/django.md
  compose/django.md
Labels: Compose

#10273 Mention Docker 19.03 and its compose file version - and add max_repli…
  _includes/content/compose-matrix.md
  compose/compose-file/index.md
Labels: Compose

#10678 engine/install: fix rasbian links on "check" icons
  engine/install/index.md
Labels: Engine

#10680 compose-file: add some options that were missing in changes
  compose/compose-file/compose-file-v2.md
  compose/compose-file/compose-versioning.md
  compose/compose-file/index.md
Labels: Compose

#10696 Update naming for "Linux Mint", and add note about derivatives
  engine/install/index.md
Labels: Engine

#10715 engine: remove stub for deprecated top-level "deploy" command
  _data/toc.yaml
  engine/reference/commandline/deploy.md
  engine/reference/commandline/stack_deploy.md
Labels: Engine

#10716 update engine reference with latest changes from 19.03
  _data/engine-cli/docker_network_create.yaml
  _data/engine-cli/docker_network_prune.yaml
  _data/engine-cli/docker_service_update.yaml
Labels: Engine

#10723 removed with from line 41
  engine/security/trust/trust_sandbox.md
Labels: Engine

#10735 DD: fix broken links in release notes
  docker-for-mac/edge-release-notes.md
  docker-for-mac/release-notes.md
  docker-for-windows/edge-release-notes.md
  docker-for-windows/release-notes.md
Labels: Desktop
