Repository docker/docs, pull requests merged in 2020-03, with the labels that each got.

#10406 engine: add release notes from 19.03.6 and 19.03.7
  engine/release-notes.md
Labels: Engine

#10435 engine: add release notes for 19.03.8
  engine/release-notes.md
Labels: Engine, Security

#10446 toc: move glossary, and reorganize "reference" section
  _data/toc.yaml
  _includes/content/ssh/ssh-overview.md
  compose/compose-file/compose-file-v2.md
  js/docs.js
Labels: CLI, Engine

#10456 Update engine cli reference to fix some missing descriptions
  _data/engine-cli/docker_build.yaml
  _data/engine-cli/docker_builder_build.yaml
  _data/engine-cli/docker_builder_prune.yaml
  _data/engine-cli/docker_events.yaml
  _data/engine-cli/docker_exec.yaml
  _data/engine-cli/docker_image_build.yaml
  _data/engine-cli/docker_info.yaml
  _data/engine-cli/docker_login.yaml
  _data/engine-cli/docker_manifest.yaml
  _data/engine-cli/docker_network_ls.yaml
  _data/engine-cli/docker_node_inspect.yaml
  _data/engine-cli/docker_node_ls.yaml
  _data/engine-cli/docker_ps.yaml
  _data/engine-cli/docker_push.yaml
  _data/engine-cli/docker_search.yaml
  _data/engine-cli/docker_service_create.yaml
  _data/engine-cli/docker_service_inspect.yaml
  _data/engine-cli/docker_swarm_init.yaml
  _data/engine-cli/docker_swarm_join-token.yaml
  _data/engine-cli/docker_swarm_unlock-key.yaml
  _data/engine-cli/docker_trust_inspect.yaml
  _data/engine-cli/docker_trust_key_generate.yaml
  _data/engine-cli/docker_trust_key_load.yaml
  _data/engine-cli/docker_trust_revoke.yaml
  _data/engine-cli/docker_trust_sign.yaml
  _data/engine-cli/docker_trust_signer_add.yaml
  _data/engine-cli/docker_trust_signer_remove.yaml
Labels: CLI, Engine

#10461 Update layout of reference pages
  _includes/cli.md
Labels: CLI

#10467 Rewrite and cleaning-up compose file reference
  _includes/content/compose-var-sub.md
  compose/compose-file/compose-file-v1.md
  compose/compose-file/compose-file-v2.md
  compose/compose-file/index.md
Labels: Compose

#10472 update code-hints in engine reference
  _data/engine-cli/docker_build.yaml
  _data/engine-cli/docker_pull.yaml
Labels: CLI, Engine

#10476 CE+EE Engine release notes cleanup and restructure
  _data/toc.yaml
  compose/release-notes.md
  ee/docker-ee/release-notes.md
  engine/release-notes.md
  engine/release-notes/17.03.md
  engine/release-notes/17.04.md
  engine/release-notes/17.05.md
  engine/release-notes/17.06.md
  engine/release-notes/17.07.md
  engine/release-notes/17.09.md
  engine/release-notes/17.10.md
  engine/release-notes/17.11.md
  engine/release-notes/17.12.md
  engine/release-notes/18.01.md
  engine/release-notes/18.02.md
  engine/release-notes/18.03.md
  engine/release-notes/18.04.md
  engine/release-notes/18.05.md
  engine/release-notes/18.06.md
  engine/release-notes/18.09.md
  engine/release-notes/19.03.md
  engine/release-notes/index.md
  engine/release-notes/prior-releases.md
  machine/release-notes.md
  release-notes/index.md
  swarm/release-notes.md
Labels: Engine, Enterprise

#10480 Remove third-party tools / topics
  _data/toc.yaml
  config/daemon/images/prometheus-graph_idle.png
  config/daemon/images/prometheus-graph_load.png
  config/daemon/images/prometheus-targets.png
  config/daemon/index.md
  config/daemon/prometheus.md
  config/thirdparty/ansible.md
  config/thirdparty/chef.md
  config/thirdparty/dsc.md
  config/thirdparty/index.md
  config/thirdparty/puppet.md
Labels: Engine

#10481 Develop with Docker: remove nesting, and some restructuring
  _data/toc.yaml
  develop/develop-images/build_enhancements.md
Labels: Build

#10513 Remove `restart` and `stop` from command list.
  reference/ucp/3.2/cli/index.md
Labels: Enterprise, UCP
