Repository docker/docs, pull requests merged in 2020-01, with the labels that each got.

#10074 Update UCP configure screenshots
  ee/ucp/admin/configure/add-labels-to-cluster-nodes.md
  ee/ucp/admin/configure/enable-audit-logging.md
  ee/ucp/admin/configure/set-orchestrator-type.md
  ee/ucp/images/v32-edit-node.png
  ee/ucp/images/v32scheduler.png
Labels: UCP

#10056 Update UCP install screenshots
  ee/ucp/admin/configure/configure-rbac-kube.md
  ee/ucp/admin/install/cloudproviders/install-on-azure.md
  ee/ucp/admin/install/index.md
  ee/ucp/admin/install/uninstall.md
  ee/ucp/images/v32-add-node.png
  ee/ucp/images/v32dashboard.png
  ee/ucp/images/v32grants.png
  ee/ucp/images/v32nodes.png
  ee/ucp/images/v32roles.png
  ee/ucp/images/v32users.png
  ee/ucp/index.md
Labels: UCP

#9884 Updated base info about Fedora
  install/linux/docker-ce/fedora.md
Labels: Engine

#10092 remove line 47 disable selinux
  ee/docker-ee/oracle.md
Labels: Enterprise

#8309 RBAC instruction update for isolate-nodes.md
  ee/ucp/authorization/isolate-nodes.md
Labels: Enterprise, Kubernetes, UCP

#10076 WIP - Update screen capture and text
  ee/ucp/admin/configure/use-your-own-tls-certificates.md
  ee/ucp/images/use-externally-signed-certs-2.png
Labels: Enterprise, UCP

#9811 retool service-cluster page
  ee/ucp/interlock/usage/service-clusters.md
Labels: Enterprise, UCP

#10144 Add formatting for OL
  ee/ucp/swarm/index.md
Labels: UCP

#10156 Fix image filepath
  ee/ucp/swarm/index.md
Labels: UCP

#10101 Use tags where possible to fetch API documentation for older versions
  _scripts/fetch-upstream-resources.sh
Labels: Engine

#10100 Update UCP deploy application image
  ee/ucp/deploy-application-package.md
  ee/ucp/images/v32stacks.png
Labels: Enterprise, UCP

#10116 Change download URL
  ee/docker-ee/ubuntu.md
Labels: Enterprise

#9987 Remove "bundle" subcommand and support for DAB files
  _data/engine-cli/docker.yaml
  _data/engine-cli/docker_deploy.yaml
  _data/engine-cli/docker_stack_deploy.yaml
  _data/toc.yaml
  compose/bundles.md
  compose/reference/bundle.md
  compose/reference/config.md
  compose/reference/index.md
  docker-for-aws/deploy.md
  docker-for-azure/deploy.md
  engine/reference/commandline/stack_deploy.md
Labels: Compose

#9984 Remove "docker engine" commands
  _data/engine-cli/docker.yaml
  _data/engine-cli/docker_engine.yaml
  _data/engine-cli/docker_engine_activate.yaml
  _data/engine-cli/docker_engine_check.yaml
  _data/engine-cli/docker_engine_update.yaml
  _data/toc.yaml
  ee/licensing.md
  ee/supported-platforms.md
  engine/ce-ee-node-activate.md
  engine/index.md
  engine/reference/commandline/engine.md
  engine/reference/commandline/engine_activate.md
  engine/reference/commandline/engine_check.md
  engine/reference/commandline/engine_update.md
Labels: Engine, Relnotes

#10112 Add docker-compose 1.25.1, 1.25.2 and 1.25.3 release notes
  _config.yml
  _config_authoring.yml
  release-notes/docker-compose.md
Labels: Compose

#10150 Update admission controllers topic
  ee/ucp/admin/configure/admission-controllers.md
Labels: Enterprise, UCP

#10214 Fix heading in UCP release notes
  ee/ucp/release-notes.md
Labels: Enterprise, UCP
