Repository docker/docs, pull requests merged in 2021-01, with the labels that each got.

#11959 Fixing compose v3 navigation menu
  _data/toc.yaml
Labels: area/Compose, status/1-design review

#12039 Add engine 20.10.2 release notes
  engine/release-notes/index.md
Labels: area/Engine

#11947 Remove hl_lines in Get-started > Docker compose
  get-started/08_using_compose.md
Labels: status/1-design review

#12042 engine: add missing release notes for 19.03.14
  engine/release-notes/19.03.md
Labels: area/Engine

#11936 Fix spelling error in TOC
  _data/toc.yaml
Labels: status/3-editorial review

#12060 (temporarily) replace compose-file deep links to v3 docs
  compose/compose-file/compose-file-v1.md
  compose/compose-file/compose-versioning.md
  compose/env-file.md
  compose/environment-variables.md
  compose/index.md
  compose/networking.md
  compose/reference/build.md
  compose/reference/scale.md
  compose/release-notes.md
  compose/startup-order.md
  engine/swarm/configs.md
  engine/swarm/secrets.md
  engine/swarm/stack-deploy.md
  storage/volumes.md
  test.md
Labels: area/Compose

#12139 Rewrite logging section for dual logging (engine 20.10), and update post-install
  config/containers/logging/configure.md
  config/containers/logging/dual-logging.md
  config/containers/logging/json-file.md
  engine/install/linux-postinstall.md
Labels: area/Engine

#10600 [20.10] Add labels-regex logging opt
  config/containers/logging/fluentd.md
  config/containers/logging/gcplogs.md
  config/containers/logging/gelf.md
  config/containers/logging/journald.md
  config/containers/logging/json-file.md
  config/containers/logging/splunk.md
  config/containers/logging/syslog.md
Labels: area/Engine
