Repository docker/docs, pull requests merged in 2021-04, with the labels that each got.

#12657 engine: update list of distros that we build on
  engine/install/debian.md
  engine/install/fedora.md
  engine/install/ubuntu.md
Labels: area/Engine

#12674 rootless: update for v20.10.6
  engine/security/rootless.md
Labels: area/Engine

#12664 Add docs for billing info updates
  docker-hub/release-notes.md
Labels: area/Hub

#12663 Docs for Desktop 3.3.1 release
  _data/toc.yaml
  _includes/landing-page/apple-silicon.html
  _layouts/landing.html
  _scss/_buttons.scss
  _scss/_content.scss
  _scss/_night-mode.scss
  desktop/faqs.md
  docker-for-mac/apple-silicon.md
  docker-for-mac/images/menu/prefs-general.png
  docker-for-mac/install.md
  docker-for-mac/release-notes.md
  docker-for-mac/troubleshoot.md
  docker-for-windows/images/settings-general.png
  docker-for-windows/install.md
  docker-for-windows/release-notes.md
  docker-for-windows/troubleshoot.md
  get-started/index.md
  get-started/orchestration.md
  go/apple-silicon.md
  language/nodejs/build-images.md
  language/nodejs/configure-ci-cd.md
  language/nodejs/develop.md
  language/nodejs/index.md
  language/nodejs/run-containers.md
  language/nodejs/run-tests.md
  language/python/build-images.md
  language/python/configure-ci-cd.md
  language/python/develop.md
  language/python/index.md
  language/python/run-containers.md
  test.md
Labels: area/Desktop

#12716 Fix docker machine install highlighting blocking copy/paste
  machine/install-machine.md
Labels: area/Machine

#12696 logging: document dual-logging cache options
  config/containers/logging/dual-logging.md
  config/containers/logging/index.md
Labels: area/Engine

#12266 Self-signed certificate with Kubernetes fix
  registry/insecure.md
Labels: area/Distribution
