Repository docker/docs, pull requests merged in 2022-01, with the labels that each got.

#13964 engine: add changelog for 20.10.12
  engine/release-notes/index.md
Labels: area/Engine

#14094 engine: fix heading levels to prevent them showing in right-hand nav
  engine/release-notes/index.md
Labels: area/Engine

#13909 Consolidate Docs contribution guidelines and demo test page
  CONTRIBUTING.md
  README.md
  _data/toc.yaml
  images/docker-docs.png
  images/important-admonition-example.png
  images/note-admonition-example.png
  images/warning-admonition-example.png
  opensource/images/docs-site-feedback.png
  opensource/index.md
  test.md
Labels: area/Docs UX

#12472 Clarify that `--ssh default` uses `$SSH_AUTH_SOCK`
  develop/develop-images/build_enhancements.md
Labels: area/Build

#14179 Fix x-aws-keys field name
  cloud/ecs-integration.md
Labels: area/Cloud

#14184 Add a link to Compose 2.0 install on Linux
  compose/install.md
Labels: area/Compose

#14160 modify yoda_notes to notes at line 85
  language/nodejs/develop.md
Labels: area/get-started
