Repository docker/docs, pull requests merged in 2022-12, with the labels that each got.

#16255 fix variable name typo
  compose/gettingstarted.md
Labels: area/Compose

#16176 DD 4.15: Dev Velocity and POS content updates
  _includes/beta.md
  _includes/desktop-experimental.md
  desktop/settings/linux.md
  desktop/settings/mac.md
  desktop/settings/windows.md
  desktop/troubleshoot/known-issues.md
  release-lifecycle.md
Labels: area/Desktop

#16180 DD 4.15: Dev Envs content
  desktop/dev-environments/create-dev-env.md
Labels: area/Dev Environments

#16187 DD 4.15: extensions content changes
  _data/toc.yaml
  desktop/extensions-sdk/extensions/images/list-preview.png
  desktop/extensions-sdk/extensions/images/open-share.PNG
  desktop/extensions-sdk/extensions/share.md
  desktop/extensions/marketplace.md
  desktop/extensions/non-marketplace.md
  desktop/extensions/settings-feedback.md
  desktop/images/extensions-marketplace.PNG
Labels: area/Extensions

#16233 Docker Desktop 4.15.0 release notes
  _includes/desktop-install.html
  desktop/install/archlinux.md
  desktop/install/debian.md
  desktop/install/fedora.md
  desktop/install/ubuntu.md
  desktop/release-notes.md
Labels: area/Desktop

#16247 mac: update permission requirements for DD v.4.15
  desktop/install/mac-install.md
  desktop/mac/permission-requirements.md
Labels: area/Desktop

#16133 restructure engine docs
  _data/toc.yaml
  assets/images/engine-configure-daemon.svg
  assets/images/engine-deprecated.svg
  assets/images/engine-logging.svg
  assets/images/engine-networking.svg
  assets/images/engine-pruning.svg
  assets/images/engine-rootless.svg
  assets/images/engine-storage.svg
  config/containers/logging/index.md
  config/daemon/index.md
  config/daemon/logs.md
  config/daemon/remote-access.md
  config/daemon/start.md
  config/daemon/systemd.md
  config/daemon/troubleshoot.md
  desktop/release-notes.md
  desktop/troubleshoot/overview.md
  engine/index.md
  engine/install/centos.md
  engine/install/linux-postinstall.md
  engine/install/troubleshoot.md
  storage/bind-mounts.md
  storage/tmpfs.md
  storage/volumes.md
Labels: area/Engine

#16266 runtime: editorial improvements for c8d and wasm
  .github/vale/Vocab/Industry/accept.txt
  desktop/containerd/index.md
  desktop/wasm/index.md
Labels: area/Engine, area/Desktop

#16270 Update DD screenshots in get started
  get-started/07_multi_container.md
  get-started/images/dashboard-app-project-collapsed.png
  get-started/images/dashboard-app-project-expanded.png
  get-started/images/dashboard-multi-container-app.png
  get-started/images/dashboard-open-cli-ubuntu.png
  get-started/images/dashboard-removing-container.png
Labels: area/get-started

#16299 Add syntax directive to get started Dockerfile
  get-started/02_our_app.md
Labels: area/get-started

#16306 [Extension] Link to ask for other techs in the doc should open in a new tab
  desktop/extensions-sdk/build/set-up/backend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
  desktop/extensions-sdk/guides/invoke-host-binaries.md
Labels: area/Extensions

#16249 Update Team and Business onboarding
  docker-hub/onboard-business.md
  docker-hub/onboard-team.md
Labels: area/Hub

#16310 Fixed typo on yml file from Java Tutorial, it was breaking build.
  language/java/develop.md
Labels: area/get-started

#16327 Fix format for code section that was badly rendering the entire page
  desktop/extensions-sdk/dev/api/dashboard-routes-navigation.md
Labels: area/Extensions

#16293 Add domain audit
  _data/toc.yaml
  docker-hub/domain-audit.md
  docker-hub/onboarding-faqs.md
  docker-hub/release-notes.md
Labels: area/Hub

#16289 Add extensions architecture section
  _data/toc.yaml
  desktop/extensions-sdk/architecture/images/frontend-backend.svg
  desktop/extensions-sdk/architecture/images/frontend-executables.svg
  desktop/extensions-sdk/architecture/images/overview.svg
  desktop/extensions-sdk/architecture/index.md
  desktop/extensions-sdk/architecture/metadata.md
  desktop/extensions-sdk/build/set-up/backend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/frontend-extension-tutorial.md
  desktop/extensions-sdk/build/set-up/minimal-frontend-extension.md
  desktop/extensions-sdk/dev/api/backend.md
  desktop/extensions-sdk/extensions/DISTRIBUTION.md
  desktop/extensions-sdk/extensions/METADATA.md
  desktop/extensions-sdk/guides/invoke-host-binaries.md
  desktop/extensions-sdk/guides/use-docker-socket-from-backend.md
  desktop/extensions-sdk/index.md
Labels: area/Extensions

#16343 build: removed toc link to multiple builders page
  _data/toc.yaml
Labels: area/Build

#16290 Extract the validation in its own page
  _data/toc.yaml
  desktop/extensions-sdk/architecture/index.md
  desktop/extensions-sdk/build/backend-extension-tutorial.md
  desktop/extensions-sdk/build/frontend-extension-tutorial.md
  desktop/extensions-sdk/build/images/extensions-enabled.png
  desktop/extensions-sdk/build/images/react-extension.png
  desktop/extensions-sdk/build/images/types-autocomplete.png
  desktop/extensions-sdk/build/images/ui-minimal-extension.png
  desktop/extensions-sdk/build/minimal-frontend-extension.md
  desktop/extensions-sdk/build/set-up/images/backend-minimal-extension.png
  desktop/extensions-sdk/build/set-up/images/docker-cli-minimal-extension.png
  desktop/extensions-sdk/build/set-up/images/initialized-extension.png
  desktop/extensions-sdk/build/set-up/images/ui-extension-hello-world.png
  desktop/extensions-sdk/build/set-up/images/ui-extension-react.png
  desktop/extensions-sdk/build/set-up/images/ui-minimal-extension-dark.png
  desktop/extensions-sdk/dev/test-debug.md
  desktop/extensions-sdk/extensions/index.md
  desktop/extensions-sdk/extensions/publish.md
  desktop/extensions-sdk/extensions/validate.md
  desktop/extensions-sdk/index.md
  desktop/extensions-sdk/process.md
  desktop/extensions-sdk/quickstart.md
Labels: area/Extensions

#16338 Created an overview for Hub
  _data/toc.yaml
  compose/envvars-precedence.md
  develop/index.md
  docker-hub/index.md
  docker-hub/quickstart.md
Labels: area/Hub

#16406 fix: the dockerfile example
  desktop/extensions-sdk/build/frontend-extension-tutorial.md
Labels: area/Extensions

#16409 fix: the App.tsx example file content
  desktop/extensions-sdk/build/frontend-extension-tutorial.md
Labels: area/Extensions
