Repository docker/docs, pull requests merged in 2022-10, with the labels that each got.

#15777 move the uninstall content to a new page
  _data/toc.yaml
  compose/install/uninstall.md
  desktop/install/linux-install.md
  desktop/install/mac-install.md
  desktop/install/windows-install.md
  desktop/previous-versions/3.x-mac.md
  desktop/previous-versions/3.x-windows.md
  desktop/uninstall.md
Labels: area/Compose, area/Desktop

#15780 update linux install docs
  desktop/faqs/linuxfaqs.md
  desktop/install/archlinux.md
  desktop/install/debian.md
  desktop/install/fedora.md
  desktop/install/linux-install.md
  desktop/install/ubuntu.md
Labels: area/Install, area/Desktop

#15839 Make a paragraph about docker ps concise
  language/nodejs/run-containers.md
Labels: area/get-started

#15829 Remove wording around saving widgets from `develop.md`
  language/python/develop.md
Labels: area/get-started

#15788 Remove redirects for samples
  _samples/library/adminer.md
  _samples/library/elasticsearch.md
  _samples/library/mariadb.md
  _samples/library/mysql.md
  _samples/library/nextcloud.md
  _samples/library/nginx.md
  _samples/library/php.md
  _samples/library/postgres.md
  _samples/library/python.md
  _samples/library/redis.md
  _samples/library/rust.md
  _samples/library/traefik.md
Labels: area/Samples

#15273 hypen added
  samples/django.md
Labels: area/Samples

#15865 Clarify dockerfile instructions
  build/building/multi-stage.md
Labels: area/Build

#15863 [Issue 12694] Remove debugger references
  language/python/develop.md
Labels: area/get-started

#15886 upstream: bump distribution ref
  _config.yml
Labels: area/Registry

#15889 Fix typo in header to match release for 17.10 release notes
  engine/release-notes/17.10.md
Labels: area/Engine

#15003 ENGDOCS-761 team onboarding
  _data/toc.yaml
  docker-hub/onboard-business.md
  docker-hub/onboard-team.md
Labels: area/Docker subscription

#15851 Update bind-mounts.md
  storage/bind-mounts.md
Labels: area/storage

#14608 Add leading `v` to ver number in env docs
  compose/environment-variables.md
Labels: area/Compose

#15862 Update Microsoft image link
  samples/aspnet-mssql-compose.md
Labels: area/Samples

#15891 [Issue 13005] Add folder name for where to create Dockerfile
  get-started/02_our_app.md
Labels: area/get-started

#15775 Hardened Desktop and Admin Controls
  _data/toc.yaml
  assets/images/grayed-setting.png
  assets/images/lock.svg
  assets/images/registry.svg
  assets/images/secure.svg
  desktop/hardened-desktop/enhanced-container-isolation/faq.md
  desktop/hardened-desktop/enhanced-container-isolation/features-benefits.md
  desktop/hardened-desktop/enhanced-container-isolation/how-eci-works.md
  desktop/hardened-desktop/enhanced-container-isolation/index.md
  desktop/hardened-desktop/index.md
  desktop/hardened-desktop/registry-access-management.md
  desktop/hardened-desktop/settings-management/configure.md
  desktop/hardened-desktop/settings-management/index.md
  desktop/install/mac-install.md
  desktop/install/windows-install.md
Labels: area/Desktop

#15740 4.13 feature work
  desktop/settings/linux.md
  desktop/settings/mac.md
  desktop/settings/windows.md
Labels: area/Desktop

#15890 [ENGDOCS-1048] Get started navigation
  _data/toc.yaml
  get-started/02_our_app.md
  get-started/03_updating_app.md
  get-started/04_sharing_app.md
  get-started/05_persisting_data.md
  get-started/06_bind_mounts.md
  get-started/07_multi_container.md
  get-started/08_using_compose.md
  get-started/09_image_best.md
  get-started/index.md
Labels: area/get-started

#15922 [Issue 12622] Node.js guide - update example code
  language/nodejs/develop.md
Labels: area/get-started

#12906 Add comments to `wait-for-postgres.sh`
  compose/startup-order.md
Labels: area/Compose

#15942 Remove $ prompt from code copy
  assets/js/copy.js
Labels: area/Docs UX

#15944 [Issue 15934] Update get started dockerfile steps
  get-started/02_our_app.md
Labels: area/get-started

#15506 Docs: update sample application initiation in venv
  language/python/build-images.md
Labels: area/get-started

#15477 Document legacy build vs BuildKit differences
  build/building/multi-stage.md
Labels: area/Build

#15956 fix release notes for containerd
  desktop/containerd/index.md
Labels: area/Desktop

#15882 Fixing typo
  compose/env-file.md
Labels: area/Compose

#15277 jekyll: add hotjar for staging environment
  Dockerfile
  _config_stage.yml
  _includes/feedback.html
  _includes/head.html
  contribute/file-conventions.md
Labels: area/Docs UX

#15267 jekyll: fix sitemap lastmod
  .dockerignore
  Dockerfile
  Gemfile
  Gemfile.lock
  _config.yml
  _plugins/fetch_remote.rb
  _plugins/last_modified_at.rb
Labels: area/Docs UX

#15666 [ENGDOCS-943] Create C# .NET language-specific guide
  _data/toc.yaml
  language/dotnet/build-images.md
  language/dotnet/configure-ci-cd.md
  language/dotnet/deploy.md
  language/dotnet/develop.md
  language/dotnet/images/dotnet-adminer-add.png
  language/dotnet/images/dotnet-adminer-db.png
  language/dotnet/images/dotnet-adminer-login.png
  language/dotnet/images/dotnet-adminer-table.png
  language/dotnet/images/dotnet-app-verify-build.png
  language/dotnet/images/dotnet-app-verify-db-add.png
  language/dotnet/images/dotnet-verify-db.png
  language/dotnet/index.md
  language/dotnet/nav.html
  language/dotnet/run-containers.md
  language/images/c-sharp.png
  language/index.md
Labels: area/get-started

#15986 Remove duplicated content in 'Teams and Organizations'
  docker-hub/orgs.md
Labels: area/Hub

#15979 jekyll: remove polldaddy
  404.md
  _config_production.yml
  _includes/analytics/polldaddy.html
  _layouts/docs.html
  _scss/_navigation.scss
  _scss/_utilities.scss
  contribute/contribute-guide.md
  glossary.md
  search.md
Labels: area/Docs UX

#15978 jekyll: add hotjar for prod environment
  404.md
  _config_production.yml
  _includes/feedback.html
  contribute/contribute-guide.md
  glossary.md
  search.md
Labels: area/Docs UX

#15965 [ENGDOCS-1012] Get started refresh part 1 & 2
  _data/toc.yaml
  get-started/02_our_app.md
  get-started/11_what_next.md
  get-started/index.md
  get-started/kube-deploy.md
  get-started/swarm-deploy.md
  language/golang/build-images.md
  language/java/build-images.md
  language/nodejs/build-images.md
  language/python/build-images.md
Labels: area/get-started

#15929 Update Volumes, fix navigation
  _data/engine-cli/docker_export.yaml
  _data/toc.yaml
  desktop/backup-and-restore.md
  desktop/previous-versions/archive-mac.md
  desktop/previous-versions/archive-windows.md
  desktop/previous-versions/edge-releases-mac.md
  desktop/previous-versions/edge-releases-windows.md
  storage/volumes.md
Labels: area/storage

#16009 Add a redirect for Django samples
  samples/django-sample.md
Labels: area/Samples

#15622 jekyll: set liquid error mode to strict
  _config.yml
  _includes/cli.md
  compose/install/uninstall.md
Labels: area/Docs UX

#16025 Enable dark mode in browser UI
  _scss/_base.scss
  _scss/_night-mode.scss
  _scss/_notes.scss
  _scss/_upgrade-cta.scss
  assets/js/theme-switcher.js
Labels: area/Docs UX

#16037 Remove sample redirect
  _samples/library/ruby.md
Labels: area/Samples
