Repository docker/docs, pull requests merged in 2022-09, with the labels that each got.

#15460 integrated terminal in DD and search functionality for Extensions marketplace and change of experimental to beta - ONLY PUBLISH WITH DD 4.12
  desktop/extensions.md
  desktop/images/extensions-marketplace.PNG
  desktop/settings/linux.md
  desktop/settings/mac.md
  desktop/settings/windows.md
  desktop/use-desktop/container.md
Labels: area/Desktop

#15503 DKP-312: Add release notes for 4.12.0
  _includes/desktop-install.html
  desktop/install/linux-install.md
  desktop/release-notes.md
Labels: area/Desktop, area/Relnotes

#15467 [ENGDOCS-829] Add pull image to hub quickstart
  docker-hub/index.md
Labels: area/Hub

#15516 [ENGDOCS-952] Update get started video
  _includes/landing-page/popular-videos.html
  get-started/index.md
Labels: area/get-started

#15553 [ENGDOCS-978] Hyphenate 'sign in' when noun
  _data/toc.yaml
  desktop/get-started.md
  docker-hub/configure-sign-in.md
  docker-hub/onboard-business.md
  docker-hub/onboarding-faqs.md
Labels: area/Hub

#15557 Fix typo in long syntax section of compose spec
  compose/compose-file/index.md
Labels: area/Compose

#15573 How to load extensions not in the Marketplace
  desktop/extensions.md
Labels: area/Extensions

#15572 replace deprecated flask debug environment flag
  compose/gettingstarted.md
Labels: area/Compose

#15531 Reword 'audit log' to 'audit logs'
  _data/toc.yaml
  docker-hub/audit-log.md
  docker-hub/orgs.md
  docker-hub/release-notes.md
  subscription/index.md
Labels: area/Hub

#15607 Changed the port from 8000 to 80 in wordpress.md
  samples/wordpress.md
Labels: area/Samples

#15610 engine: add release-notes for 20.10.18
  engine/release-notes/index.md
Labels: area/Engine

#15619 desktop: add buildx to docker desktop components list
  desktop/index.md
Labels: area/Desktop

#15621 build: add release notes
  _data/toc.yaml
  _includes/github_issue.md
  _includes/release-date.html
  _scss/_content.scss
  _scss/_night-mode.scss
  _scss/_utilities.scss
  build/release-notes.md
Labels: area/Build

#15605 README.md file modified
  README.md
Labels: area/contribution-guidelines

#15642 image hack
  contribute/components/images.md
Labels: area/contribution-guidelines

#15630 Update 04_sharing_app.md
  get-started/04_sharing_app.md
Labels: area/get-started

#15618 build: building images section
  _config.yml
  _data/toc.yaml
  build/building/drivers/docker-container.md
  build/building/drivers/docker.md
  build/building/drivers/index.md
  build/building/drivers/kubernetes.md
  build/building/drivers/remote.md
  build/building/multi-platform.md
  build/building/packaging.md
  build/buildx/index.md
  build/buildx/multiplatform-images.md
  build/hellobuild.md
  build/index.md
  build/release-notes.md
  desktop/extensions-sdk/extensions/images/hub-multi-arch-extension.png
  desktop/extensions-sdk/extensions/multi-arch.md
  desktop/index.md
  desktop/multi-arch.md
  desktop/previous-versions/2.x-mac.md
  desktop/previous-versions/2.x-windows.md
Labels: area/Build

#15650 build: missing redirect
  build/building/multi-platform.md
Labels: area/Build

#15649 remove absolute links
  contribute/contribute-guide.md
  desktop/release-notes.md
Labels: area/Docs UX

#15651 build: missing redirects for drivers and remote driver GA
  build/building/drivers/docker-container.md
  build/building/drivers/docker.md
  build/building/drivers/index.md
  build/building/drivers/kubernetes.md
  build/building/drivers/remote.md
Labels: area/Build

#15392 build: multi-stage builds
  _data/toc.yaml
  _layouts/landing.html
  build/building/multi-stage.md
  compose/compose-file/compose-file-v2.md
  compose/compose-file/compose-file-v3.md
  develop/dev-best-practices.md
  develop/develop-images/dockerfile_best-practices.md
  develop/index.md
  develop/scan-images/index.md
  language/golang/build-images.md
  storage/storagedriver/index.md
Labels: area/Build

#15534 [CSP-178] Add export members
  docker-hub/members.md
  docker-hub/release-notes.md
Labels: area/Hub

#15680 Add wp_data volume
  samples/wordpress.md
Labels: area/Samples

#15654 Fix order of precedence list
  compose/envvars-precedence.md
Labels: area/Compose

#15637 [CSP-245] Update for enforce sign-in UI
  _includes/configure-registry-json.md
  docker-hub/release-notes.md
Labels: area/Hub

#15657 Issue-15646: Java language specific guide issue
  language/java/develop.md
Labels: area/get-started

#15725 storage: remove mention of "named volumes" for mount propagation
  storage/bind-mounts.md
Labels: area/Engine, area/storage

#15729 Fix typo
  language/golang/run-containers.md
Labels: area/get-started

#15730 Fix typos, tone and brevity
  language/golang/run-containers.md
Labels: area/get-started

#15736 Update docker compose command
  get-started/08_using_compose.md
Labels: area/get-started

#15603 Add build cache introduction docs
  _data/toc.yaml
  _scss/_night-mode.scss
  build/building/cache.md
  build/images/cache-stack-invalidate-copy.dot
  build/images/cache-stack-invalidate-copy.svg
  build/images/cache-stack-invalidate-rest.dot
  build/images/cache-stack-invalidate-rest.svg
  build/images/cache-stack.dot
  build/images/cache-stack.svg
Labels: area/Build

#15754 Add build to list of products on landing page
  _layouts/landing.html
  assets/images/whale-car.png
Labels: area/Build

#15744 Fix example container refrence on Orchestration Deploy
  get-started/kube-deploy.md
  get-started/swarm-deploy.md
Labels: area/get-started

#15360 Update kube-deploy.md
  get-started/kube-deploy.md
Labels: area/Kubernetes, area/get-started

#15759 compose: update env file based on actual behavior
  compose/env-file.md
Labels: area/Compose

#15767 Broken link updated in the compose build file
  compose/compose-file/build.md
Labels: area/Compose

#15731 Nested lists
  _scss/_utilities.scss
Labels: area/Docs UX

#15748 Add command for ARM based chip.
  get-started/07_multi_container.md
Labels: area/get-started, status/need-more-info

#15747 Engdocs 1031
  _data/toc.yaml
  desktop/backup-and-restore.md
  desktop/previous-versions/edge-releases-mac.md
  docker-hub/builds/automated-testing.md
  docker-hub/index.md
  docker-hub/members.md
  docker-hub/onboard-business.md
  docker-hub/orgs.md
  docker-hub/publish/publisher-center-migration.md
  docker-hub/release-notes.md
  docker-hub/repos.md
  docker-hub/repos/access/index.md
  docker-hub/repos/configure/index.md
  docker-hub/repos/index.md
  docker-hub/scim.md
  subscription/index.md
Labels: area/Hub

#15691 [ENGDOCS-994] Update samples
  _data/samples.yaml
  _data/toc.yaml
  _layouts/landing.html
  samples/angular.md
  samples/cloudflared.md
  samples/django-sample.md
  samples/dotnet.md
  samples/elasticsearch.md
  samples/express.md
  samples/fastapi.md
  samples/flask.md
  samples/gitea.md
  samples/go.md
  samples/index.md
  samples/java.md
  samples/javascript.md
  samples/mariadb.md
  samples/minecraft.md
  samples/mongodb.md
  samples/ms-sql.md
  samples/mysql.md
  samples/nextcloud.md
  samples/nginx.md
  samples/nodejs.md
  samples/php.md
  samples/pi-hole.md
  samples/plex.md
  samples/portainer.md
  samples/postgres.md
  samples/prometheus.md
  samples/python.md
  samples/react.md
  samples/redis.md
  samples/rust.md
  samples/samples-body.md
  samples/samples-footer.md
  samples/spark.md
  samples/spring.md
  samples/traefik.md
  samples/typescript.md
  samples/vuejs.md
  samples/wireguard.md
  samples/wordpress-sample.md
Labels: area/Samples

#15763 Update overview.md
  get-started/overview.md
Labels: area/get-started

#15682 Update versions of actions used in the workflow
  ci-cd/github-actions.md
Labels: area/get-started

#15129 python indentation 4 spaces according to PEP8
  language/python/develop.md
Labels: area/get-started

#14256 Fix port number in Getting Started images
  compose/images/quick-hello-world-1.png
  compose/images/quick-hello-world-2.png
  compose/images/quick-hello-world-3.png
Labels: area/get-started

#14315 Update develop.md
  language/nodejs/develop.md
Labels: area/get-started
