Repository docker/docs, pull requests merged in 2022-07, with the labels that each got.

#15027 "docker compose" instead "docker-compose"
  compose/gettingstarted.md
Labels: area/Compose

#14985 Fix Dead Link in the Compose specification documentation
  compose/compose-file/index.md
Labels: area/Compose

#15026 Updating Compose release notes to 2.6.1
  compose/release-notes.md
Labels: area/Compose

#14947 Add Wait4X
  compose/startup-order.md
Labels: area/Compose

#15050 engine: remove CAP_PERFMON, CAP_BPF, CAP_CHECKPOINT_RESTORE from relnotes
  engine/release-notes/index.md
Labels: area/Engine

#15023 Update wordpress.md
  samples/wordpress.md
Labels: area/Samples

#14994 added what file type the github actions is
  language/nodejs/configure-ci-cd.md
Labels: area/get-started

#14936 docs: context refers to desktop-linux
  desktop/linux/install.md
Labels: area/Desktop

#14948 dockerfile: new reference location
  _config.yml
  _plugins/fetch_remote.rb
  _plugins/fix_urls.rb
  _plugins/update_api_toc.rb
Labels: area/Docs UX

#15046 network/proxy: add a note pointing at docker engine and Docker Desktop
  network/proxy.md
Labels: area/Networking

#14776 Clarify that Windows containers are only available in some Windows editions
  desktop/windows/install.md
Labels: area/Desktop

#15088 reference: remove duplicate compose navigation
  _data/toc.yaml
Labels: area/Compose

#15044 docker scan: using an HTTP proxy
  engine/scan/index.md
Labels: area/Engine

#14908 Build overview
  _data/toc.yaml
  build/hellobuild.md
  build/index.md
Labels: area/Build

#14910 build: move buildx to build section
  _data/toc.yaml
  build/buildx/index.md
  build/buildx/install.md
  build/index.md
  desktop/multi-arch.md
  desktop/previous-versions/2.x-mac.md
  desktop/previous-versions/2.x-windows.md
  go/buildx.md
Labels: area/Build

#15021 CSP-54 bulk user invite
  _data/toc.yaml
  docker-hub/images/view-org.png
  docker-hub/members.md
  docker-hub/onboard-business.md
  docker-hub/orgs.md
  single-sign-on/faqs.md
  subscription/add-seats.md
  subscription/faq.md
Labels: area/Hub

#15063 Revisiting Compose CLI Env Vars page
  compose/reference/envvars.md
Labels: area/Compose

#15201 Adding Build/x features highlights to the overview
  build/index.md
Labels: area/Build

#15090 Fix use of bullet list
  get-started/index.md
Labels: area/get-started

#15194 build: add bake section
  Gemfile
  Gemfile.lock
  _config.yml
  _data/toc.yaml
  _plugins/fetch_remote.rb
  _plugins/include_remote.rb
  build/bake/build-contexts.md
  build/bake/compose-file.md
  build/bake/configuring-build.md
  build/bake/file-definition.md
  build/bake/hcl-funcs.md
  build/bake/index.md
  build/buildx/index.md
  build/index.md
  compose/compose-file/build.md
  engine/reference/builder.md
Labels: area/Build
