Repository docker/docs, pull requests merged in 2022-05, with the labels that each got.

#14641 updates to command-line reference layout
  _config.yml
  _includes/cli.md
Labels: area/CLI

#14623 [Do not merge until 11 May] DKP-168 Remove support for Windows versions which are not supported by Microsoft anymore
  desktop/windows/install.md
Labels: area/Desktop

#14708 engine: add known issues to 20.10.15 release notes
  engine/release-notes/index.md
Labels: area/Engine

#14709 engine: add release notes for 20.10.16
  engine/release-notes/index.md
Labels: area/Engine

#14766 Improve WSL 2 docs
  desktop/windows/wsl.md
Labels: area/Desktop

#14828 engine: remove some redundant information
  engine/install/centos.md
  engine/install/debian.md
  engine/install/fedora.md
  engine/install/index.md
  engine/install/rhel.md
  engine/install/sles.md
  engine/install/ubuntu.md
  engine/release-notes/18.09.md
  engine/release-notes/index.md
  engine/security/apparmor.md
  engine/security/seccomp.md
  storage/storagedriver/zfs-driver.md
Labels: area/Engine
