Repository docker/docs, pull requests merged in 2022-02, with the labels that each got.

#14208 DD 4.4.x release notes: Add scan cli plugin 0.16.0 version bump
  desktop/mac/release-notes/index.md
  desktop/windows/release-notes/index.md
Labels: area/Desktop

#14198 updated prereqs
  single-sign-on/index.md
Labels: area/Hub

#14201 Changed log-opt to log-opts
  config/containers/logging/journald.md
Labels: area/configuration

#14102 fix location of compose switch install script
  compose/cli-command.md
Labels: area/Compose

#13958 Update networking.md
  compose/networking.md
Labels: area/Compose

#13919 Adding --delete-untagged to registry garbage collection docs
  registry/garbage-collection.md
Labels: area/Registry

#14299 Update cli-command-compatibility.md
  compose/cli-command-compatibility.md
Labels: area/Compose

#13898 Update run-tests.md
  language/java/run-tests.md
Labels: area/get-started
