Repository docker/docs, pull requests merged in 2023-04, with the labels that each got.

#17028 Update dd quick start guide
  desktop/get-started.md
Labels: area/Desktop

#17033 docs(whitespace): standardize `CMD` example commands
  language/golang/build-images.md
  language/nodejs/build-images.md
  language/nodejs/run-tests.md
  language/python/build-images.md
Labels: area/get-started

#16674 Update chmod command in GPG Error Tip
  engine/install/ubuntu.md
Labels: area/Engine, area/Install

#16405 Add missing `container` notation
  config/formatting.md
Labels: area/Engine, lifecycle/stale

#17086 ci: automate publishing
  .github/workflows/merge.yml
Labels: area/release

#17054 Update get started part 5
  get-started/05_persisting_data.md
Labels: area/get-started

#17108 Remove misleading "This is the newest version." from "Compose file version 3 reference"
  compose/compose-file/compose-file-v3.md
Labels: area/Compose

#16911 build: dockerfile release notes
  _data/toc.yaml
  _includes/dockerfile-labs-channel.md
  build/building/packaging.md
  build/buildkit/index.md
  build/dockerfile/frontend.md
  build/dockerfile/release-notes.md
  build/index.md
Labels: area/Build

#17109 Fix typos in hands-on guide
  get-started/run-your-own-container.md
Labels: area/get-started

#17113 docs: remove redundant link
  desktop/install/mac-install.md
Labels: area/Install, area/Desktop

#17115 engine: update reference docs for latest 23.0
  _data/engine-cli/docker_build.yaml
  _data/engine-cli/docker_info.yaml
  _data/engine-cli/docker_node_ls.yaml
  _data/engine-cli/docker_pull.yaml
  _data/engine-cli/docker_stats.yaml
  _data/engine-cli/docker_version.yaml
Labels: area/Engine

#17127 engine: add release-notes for v23.0.4
  engine/release-notes/23.0.md
Labels: area/Engine, area/CLI, area/Relnotes

#17195 engine: add release-notes for v23.0.5
  engine/release-notes/23.0.md
Labels: area/Engine, area/Relnotes

#16655 Note the bug in tmpfs permissions
  storage/tmpfs.md
Labels: area/storage

#16662 fix(engine): Minimum --kernel-memory is 6m
  config/containers/resource_constraints.md
Labels: area/configuration

#17154 Update docker init topic
  _data/init-cli/docker_init.yaml
Labels: area/Desktop, area/CLI
