Repository docker/docs, pull requests merged in 2023-10, with the labels that each got.

#18243 appending cmd tab in trying out bind mounts section to work Closes #18242
  content/get-started/06_bind_mounts.md
Labels: area/get-started

#17313 Update "Ways to set environment variables in Compose"
  content/compose/environment-variables/set-environment-variables.md
Labels: area/Compose

#18013 registry: deprecate Advanced Image Management
  content/docker-hub/api/latest.yaml
  content/docker-hub/image-management.md
Labels: status/do-not-merge

#18450 get-started: update bind mount topic
  content/get-started/06_bind_mounts.md
Labels: area/get-started

#18432 Simplify sentences
  content/network/_index.md
Labels: area/Networking

#18430 Remove capabilities message about swarm mode
  content/compose/compose-file/compose-file-v3.md
Labels: area/Compose

#18403 Update _index.md
  content/network/_index.md
Labels: area/Networking

#18427 Add example Dockerfile
  content/build/ci/github-actions/cache.md
Labels: area/Build

#18449 [10/23] - Update banner for billing and subscription docs
  content/billing/cycle.md
  content/billing/details.md
  content/billing/faqs.md
  content/billing/history.md
  content/billing/payment-method.md
  content/docker-hub/orgs.md
  content/subscription/downgrade.md
Labels: area/Docker subscription, status/do-not-merge

#17389 docs: Remove firewalld zone instructions
  content/network/packet-filtering-firewalls.md
Labels: area/Engine, area/Networking, area/Security, lifecycle/frozen
