Repository docker/docs, pull requests merged in 2023-05, with the labels that each got.

#17233 engine: update versions in examples to use 23.0 (current release)
  _includes/api-version-matrix.md
  _includes/desktop-linux-launch.md
  build/bake/file-definition.md
  build/building/multi-platform.md
  build/drivers/index.md
  build/exporters/index.md
  engine/api/index.md
  engine/install/centos.md
  engine/install/debian.md
  engine/install/fedora.md
  engine/install/rhel.md
  engine/install/sles.md
  engine/install/ubuntu.md
  engine/security/rootless.md
  network/iptables.md
Labels: area/Engine

#17244 Link to Docker for Windows too
  compose/gettingstarted.md
Labels: area/Compose

#17243 Remove unnecessary instruction
  compose/install/uninstall.md
Labels: area/Compose

#17211 fix ip address on L3 network connectivity test
  network/ipvlan.md
Labels: area/Networking

#13786 Rewrite section on configuring proxies for containers
  config/daemon/systemd.md
  network/proxy.md
Labels: area/configuration, lifecycle/frozen

#17253 engine: refresh / align installation pages between distros
  engine/install/binaries.md
  engine/install/centos.md
  engine/install/debian.md
  engine/install/fedora.md
  engine/install/rhel.md
  engine/install/sles.md
  engine/install/ubuntu.md
Labels: area/Engine, area/Install

#17284 engine: add release-notes for v23.0.6
  engine/release-notes/23.0.md
Labels: area/Engine, area/Relnotes

#17180 build(ci): distribute build across multiple runners
  build/ci/github-actions/multi-platform.md
Labels: area/Build, needs/follow-up

#17350 Update section to create an org
  docker-hub/orgs.md
Labels: area/Hub

#17366 Update onboarding prereqs
  docker-hub/onboard-business.md
  docker-hub/onboard-team.md
Labels: area/Hub

#17374 config: fix example for proxies in daemon.json
  config/daemon/systemd.md
Labels: area/Engine

#17371 update references to docker engine to v24.0
  _config.yml
  _data/engine-cli/docker.yaml
  _data/engine-cli/docker_container_create.yaml
  _data/engine-cli/docker_container_run.yaml
  _data/engine-cli/docker_create.yaml
  _data/engine-cli/docker_info.yaml
  _data/engine-cli/docker_ps.yaml
  _data/engine-cli/docker_run.yaml
  _data/engine-cli/docker_tag.yaml
  _includes/api-version-matrix.md
  build/building/multi-platform.md
  build/drivers/index.md
  build/exporters/index.md
  engine/api/index.md
  engine/api/v1.43.md
  engine/index.md
  engine/install/centos.md
  engine/install/debian.md
  engine/install/fedora.md
  engine/install/raspbian.md
  engine/install/rhel.md
  engine/install/sles.md
  engine/install/ubuntu.md
  engine/security/rootless.md
  release-notes/index.md
Labels: area/Engine

#17375 storage: updates for deprecated/removed AuFS and overlay drivers
  _data/toc.yaml
  storage/storagedriver/aufs-driver.md
  storage/storagedriver/index.md
  storage/storagedriver/overlayfs-driver.md
  storage/storagedriver/select-storage-driver.md
Labels: area/storage

#17383 Use single connection to database in "initdb" route in language/python/develop.md
  language/python/develop.md
Labels: status/triage, area/get-started

#17416 engine: add release notes for v24.0.2
  engine/release-notes/24.0.md
Labels: area/Engine, area/Relnotes

#17423 Updated mysql output to 2023 version
  language/python/develop.md
Labels: area/get-started
