Repository docker/docs, pull requests merged in 2023-06, with the labels that each got.

#17469 Update get-started
  desktop/use-desktop/volumes.md
  get-started/02_our_app.md
  get-started/03_updating_app.md
  get-started/05_persisting_data.md
  get-started/06_bind_mounts.md
Labels: area/Desktop, area/get-started

#17494 Update network/index.md fixing minor typo
  network/index.md
Labels: area/Networking

#17536 build: add description for BUILDKIT_EXPERIMENTAL_SOURCE_POLICY
  build/building/env-vars.md
Labels: status/do-not-merge

#17059 build: add note that node name is optional for the kubernetes driver
  build/drivers/kubernetes.md
Labels: area/Build, status/do-not-merge

#17356 Update network-tutorial-standalone.md
  network/network-tutorial-standalone.md
Labels: area/Networking

#17502 Update go guide repos
  language/golang/build-images.md
  language/golang/develop.md
  language/golang/run-tests.md
Labels: area/get-started

#17588 engine: remove Ubuntu 18.04 Bionic Beaver LTS, as it reached end of standard support
  compose/compose-file/compose-file-v2.md
  compose/compose-file/compose-file-v3.md
  develop/develop-images/dockerfile_best-practices.md
  engine/install/ubuntu.md
  storage/storagedriver/index.md
Labels: area/Engine, area/Install

#17593 add more secrets info
  compose/compose-file/09-secrets.md
  compose/compose-file/index.md
Labels: area/Compose

#17596 config: update buildkit version to v0.11.6
  _config.yml
Labels: area/Build

#17631 cli-ref: don't show hidden commands
  _data/toc.yaml
  _includes/cli.md
  engine/reference/commandline/buildx_install.md
  engine/reference/commandline/buildx_uninstall.md
Labels: area/CLI

#17610 Add rust language guide
  _data/toc.yaml
  language/images/c-sharp.png
  language/images/rust-logo.png
  language/index.md
  language/rust/build-images.md
  language/rust/configure-ci-cd.md
  language/rust/deploy.md
  language/rust/develop.md
  language/rust/index.md
  language/rust/nav.html
  language/rust/run-containers.md
Labels: area/get-started

#17592 desktop/builds view
  _data/toc.yaml
  _includes/desktop-builders-setting.md
  _redirects.yml
  build/architecture.md
  build/builders/index.md
  build/builders/manage.md
  build/drivers/index.md
  desktop/settings/linux.md
  desktop/settings/mac.md
  desktop/settings/windows.md
  desktop/use-desktop/builds.md
Labels: area/Build, area/Desktop

#17625 Add Rust to docker init
  _data/init-cli/docker_init.yaml
Labels: area/Desktop

#17642 Update dotnet guide
  language/dotnet/develop.md
  language/dotnet/run-tests.md
Labels: area/get-started

#17655 Add Scout self-serve billing and subscription pages
  _data/toc.yaml
  billing/scout-billing.md
  subscription/scout-details.md
Labels: area/Hub
