Repository docker/docs, pull requests merged in 2023-09, with the labels that each got.

#18134 get-started: remove learning center prereq
  content/language/python/build-images.md
  content/language/rust/build-images.md
Labels: area/get-started

#18033 get-started: refresh node language guide
  content/language/nodejs/_index.md
  content/language/nodejs/build-images.md
  content/language/nodejs/configure-ci-cd.md
  content/language/nodejs/containerize.md
  content/language/nodejs/deploy.md
  content/language/nodejs/develop.md
  content/language/nodejs/images/chrome-inspect.png
  content/language/nodejs/images/node-compile.png
  content/language/nodejs/images/nodemon.png
  content/language/nodejs/run-containers.md
  content/language/nodejs/run-tests.md
  data/toc.yaml
Labels: area/get-started

#18154 get-started: fix broken link
  content/language/golang/develop.md
Labels: area/get-started

#18061 build(ci): multi-platform build distribution with bake
  content/build/ci/github-actions/multi-platform.md
Labels: area/Build

#18106 build: add s3 cache backend configuration params
  content/build/cache/backends/s3.md
Labels: area/Build

#18173 Fix minor grammar issue
  content/get-started/04_sharing_app.md
Labels: area/get-started

#18183 hub: remove slack integration
  content/docker-hub/slack_integration.md
Labels: area/Hub

#18156 Add tip to group mapping docs and update Hub release notes
  content/docker-hub/release-notes.md
  layouts/shortcodes/admin-group-mapping.html
Labels: area/Hub

#18198 desktop: update win install admin-settings example
  content/desktop/install/windows-install.md
Labels: area/Install, area/Desktop

#18185 Update deactivation docs to include Scout subscriptions
  content/billing/scout-billing.md
  content/docker-hub/deactivate-account.md
Labels: area/Docker subscription

#18212 desktop: update 4.23 and 4.22 release notes
  content/desktop/release-notes.md
Labels: area/Desktop

#18056 Docu fixes
  content/build/guide/build-args.md
  content/contribute/components/code-blocks.md
Labels: area/Build

#18244 get-started: update nodejs guide
  content/language/nodejs/develop.md
Labels: area/get-started

#18306 hub: update enforce sign-in
  content/docker-hub/configure-sign-in.md
  content/docker-hub/images/enforce-sign-in.png
  content/includes/configure-registry-json.md
  content/single-sign-on/enforcement-faqs.md
Labels: area/Hub
