Repository docker/docs, pull requests merged in 2023-12, with the labels that each got.

#18800 scout: acr integration
  content/release-lifecycle.md
  content/scout/integrations/_index.md
  content/scout/integrations/registry/acr.md
  data/redirects.yml
  data/toc.yaml
Labels: area/scout

#18805 chore: update contribution guidelines
  CONTRIBUTING.md
  README.md
  content/compose/file-watch.md
  content/contribute/_index.md
  content/contribute/components/badges.md
  content/contribute/contribute-guide.md
  data/toc.yaml
Labels: area/compose

#18836 Update billing cycle
  content/billing/cycle.md
Labels: area/billing

#18789 Docker Desktop 4.26.0 release notes
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/ubuntu.md
  content/desktop/release-notes.md
Labels: area/install, area/desktop

#18788 ENGDOCS-1875
  content/desktop/hardened-desktop/settings-management/_index.md
  content/desktop/hardened-desktop/settings-management/configure.md
  content/desktop/settings/linux.md
  content/desktop/settings/mac.md
  content/desktop/settings/windows.md
  content/desktop/use-desktop/builds.md
  data/toc.yaml
Labels: area/desktop

#18808 get-started: add landing page w/ walkthroughs
  content/_index.md
  content/get-started/_index.md
  content/guides/get-started/_index.md
  content/guides/walkthroughs/_index.md
  content/guides/walkthroughs/access-local-folder.md
  content/guides/walkthroughs/containerize-your-app.md
  content/guides/walkthroughs/images/bind-mounts.webp
  content/guides/walkthroughs/images/containerize-app.webp
  content/guides/walkthroughs/images/getting-started-compose.webp
  content/guides/walkthroughs/images/getting-started-container.webp
  content/guides/walkthroughs/images/getting-started-delete-stack.webp
  content/guides/walkthroughs/images/getting-started-dockerfile.webp
  content/guides/walkthroughs/images/getting-started-explore-container.webp
  content/guides/walkthroughs/images/getting-started-frontend-2.webp
  content/guides/walkthroughs/images/getting-started-frontend.webp
  content/guides/walkthroughs/images/getting-started-push.webp
  content/guides/walkthroughs/images/getting-started-stop.webp
  content/guides/walkthroughs/images/how-do-i-run-a-container.webp
  content/guides/walkthroughs/images/multi-container-apps.webp
  content/guides/walkthroughs/images/persist-data.webp
  content/guides/walkthroughs/images/publish-your-images.webp
  content/guides/walkthroughs/images/run-docker-hub-images.webp
  content/guides/walkthroughs/images/what-is-a-container.webp
  content/guides/walkthroughs/multi-container-apps.md
  content/guides/walkthroughs/persist-data.md
  content/guides/walkthroughs/publish-your-image.md
  content/guides/walkthroughs/run-a-container.md
  content/guides/walkthroughs/run-hub-images.md
  content/guides/walkthroughs/what-is-a-container.md
  content/includes/guides-get-docker.md
  data/toc.yaml
  layouts/partials/components/card.html
Labels: area/get-started, hugo

#18837 Update billing FAQs
  content/billing/faqs.md
Labels: area/billing

#18825 wasm: bump spin runtime to v2
  content/desktop/wasm.md
Labels: area/desktop

#18827 ENGDOCS-1882
  content/desktop/uninstall.md
Labels: area/desktop

#18795 update docker init reference
  content/language/nodejs/containerize.md
  content/language/nodejs/develop.md
  content/language/python/containerize.md
  content/language/python/develop.md
  content/language/rust/build-images.md
  content/language/rust/develop.md
  data/init-cli/docker_init.yaml
Labels: area/get-started

#18848 Update upgrade subscription callout
  content/subscription/upgrade.md
Labels: area/subscription

#18850 Clarify adding collaborator permissions
  content/docker-hub/repos/access.md
Labels: area/hub

#18780 Engdocs 1871
  content/compose/reference/_index.md
  content/desktop/install/windows-install.md
Labels: area/compose, area/install, area/desktop

#18860 fix hl
  content/desktop/get-started.md
Labels: area/desktop

#18725 scout: add sonarqube integration
  content/scout/images/scout-sq-commit-sha.webp
  content/scout/integrations/_index.md
  content/scout/integrations/code-quality/sonarqube.md
  content/scout/policy/_index.md
  data/redirects.yml
  data/toc.yaml
Labels: area/scout

#18863 build: remove beta callouts for builds view
  content/build/builders/_index.md
  content/desktop/use-desktop/_index.md
  content/desktop/use-desktop/builds.md
Labels: area/build, area/desktop

#18869 css: improve table display
  assets/css/tables.css
Labels: hugo

#18871 Update Hub FAQ
  content/docker-hub/general-faqs.md
Labels: area/hub

#18873 Update Hub UI element names
  content/billing/cycle.md
  content/billing/details.md
  content/billing/faqs.md
  content/billing/history.md
  content/billing/payment-method.md
  content/billing/scout-billing.md
  content/docker-hub/builds/link-source.md
  content/docker-hub/convert-account.md
  content/docker-hub/deactivate-account.md
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
  content/security/for-developers/access-tokens.md
  content/subscription/downgrade.md
  content/subscription/upgrade.md
Labels: area/hub, area/security, area/subscription, area/billing

#18794 add php language-specific guide
  compose.yaml
  content/guides/walkthroughs/publish-your-image.md
  content/language/_index.md
  content/language/images/php-logo.webp
  content/language/php/_index.md
  content/language/php/configure-ci-cd.md
  content/language/php/containerize.md
  content/language/php/deploy.md
  content/language/php/develop.md
  content/language/php/run-tests.md
  data/toc.yaml
Labels: area/get-started

#18879 Fix typo: s/provenance/sbom/
  content/build/attestations/sbom.md
Labels: area/build

#18876 get-started: clarify detached mode
  content/get-started/02_our_app.md
Labels: area/get-started

#18884 doc: comment about async behavior of cli.ImagePull
  content/engine/api/sdk/examples.md
Labels: area/api

#18760 hub: remove advanced image management
  content/docker-hub/api/latest.yaml
  content/docker-hub/image-management.md
  content/docker-hub/release-notes.md
  data/toc.yaml
Labels: area/hub, area/api, status/do-not-merge

#18893 a11y: add aria-hidden to external link icons
  layouts/_default/_markup/render-link.html
  layouts/partials/github-links.html
Labels: hugo

#18894 build: update buildui screenshots
  content/desktop/images/build-ui-manage-builders.webp
  content/desktop/images/build-ui-platform-menu.webp
  content/desktop/images/build-ui-timing-chart.webp
  content/desktop/images/builds-view.webp
  content/desktop/images/manage-builder-dropdown.webp
  content/desktop/use-desktop/builds.md
Labels: area/desktop

#18885 get-started: update tests section in go guide
  content/language/golang/run-tests.md
Labels: area/get-started

#18877 get-started: remove run sample app without docker
  content/language/dotnet/containerize.md
  content/language/golang/build-images.md
  content/language/java/build-images.md
  content/language/nodejs/containerize.md
  content/language/python/containerize.md
  content/language/rust/build-images.md
Labels: area/get-started

#18899 update engine docs and cli reference
  _vendor/github.com/docker/cli/docs/deprecated.md
  _vendor/github.com/docker/cli/docs/extend/legacy_plugins.md
  _vendor/github.com/docker/cli/docs/extend/plugins_authorization.md
  _vendor/github.com/docker/cli/docs/extend/plugins_graphdriver.md
  _vendor/github.com/docker/cli/docs/extend/plugins_logging.md
  _vendor/github.com/docker/cli/docs/extend/plugins_services.md
  _vendor/github.com/docker/cli/docs/reference/commandline/cli.md
  _vendor/github.com/docker/cli/docs/reference/commandline/dockerd.md
  _vendor/github.com/docker/cli/docs/reference/run.md
  _vendor/modules.txt
  data/engine-cli/docker_build.yaml
  data/engine-cli/docker_builder_build.yaml
  data/engine-cli/docker_config_inspect.yaml
  data/engine-cli/docker_events.yaml
  data/engine-cli/docker_exec.yaml
  data/engine-cli/docker_image_build.yaml
  data/engine-cli/docker_info.yaml
  data/engine-cli/docker_inspect.yaml
  data/engine-cli/docker_load.yaml
  data/engine-cli/docker_logs.yaml
  data/engine-cli/docker_node_inspect.yaml
  data/engine-cli/docker_ps.yaml
  data/engine-cli/docker_pull.yaml
  data/engine-cli/docker_run.yaml
  data/engine-cli/docker_secret_inspect.yaml
  data/engine-cli/docker_service_create.yaml
  data/engine-cli/docker_service_inspect.yaml
  data/engine-cli/docker_service_logs.yaml
  data/engine-cli/docker_system_events.yaml
  data/engine-cli/docker_system_prune.yaml
  data/engine-cli/docker_tag.yaml
  data/engine-cli/docker_volume_inspect.yaml
  data/engine-cli/docker_volume_prune.yaml
  go.mod
  go.sum
Labels: area/cli, dependencies

#18753 network: add container networking intro from docker run reference
  content/network/_index.md
Labels: area/networking

#18906 `docker/build-push-action`: Update attestations.md
  content/build/ci/github-actions/attestations.md
Labels: area/build

#18806 Improvements to subscription pages
  content/subscription/_index.md
  content/subscription/details.md
  content/subscription/faq.md
  content/subscription/scout-details.md
Labels: area/subscription

#18910 storage-drivers: add warning about devicemapper deprecation
  content/storage/storagedriver/device-mapper-driver.md
  content/storage/storagedriver/select-storage-driver.md
Labels: area/storage

#18912 logging: add deprecation message for logentries logging driver
  _vendor/github.com/docker/cli/docs/deprecated.md
  _vendor/modules.txt
  content/config/containers/logging/configure.md
  content/config/containers/logging/logentries.md
  go.mod
  go.sum
Labels: area/cli, area/configuration, dependencies

#18915 hugo: handle multiline flag descriptions
  layouts/_default/cli.html
Labels: hugo

#18917 Fix permission for Scout GHA
  content/scout/integrations/ci/gha.md
Labels: area/scout

#18892 invertible images
  assets/css/styles.css
  content/build/buildkit/_index.md
Labels: area/build, hugo

#18891 build: annotations
  _vendor/github.com/docker/buildx/docs/bake-reference.md
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/modules.txt
  content/build/building/annotations.md
  content/build/ci/github-actions/annotations.md
  data/buildx/docker_buildx_build.yaml
  data/buildx/docker_buildx_imagetools_create.yaml
  data/toc.yaml
  go.mod
  go.sum
Labels: area/build, dependencies

#18929 sectionlinks
  content/build/ci/github-actions/_index.md
  layouts/shortcodes/sectionlinks.html
Labels: area/build, hugo

#18930 scout links env integrations
  content/scout/integrations/_index.md
  content/scout/integrations/environment/_index.md
Labels: area/scout

#18829 HB billing and sub
  content/billing/build-billing.md
  content/docker-hub/deactivate-account.md
  content/subscription/build-details.md
  data/toc.yaml
Labels: area/hub, area/subscription, status/in-progress, status/do-not-merge, area/billing

#18610 hb ga
  content/build/building/env-vars.md
  content/build/building/multi-platform.md
  content/build/cloud/_index.md
  content/build/cloud/ci.md
  content/build/cloud/faq.md
  content/build/cloud/optimization.md
  content/build/cloud/setup.md
  content/build/cloud/usage.md
  content/build/hydrobuild.md
  data/toc.yaml
  layouts/index.robots.txt
Labels: area/build, status/do-not-merge, hugo

#18941 fix: broken link to build cloud subscription
  content/build/cloud/_index.md
Labels: area/build

#18942 fix: hydrobuild redirect
  content/build/cloud/_index.md
Labels: area/build

#18956 build(cloud): use with Docker Compose
  content/build/cloud/usage.md
Labels: area/build

#18960 fix(docs-cache-mount): invalid go build with cache command
  content/build/ci/github-actions/cache.md
Labels: area/build

#18952 dbc faq vpn registries
  content/build/cloud/faq.md
Labels: area/build

#18954 q4 freshess: storage drivers
  content/storage/containerd.md
  content/storage/storagedriver/_index.md
  content/storage/storagedriver/btrfs-driver.md
  content/storage/storagedriver/overlayfs-driver.md
  content/storage/storagedriver/select-storage-driver.md
  content/storage/storagedriver/vfs-driver.md
Labels: area/storage

#18969 build: link to GHA attestations examples
  content/build/attestations/sbom.md
  content/build/attestations/slsa-provenance.md
Labels: area/build

#18972 scout: Update instructions for the Scout ACR integration
  content/scout/integrations/registry/acr.md
Labels: area/scout

#18975 build(autobuilds): call out 10 GB max size limit
  content/docker-hub/builds/how-builds-work.md
Labels: area/hub

#18966 Reference freshness updates
  content/docker-hub/api/dvp.yaml
  content/engine/api/_index.md
  content/engine/api/sdk/_index.md
  content/engine/api/sdk/examples.md
Labels: area/hub, area/api

#18973 scout: acr integration early access
  content/scout/integrations/_index.md
  content/scout/integrations/registry/acr.md
Labels: area/scout

#18977 Update billing docs for Build Cloud
  content/billing/build-billing.md
Labels: area/billing

#18980 Add redirect to company page
  content/admin/company/new-company.md
Labels: area/admin

#18978 assorted syntax highlighting and hugo config improvements
  assets/css/code.css
  hugo.yaml
Labels: hugo
