Repository docker/docs, pull requests merged in 2023-11, with the labels that each got.

#18582 build: refresh ADD and COPY recommendations
  content/develop/develop-images/instructions.md
Labels: area/Build

#18577 build: refresh to build ui docs
  content/desktop/images/build-ui-platform-menu.webp
  content/desktop/images/build-ui-timing-chart.webp
  content/desktop/images/builds-view.webp
  content/desktop/images/manage-builder-dropdown.webp
  content/desktop/use-desktop/builds.md
  content/includes/desktop-builders-setting.md
Labels: area/Build

#18634 build: fix gha cache scope
  content/build/cache/backends/gha.md
Labels: area/Build

#18617 Release notes for 4.25.1
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/ubuntu.md
  content/desktop/release-notes.md
Labels: area/Desktop

#18382 build: resource constraint driver opts
  content/build/drivers/docker-container.md
Labels: area/Build, status/do-not-merge

#17850 build: add labels, annotations opts for k8s driver
  content/build/drivers/kubernetes.md
Labels: area/Build

#18713 build: BUILDKIT_TTY_LOG_LINES env var
  content/build/building/env-vars.md
Labels: area/Build

#18707 gha attestations ex
  content/build/ci/github-actions/_index.md
  content/build/ci/github-actions/attestations.md
  data/redirects.yml
  data/toc.yaml
Labels: area/Build

#18744 chore: add redirect for old buildx_debug-shell cmd
  content/engine/reference/commandline/buildx_debug.md
Labels: area/engine, area/cli

#18724 Docker Desktop 4.25.2 release notes
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/ubuntu.md
  content/desktop/release-notes.md
Labels: area/desktop

#18751 Update overview.md
  content/get-started/overview.md
Labels: area/get-started

#18757 chore: improve & add more labeler globs
  .github/labeler.yml
Labels: area/release

#18755 desktop: remove Fedora 37, add Fedora 39, Ubuntu 23.10 "Mantic Minotaur"
  content/desktop/install/fedora.md
  content/desktop/install/ubuntu.md
Labels: area/install, area/desktop

#18759 add wws lunatic wasmer runtimes
  content/build/attestations/_index.md
  content/desktop/containerd.md
  content/desktop/release-notes.md
  content/desktop/wasm.md
  content/scout/image-analysis.md
  content/scout/sbom.md
Labels: area/desktop

#18741 vendor: github.com/compose-spec/compose-spec 478928e7c9f8
  _vendor/github.com/compose-spec/compose-spec/01-status.md
  _vendor/github.com/compose-spec/compose-spec/02-model.md
  _vendor/github.com/compose-spec/compose-spec/03-compose-file.md
  _vendor/github.com/compose-spec/compose-spec/04-version-and-name.md
  _vendor/github.com/compose-spec/compose-spec/05-services.md
  _vendor/github.com/compose-spec/compose-spec/06-networks.md
  _vendor/github.com/compose-spec/compose-spec/07-volumes.md
  _vendor/github.com/compose-spec/compose-spec/08-configs.md
  _vendor/github.com/compose-spec/compose-spec/09-secrets.md
  _vendor/github.com/compose-spec/compose-spec/10-fragments.md
  _vendor/github.com/compose-spec/compose-spec/11-extension.md
  _vendor/github.com/compose-spec/compose-spec/12-interpolation.md
  _vendor/github.com/compose-spec/compose-spec/13-merge.md
  _vendor/github.com/compose-spec/compose-spec/14-include.md
  _vendor/github.com/compose-spec/compose-spec/15-profiles.md
  _vendor/github.com/compose-spec/compose-spec/build.md
  _vendor/github.com/compose-spec/compose-spec/deploy.md
  _vendor/github.com/compose-spec/compose-spec/develop.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/compose-spec

#18762 search tweaks
  layouts/_default/cli.html
  layouts/_default/glossary.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/partials/sidebar.html
  layouts/samples/single.html
Labels: area/engine, area/desktop, hugo

#18765 ci: fix excludepaths in labeler
  .github/labeler.yml
Labels: area/release

#18769 bump compose version to v2.23.3 and add release notes
  _vendor/modules.txt
  content/compose/release-notes.md
  go.mod
  go.sum
  hugo.yaml
Labels: area/compose, hugo, dependencies

#18681 ENGDOCS-1833
  content/desktop/extensions/private-marketplace.md
  content/security/_index.md
  data/toc.yaml
  static/assets/images/extensions-private-marketplace.webp
Labels: area/security, area/extensions

#18711 build(bake): specify local and remote bake definitions
  content/build/bake/remote-definition.md
Labels: area/build

#18772 Engdocs 1869
  content/desktop/extensions/private-marketplace.md
  data/toc.yaml
Labels: area/extensions

#18778 engine: update prometheus metrics collection
  content/config/daemon/images/prometheus-graph_idle.png
  content/config/daemon/images/prometheus-graph_idle.webp
  content/config/daemon/images/prometheus-graph_load.png
  content/config/daemon/images/prometheus-graph_load.webp
  content/config/daemon/images/prometheus-targets.png
  content/config/daemon/images/prometheus-targets.webp
  content/config/daemon/prometheus.md
Labels: area/engine, area/configuration

#18775 ENGDOCS-1828
  content/desktop/install/windows-install.md
Labels: area/install, area/desktop

#18771 fix: add scroll margin for h1s
  layouts/_default/cli.html
  layouts/_default/glossary.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/samples/single.html
Labels: hugo

#18781 vendor: github.com/docker/scout-cli v1.2.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cache.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cache_df.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cache_prune.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_compare.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_config.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_enroll.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_environment.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_help.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_integration.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_integration_configure.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_integration_delete.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_integration_list.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_policy.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_push.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_quickview.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_recommendations.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_repo.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_repo_disable.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_repo_enable.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_repo_list.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_sbom.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_stream.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_version.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_watch.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_cache_df.md
  _vendor/github.com/docker/scout-cli/docs/scout_cache_prune.md
  _vendor/github.com/docker/scout-cli/docs/scout_compare.md
  _vendor/github.com/docker/scout-cli/docs/scout_config.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_environment.md
  _vendor/github.com/docker/scout-cli/docs/scout_policy.md
  _vendor/github.com/docker/scout-cli/docs/scout_push.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/github.com/docker/scout-cli/docs/scout_recommendations.md
  _vendor/github.com/docker/scout-cli/docs/scout_sbom.md
  _vendor/github.com/docker/scout-cli/docs/scout_version.md
  _vendor/github.com/docker/scout-cli/docs/scout_watch.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/scout, dependencies

#18786 ENGDOCS-1874
  _vendor/github.com/docker/compose-cli/docs/aci-compose-features.md
  _vendor/github.com/docker/compose-cli/docs/aci-container-features.md
  _vendor/github.com/docker/compose-cli/docs/ecs-architecture.md
  _vendor/github.com/docker/compose-cli/docs/ecs-compose-examples.md
  _vendor/github.com/docker/compose-cli/docs/ecs-compose-features.md
  _vendor/modules.txt
  content/cloud/_index.md
  content/cloud/aci-integration.md
  content/cloud/ecs-integration.md
  content/desktop/faqs/general.md
  content/desktop/previous-versions/2.x-mac.md
  content/desktop/previous-versions/2.x-windows.md
  content/desktop/previous-versions/edge-releases-mac.md
  content/desktop/previous-versions/edge-releases-windows.md
  data/toc.yaml
  go.mod
  hugo.yaml
Labels: area/desktop, hugo, dependencies

#18749 Update overview pages and highlight scout
  content/billing/_index.md
  content/subscription/_index.md
  content/subscription/details.md
  content/subscription/faq.md
  content/subscription/scout-details.md
Labels: area/subscription, area/billing

#18798 Private extension marketplace is currently experimental, not Beta
  content/desktop/extensions/private-marketplace.md
Labels: area/extensions

#18801 Update buildx setup instructions to use `install: true`
  content/build/hydrobuild.md
Labels: area/build

#18822 fix: misplaced closing tag for tab component
  content/scout/quickstart.md
Labels: area/scout

#18821 fix: missing lang tag for fluentd config examples
  content/config/containers/logging/fluentd.md
Labels: area/configuration

#18818 scout: cli env vars
  content/scout/env-vars.md
  data/toc.yaml
Labels: area/scout

#18810 update dotnet guide
  content/language/dotnet/develop.md
Labels: area/get-started
