Repository docker/docs, pull requests merged in 2023-01, with the labels that each got.

#16389 Add extensions security doc
  _data/toc.yaml
  desktop/extensions-sdk/guides/security.md
Labels: area/Extensions

#16400 Update compose-var-sub.md
  _includes/content/compose-var-sub.md
Labels: area/Compose

#16346 Update ubuntu.md
  desktop/install/ubuntu.md
Labels: area/Desktop

#16326 Add redirect
  _data/toc.yaml
  desktop/extensions-sdk/design/design-guidelines.md
  desktop/extensions-sdk/design/design-principles.md
  desktop/extensions-sdk/design/index.md
  desktop/extensions-sdk/design/mui-best-practices.md
  desktop/extensions-sdk/dev/test-debug.md
  desktop/extensions-sdk/extensions/labels.md
  desktop/extensions-sdk/extensions/publish.md
  desktop/extensions-sdk/process.md
Labels: area/Extensions

#16446 ENGDOCS-1063
  compose/production.md
Labels: area/Compose

#16459 engine: use API definitions from default branch
  _config.yml
Labels: area/Engine, area/API

#16461 htmlproofer: add temporary exclusion rules to help with migration to new anchor links in reference
  Dockerfile
Labels: area/Engine, area/Build

#16445 ENGDOCS-1065
  compose/startup-order.md
Labels: area/Compose

#16436 ENGDOCS-1069
  _data/toc.yaml
  compose/faq.md
Labels: area/Compose

#16443 ENGDOCS-1064
  compose/compose-file/compose-file-v2.md
  compose/compose-file/compose-file-v3.md
  compose/networking.md
Labels: area/Compose

#16358 build: add attestation docs
  .github/vale/Vocab/Industry/accept.txt
  _config.yml
  _data/toc.yaml
  _includes/build-feature-state.md
  build/attestations/attestation-storage.md
  build/attestations/index.md
  build/attestations/sbom.md
  build/attestations/slsa-definitions.md
  build/attestations/slsa-provenance.md
Labels: area/Build, status/do-not-merge

#16474 Bake target interpolation
  build/bake/compose-file.md
  build/bake/configuring-build.md
  build/bake/file-definition.md
  build/bake/hcl-funcs.md
  config/containers/logging/splunk.md
Labels: area/Build

#15975 image zoom modal
  _includes/head.html
  _includes/image-modal.html
  _layouts/docs.html
  _scss/_content.scss
  assets/js/modal.js
  desktop/use-desktop/index.md
Labels: area/Docs UX, status/do-not-merge

#16391 Desktop 4.16: Update extension OAuth docs with ability to redirect to the extension with query params
  desktop/extensions-sdk/guides/oauth2-flow.md
Labels: area/Extensions

#16515 Removed remaining ref to backend service in oauth flow doc
  desktop/extensions-sdk/guides/oauth2-flow.md
Labels: area/Extensions

#16519 build: null values support with bake
  build/bake/file-definition.md
Labels: area/Build

#16517 Update buildx reference to v0.10.0
  Dockerfile
  _data/buildx/docker_buildx_bake.yaml
  _data/buildx/docker_buildx_build.yaml
  _data/buildx/docker_buildx_create.yaml
  _data/buildx/docker_buildx_imagetools_inspect.yaml
  _data/buildx/docker_buildx_install.yaml
  _data/buildx/docker_buildx_ls.yaml
  _data/buildx/docker_buildx_uninstall.yaml
  _data/buildx/docker_buildx_version.yaml
Labels: area/Build

#16527 engine: update reference docs (yaml)
  _data/engine-cli/docker_plugin_ls.yaml
Labels: area/Engine

#16528 releaser: update dependencies and bump to Go 1.19
  _releaser/Dockerfile
  _releaser/go.mod
  _releaser/go.sum
Labels: dependencies

#16154 add docker-ce-rootless-extras to uninstall command
  engine/install/centos.md
  engine/install/fedora.md
  engine/install/rhel.md
  engine/install/sles.md
  engine/install/ubuntu.md
Labels: area/Engine

#16437 Update domain audit
  docker-hub/domain-audit.md
Labels: area/Hub

#16520 Update generated reference docs with extension API 0.3.3 (Desktop 4.16)
  desktop/extensions-sdk/dev/api/reference/README.md
  desktop/extensions-sdk/dev/api/reference/interfaces/BackendV0.md
  desktop/extensions-sdk/dev/api/reference/interfaces/DesktopUI.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Dialog.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Docker.md
  desktop/extensions-sdk/dev/api/reference/interfaces/DockerCommand.md
  desktop/extensions-sdk/dev/api/reference/interfaces/DockerDesktopClient.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Exec.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecOptions.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecProcess.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecResult.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExecStreamOptions.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Extension.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExtensionCli.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExtensionHost.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ExtensionVM.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Host.md
  desktop/extensions-sdk/dev/api/reference/interfaces/HttpService.md
  desktop/extensions-sdk/dev/api/reference/interfaces/NavigationIntents.md
  desktop/extensions-sdk/dev/api/reference/interfaces/OpenDialogResult.md
  desktop/extensions-sdk/dev/api/reference/interfaces/RawExecResult.md
  desktop/extensions-sdk/dev/api/reference/interfaces/RequestConfig.md
  desktop/extensions-sdk/dev/api/reference/interfaces/ServiceError.md
  desktop/extensions-sdk/dev/api/reference/interfaces/SpawnOptions.md
  desktop/extensions-sdk/dev/api/reference/interfaces/Toast.md
Labels: area/Extensions

#16545 Prevent node_modules from override via mount
  language/nodejs/develop.md
Labels: area/get-started

#16244 docs: Add "Run your tests" section to .NET
  _data/toc.yaml
  language/dotnet/configure-ci-cd.md
  language/dotnet/deploy.md
  language/dotnet/develop.md
  language/dotnet/nav.html
  language/dotnet/run-tests.md
Labels: area/get-started

#16551 doc review: update centos installation guide
  engine/install/centos.md
Labels: area/Engine

#16560 engine: add release notes for 20.10.23
  engine/release-notes/index.md
Labels: area/Engine

#16588 Update domain audit wording
  docker-hub/domain-audit.md
Labels: area/Hub

#16591 modal fix
  _includes/eula-modal.html
  _includes/image-modal.html
  _scss/_content.scss
  assets/js/modal.js
Labels: area/Docs UX

#16574 fix get-docker invocation with DRY_RUN
  _includes/install-script.md
Labels: area/Engine, area/Install

#16607 Fix wrong port number since vite migration
  desktop/extensions-sdk/dev/test-debug.md
Labels: area/Extensions

#16595 Update Docker Business onboarding
  docker-hub/onboard-business.md
  docker-hub/onboard-team.md
Labels: area/Hub

#16611 Remove extra double quotes
  desktop/extensions-sdk/extensions/labels.md
Labels: area/Extensions
