Repository docker/docs, pull requests merged in 2023-08, with the labels that each got.

#17771 get-started: move app repo
  get-started/02_our_app.md
  get-started/06_bind_mounts.md
  get-started/07_multi_container.md
  get-started/08_using_compose.md
Labels: area/get-started

#17838 admin: add and refresh onboarding
  _data/toc.yaml
  _includes/admin-org-onboarding.md
  admin/organization/onboard.md
  docker-hub/admin-overview.md
  docker-hub/onboard-business.md
  docker-hub/onboard-team.md
  docker-hub/onboard.md
Labels: area/Hub, area/Admin

#17876 Update SCIM and Group mapping attributes
  _includes/admin-group-mapping.md
  _includes/admin-scim.md
Labels: area/Hub, kind/enhancement

#17852 get-started: refresh python lang specfic guide
  language/python/build-images.md
  language/python/configure-ci-cd.md
  language/python/deploy.md
  language/python/develop.md
  language/python/index.md
  language/python/run-containers.md
Labels: area/get-started

#17926 hub: remove outdated screenshot
  docker-hub/images/repo-overview.png
  docker-hub/repos/access/index.md
Labels: area/Hub

#18032 Add SCIM role mapping [8/28]
  layouts/shortcodes/admin-scim.html
  layouts/shortcodes/admin-users.html
Labels: area/Hub
