Repository docker/docs, pull requests merged in 2024-11, with the labels that each got.

#21311 Updates to For developers SSO docs
  content/manuals/security/for-developers/2fa/_index.md
  content/manuals/security/for-developers/2fa/disable-2fa.md
  content/manuals/security/for-developers/2fa/new-recovery-code.md
  content/manuals/security/for-developers/2fa/recover-hub-account.md
  content/manuals/security/for-developers/access-tokens.md
Labels: area/security, status/review

#21324 docs: update a link in `alternative-runtimes.md`
  content/manuals/engine/daemon/alternative-runtimes.md
Labels: area/engine

#21327 Fix: replace hard-coded value: container image name
  content/guides/python/deploy.md
Labels: area/guides

#21293 Updates for roles and permissions guide
  content/manuals/security/for-admins/roles-and-permissions.md
  content/manuals/subscription/build-cloud/manage-seats.md
Labels: area/security, area/subscription, status/review

#21274 Update Manage SSO guide
  content/manuals/security/for-admins/single-sign-on/manage.md
  layouts/shortcodes/admin-sso-management-connections.md
  layouts/shortcodes/admin-sso-management-orgs.md
  layouts/shortcodes/admin-sso-management-users.md
  layouts/shortcodes/admin-sso-management.md
Labels: area/security, hugo, status/review

#21307 get-started: small updates to workshop contents
  content/get-started/workshop/02_our_app.md
  content/get-started/workshop/05_persisting_data.md
Labels: area/get-started, status/review

#21328 chore: fix typos and formatting issues in 'what is an image'
  content/get-started/docker-concepts/the-basics/what-is-an-image.md
Labels: area/get-started, status/review

#21301 scout: scout-cli v1.15.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_sbom.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_sbom.md
  _vendor/modules.txt
  content/manuals/scout/release-notes/cli.md
  go.mod
  go.sum
Labels: area/cli, area/scout, dependencies, status/review

#21346 Update userns-remap.md
  content/manuals/engine/security/userns-remap.md
Labels: area/engine, area/security

#21349 Fix keyword/description in sysdig.md
  content/manuals/scout/integrations/environment/sysdig.md
Labels: area/scout

#21338 releaser: get redirects from files instead of env vars
  _releaser/Dockerfile
  _releaser/aws.go
  layouts/index.redirects.json
Labels: area/release, hugo

#21351 Revert "releaser: get redirects from files instead of env vars"
  _releaser/Dockerfile
  _releaser/aws.go
  layouts/index.redirects.json
Labels: area/release, hugo

#21337 engine(swarm): update example redis tags
  content/manuals/engine/swarm/services.md
  content/manuals/engine/swarm/swarm-tutorial/drain-node.md
  content/manuals/engine/swarm/swarm-tutorial/rolling-update.md
Labels: area/engine, area/swarm, status/review

#21353 releaser: fix error with too many (redirect) args to jq
  .github/workflows/build.yml
  _releaser/Dockerfile
  _releaser/aws.go
  docker-bake.hcl
  layouts/index.redirects.json
Labels: area/release, hugo, area/config

#21284 guides: add docker+zscaler guide
  _vale/config/vocabularies/Docker/accept.txt
  content/guides/zscaler/index.md
Labels: status/review, area/tests, area/guides

#21107 copilot: restructure content, editorial improvements
  .github/labeler.yml
  content/manuals/copilot/_index.md
  content/manuals/copilot/copilot-action-prompt.png
  content/manuals/copilot/examples.md
  content/manuals/copilot/images/copilot-button.png
  content/manuals/copilot/images/copilot-vuln-report.png
  content/manuals/copilot/images/docker-agent-copilot.png
  content/manuals/copilot/index.md
  content/manuals/copilot/install.md
  content/manuals/copilot/usage.md
  hugo_stats.json
Labels: area/release, hugo, status/review, area/copilot

#21364 fix: broken link to dd settings after refactor
  content/guides/zscaler/index.md
Labels: status/review, area/guides

#21366 hugo 0.138.0
  Dockerfile
  layouts/_default/cli.html
  netlify.toml
Labels: area/release, hugo, area/config

#21361 chore: add issue template for proposing a new guide
  .github/ISSUE_TEMPLATE/new_guide.yml
Labels: area/release, status/review

#21372 release-notes for Compose v2.30.3 version
  _vendor/modules.txt
  content/manuals/compose/releases/release-notes.md
  go.mod
  go.sum
  hugo.yaml
Labels: area/compose, hugo, dependencies, area/config

#21373 vale: add VPN to list of accepted acronyms
  _vale/config/vocabularies/Docker/accept.txt
Labels: area/tests

#21360 hugo: show all guides when filters are unselected
  layouts/guides/landing.html
Labels: hugo, status/review

#21376 build: dockerfile 1.11.1 changelog
  content/manuals/build/buildkit/dockerfile-release-notes.md
Labels: area/build, status/review

#21380 engine: minor improvements to rpm-based installation instructions
  content/manuals/engine/install/centos.md
  content/manuals/engine/install/fedora.md
  content/manuals/engine/install/rhel.md
  content/manuals/engine/install/sles.md
Labels: area/engine, area/install

#21381 Fix title level in Compose file reference
  content/reference/compose-file/services.md
Labels: area/compose

#21347 Update manage org docs for user invitation flow
  content/manuals/admin/organization/members.md
  layouts/shortcodes/admin-users.html
Labels: area/admin, hugo, status/review

#21385 vale: housekeeping vocabulary and acronyms
  _vale/Docker/Acronyms.yml
  _vale/Docker/RecommendedWords.yml
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/compose/install/linux.md
  content/manuals/compose/install/uninstall.md
  content/manuals/compose/releases/release-notes.md
  content/manuals/desktop/features/wsl/_index.md
  content/manuals/desktop/features/wsl/use-wsl.md
  content/manuals/desktop/previous-versions/2.x-windows.md
  content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/manuals/desktop/release-notes.md
  content/manuals/desktop/settings-and-maintenance/settings.md
  content/manuals/desktop/setup/install/linux/_index.md
  content/manuals/desktop/use-desktop/resource-saver.md
  content/manuals/engine/containers/runmetrics.md
  content/manuals/engine/install/_index.md
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/ubuntu.md
  content/manuals/engine/release-notes/18.09.md
  content/manuals/engine/release-notes/20.10.md
  content/manuals/engine/release-notes/prior-releases.md
  content/manuals/engine/security/rootless.md
  content/manuals/security/faqs/networking-and-vms.md
  content/manuals/security/for-admins/hardened-desktop/enhanced-container-isolation/limitations.md
Labels: status/review, area/tests

#21378 chore: fix "norway problem" in new guide issue template
  .github/ISSUE_TEMPLATE/new_guide.yml
Labels: area/release, status/review

#21379 chore: use dynamic api version in example
  content/reference/api/engine/_index.md
Labels: area/engine, area/api, status/review

#21358 releaser: update go to 1.23 and update dependencies
  _releaser/Dockerfile
  _releaser/aws.go
  _releaser/go.mod
  _releaser/go.sum
Labels: area/release

#21374 hub: refresh quickstart
  content/manuals/docker-hub/quickstart.md
Labels: area/hub, status/review

#21370 Update new-plans.md callouts for Dec. 10th date
  content/includes/new-plans.md
  content/manuals/docker-hub/download-rate-limit.md
Labels: area/hub, status/review

#21409 Fix duplicated word
  content/manuals/build/building/best-practices.md
Labels: area/build

#21401 Update DH release notes to include OATs and PAT expiration
  content/manuals/docker-hub/release-notes.md
Labels: area/hub, status/review

#21399 hub: refresh overview
  content/manuals/docker-hub/_index.md
Labels: area/hub, status/review

#21413 Fix heading of scout/how-tos/artifact-types/
  content/manuals/scout/how-tos/artifact-types.md
Labels: area/scout

#21411 Removed Java as a pre-requisite for Multi-Stage Build Concept page
  content/get-started/docker-concepts/building-images/multi-stage-builds.md
Labels: area/get-started

#21108 guides: add videos to scout learning path
  content/guides/docker-scout/_index.md
  content/guides/docker-scout/attestations.md
  content/guides/docker-scout/common-questions.md
  content/guides/docker-scout/demo.md
  content/guides/docker-scout/remediation.md
  content/guides/docker-scout/s3c.md
  content/guides/docker-scout/sbom.md
  content/guides/docker-scout/why.md
  content/manuals/build/metadata/attestations/_index.md
  content/manuals/scout/concepts/_index.md
  content/manuals/scout/policy/remediation.md
  hugo_stats.json
Labels: area/build, area/scout, hugo, status/review, area/guides

#21422 vale: do not flag "Admin Console"
  _vale/Docker/RecommendedWords.yml
  _vale/config/vocabularies/Docker/accept.txt
Labels: status/review, area/tests

#21403 Clean up callout PR
  content/get-started/docker-concepts/the-basics/what-is-a-registry.md
  content/get-started/workshop/03_updating_app.md
  content/get-started/workshop/08_using_compose.md
  content/includes/aci-ecs-eol.md
  content/includes/install-script.md
  content/manuals/build/bake/contexts.md
  content/manuals/compose/intro/compose-application-model.md
  content/manuals/compose/releases/release-notes.md
  content/manuals/desktop/previous-versions/edge-releases-mac.md
  content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/manuals/desktop/troubleshoot-and-support/faqs/macfaqs.md
  content/manuals/docker-hub/builds/link-source.md
  content/manuals/docker-hub/builds/manage-builds.md
  content/manuals/docker-hub/download-rate-limit.md
  content/manuals/docker-hub/quickstart.md
  content/manuals/engine/logging/configure.md
  content/manuals/engine/network/links.md
  content/manuals/engine/release-notes/17.03.md
  content/manuals/engine/release-notes/20.10.md
  content/manuals/engine/release-notes/prior-releases.md
  content/manuals/engine/storage/drivers/device-mapper-driver.md
  content/manuals/engine/storage/drivers/zfs-driver.md
  content/manuals/engine/swarm/how-swarm-mode-works/nodes.md
  content/manuals/engine/swarm/swarm-tutorial/_index.md
  content/manuals/engine/swarm/swarm-tutorial/inspect-service.md
  content/manuals/extensions/settings-feedback.md
  content/manuals/security/for-admins/hardened-desktop/enhanced-container-isolation/limitations.md
  content/reference/api/extensions-sdk/DockerDesktopClient.md
  layouts/shortcodes/admin-domain-audit.md
  layouts/shortcodes/admin-org-audit-log.html
  layouts/shortcodes/admin-sso-management.md
  layouts/shortcodes/admin-users.html
Labels: area/engine, area/compose, area/networking, area/hub, area/build, area/swarm, area/desktop, area/security, area/get-started, area/storage, area/extensions, area/api, hugo, dependencies, status/review

#21431 chore: remove Fedora 39 (EOL: November 12, 2024)
  content/manuals/desktop/setup/install/linux/fedora.md
Labels: area/desktop, status/review

#21429 docs(localstack): fix formatting of code block
  content/guides/localstack.md
Labels: area/guides

#21424 Change Docker image in part8 of getting started
  content/get-started/workshop/09_image_best.md
Labels: area/get-started

#21436 vale: update vocab
  _vale/config/vocabularies/Docker/accept.txt
Labels: status/review, area/tests

#21440 Fix link in SSO prereqs
  content/manuals/security/for-admins/single-sign-on/_index.md
Labels: area/security, status/review

#21438 Freshness for Docker accounts
  content/manuals/accounts/create-account.md
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/accounts/manage-account.md
Labels: area/accounts, status/review

#21437 Small nit on SSO overview
  content/manuals/security/for-admins/single-sign-on/_index.md
Labels: area/security, status/review

#21439 chore: refactor / fix tests
  .github/CODEOWNERS
  .github/labeler.yml
  Dockerfile
  Makefile
  content/guides/images/c-sharp.webp
  content/guides/images/cpp.webp
  content/guides/images/golang.webp
  content/guides/images/java.webp
  content/guides/images/nodejs.webp
  content/guides/images/php-logo.webp
  content/guides/images/python.webp
  content/guides/images/ruby-on-rails.webp
  content/guides/images/rust-logo.webp
  content/manuals/admin/images/remove-owner.png
  content/manuals/desktop/images/diagnose-support.png
  content/manuals/desktop/images/troubleshoot.png
  content/manuals/desktop/setup/install/images/docker-app-in-apps.png
  content/manuals/docker-hub/images/index-tag.webp
  docker-bake.hcl
  hack/releaser/Dockerfile
  hack/releaser/aws.go
  hack/releaser/cloudfront-lambda-redirects.js
  hack/releaser/go.mod
  hack/releaser/go.sum
  hack/releaser/main.go
  hack/releaser/redirects-prefixes.json
  hack/releaser/s3-config.json
  hack/test/go_redirects
  hack/test/unused_media
  hack/vendor
  scripts/test_unused_media.sh
  static/assets/images/green-check.svg
Labels: area/hub, area/desktop, area/release, area/admin, hugo, status/review, area/config, area/tests, area/guides

#21445 Update keep context small bullet point in optimize.md
  content/manuals/build/cache/optimize.md
Labels: area/build

#21447 fix: multi-platform build command for Neovim example
  content/manuals/build/building/multi-platform.md
Labels: area/build

#21407 Update or remove links in installation documentation
  content/get-started/get-docker.md
  content/get-started/introduction/get-docker-desktop.md
  content/manuals/desktop/_index.md
  content/manuals/engine/install/_index.md
Labels: area/engine, area/install, area/desktop, area/get-started

#21446 Update gettingstarted.md to use f-string
  content/manuals/compose/gettingstarted.md
Labels: area/compose

#21453 lambda: collapse redundant slashes in requests
  hack/releaser/cloudfront-lambda-redirects.js
Labels: area/release, status/review

#21441 hub/samples: add some aliases
  content/get-started/docker-concepts/the-basics/what-is-an-image.md
  content/manuals/security/for-admins/provisioning/scim.md
  content/reference/samples/_index.md
  content/reference/samples/ai-ml.md
  content/reference/samples/angular.md
  content/reference/samples/cloudflared.md
  content/reference/samples/django.md
  content/reference/samples/dotnet.md
  content/reference/samples/elasticsearch.md
  content/reference/samples/express.md
  content/reference/samples/fastapi.md
  content/reference/samples/flask.md
  content/reference/samples/gitea.md
  content/reference/samples/go.md
  content/reference/samples/java.md
  content/reference/samples/javascript.md
  content/reference/samples/mariadb.md
  content/reference/samples/minecraft.md
  content/reference/samples/mongodb.md
  content/reference/samples/ms-sql.md
  content/reference/samples/mysql.md
  content/reference/samples/nextcloud.md
  content/reference/samples/nginx.md
  content/reference/samples/nodejs.md
  content/reference/samples/php.md
  content/reference/samples/pi-hole.md
  content/reference/samples/plex.md
  content/reference/samples/portainer.md
  content/reference/samples/postgres.md
  content/reference/samples/prometheus.md
  content/reference/samples/python.md
  content/reference/samples/rails.md
  content/reference/samples/react.md
  content/reference/samples/redis.md
  content/reference/samples/ruby.md
  content/reference/samples/rust.md
  content/reference/samples/spark.md
  content/reference/samples/spring.md
  content/reference/samples/traefik.md
  content/reference/samples/typescript.md
  content/reference/samples/vuejs.md
  content/reference/samples/wireguard.md
  content/reference/samples/wordpress.md
Labels: area/security, area/get-started, status/review

#21451 chore: bump nodejs deps
  package-lock.json
  package.json
Labels: dependencies, status/review

#21465 hugo: replace Shortcode.Scratch with Shortcode.Store
  hugo.yaml
  layouts/shortcodes/tab.html
  layouts/shortcodes/tabs.html
Labels: hugo, status/review, area/config

#21466 scout: add Photon OS to list of advisories
  content/manuals/scout/deep-dive/advisory-db-sources.md
Labels: area/scout, status/review

#21469 OATs support for APIs
  content/manuals/security/for-admins/access-tokens.md
Labels: area/security, status/review

#21480 hub: remove unused video
  static/assets/video/hub_categories.mp4
Labels: hugo, status/review

#21505 scout: remove duplicate video embed on remediation feature
  content/manuals/scout/policy/remediation.md
Labels: area/scout, status/review

#21503 scout: use --password-stdin in docker login examples for integrations
  content/manuals/scout/integrations/ci/azure.md
  content/manuals/scout/integrations/ci/gitlab.md
Labels: area/scout

#21500 ENGDOCS-2325
  content/manuals/docker-hub/download-rate-limit.md
Labels: area/hub, status/review

#21507 hub: remove cyclic redirect for /docker-hub/repos/
  content/manuals/docker-hub/repos/_index.md
Labels: area/hub, status/review

#21517 Fix redirect issue on create.md
  content/manuals/docker-hub/repos/create.md
Labels: area/hub, status/review

#21521 bake: remove empty build network for compose files
  content/guides/compose-bake/index.md
Labels: status/review, area/guides

#21508 build: add variable validation in bake
  content/manuals/build/bake/overrides.md
  content/manuals/build/bake/variables.md
Labels: area/build

#21523 buildx v0.19.0..v0.19.1, buildkit v0.18.0
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  content/manuals/build/buildkit/dockerfile-release-notes.md
  content/manuals/build/release-notes.md
  go.mod
  go.sum
Labels: area/build, dependencies

#21525 ci: use edge releases of buildx
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/validate-upstream.yml
Labels: area/release

#21474 feat: sidebar groups
  content/manuals/_index.md
  content/manuals/accounts/_index.md
  content/manuals/admin/_index.md
  content/manuals/billing/_index.md
  content/manuals/build-cloud/_index.md
  content/manuals/build/_index.md
  content/manuals/cloud/index.md
  content/manuals/compose/_index.md
  content/manuals/copilot/_index.md
  content/manuals/desktop/_index.md
  content/manuals/docker-hub/_index.md
  content/manuals/engine/_index.md
  content/manuals/extensions/_index.md
  content/manuals/harmonia/_index.md
  content/manuals/registry.md
  content/manuals/release-lifecycle.md
  content/manuals/scout/_index.md
  content/manuals/security/_index.md
  content/manuals/subscription/_index.md
  content/manuals/tcc.md
  content/manuals/trusted-content/_index.md
  hugo_stats.json
  layouts/partials/sidebar/sections.html
Labels: area/engine, area/compose, area/hub, area/build, area/desktop, area/security, area/subscription, area/extensions, area/admin, area/scout, hugo, area/billing, area/accounts, status/review, area/build-cloud, area/copilot

#21528 Fix typo
  content/manuals/engine/release-notes/24.0.md
Labels: area/engine

#21530 Found another typo
  content/manuals/engine/release-notes/25.0.md
Labels: area/engine

#21532 build: add check example for gha
  content/manuals/build/checks.md
  content/manuals/build/ci/github-actions/checks.md
Labels: area/build
