Repository docker/docs, pull requests merged in 2024-01, with the labels that each got.

#18994 style: dds updates dec 2023
  assets/css/callouts.css
  assets/css/code.css
  assets/css/search.css
  layouts/partials/header.html
  layouts/partials/top-nav.html
  tailwind.config.js
Labels: hugo

#18999 Specify syntax highlighters for yaml blocks and console blocks
  content/engine/swarm/stack-deploy.md
Labels: area/swarm

#18997 engine: remove html SDK (404)
  content/engine/api/sdk/_index.md
Labels: area/api

#18996 storage: ephemeral anonymous volumes
  content/storage/_index.md
Labels: area/storage

#19005 fix: code span colors in dark mode
  assets/css/code.css
Labels: hugo

#19007 Revert "style: adjust callout colors to match dds alerts"
  assets/css/callouts.css
Labels: hugo

#19015 build(gha): update to artifacts actions v4
  content/build/ci/github-actions/multi-platform.md
Labels: area/build

#19018 css: refactor and improve styles
  assets/css/callouts.css
  assets/css/code.css
  assets/css/global.css
  assets/css/search.css
  assets/css/styles.css
  assets/css/syntax-dark.css
  assets/css/syntax-light.css
  assets/css/tables.css
  assets/css/toc.css
  assets/css/typography.css
  layouts/_default/_markup/render-codeblock.html
Labels: hugo

#19020 vendor: github.com/docker/cli b0c5946ba5d84ec0ee9952b80a377b947a068408
  _vendor/github.com/docker/cli/docs/reference/commandline/cli.md
  go.mod
  go.sum
Labels: area/cli, dependencies

#19021 Update Image Access Management category descriptions
  layouts/shortcodes/admin-image-access.html
Labels: hugo

#18790 cli: fix system prune output msg
  content/config/pruning.md
Labels: area/configuration, status/do-not-merge

#19031 desktop: add `docker feedback` command
  content/desktop/feedback.md
Labels: area/desktop

#19024 build(cloud): clarify organization restriction for dbc team subscription
  content/admin/deactivate-account.md
  content/subscription/build-details.md
Labels: area/subscription, area/admin

#19026 Add invoice details to billing FAQ
  content/billing/faqs.md
Labels: area/billing

#19037 Add supported currency to Billing FAQ
  content/billing/faqs.md
Labels: area/billing

#19043 fix: typo in content/build/exporters/_index.md
  content/build/exporters/_index.md
Labels: area/build

#19042 Update networking.md to use unambiguous term "service name" (#19041)
  content/compose/networking.md
Labels: area/compose

#19038 Add editor role to create repos docs
  content/docker-hub/repos/create.md
Labels: area/hub

#19056 Use consistent array style in Profiles example
  content/compose/profiles.md
Labels: area/compose

#19058 icons external links hide ligatures from crawlers
  assets/css/global.css
  assets/css/icons.css
  assets/css/styles.css
  layouts/_default/_markup/render-link.html
  layouts/partials/github-links.html
Labels: hugo

#19059 fix: typo in footer (block -> blog)
  hugo.yaml
Labels: hugo

#19063 Add callout to enforce sign-in page
  content/security/for-admins/configure-sign-in.md
Labels: area/security

#19079 scout: add note about cache permissions
  content/scout/integrations/ci/jenkins.md
Labels: area/scout

#18961 scout: github integration, base image remediation
  content/develop/develop-images/guidelines.md
  content/scout/images/remediation.png
  content/scout/integrations/_index.md
  content/scout/integrations/source-code-management/github.md
  content/scout/policy/remediation.md
  data/redirects.yml
  data/toc.yaml
Labels: area/scout

#19082 dockerd config location
  content/config/daemon/_index.md
Labels: area/engine, area/configuration

#18974 scout(policy): default user is root
  content/scout/policy/_index.md
Labels: area/scout

#19091 buildx v0.12.1
  _vendor/modules.txt
  content/build/release-notes.md
  go.mod
  go.sum
Labels: area/build, dependencies

#19065 scout: reword default policies to out-of-the-box
  content/scout/policy/_index.md
Labels: area/scout

#19088 fix: dockerfile tooltips should match only keywords
  assets/js/src/tooltip.js
Labels: hugo

#19087 engine: clarify restart policy with foreground containers
  content/config/containers/start-containers-automatically.md
Labels: area/configuration

#19077 doc-freshness: get-started and lang guides
  content/get-started/02_our_app.md
  content/get-started/04_sharing_app.md
  content/get-started/06_bind_mounts.md
  content/get-started/07_multi_container.md
  content/get-started/08_using_compose.md
  content/language/dotnet/containerize.md
  content/language/nodejs/containerize.md
  content/language/python/containerize.md
  content/language/python/develop.md
  content/language/rust/build-images.md
Labels: area/get-started

#19093 vale: move vocabulary to new v3 location
  .github/vale/config/vocabularies/Docker/accept.txt
  .github/vale/config/vocabularies/Technology/accept.txt
Labels: area/release

#19025 engine: add fluentd-async-reconnect-interval fluentd log-opt
  content/config/containers/logging/fluentd.md
Labels: area/configuration

#19101 scout(policy): diff compliant/non-compliant Dockerfile, non-root user
  content/scout/policy/_index.md
Labels: area/scout

#19106 build: clarify cache backend protocol compatibility
  content/build/cache/backends/gha.md
  content/build/cache/backends/s3.md
Labels: area/build

#19108 Explain explicit property in default non-root user policy
  content/scout/policy/_index.md
Labels: area/scout

#19098 scout: release notes updates
  content/scout/release-notes.md
Labels: area/scout

#19095 vendor: update moby upstreams
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/github.com/moby/moby/docs/api/v1.18.md
  _vendor/github.com/moby/moby/docs/api/v1.19.md
  _vendor/github.com/moby/moby/docs/api/v1.20.md
  _vendor/github.com/moby/moby/docs/api/v1.21.md
  _vendor/github.com/moby/moby/docs/api/v1.22.md
  _vendor/github.com/moby/moby/docs/api/v1.23.md
  _vendor/github.com/moby/moby/docs/api/v1.24.md
  _vendor/github.com/moby/moby/docs/api/v1.32.yaml
  _vendor/github.com/moby/moby/docs/api/v1.33.yaml
  _vendor/github.com/moby/moby/docs/api/v1.34.yaml
  _vendor/github.com/moby/moby/docs/api/v1.35.yaml
  _vendor/github.com/moby/moby/docs/api/v1.36.yaml
  _vendor/github.com/moby/moby/docs/api/v1.37.yaml
  _vendor/github.com/moby/moby/docs/api/v1.38.yaml
  _vendor/github.com/moby/moby/docs/api/v1.39.yaml
  _vendor/github.com/moby/moby/docs/api/v1.40.yaml
  _vendor/github.com/moby/moby/docs/api/v1.41.yaml
  _vendor/github.com/moby/moby/docs/api/v1.42.yaml
  _vendor/github.com/moby/moby/docs/api/v1.43.yaml
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/build, area/api, dependencies

#19113 remove "api-version-matrix" include
  content/engine/api/_index.md
  content/includes/api-version-matrix.md
Labels: area/api

#19100 hub: clarify which api endpoints were removed with AIM removal
  content/docker-hub/release-notes.md
Labels: area/hub

#18865 scout: describe cve severity categorization
  content/scout/image-analysis.md
Labels: area/scout

#19112 scout: update old tag name for docker/scout-sbom-indexer
  content/scout/sbom.md
Labels: area/scout

#19132 vendor: github.com/docker/scout-cli v1.3.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/scout, dependencies

#18143 ux: manuals landing page
  content/_index.md
  content/engine/_index.md
  content/manuals.md
  data/toc.yaml
  hugo.yaml
  layouts/partials/components/card.html
  static/assets/icons/Compose.svg
  static/assets/icons/Scout.svg
  static/assets/icons/Whale.svg
Labels: hugo

#19130 Add new audit log event
  layouts/shortcodes/admin-org-audit-log.html
Labels: hugo

#18253 engine: add release notes for v25.0.0
  content/engine/api/v1.44.md
  content/engine/release-notes/24.0.md
  content/engine/release-notes/25.0.md
  data/toc.yaml
  hugo.yaml
Labels: area/api, hugo

#19146 engine: deprecate API versions < 1.24
  content/engine/api/_index.md
  data/redirects.yml
  data/toc.yaml
Labels: area/api

#19127 site fixups
  assets/images/docs-logo-white-full.svg
  hugo.yaml
  layouts/partials/header.html
  static/assets/images/docker-docs-logo.svg
Labels: hugo

#19156 engine: remove logentries logging driver
  content/config/containers/logging/configure.md
  content/config/containers/logging/logentries.md
  data/toc.yaml
Labels: area/configuration

#19160 engine: add additional redirects for deprecated API versions
  content/engine/api/_index.md
  data/redirects.yml
Labels: area/api

#19157 update some engine 24.0 versions to 25.0
  content/build/exporters/_index.md
  content/engine/api/_index.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/sles.md
  content/engine/security/rootless.md
  data/redirects.yml
Labels: area/install, area/build, area/api

#19173 Add a note about moby/moby#46603 in v25.0 release notes
  content/engine/release-notes/25.0.md
Labels: area/engine, area/networking

#19162 Mini freshness update
  content/docker-hub/_index.md
  content/docker-hub/images/index-tag.png
  content/docker-hub/images/index-tag.webp
  content/docker-hub/images/index-terminal.png
  content/docker-hub/quickstart.md
  content/docker-hub/repos/_index.md
  content/network/drivers/overlay.md
Labels: area/networking, area/hub

#19136 Add clarification on when to use collaborators
  content/docker-hub/repos/access.md
Labels: area/hub

#19122 site: dbc landing page banner
  assets/images/banner.webp
  assets/images/build-cloud-white.svg
  layouts/index.html
Labels: hugo

#19175 redirect to marketing page
  data/redirects.yml
Labels: status/do-not-merge

#19185 engine: add normalized RLIMIT_NOFILE default to v25 release note
  content/engine/release-notes/25.0.md
Labels: area/engine

#19070 scout(policy): Unapproved base images
  content/scout/policy/_index.md
  content/scout/release-notes.md
Labels: status/do-not-merge, area/scout

#19191 buildx: Kubernetes: fix an incorrect explanation about QEMU
  content/build/drivers/kubernetes.md
Labels: area/build

#19199 hugo: do not render hidden cli options
  layouts/_default/cli.html
Labels: hugo

#19182 Billing and subscription FAQ updates
  content/billing/cycle.md
  content/billing/details.md
  content/billing/faqs.md
  content/billing/history.md
  content/billing/payment-method.md
  content/subscription/add-seats.md
  content/subscription/details.md
  content/subscription/downgrade.md
  content/subscription/faq.md
  content/subscription/images/subscription-diagram.webp
Labels: area/subscription, area/billing

#19195 site: make it faster
  assets/css/global.css
  assets/css/icons.css
  assets/js/src/sidebar.js
  content/admin/organization/_index.md
  content/compose/compose-file/_index.md
  content/contribute/components/icons.md
  content/reference.md
  content/release-notes.md
  hugo.yaml
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/_markup/render-image.html
  layouts/_default/_markup/render-link.html
  layouts/_default/baseof.html
  layouts/partials/aside.html
  layouts/partials/components/accordion.html
  layouts/partials/components/card.html
  layouts/partials/github-links.html
  layouts/partials/head.html
  layouts/partials/header.html
  layouts/partials/icon.html
  layouts/partials/sidebar.html
  package-lock.json
  package.json
  tailwind.config.js
Labels: area/compose, area/admin, hugo, dependencies

#19204 fix: render callout icons
  assets/css/callouts.css
  layouts/partials/head.html
  layouts/partials/utils/resources.html
Labels: hugo

#19206 fix: sidebar background in light mode
  layouts/_default/baseof.html
Labels: hugo

#19207 font: use font-display:fallback
  layouts/partials/head.html
Labels: hugo

#19212 Callout limitation with convert account
  content/admin/convert-account.md
Labels: area/admin

#19214 fix horizontal overflow
  layouts/_default/baseof.html
  layouts/partials/breadcrumbs.html
Labels: hugo

#19215 fix(docker-desktop): wrong linux links
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/ubuntu.md
Labels: area/install, area/desktop

#19138 Fix apt-get remove and ascii GPG key
  content/engine/install/debian.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/ubuntu.md
Labels: area/install

#19220 ci: bump actions/download-artifact to 4
  .github/workflows/validate-upstream.yml
Labels: area/release

#19221 ci(validate-upstream): note about update strategy
  .github/workflows/validate-upstream.yml
Labels: area/release

#19120 site: landing page redesign
  assets/css/global.css
  assets/images/FacebookCircle.svg
  assets/images/InstagramCircle.svg
  assets/images/LinkedinCircle.svg
  assets/images/TwitterCircle.svg
  assets/images/YoutubeCircle.svg
  assets/images/banner.webp
  assets/images/build-cloud-light.svg
  content/_index.md
  layouts/index.html
  layouts/partials/footer.html
  static/assets/images/app-wf-dark-1.svg
  static/assets/images/app-wf-dark-2.svg
  static/assets/images/app-wf-light-1.svg
  static/assets/images/app-wf-light-2.svg
  static/assets/images/bg-pattern-blue.webp
  static/assets/images/bg-pattern-purple.webp
  static/assets/images/bg-pattern-verde.webp
  static/assets/images/scout-logo-dark.svg
  static/assets/images/scout-logo-light.svg
  tailwind.config.js
Labels: hugo

#19224 scout(artifactory): clarify agent<>registry proxy/fw
  content/scout/integrations/registry/artifactory.md
Labels: area/scout

#19226 vendor: buildx and buildkit
  _vendor/github.com/docker/buildx/docs/bake-reference.md
  _vendor/github.com/docker/cli/docs/reference/commandline/dockerd.md
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/build, area/cli, dependencies

#19230 fix: remove incomplete sentence
  content/scout/integrations/registry/acr.md
Labels: area/scout

#19229 fix engine install curl
  content/engine/install/debian.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/ubuntu.md
Labels: area/install

#19232 engine: add chmod a+r for gpg key
  content/engine/install/debian.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/ubuntu.md
Labels: area/install

#19238 Add known issue to the release notes
  content/desktop/release-notes.md
Labels: area/desktop

#19237 Add Build Cloud links to billing and subscription pages
  content/billing/_index.md
  content/subscription/_index.md
  content/subscription/build-details.md
Labels: area/subscription, area/billing

#19242 site: fix rendering issues
  layouts/_default/baseof.html
  layouts/partials/breadcrumbs.html
  layouts/partials/header.html
  package-lock.json
  tailwind.config.js
Labels: hugo, dependencies

#19234 scout: graduate acr from ea to ga
  content/scout/integrations/_index.md
  content/scout/integrations/registry/acr.md
  content/scout/release-notes.md
Labels: area/scout

#19255 fix: GitHub Action rename token to github-token
  content/scout/integrations/ci/gha.md
Labels: area/scout

#19257 scout: update external links
  content/scout/integrations/code-quality/sonarqube.md
  content/scout/integrations/environment/sysdig.md
  content/scout/integrations/registry/acr.md
  content/scout/integrations/registry/ecr.md
  content/scout/integrations/source-code-management/github.md
Labels: area/scout

#19266 engine: install: remove Ubuntu Lunar 23.04, as it's EOL
  content/engine/install/ubuntu.md
Labels: area/install
