Repository docker/docs, pull requests merged in 2024-10, with the labels that each got.

#21031 chore: formatting of scout CUPS policy callouts
  content/manuals/scout/policy/_index.md
Labels: area/scout, status/review

#21028 scout: ootb policy → policy types
  content/manuals/build/building/best-practices.md
  content/manuals/scout/integrations/code-quality/sonarqube.md
  content/manuals/scout/integrations/source-code-management/github.md
  content/manuals/scout/policy/_index.md
  content/manuals/scout/policy/configure.md
  content/manuals/scout/policy/remediation.md
  content/manuals/scout/policy/scores.md
  content/manuals/scout/quickstart.md
  content/manuals/scout/release-notes/platform.md
  data/redirects.yml
Labels: area/build, area/scout, status/review

#21037 dnf5 have no config-manager
  content/manuals/engine/install/fedora.md
Labels: area/engine, area/install

#20928 Add AWS logs driver awslogs-create-stream option doc
  content/manuals/engine/logging/drivers/awslogs.md
Labels: area/engine

#21056 guides: disable user-select for filter labels
  layouts/guides/landing.html
Labels: hugo, status/review

#21046 build: improve/deduplicate multiplatform build prereqs
  content/manuals/build/building/multi-platform.md
  hugo_stats.json
Labels: area/build, hugo

#21064 Update multi-platform.md
  content/manuals/build/building/multi-platform.md
Labels: area/build

#21069 site: add overview blurb to the guides landing page
  content/guides/_index.md
  layouts/guides/landing.html
Labels: hugo, status/review, area/guides

#21055 Add `rewrite-timestamp` buildx output parameter
  content/manuals/build/exporters/image-registry.md
Labels: area/build

#21072 guides shorter summaries
  content/guides/cpp/_index.md
  content/guides/databases.md
  content/guides/docker-build-cloud/_index.md
  content/guides/docker-compose/_index.md
  content/guides/docker-scout/_index.md
  content/guides/dotnet/_index.md
  content/guides/genai-pdf-bot/_index.md
  content/guides/genai-video-bot/index.md
  content/guides/golang/_index.md
  content/guides/java/_index.md
  content/guides/jupyter.md
  content/guides/kafka.md
  content/guides/kube-deploy.md
  content/guides/language-translation.md
  content/guides/localstack.md
  content/guides/named-entity-recognition.md
  content/guides/nodejs/_index.md
  content/guides/orchestration.md
  content/guides/php/_index.md
  content/guides/python/_index.md
  content/guides/r/_index.md
  content/guides/rag-ollama/_index.md
  content/guides/ruby/_index.md
  content/guides/rust/_index.md
  content/guides/sentiment-analysis.md
  content/guides/swarm-deploy.md
  content/guides/tensorflowjs.md
  content/guides/text-classification.md
  content/guides/text-summarization.md
  layouts/_default/_markup/render-image.html
Labels: hugo, status/review, area/guides

#21044 Update login steps for subscription docs
  content/manuals/subscription/core-subscription/add-seats.md
  content/manuals/subscription/core-subscription/downgrade.md
  content/manuals/subscription/core-subscription/remove-seats.md
  content/manuals/subscription/core-subscription/upgrade.md
Labels: area/subscription, status/review

#21035 admin: remove company mgmt from hub
  content/includes/admin-company-overview.md
  content/includes/admin-early-access.md
  content/manuals/admin/_index.md
  content/manuals/admin/company/new-company.md
  content/manuals/admin/company/organizations.md
  content/manuals/admin/company/owners.md
  content/manuals/admin/faqs/company-faqs.md
  content/manuals/docker-hub/_index.md
  content/manuals/security/for-admins/single-sign-on/configure/_index.md
  content/manuals/security/for-admins/single-sign-on/manage/_index.md
  layouts/shortcodes/admin-domains.html
  layouts/shortcodes/admin-sso-config.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-connections.md
  layouts/shortcodes/admin-sso-management.md
Labels: area/hub, area/security, area/admin, hugo

#21075 Fix conflicts with last move samples under reference PR
  content/guides/databases.md
  content/reference/samples/_index.md
  content/reference/samples/ai-ml.md
  content/reference/samples/angular.md
  content/reference/samples/cloudflared.md
  content/reference/samples/django.md
  content/reference/samples/dotnet.md
  content/reference/samples/elasticsearch.md
  content/reference/samples/express.md
  content/reference/samples/fastapi.md
  content/reference/samples/flask.md
  content/reference/samples/gitea.md
  content/reference/samples/go.md
  content/reference/samples/java.md
  content/reference/samples/javascript.md
  content/reference/samples/mariadb.md
  content/reference/samples/minecraft.md
  content/reference/samples/mongodb.md
  content/reference/samples/ms-sql.md
  content/reference/samples/mysql.md
  content/reference/samples/nextcloud.md
  content/reference/samples/nginx.md
  content/reference/samples/nodejs.md
  content/reference/samples/php.md
  content/reference/samples/pi-hole.md
  content/reference/samples/plex.md
  content/reference/samples/portainer.md
  content/reference/samples/postgres.md
  content/reference/samples/prometheus.md
  content/reference/samples/python.md
  content/reference/samples/rails.md
  content/reference/samples/react.md
  content/reference/samples/redis.md
  content/reference/samples/ruby.md
  content/reference/samples/rust.md
  content/reference/samples/spark.md
  content/reference/samples/spring.md
  content/reference/samples/traefik.md
  content/reference/samples/typescript.md
  content/reference/samples/vuejs.md
  content/reference/samples/wireguard.md
  content/reference/samples/wordpress.md
Labels: status/review, area/guides

#21078 Develop with containers minor update & fixed a typo
  content/get-started/introduction/develop-with-containers.md
  content/guides/docker-scout/demo.md
Labels: area/get-started, area/guides

#21080 guides: scout learning path fixups
  Dockerfile
  content/guides/docker-scout/_index.md
Labels: status/review, area/config, area/guides

#21081 scout: policy evaluation general availability
  content/manuals/scout/_index.md
  content/manuals/scout/policy/_index.md
  content/manuals/scout/policy/configure.md
  content/manuals/scout/policy/view.md
  content/manuals/scout/release-notes/platform.md
Labels: area/scout, status/review

#21083 scout: Add edit policy section
  content/manuals/scout/policy/configure.md
Labels: area/scout

#21082 scout: Save and enable policy is now the default action
  content/manuals/scout/policy/configure.md
Labels: area/scout

#21088 Update CODEOWNERS
  .github/CODEOWNERS
Labels: area/release, status/review

#21087 fix: remove circular alias for /get-started/educational-resources
  content/get-started/resources.md
Labels: status/review

#21091 Update billing activity logs for new activities
  content/manuals/admin/organization/activity-logs.md
Labels: area/admin, status/review

#21099 site: automatically scroll down the sidebar to reveal the current page
  layouts/_default/baseof.html
  layouts/partials/sidebar/sections.html
Labels: hugo, status/review

#21077 Update steps for deactivating account
  content/manuals/accounts/deactivate-user-account.md
Labels: area/accounts, status/review

#21104 docs: update settings path
  content/manuals/engine/network/tutorials/host.md
Labels: area/engine, area/networking

#21106 guides: improve styles for filter options on guides landing page
  layouts/guides/landing.html
Labels: hugo, status/review

#21103 api: add alias for old v1.47 api reference location
  .github/labeler.yml
  content/reference/api/engine/version/v1.47.md
Labels: area/api, area/release, status/review

#21116 engine: fix incorrect types in engine sdk overview example
  content/reference/api/engine/sdk/_index.md
Labels: area/engine, area/api, status/review

#20731 admin: add org access tokens
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/admin/organization/activity-logs.md
  content/manuals/docker-hub/release-notes.md
  content/manuals/docker-hub/service-accounts.md
  content/manuals/security/for-admins/access-tokens.md
Labels: area/hub, area/security, status/do-not-merge, area/admin, area/tests

#21117 build(cloud): add firewall config
  content/manuals/build-cloud/setup.md
Labels: status/review, area/build-cloud

#21101 cli: fix cli completion setup for zsh
  content/manuals/engine/cli/completion.md
Labels: area/engine, area/cli, status/review

#21124 Update deprecated field in configure-builder.md
  content/manuals/build/ci/github-actions/configure-builder.md
Labels: area/build

#20958 Container supported development learning path
  assets/images/learning-paths/container-supported-development.png
  content/guides/container-supported-development.md
Labels: hugo, status/review, area/guides

#21136 ci: use official Hugo image
  Dockerfile
  compose.yaml
  docker-bake.hcl
  netlify.toml
Labels: area/release, area/config

#21139 guides: update powershell cmd in get started workshop
  content/get-started/workshop/06_bind_mounts.md
Labels: area/get-started, status/review

#21143 build(bake): escape variable interpolation in bake definition
  content/manuals/build/bake/variables.md
Labels: area/build

#21142 build: fix typo in build secrets
  content/manuals/build/building/secrets.md
Labels: area/build

#21085 build: add bake guide
  assets/images/guides/bake.webp
  content/guides/bake/index.md
  content/subjects/devops/_index.md
Labels: hugo, status/review, area/guides

#21052 contrib: add guidelines for contributing Docker guides
  archetypes/guides.md
  content/contribute/guides.md
Labels: area/contrib, status/review

#20923 guides: update jupyter guide
  content/guides/jupyter.md
Labels: status/review, area/guides

#21150 build: bake guide grammatical improvements
  content/guides/bake/index.md
Labels: area/guides

#21158 security: oat is not supported w/ scout
  content/manuals/security/for-admins/access-tokens.md
Labels: area/security

#21159 chore: alias /engine/api/latest/
  content/reference/api/engine/version/v1.47.md
Labels: area/engine, area/api

#21152 guides: update listing layout on landing page
  hugo_stats.json
  layouts/_default/baseof.html
  layouts/guides/landing.html
Labels: hugo, status/review

#21023 Add use case guide for HTTP routing with Traefik
  _vale/config/vocabularies/Docker/accept.txt
  content/guides/images/traefik-in-development.webp
  content/guides/images/traefik-non-containerized-workload-architecture.webp
  content/guides/traefik.md
  content/subjects/networking/_index.md
Labels: area/tests, area/guides

#20968 Add 2 New Use Case Guides - Pre-Seeding database and WireMock
  content/guides/use-case/images/wiremock-accuweatherapi.webp
  content/guides/use-case/images/wiremock-arch.webp
  content/guides/use-case/images/wiremock-logs-docker-desktop.webp
  content/guides/use-case/images/wiremock-using-docker.webp
  content/guides/use-case/pre-seeding.md
  content/guides/use-case/wiremock.md
Labels: status/review, area/guides

#21166 desktop: update install command quotes
  content/manuals/desktop/install/mac-install.md
  content/manuals/desktop/install/windows-install.md
Labels: area/install, area/desktop, status/review

#21194 docs: typo in rootless docs
  content/manuals/engine/security/rootless.md
Labels: area/engine, area/security

#21195 Adjust Compose watch settings to sync to new working directory
  compose.yaml
Labels: area/config

#21197 Update SSO overview doc for clarity
  content/manuals/security/for-admins/single-sign-on/_index.md
Labels: area/security, status/review

#21208 guides: fix typo in python guide
  content/guides/python/develop.md
Labels: status/review, area/guides

#21217 Updated pricing information
  content/guides/docker-build-cloud/common-questions.md
Labels: area/guides

#21210 get-started: update deep dive book link
  content/get-started/resources.md
Labels: area/get-started, status/review

#21206 Updated the multi-stage-builds Docker concept to include installing J…
  content/get-started/docker-concepts/building-images/images/multi-stage-builds-spring-initializer.webp
  content/get-started/docker-concepts/building-images/images/spring-initializr.webp
  content/get-started/docker-concepts/building-images/multi-stage-builds.md
Labels: area/get-started

#21223 Add metadata to WireMock/Pre-seed guides and move to guides folder
  content/guides/images/wiremock-accuweatherapi.webp
  content/guides/images/wiremock-arch.webp
  content/guides/images/wiremock-logs-docker-desktop.webp
  content/guides/images/wiremock-using-docker.webp
  content/guides/pre-seeding.md
  content/guides/wiremock.md
Labels: status/review, area/guides

#21224 Docs: Update main page index.html: Added period
  layouts/index.html
Labels: hugo

#21230 Spelling fixes
  content/contribute/components/badges.md
  content/guides/docker-build-cloud/dev.md
  content/guides/genai-pdf-bot/containerize.md
  content/guides/genai-pdf-bot/develop.md
  content/guides/java/containerize.md
  content/guides/jupyter.md
  content/guides/rag-ollama/containerize.md
  content/guides/rust/develop.md
  content/manuals/build/bake/_index.md
  content/manuals/build/cache/invalidation.md
  content/manuals/build/ci/github-actions/build-summary.md
  content/manuals/compose/how-tos/profiles.md
  content/manuals/compose/releases/release-notes.md
  content/manuals/desktop/release-notes.md
  content/manuals/desktop/uninstall.md
  content/manuals/desktop/use-desktop/container.md
  content/manuals/docker-hub/release-notes.md
  content/manuals/engine/release-notes/17.05.md
  content/manuals/engine/release-notes/18.03.md
  content/manuals/engine/release-notes/18.05.md
  content/manuals/engine/security/trust/deploying_notary.md
  content/manuals/extensions/extensions-sdk/build/frontend-extension-tutorial.md
  content/manuals/extensions/extensions-sdk/extensions/DISTRIBUTION.md
  content/manuals/extensions/extensions-sdk/extensions/share.md
  content/manuals/scout/explore/image-details-view.md
  content/manuals/scout/explore/metrics-exporter.md
  content/manuals/security/_index.md
  content/manuals/security/faqs/containers.md
  content/manuals/security/for-admins/provisioning/scim.md
Labels: area/engine, area/compose, area/hub, area/build, area/desktop, area/security, area/extensions, area/contrib, area/scout, area/guides

#21097 hugo: update table styles
  assets/css/typography.css
  hugo_stats.json
  layouts/_default/_markup/render-table.html
  layouts/_default/cli.html
  tailwind.config.js
Labels: hugo, status/review

#21233 Align grammar to official contribution guideline
  content/get-started/docker-concepts/running-containers/sharing-local-files.md
  content/guides/golang/build-images.md
  content/guides/golang/develop.md
  content/guides/localstack.md
  content/guides/pre-seeding.md
  content/manuals/desktop/dev-environments/create-dev-env.md
  content/manuals/desktop/previous-versions/2.x-windows.md
  content/manuals/desktop/previous-versions/edge-releases-mac.md
  content/manuals/desktop/troubleshoot/topics.md
  content/manuals/engine/security/trust/trust_automation.md
  content/manuals/extensions/extensions-sdk/architecture/_index.md
  content/manuals/extensions/extensions-sdk/design/mui-best-practices.md
Labels: area/engine, area/desktop, area/security, area/get-started, area/extensions, area/guides

#21220 SSO: Add overview for provisioning users
  content/manuals/security/for-admins/provisioning/_index.md
Labels: area/security, status/review

#21236 update build number
  content/manuals/desktop/release-notes.md
Labels: area/desktop

#21211 Update Configure and Connect SSO docs
  content/manuals/admin/organization/insights.md
  content/manuals/admin/organization/onboard.md
  content/manuals/security/faqs/single-sign-on/domain-faqs.md
  content/manuals/security/faqs/single-sign-on/idp-faqs.md
  content/manuals/security/for-admins/enforce-sign-in/_index.md
  content/manuals/security/for-admins/provisioning/scim.md
  content/manuals/security/for-admins/single-sign-on/_index.md
  content/manuals/security/for-admins/single-sign-on/configure.md
  content/manuals/security/for-admins/single-sign-on/configure/_index.md
  content/manuals/security/for-admins/single-sign-on/configure/configure-idp.md
  content/manuals/security/for-admins/single-sign-on/connect.md
  content/manuals/security/for-admins/single-sign-on/troubleshoot.md
  content/manuals/security/security-announcements.md
Labels: area/security, area/admin, status/review

#21237 Additional Spelling corrections
  content/manuals/desktop/previous-versions/3.x-windows.md
  content/manuals/desktop/previous-versions/edge-releases-mac.md
  content/manuals/engine/release-notes/18.06.md
  content/manuals/engine/release-notes/18.09.md
  content/manuals/engine/release-notes/19.03.md
  content/manuals/engine/release-notes/27.md
  content/manuals/engine/release-notes/prior-releases.md
  content/manuals/extensions/extensions-sdk/build/backend-extension-tutorial.md
Labels: area/engine, area/desktop, area/extensions

#21218 Add Java 21
  content/guides/java/containerize.md
  content/guides/java/develop.md
  content/guides/java/run-tests.md
Labels: area/guides

#21156 Update unofficial libraries
  content/reference/api/engine/sdk/_index.md
Labels: area/engine, area/api

#21146 Testcontainers cloud learning path
  assets/images/learning-paths/testcontainers-cloud-learning-path.png
  content/guides/testcontainers-cloud/_index.md
  content/guides/testcontainers-cloud/common-questions.md
  content/guides/testcontainers-cloud/demo-ci.md
  content/guides/testcontainers-cloud/demo-local.md
  content/guides/testcontainers-cloud/why.md
Labels: hugo, area/guides

#21239 Update JIT, SCIM, and group mapping guides
  content/manuals/security/for-admins/provisioning/group-mapping.md
  content/manuals/security/for-admins/provisioning/just-in-time.md
  content/manuals/security/for-admins/provisioning/scim.md
  content/manuals/security/for-admins/single-sign-on/manage.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-users.md
Labels: area/security, hugo, status/review

#21260 site: improve header display on small devices
  assets/images/docker-docs-white-condensed.svg
  hugo_stats.json
  layouts/partials/footer.html
  layouts/partials/header.html
Labels: hugo, status/review

#21167 ci: upgrade hugo to v0.136.3
  .dockerignore
  Dockerfile
  netlify.toml
Labels: area/release, status/review, area/config

#21267 redirect: alias /language/ to /guides/
  content/guides/_index.md
Labels: status/review, area/guides

#21270 fix: corrected IDs for testcontainers youtube-embeds
  content/guides/testcontainers-cloud/_index.md
  content/guides/testcontainers-cloud/demo-ci.md
  content/guides/testcontainers-cloud/demo-local.md
  content/guides/testcontainers-cloud/why.md
Labels: status/review, area/guides

#21262 Updates to enforce sign-in docs
  content/manuals/security/for-admins/enforce-sign-in/_index.md
  content/manuals/security/for-admins/enforce-sign-in/methods.md
Labels: area/security, status/review

#21275 hub api: remove postman collection reference
  content/reference/api/hub/latest.yaml
Labels: area/api, status/review

#21286 contrib: update guidelines and archetype for guides
  archetypes/guides.md
  content/contribute/guides.md
Labels: area/contrib, status/review

#21298 ci: custom hugo setup + dependency updates
  Dockerfile
  netlify.toml
Labels: area/release, status/review, area/config

#21214 build: profiling with pprof
  content/manuals/build/building/variables.md
Labels: area/build, status/do-not-merge

#21300 build: buildx v0.18.0, buildkit v0.17.0, dockerfile v1.11.0
  Dockerfile
  _vendor/github.com/docker/buildx/docs/bake-reference.md
  _vendor/github.com/moby/buildkit/docs/attestations/attestation-storage.md
  _vendor/github.com/moby/buildkit/docs/attestations/slsa-definitions.md
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/invalid-definition-description.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/json-args-recommended.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/undefined-var.md
  _vendor/modules.txt
  content/manuals/build/buildkit/dockerfile-release-notes.md
  content/manuals/build/release-notes.md
  data/buildx/docker_buildx.yaml
  data/buildx/docker_buildx_build.yaml
  data/buildx/docker_buildx_imagetools.yaml
  data/buildx/docker_buildx_ls.yaml
  data/buildx/docker_buildx_prune.yaml
  go.mod
  go.sum
Labels: area/build, dependencies, area/config

#21306 Correct Youki setup guide link
  content/manuals/engine/daemon/alternative-runtimes.md
Labels: area/engine

#21303 fix: inconsistent casing for Testcontainers Cloud
  content/_index.md
Labels: status/review

#21302 site: remove target=_blank
  content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/reference/api/hub/latest.yaml
  layouts/_default/_markup/render-link.html
  layouts/partials/github-links.html
  layouts/shortcodes/desktop-install-v2.html
  layouts/shortcodes/desktop-install.html
Labels: area/desktop, area/api, hugo
