Repository docker/docs, pull requests merged in 2024-03, with the labels that each got.

#19547 Fix : Overflowing Text in build/cache
  content/build/cache/_index.md
Labels: area/build

#19548 scout: clarify 10 GB max image size
  content/scout/image-analysis.md
Labels: area/scout, status/review

#19539 cli reference template improvements
  layouts/_default/cli.html
Labels: hugo, status/review

#19546 scout: create dedicated installation page
  content/scout/image-analysis.md
  content/scout/install.md
  data/toc.yaml
Labels: area/scout, status/review

#19552 One word fix to gha.md
  content/scout/integrations/ci/gha.md
Labels: area/scout

#19456 Update Scout billing docs
  content/billing/scout-billing.md
Labels: area/billing, status/review

#19559 s3: fix content-type response header for webp
  .github/workflows/deploy.yml
Labels: area/release

#19558 site: style updates and performance improvements
  assets/css/global.css
  assets/css/icons.css
  assets/css/styles.css
  assets/css/tables.css
  content/scout/integrations/registry/acr.md
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/_markup/render-image.html
  layouts/_default/_markup/render-link.html
  layouts/_default/cli.html
  layouts/index.html
  layouts/partials/components/accordion.html
  layouts/partials/components/card.html
  layouts/partials/github-links.html
  layouts/partials/head.html
  layouts/partials/header.html
  layouts/partials/sidebar.html
  layouts/partials/tooltip.html
  tailwind.config.js
Labels: area/scout, hugo, status/review

#19555 Update steps for RAM in Admin Console
  layouts/shortcodes/admin-registry-access.html
Labels: hugo, status/review

#19566 network: multiple nets with --network
  content/network/_index.md
Labels: area/networking, status/review

#19572 use Go toolchain for managing hugo modules
  Dockerfile
  go.mod
Labels: dependencies

#19577 buildx and buildkit v0.13.0
  Dockerfile
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/modules.txt
  content/build/dockerfile/release-notes.md
  content/build/release-notes.md
  data/buildx/docker_buildx_build.yaml
  go.mod
  go.sum
Labels: area/build, dependencies

#19452 feat: version callouts
  content/build/building/variables.md
  hugo.yaml
  i18n/en.yaml
  layouts/shortcodes/introduced.html
Labels: area/build, hugo, status/review

#19573 Billing and subscription freshness
  content/_index.md
  content/admin/company/organizations.md
  content/admin/deactivate-account.md
  content/admin/organization/activity-logs.md
  content/admin/organization/orgs.md
  content/billing/_index.md
  content/billing/core-billing/cycle.md
  content/billing/core-billing/details.md
  content/billing/core-billing/history.md
  content/billing/core-billing/payment-method.md
  content/docker-hub/release-notes.md
  content/docker-hub/repos/access.md
  content/faq/security/single-sign-on/enforcement-faqs.md
  content/security/for-admins/configure-sign-in.md
  content/security/for-admins/domain-audit.md
  content/security/for-admins/image-access-management.md
  content/security/for-admins/registry-access-management.md
  content/subscription/_index.md
  content/subscription/build-details.md
  content/subscription/core-subscription/add-seats.md
  content/subscription/core-subscription/details.md
  content/subscription/core-subscription/downgrade.md
  content/subscription/core-subscription/remove-seats.md
  content/subscription/core-subscription/upgrade.md
  content/subscription/desktop-license.md
  content/subscription/scout-details.md
  data/toc.yaml
Labels: area/hub, area/security, area/subscription, area/admin, area/billing

#19581 moby 25.0.4
  Dockerfile
  _vendor/github.com/docker/compose/v2/docs/reference/compose_create.md
  _vendor/github.com/docker/compose/v2/docs/reference/compose_up.md
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_create.yaml
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_up.yaml
  _vendor/github.com/moby/moby/docs/api/v1.44.yaml
  _vendor/github.com/moby/moby/docs/api/version-history.md
  _vendor/modules.txt
  content/engine/api/v1.45.md
  content/engine/release-notes/25.0.md
  data/toc.yaml
  go.mod
  go.sum
  hugo.yaml
Labels: area/compose, area/api, hugo, dependencies, status/review

#19585 update buildkit vendor
  Dockerfile
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/build, dependencies, status/review

#19574 docs freshness: get-started
  content/get-started/05_persisting_data.md
  content/get-started/06_bind_mounts.md
  content/get-started/07_multi_container.md
Labels: area/get-started, status/review

#19593 scout policy copyleft allowlist
  content/scout/policy/_index.md
  content/scout/policy/configure.md
Labels: area/scout, status/review

#19561 hugo: use hugo buildStats to extract css classes and elements
  .gitignore
  Dockerfile
  docker-bake.hcl
  hugo.yaml
  hugo_stats.json
  layouts/partials/github-links.html
  postcss.config.js
  tailwind.config.js
Labels: hugo, status/review

#19589 hugo: generate metadata.json index
  hugo.yaml
  layouts/index.metadata.json
  layouts/partials/utils/keywords.html
Labels: hugo

#19604 hugo: Correct API version
  hugo.yaml
Labels: hugo

#19601 build: add gha ssh example
  .github/vale/config/vocabularies/Docker/accept.txt
  content/build/ci/github-actions/secrets.md
  hugo_stats.json
Labels: area/build, area/release

#19609 build: fix secret mount erroneous example
  content/build/building/secrets.md
Labels: area/build

#19613 build(gha): add reproducible builds example (source_date_epoch)
  content/build/ci/github-actions/reproducible-builds.md
  data/toc.yaml
Labels: area/build

#19620 build: buildx v0.13.1 release
  _vendor/modules.txt
  content/build/release-notes.md
  go.mod
  go.sum
Labels: area/build, dependencies

#19594 chore: expand Q1/Q4 abbreviations in body text
  content/scout/release-notes.md
Labels: area/scout, status/review

#19632 Update 06_bind_mounts.md with a semantic fix
  content/get-started/06_bind_mounts.md
Labels: area/get-started

#19544 add tensorflowjs use-case guide
  content/guides/use-case/_index.md
  content/guides/use-case/tensorflowjs.md
  data/toc.yaml
Labels: status/review

#19606 scout: remove "All critical vulnerabilities" policy
  content/scout/policy/_index.md
  content/scout/policy/view.md
  content/scout/quickstart.md
  content/scout/release-notes.md
Labels: area/scout, status/review

#19595 build(cloud): call out conflict with default provenance in gha
  content/build/cloud/ci.md
Labels: area/build, status/review

#19633 Clarify registry support
  content/security/for-admins/registry-access-management.md
Labels: area/security, status/review

#19623 [15/3] Update DBC billing and subscription
  content/billing/build-billing.md
  content/build/cloud/_index.md
  content/subscription/_index.md
  content/subscription/build-cloud/build-details.md
  content/subscription/build-cloud/manage-seats.md
  content/subscription/core-subscription/details.md
  data/toc.yaml
Labels: area/build, area/subscription, area/billing, status/review

#19645 Fix verification command
  content/get-started/05_persisting_data.md
Labels: area/get-started

#19651 vendor: github.com/docker/scout-cli v1.6.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_attestation_add.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cache_prune.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_quickview.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_attestation_add.md
  _vendor/github.com/docker/scout-cli/docs/scout_cache_prune.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/modules.txt
  go.mod
  go.sum
  hugo_stats.json
Labels: area/scout, dependencies, status/review

#19644 fix: add a note about experimental windows support
  content/build/buildkit/_index.md
Labels: area/build

#19681 scout: "Fixable vulnerabilities only" config option
  content/scout/policy/_index.md
  content/scout/release-notes.md
Labels: area/scout, status/review

#19683 build: fix c8d option in daemon.json
  content/build/guide/multi-platform.md
Labels: status/review

#19680 fix: update external link to systemd website
  content/config/containers/start-containers-automatically.md
Labels: area/configuration, status/review

#19694 desktop: remove artifactory tab
  content/desktop/use-desktop/images.md
Labels: area/desktop, status/review

#19597 deps: bump and pin actions/labeler@v5
  .github/workflows/labeler.yml
Labels: area/release, status/review

#19676 vendor: github.com/docker/scout-cli v1.6.3
  _vendor/github.com/docker/scout-cli/docs/scout.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation.md
  _vendor/github.com/docker/scout-cli/docs/scout_attestation_add.md
  _vendor/github.com/docker/scout-cli/docs/scout_cache.md
  _vendor/github.com/docker/scout-cli/docs/scout_cache_df.md
  _vendor/github.com/docker/scout-cli/docs/scout_cache_prune.md
  _vendor/github.com/docker/scout-cli/docs/scout_compare.md
  _vendor/github.com/docker/scout-cli/docs/scout_config.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_enroll.md
  _vendor/github.com/docker/scout-cli/docs/scout_environment.md
  _vendor/github.com/docker/scout-cli/docs/scout_help.md
  _vendor/github.com/docker/scout-cli/docs/scout_integration.md
  _vendor/github.com/docker/scout-cli/docs/scout_integration_configure.md
  _vendor/github.com/docker/scout-cli/docs/scout_integration_delete.md
  _vendor/github.com/docker/scout-cli/docs/scout_integration_list.md
  _vendor/github.com/docker/scout-cli/docs/scout_policy.md
  _vendor/github.com/docker/scout-cli/docs/scout_push.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/github.com/docker/scout-cli/docs/scout_recommendations.md
  _vendor/github.com/docker/scout-cli/docs/scout_repo.md
  _vendor/github.com/docker/scout-cli/docs/scout_repo_disable.md
  _vendor/github.com/docker/scout-cli/docs/scout_repo_enable.md
  _vendor/github.com/docker/scout-cli/docs/scout_repo_list.md
  _vendor/github.com/docker/scout-cli/docs/scout_sbom.md
  _vendor/github.com/docker/scout-cli/docs/scout_stream.md
  _vendor/github.com/docker/scout-cli/docs/scout_version.md
  _vendor/github.com/docker/scout-cli/docs/scout_watch.md
  _vendor/modules.txt
  data/scout-cli/docker_scout.yaml
  data/scout-cli/docker_scout_attestation.yaml
  data/scout-cli/docker_scout_attestation_add.yaml
  data/scout-cli/docker_scout_cache.yaml
  data/scout-cli/docker_scout_cache_df.yaml
  data/scout-cli/docker_scout_cache_prune.yaml
  data/scout-cli/docker_scout_compare.yaml
  data/scout-cli/docker_scout_config.yaml
  data/scout-cli/docker_scout_cves.yaml
  data/scout-cli/docker_scout_enroll.yaml
  data/scout-cli/docker_scout_environment.yaml
  data/scout-cli/docker_scout_help.yaml
  data/scout-cli/docker_scout_integration.yaml
  data/scout-cli/docker_scout_integration_configure.yaml
  data/scout-cli/docker_scout_integration_delete.yaml
  data/scout-cli/docker_scout_integration_list.yaml
  data/scout-cli/docker_scout_policy.yaml
  data/scout-cli/docker_scout_push.yaml
  data/scout-cli/docker_scout_quickview.yaml
  data/scout-cli/docker_scout_recommendations.yaml
  data/scout-cli/docker_scout_repo.yaml
  data/scout-cli/docker_scout_repo_disable.yaml
  data/scout-cli/docker_scout_repo_enable.yaml
  data/scout-cli/docker_scout_repo_list.yaml
  data/scout-cli/docker_scout_sbom.yaml
  data/scout-cli/docker_scout_stream.yaml
  data/scout-cli/docker_scout_version.yaml
  data/scout-cli/docker_scout_watch.yaml
  go.mod
  hugo.yaml
Labels: area/scout, hugo, dependencies, status/review

#19705 ci: remove negative glob patterns for labeler
  .github/labeler.yml
Labels: area/release

#19691 Add documentation for core Docker concepts and guides
  assets/js/src/alpine.js
  content/guides/docker-concepts/the-basics/images/access-the-frontend.webp
  content/guides/docker-concepts/the-basics/images/click-image.webp
  content/guides/docker-concepts/the-basics/images/create-hub-repository.webp
  content/guides/docker-concepts/the-basics/images/dockerhub-signup.webp
  content/guides/docker-concepts/the-basics/images/dockerhub-tags.webp
  content/guides/docker-concepts/the-basics/images/explore-your-container.webp
  content/guides/docker-concepts/the-basics/images/image-layers.webp
  content/guides/docker-concepts/the-basics/images/pulled-image.webp
  content/guides/docker-concepts/the-basics/images/run-a-new-container.webp
  content/guides/docker-concepts/the-basics/images/search-image.webp
  content/guides/docker-concepts/the-basics/images/search-the-docker-image.webp
  content/guides/docker-concepts/the-basics/images/select-image.webp
  content/guides/docker-concepts/the-basics/images/stop-your-container.webp
  content/guides/docker-concepts/the-basics/images/todo-list-app.png
  content/guides/docker-concepts/the-basics/images/todo-list-app.webp
  content/guides/docker-concepts/the-basics/images/todo-list-containers.png
  content/guides/docker-concepts/the-basics/images/todo-list-containers.webp
  content/guides/docker-concepts/the-basics/images/todo-list-delete.png
  content/guides/docker-concepts/the-basics/images/todo-list-delete.webp
  content/guides/docker-concepts/the-basics/images/view-your-containers.webp
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
  data/toc.yaml
  hugo_stats.json
  layouts/partials/head.html
  layouts/shortcodes/tabs.html
  layouts/shortcodes/youtube-embed.html
  package-lock.json
  package.json
Labels: hugo, dependencies

#19682 scout: add cli/gha release notes to docs site
  content/release-notes.md
  content/scout/release-notes/cli.md
  content/scout/release-notes/platform.md
  data/toc.yaml
Labels: area/scout, status/review

#19638 rootless: ubuntu 24.04 restricts unprivileged userns
  content/engine/security/rootless.md
Labels: status/review
