Repository docker/docs, pull requests merged in 2024-04, with the labels that each got.

#19718 Fix indents in compose file
  content/compose/compose-file/07-volumes.md
Labels: area/compose

#19720 Remove unnecessary empty lines
  content/compose/compose-file/06-networks.md
  content/compose/compose-file/10-fragments.md
Labels: area/compose

#19706 chore: add asciinema guidelines
  content/contribute/components/videos.md
Labels: area/engine, area/desktop, status/review

#19721 Remove callout from create orgs page
  content/admin/organization/orgs.md
Labels: area/admin, status/review

#19730 fix: remove underscore in buildx debug build title
  content/reference/cli/docker/buildx/debug/build.md
Labels: status/review

#19729 vendoring updates (buildkit, compose)
  _vendor/github.com/docker/compose/v2/docs/reference/compose_attach.md
  _vendor/github.com/docker/compose/v2/docs/reference/compose_build.md
  _vendor/github.com/docker/compose/v2/docs/reference/compose_config.md
  _vendor/github.com/docker/compose/v2/docs/reference/compose_exec.md
  _vendor/github.com/docker/compose/v2/docs/reference/compose_ps.md
  _vendor/github.com/docker/compose/v2/docs/reference/compose_run.md
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_build.yaml
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_config.yaml
  _vendor/github.com/docker/compose/v2/docs/reference/docker_compose_up.yaml
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/compose, area/build, dependencies

#19728 scout: add release note about CVE-2024-3094
  content/scout/policy/_index.md
  content/scout/release-notes/platform.md
Labels: area/scout, status/review

#19686 docs: tip for index sbom
  content/build/attestations/sbom.md
Labels: area/build

#19747 chore: fully remove the sbom page
  content/desktop/release-notes.md
  content/engine/sbom/_index.md
  content/scout/sbom.md
Labels: area/engine, area/desktop, area/scout, status/review

#19738 Update activity logs
  content/admin/organization/activity-logs.md
  layouts/shortcodes/admin-org-audit-log.html
Labels: area/admin, hugo

#19712 Clarify enforcing sign-in vs SSO
  content/security/for-admins/configure-sign-in.md
Labels: area/security

#19770 engine: update Go SDK to reflect refactored types pkgs
  content/engine/api/sdk/examples.md
Labels: area/engine, area/api

#19748 docs: Update the Golang CI configurations section
  content/language/golang/configure-ci-cd.md
Labels: area/get-started

#19746 redirects: catch old dockerfile reference location
  data/redirects.yml
Labels: status/review

#19780 get-started: fix typo
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
Labels: status/review

#19734 scout: simplify dashboard instructions with direct links
  content/billing/scout-billing.md
  content/scout/image-analysis.md
  content/scout/integrations/environment/_index.md
  content/scout/integrations/environment/sysdig.md
  content/scout/integrations/registry/acr.md
  content/scout/integrations/registry/artifactory.md
  content/scout/integrations/registry/ecr.md
  content/scout/policy/_index.md
  content/scout/policy/configure.md
  content/scout/policy/remediation.md
  content/scout/quickstart.md
Labels: area/scout, area/billing, status/review

#19785 reference: remove links to distribution specs
  content/reference/_index.md
Labels: status/review

#19789 FIX: Update 05_persisting_data.md (error in the cmd for running a container and mounting a volume in Git Bash)
  content/get-started/05_persisting_data.md
Labels: area/get-started

#19745 trusted-content: restructure doi section
  .github/vale/config/vocabularies/Docker/accept.txt
  content/build/building/base-images.md
  content/develop/develop-images/dockerfile_best-practices.md
  content/develop/security-best-practices.md
  content/docker-hub/repos/access.md
  content/security/security-announcements.md
  content/trusted-content/images/supported_tags.webp
  content/trusted-content/official-images.md
  content/trusted-content/official-images/_index.md
  content/trusted-content/official-images/contributing.md
  content/trusted-content/official-images/using.md
  data/toc.yaml
Labels: area/hub, area/build, area/security, area/release, status/review

#19800 align beta callout wording
  content/desktop/use-desktop/container.md
  content/desktop/use-desktop/volumes.md
  content/reference/cli/docker/debug.md
Labels: area/desktop, status/review

#19805 fix GitHub Actions YAML file block
  content/scout/integrations/ci/gha.md
Labels: area/scout

#19792 build: experimental test instruction buildkit.exe
  content/build/buildkit/_index.md
Labels: area/build, status/review

#19779 Add admin video series links
  content/admin/company/new-company.md
  content/admin/company/organizations.md
  content/admin/organization/manage-a-team.md
  content/admin/organization/orgs.md
  content/desktop/hardened-desktop/enhanced-container-isolation/_index.md
  content/desktop/hardened-desktop/settings-management/_index.md
  content/security/for-admins/group-mapping.md
  content/security/for-admins/image-access-management.md
  content/security/for-admins/registry-access-management.md
  content/security/for-admins/scim.md
  content/security/for-admins/single-sign-on/configure/_index.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
Labels: area/desktop, area/security, area/admin, status/review

#19791 fix(lint): Dockerfile FromAsCasing
  Dockerfile
Labels: status/review

#19818 lint: enable markdownlint MD022 / blanks-around-headings
  .markdownlint.json
  content/admin/organization/members.md
  content/compose/compose-file/05-services.md
  content/compose/compose-file/compose-file-v3.md
  content/compose/environment-variables/env-file.md
  content/compose/environment-variables/set-environment-variables.md
  content/compose/install/standalone.md
  content/compose/intro/features-uses.md
  content/compose/migrate.md
  content/compose/release-notes.md
  content/contribute/ui.md
  content/desktop/extensions-sdk/extensions/publish.md
  content/desktop/faqs/linuxfaqs.md
  content/desktop/faqs/macfaqs.md
  content/desktop/hardened-desktop/enhanced-container-isolation/limitations.md
  content/desktop/hardened-desktop/settings-management/configure.md
  content/desktop/install/ubuntu.md
  content/desktop/release-notes.md
  content/desktop/use-desktop/container.md
  content/desktop/use-desktop/images.md
  content/docker-hub/release-notes.md
  content/engine/security/rootless.md
  content/get-started/overview.md
  content/network/network-tutorial-macvlan.md
  content/samples/_index.md
  content/security/security-announcements.md
Labels: area/engine, area/compose, area/install, area/networking, area/hub, area/desktop, area/security, area/get-started, area/samples, area/extensions, area/admin, status/review

#19820 scout release notes: indexing blocked in 1.6.0
  content/scout/release-notes/cli.md
Labels: area/scout

#19787 add guide for R language
  content/language/_index.md
  content/language/images/r.webp
  content/language/r/_index.md
  content/language/r/configure-ci-cd.md
  content/language/r/containerize.md
  content/language/r/deploy.md
  content/language/r/develop.md
  data/toc.yaml
Labels: area/get-started, status/review

#19823 r compose watch fix
  content/language/r/develop.md
  hugo_stats.json
Labels: area/get-started, status/review

#19813 Update guidelines for videos
  content/contribute/components/videos.md
Labels: status/review

#19749 bake: remote auth variables
  content/build/bake/remote-definition.md
  content/build/building/variables.md
Labels: area/build, status/review

#19640 buildx: default-load driver opt
  content/build/drivers/docker-container.md
  content/build/drivers/kubernetes.md
  content/build/drivers/remote.md
Labels: area/build

#19741 Docker Hub: add content categories
  content/docker-hub/repos/categories.md
  data/toc.yaml
  static/assets/video/hub_categories.mp4
Labels: area/hub, status/review

#19831 chore: remove repetitive words
  content/compose/release-notes.md
  content/desktop/previous-versions/3.x-mac.md
  content/desktop/previous-versions/3.x-windows.md
  content/engine/release-notes/20.10.md
  data/glossary.yaml
Labels: area/engine, area/compose, area/desktop

#19834 engine: 26.0.2 release notes
  content/engine/release-notes/26.0.md
Labels: area/engine

#19841 `env` can be omitted in docker build --secret
  content/build/building/secrets.md
Labels: area/build

#19726 buildx: kubernetes: add ephemeral-storage options to kuberentes-driver
  content/build/drivers/kubernetes.md
Labels: area/build

#19844 network: disambiguate which program the iptables option applies to
  content/network/packet-filtering-firewalls.md
Labels: area/networking, status/review

#19776 cli: document initial otel support and usage
  .github/vale/config/vocabularies/Docker/accept.txt
  content/config/otel.md
  data/toc.yaml
  layouts/_default/_markup/render-codeblock.html
Labels: area/engine, area/cli, area/configuration, area/release, hugo, status/review

#19835 engine: 26.1.0 release notes
  content/engine/release-notes/25.0.md
  content/engine/release-notes/26.0.md
  content/engine/release-notes/26.1.md
  data/toc.yaml
  hugo.yaml
Labels: area/engine, hugo

#19855 redirect: add go-redirects for dd build ui
  data/redirects.yml
Labels: status/review

#19864 hugo: css overhaul
  assets/css/code.css
  assets/css/typography.css
  assets/images/docker-docs-white.svg
  assets/images/home-abstract-faint.svg
  assets/js/src/toc.js
  content/language/_index.md
  hugo_stats.json
  i18n/en.yaml
  layouts/_default/baseof.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/index.html
  layouts/partials/cli-aside.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/partials/pagemeta.html
  layouts/partials/sidebar.html
  layouts/partials/toc-cli.html
  layouts/partials/top-nav.html
  layouts/shortcodes/grid.html
  layouts/tag/baseof.html
  layouts/tag/taxonomy.html
  tailwind.config.js
Labels: area/get-started, hugo, status/review

#19858 docs: Update the Nodejs CI configurations section
  content/language/nodejs/configure-ci-cd.md
Labels: area/get-started

#19819 scout: add step to enroll org before enabling repo
  content/scout/quickstart.md
Labels: area/scout, status/review

#19833 network: com.docker.network.bridge.inhibit_ipv4
  content/network/drivers/bridge.md
Labels: area/networking, status/review

#19836 fix: copy codeblocks for powershell
  content/build/buildkit/_index.md
  layouts/_default/_markup/render-codeblock.html
Labels: area/build, hugo, status/review

#19869 vendor: github.com/moby/buildkit 5fce077ed0e0
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/build, dependencies, status/review

#19874 fix: prune double leading slash in favicon url
  assets/favicons/docs.ico
  assets/favicons/docs@2x.ico
  layouts/_default/engine-api-baseof.html
  layouts/_default/hub-api-baseof.html
  layouts/partials/favicon.html
  layouts/partials/meta.html
  static/assets/favicons/favicon.ico
Labels: hugo

#19877 code rendering fixes
  assets/css/code.css
  hugo_stats.json
  layouts/_default/baseof.html
Labels: hugo

#19876 engine: update distro-versions (Fedora 40, Ubuntu 24.04), add EOL dates and add V26.1 to API docs
  content/engine/api/_index.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/rhel.md
  content/engine/install/ubuntu.md
Labels: area/engine, area/install, area/api

#19817 vale: reduce false positives
  .github/vale/Docker/Adverbs.yml
  .github/vale/Docker/Avoid.yml
  .github/vale/Docker/ComplexWords.yml
  .github/vale/Docker/Contractions.yml
  .github/vale/Docker/DateFormat.yml
  .github/vale/Docker/DateMonthName.yml
  .github/vale/Docker/DateNumber.yml
  .github/vale/Docker/Decimals.yml
  .github/vale/Docker/Exclamation.yml
  .github/vale/Docker/HeadingPunctuation.yml
  .github/vale/Docker/ListLength.yml
  .github/vale/Docker/Passive.yml
  .github/vale/Docker/RecommendedWords.yml
  .github/vale/Docker/SentenceLength.yml
  .github/vale/Docker/Units.yml
  .github/vale/Docker/We.yml
Labels: area/release, status/review

#19884 fix: copy codeblock
  layouts/_default/_markup/render-codeblock.html
Labels: hugo

#18803 kapa ai 🤖
  assets/css/code.css
  assets/css/kapa.css
  assets/css/styles.css
  hugo.yaml
  layouts/partials/head.html
  static/assets/images/logo-icon-white.svg
Labels: hugo, status/review

#19885 Revert "kapa ai 🤖"
  assets/css/code.css
  assets/css/kapa.css
  assets/css/styles.css
  hugo.yaml
  layouts/partials/head.html
  static/assets/images/logo-icon-white.svg
Labels: hugo

#19888 Revert "Revert "kapa ai 🤖""
  assets/css/code.css
  assets/css/kapa.css
  assets/css/styles.css
  hugo.yaml
  layouts/partials/head.html
  static/assets/images/logo-icon-white.svg
Labels: hugo

#19887 fix: make term table full width
  layouts/tag/term.html
Labels: hugo, status/review

#19896 docs: update directory name in r language guide
  content/language/r/containerize.md
Labels: area/get-started

#19882 docker scout changelog for 1.8.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_docker-cli-plugin-hooks.yaml
  _vendor/github.com/docker/scout-cli/docs/scout.md
  _vendor/github.com/docker/scout-cli/docs/scout_docker-cli-plugin-hooks.md
  _vendor/modules.txt
  content/scout/release-notes/cli.md
  go.mod
  go.sum
Labels: area/scout, dependencies

#19914 scout: unlist the scout metrics exporter page
  content/scout/metrics-exporter.md
  data/toc.yaml
Labels: area/scout, status/review

#19918 Update permission table
  content/security/for-admins/roles-and-permissions.md
Labels: area/security, status/review

#19602 hugo: use fuse.js search instead of algolia
  assets/css/search.css
  assets/css/styles.css
  assets/js/src/alpine.js
  assets/js/src/search.js
  hugo_stats.json
  layouts/_default/cli.html
  layouts/_default/glossary.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/index.metadata.json
  layouts/partials/head.html
  layouts/partials/header.html
  layouts/partials/search.html
  layouts/partials/utils/description.html
  layouts/samples/single.html
  package-lock.json
  package.json
  tailwind.config.js
Labels: hugo, dependencies, status/review

#19920 ci: add vale lint
  .github/workflows/build.yml
Labels: area/release, status/review

#19921 engine: 26.1.1 release notes
  content/engine/release-notes/26.1.md
  hugo.yaml
Labels: area/engine, hugo

#19925 ci: only run vale for on pull requests
  .github/workflows/build.yml
Labels: area/release

#19919 Update 2FA in Hub
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
Labels: area/security, status/review
