Repository docker/docs, pull requests merged in 2024-06, with the labels that each got.

#20087 search: pagefind v1.1.0
  .gitignore
  Dockerfile
  assets/css/global.css
  assets/js/src/search.js
  docker-bake.hcl
  hugo_stats.json
  layouts/_default/_markup/render-codeblock.html
  layouts/_default/baseof.html
  layouts/_default/list.html
  layouts/_default/single.html
  layouts/partials/breadcrumbs.html
  layouts/partials/head.html
  layouts/partials/pagemeta.html
  layouts/partials/search.html
  netlify.toml
  package-lock.json
  package.json
  pagefind.yml
Labels: area/release, hugo, dependencies, status/review

#20137 Update and standardized billing pages
  content/admin/organization/orgs.md
  content/billing/_index.md
  content/billing/build-billing.md
  content/billing/core-billing/get-started-core.md
  content/billing/scout-billing.md
  content/subscription/core-subscription/details.md
  data/toc.yaml
Labels: area/subscription, area/admin, area/billing

#20147 fix: add release-notes tag to engine release note
  content/engine/release-notes/26.1.md
Labels: area/engine, status/review

#20146 centos 8 eol
  content/engine/install/centos.md
  content/engine/security/rootless.md
Labels: area/engine, area/install

#20148 get-started: add .dockerignore earlier in guide
  content/get-started/02_our_app.md
  content/get-started/09_image_best.md
Labels: area/get-started, status/review

#20133 The word "container" should be changed to "image" for factual correct…
  content/get-started/05_persisting_data.md
Labels: area/get-started

#19903 docs: add language specific guide for c++
  content/language/_index.md
  content/language/cpp/_index.md
  content/language/cpp/configure-ci-cd.md
  content/language/cpp/containerize.md
  content/language/cpp/deploy.md
  content/language/cpp/develop.md
  content/language/images/cpp.webp
  data/toc.yaml
Labels: area/get-started, status/review

#20158 Update provisioning callouts
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/security/for-admins/provisioning/just-in-time.md
  content/security/for-admins/provisioning/scim.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-users.md
Labels: area/security, status/review

#20168 fix missing word in secrets documentation
  content/build/building/secrets.md
Labels: area/build

#20169 chore: remove duplicate content paths
  content/build/exporters/oci-docker.md
  content/compose/install/standalone.md
  content/config/containers/resource_constraints.md
  content/desktop/get-started.md
  content/docker-hub/quickstart.md
  content/engine/install/rhel.md
  content/network/drivers/bridge.md
  content/reference/_index.md
  content/reference/cli/docker/stack/ps.md
Labels: area/engine, area/compose, area/install, area/networking, area/hub, area/build, area/desktop, area/configuration, status/review

#20154 engine: 26.1.4 release notes
  content/engine/release-notes/26.1.md
  hugo.yaml
Labels: area/engine, hugo

#20173 c8d: move note about switching content stores
  content/desktop/containerd.md
Labels: area/desktop

#20150 consolidate best practices
  content/build/building/base-images.md
  content/build/building/best-practices.md
  content/build/guide/layers.md
  content/build/images/hub-official-images.webp
  content/compose/gettingstarted.md
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/rhel.md
  content/desktop/install/ubuntu.md
  content/develop/_index.md
  content/develop/dev-best-practices.md
  content/develop/develop-images/dockerfile_best-practices.md
  content/develop/develop-images/guidelines.md
  content/develop/security-best-practices.md
  content/docker-hub/builds/_index.md
  content/engine/install/binaries.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/linux-postinstall.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/sles.md
  content/engine/install/ubuntu.md
  content/get-started/09_image_best.md
  content/guides/_index.md
  content/language/_index.md
  content/scout/policy/remediation.md
  content/storage/storagedriver/_index.md
  content/trusted-content/official-images/_index.md
  data/redirects.yml
  data/toc.yaml
Labels: area/engine, area/compose, area/install, area/hub, area/build, area/desktop, area/get-started, area/storage, area/scout, status/review

#20057 build: gha job summary, import build records
  content/build/ci/github-actions/build-summary.md
  content/build/ci/images/build_summary_error.png
  content/build/ci/images/gha_build_summary.png
  content/desktop/use-desktop/builds.md
  data/redirects.yml
  data/toc.yaml
Labels: area/build, area/desktop, status/do-not-merge

#20174 engine: rhel x86_64/aarch64 experimental support
  content/engine/install/_index.md
  content/engine/install/rhel.md
  data/toc.yaml
Labels: area/engine, area/install, status/review

#20145 Add banner and update billing docs
  .github/vale/Docker/Acronyms.yml
  content/billing/core-billing/cycle.md
  content/billing/core-billing/details.md
  content/billing/core-billing/get-started-core.md
  content/billing/core-billing/history.md
  content/billing/core-billing/payment-method.md
  content/billing/faqs.md
  content/includes/tax-compliance.md
  content/subscription/core-subscription/add-seats.md
  content/subscription/core-subscription/upgrade.md
Labels: area/subscription, area/release, area/billing, status/review

#20196 vendor build checks reference
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/consistent-instruction-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/duplicate-stage-name.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/file-consistent-command-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/from-as-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/json-args-recommended.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/legacy-key-value-format.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/maintainer-deprecated.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/multiple-instructions-disallowed.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/no-empty-continuations.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/reserved-stage-name.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/stage-name-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/undefined-arg-in-from.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/undefined-var.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/workdir-relative-path.md
  _vendor/modules.txt
  data/toc.yaml
  go.mod
  go.sum
  hugo.yaml
Labels: area/build, hugo, dependencies

#20202 build-checks: fixes after new vendoring
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/no-empty-continuation.md
  _vendor/modules.txt
  data/toc.yaml
  go.mod
  go.sum
Labels: area/build, dependencies

#20204 hub: change "My Account" to "Account settings"
  content/admin/convert-account.md
  content/admin/deactivate-account.md
  content/docker-hub/builds/link-source.md
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
  content/security/for-developers/access-tokens.md
Labels: area/hub, area/security, area/admin

#20200 get-started: update toc
  content/get-started/11_what_next.md
  content/get-started/_index.md
  content/guides/_index.md
  content/guides/getting-started/build-and-push-first-image.md
  content/guides/getting-started/develop-with-containers.md
  content/guides/getting-started/get-docker-desktop.md
  content/guides/getting-started/images/build-vscode-menu-item.webp
  content/guides/getting-started/images/build-vscode-push-image.webp
  content/guides/getting-started/images/clone-the-repo.webp
  content/guides/getting-started/images/develop-app-with-greetings.webp
  content/guides/getting-started/images/develop-app-with-updated-client.webp
  content/guides/getting-started/images/develop-app-with-updated-placeholder.webp
  content/guides/getting-started/images/develop-getting-started-app-first-launch.webp
  content/guides/getting-started/images/exec-into-docker-container.webp
  content/guides/getting-started/images/inspecting-container.webp
  content/guides/getting-started/whats-next.md
  data/toc.yaml
  layouts/index.html
Labels: area/get-started, hugo, status/review

#20209 build(cloud): add/update tiles
  content/build/_index.md
  content/manuals.md
Labels: area/build, status/review

#20217 get-started: add redirect for run-your-own-container
  content/guides/docker-concepts/the-basics/what-is-a-container.md
Labels: status/review

#20215 remove Fedora 38 as it's EOL
  content/desktop/install/fedora.md
  content/engine/install/fedora.md
Labels: area/engine, area/install

#20220 build: add a couple more best practice examples
  content/build/building/best-practices.md
Labels: area/build, status/review

#19873 scout: Notification settings and Slack integration
  content/scout/dashboard.md
  content/scout/images/scout-slack-notification.png
  content/scout/integrations/_index.md
  content/scout/integrations/team-collaboration/slack.md
  data/redirects.yml
  data/toc.yaml
Labels: area/scout, status/review

#20225 build: fix kubernetes driver-opt types
  content/build/drivers/kubernetes.md
Labels: area/build

#19634 Update volumes.md
  content/storage/volumes.md
Labels: area/engine, area/storage, lifecycle/frozen

#20227 redirects: remove old preview redirect
  data/redirects.yml
Labels: status/review

#20093 scout: health scores
  content/scout/policy/_index.md
  content/scout/scores.md
  data/redirects.yml
Labels: status/do-not-merge, area/scout, status/review

#20224 scout notifications repofilter
  content/scout/dashboard.md
Labels: area/scout, status/review

#20216 get-started: update workshop paths
  content/desktop/install/archlinux.md
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/linux-install.md
  content/desktop/install/mac-install.md
  content/desktop/install/rhel.md
  content/desktop/install/ubuntu.md
  content/desktop/install/windows-install.md
  content/desktop/use-desktop/_index.md
  content/engine/_index.md
  content/engine/install/_index.md
  content/engine/install/linux-postinstall.md
  content/engine/swarm/swarm-tutorial/_index.md
  content/engine/tutorials/_index.md
  content/guides/_index.md
  content/guides/deployment-orchestration/kube-deploy.md
  content/guides/deployment-orchestration/orchestration.md
  content/guides/deployment-orchestration/swarm-deploy.md
  content/guides/docker-overview.md
  content/guides/getting-started/_index.md
  content/guides/images/docker-architecture.webp
  content/guides/resources.md
  content/guides/use-case/genai-video-bot/_index.md
  content/guides/workshop/02_our_app.md
  content/guides/workshop/03_updating_app.md
  content/guides/workshop/04_sharing_app.md
  content/guides/workshop/05_persisting_data.md
  content/guides/workshop/06_bind_mounts.md
  content/guides/workshop/07_multi_container.md
  content/guides/workshop/08_using_compose.md
  content/guides/workshop/09_image_best.md
  content/guides/workshop/10_what_next.md
  content/guides/workshop/_index.md
  content/guides/workshop/images/dashboard-two-containers.webp
  content/guides/workshop/images/items-added.webp
  content/guides/workshop/images/multi-container.webp
  content/guides/workshop/images/push-command.webp
  content/guides/workshop/images/pwd-add-new-instance.webp
  content/guides/workshop/images/todo-list-empty.webp
  content/guides/workshop/images/updated-add-button.webp
  content/includes/deploy.md
  content/language/golang/_index.md
  data/toc.yaml
  layouts/index.html
Labels: area/engine, area/install, area/swarm, area/desktop, area/get-started, hugo, status/review

#20235 build: mention BUILDKIT_SYNTAX arg for custom dockerfile
  content/build/dockerfile/frontend.md
Labels: area/build

#20237 build: add timeout driver-opt for k8s driver
  content/build/drivers/kubernetes.md
Labels: area/build

#20239 build: update minimal version for gha summary support
  content/build/ci/github-actions/build-summary.md
Labels: area/build

#20238 build: avoid gh api rate limit for cache backends
  content/build/cache/backends/gha.md
Labels: area/build

#20248 hugo: enable analytics fingerprint on kapa widget
  layouts/partials/head.html
Labels: status/review

#20256 build: remove checkout, use vars for username
  content/build/ci/github-actions/annotations.md
  content/build/ci/github-actions/attestations.md
  content/build/ci/github-actions/build-summary.md
  content/build/ci/github-actions/cache.md
  content/build/ci/github-actions/configure-builder.md
  content/build/ci/github-actions/copy-image-registries.md
  content/build/ci/github-actions/export-docker.md
  content/build/ci/github-actions/local-registry.md
  content/build/ci/github-actions/manage-tags-labels.md
  content/build/ci/github-actions/multi-platform.md
  content/build/ci/github-actions/named-contexts.md
  content/build/ci/github-actions/push-multi-registries.md
  content/build/ci/github-actions/reproducible-builds.md
  content/build/ci/github-actions/secrets.md
  content/build/ci/github-actions/share-image-jobs.md
  content/build/ci/github-actions/test-before-push.md
  content/build/ci/github-actions/update-dockerhub-desc.md
  content/build/cloud/ci.md
  content/includes/gha-tutorial.md
  content/language/cpp/configure-ci-cd.md
  content/language/dotnet/configure-ci-cd.md
  content/language/golang/configure-ci-cd.md
  content/language/java/configure-ci-cd.md
  content/language/nodejs/configure-ci-cd.md
  content/language/php/configure-ci-cd.md
  content/language/python/configure-ci-cd.md
  content/language/r/configure-ci-cd.md
  content/language/rust/configure-ci-cd.md
  content/scout/integrations/ci/gha.md
  content/scout/policy/ci.md
Labels: area/build, area/get-started, area/scout

#20252 Update Admin Console UI references
  content/admin/organization/_index.md
  layouts/shortcodes/admin-registry-access.html
  layouts/shortcodes/admin-scim-disable.html
  layouts/shortcodes/admin-scim.html
  layouts/shortcodes/admin-sso-config.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-connections.md
  layouts/shortcodes/admin-sso-management-orgs.md
  layouts/shortcodes/admin-sso-management-users.md
  layouts/shortcodes/admin-sso-management.md
Labels: area/admin, hugo, status/review

#20262 Update service account callout
  content/docker-hub/service-accounts.md
Labels: area/hub, status/review

#20247 scout: health scores private beta
  content/scout/images/score-a-shiny.png
  content/scout/images/score-badges-repolist.png
  content/scout/policy/scores.md
  data/redirects.yml
  data/toc.yaml
Labels: area/scout, status/review

#20232 search: add additional Heap properties to event
  layouts/partials/search.html
Labels: hugo, status/review

#20268 search: disable result highlights in page body
  hugo_stats.json
  layouts/partials/head.html
  layouts/partials/search.html
Labels: hugo, status/review

#20251 Add tax certificate page
  content/billing/faqs.md
  content/billing/tax-certificate.md
  content/includes/tax-compliance.md
  data/toc.yaml
Labels: area/billing

#19846 fix: conflicting http proxy configuration for daemon
  content/config/containers/resource_constraints.md
  content/config/daemon/_index.md
  content/config/daemon/proxy.md
  content/config/daemon/troubleshoot.md
  content/engine/install/linux-postinstall.md
  content/engine/release-notes/20.10.md
  content/network/proxy.md
  data/toc.yaml
Labels: area/engine, area/install, area/networking, area/configuration, status/review

#20229 scout overview pages
  content/build/attestations/sbom.md
  content/desktop/use-desktop/images.md
  content/docker-hub/vulnerability-scanning.md
  content/scout/concepts/s3c.md
  content/scout/concepts/sbom.md
  content/scout/deep-dive/advisory-db-sources.md
  content/scout/deep-dive/data-handling.md
  content/scout/explore/analysis.md
  content/scout/explore/dashboard.md
  content/scout/explore/image-details-view.md
  content/scout/explore/metrics-exporter.md
  content/scout/how-tos/artifact-types.md
  content/scout/how-tos/configure-cli.md
  content/scout/how-tos/view-create-sboms.md
  content/scout/integrations/ci/jenkins.md
  content/scout/integrations/environment/_index.md
  content/scout/integrations/registry/ecr.md
  content/scout/integrations/team-collaboration/slack.md
  content/scout/policy/_index.md
  content/scout/quickstart.md
  content/scout/release-notes/platform.md
  content/security/faqs/general.md
  data/redirects.yml
  data/toc.yaml
  layouts/_default/_markup/render-link.html
Labels: area/hub, area/build, area/desktop, area/security, area/scout, hugo, status/review

#20245 bake doc improvements
  content/build/bake/_index.md
  content/build/bake/advanced.md
  content/build/bake/compose-file.md
  content/build/bake/configuring-build.md
  content/build/bake/contexts.md
  content/build/bake/expressions.md
  content/build/bake/funcs.md
  content/build/bake/inheritance.md
  content/build/bake/introduction.md
  content/build/bake/matrices.md
  content/build/bake/overrides.md
  content/build/bake/targets.md
  content/build/bake/variables.md
  content/build/release-notes.md
  data/toc.yaml
  hugo_stats.json
Labels: area/build, status/review

#20281 build(deps): upgrade dependencies
  Dockerfile
  netlify.toml
  package-lock.json
  package.json
Labels: area/release, dependencies

#20280 redirects: add alias for old ecs integration page
  content/cloud/_index.md
Labels: status/review

#20223 scout: improve scout install
  content/scout/install.md
Labels: area/scout, status/review

#19769 glossary: update base image terminology
  .github/vale/config/vocabularies/Docker/accept.txt
  content/build/building/base-images.md
  content/build/cache/invalidation.md
  content/engine/faq.md
  content/guides/docker-concepts/building-images/multi-stage-builds.md
  content/guides/docker-concepts/building-images/writing-a-dockerfile.md
  content/language/golang/build-images.md
  data/glossary.yaml
  data/toc.yaml
Labels: area/engine, area/build, area/get-started, area/release, status/review

#20026 Updates for moby 27.0
  .github/vale/config/vocabularies/Docker/accept.txt
  content/config/daemon/ipv6.md
  content/network/_index.md
  content/network/drivers/bridge.md
  content/network/packet-filtering-firewalls.md
Labels: area/engine, area/networking, area/configuration, area/release

#20302 engine: 27.0.2 release notes
  content/engine/release-notes/27.0.md
  hugo.yaml
Labels: area/engine, hugo

#20299 add release notes for docker scout v1.10.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_compare.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_compare.md
  _vendor/modules.txt
  content/scout/release-notes/cli.md
  go.mod
  go.sum
Labels: area/scout, dependencies

#19700 scout: vulnerability exceptions m1
  content/scout/explore/exceptions.md
  content/scout/guides/vex.md
  content/scout/release-notes/platform.md
  data/redirects.yml
  data/toc.yaml
Labels: area/scout, status/review

#20306 redirects: update path for exceptions go-link
  data/redirects.yml
Labels: status/review

#20309 tests: add test for go redirects
  .github/workflows/build.yml
  Dockerfile
  docker-bake.hcl
  scripts/test_go_redirects.sh
Labels: area/release

#20182 Update team management
  content/admin/organization/manage-a-team.md
  content/admin/organization/members.md
Labels: area/admin, status/review

#20315 Update advisory-db-sources.md
  content/scout/deep-dive/advisory-db-sources.md
Labels: area/scout

#20316 Fix deprecated types.ImagePullOptions usage and replace with image.PullOptions
  content/engine/api/sdk/_index.md
Labels: area/engine, area/api

#20319 site: add vwo async smartcode
  hugo.yaml
  layouts/partials/head.html
Labels: hugo, status/review

#20322 build(fix): cache backends require containerd with docker worker
  content/build/cache/backends/_index.md
  content/build/cache/backends/registry.md
  content/build/drivers/_index.md
Labels: area/build

#20305 scout: fix error in score calculations example
  content/scout/policy/scores.md
Labels: area/scout, status/review

#20325 Update billing information section
  content/billing/core-billing/details.md
  content/includes/tax-compliance.md
Labels: area/billing, status/review
