Repository docker/docs, pull requests merged in 2024-09, with the labels that each got.

#20672 build: mtime doesnt invalidate cache
  content/build/cache/invalidation.md
Labels: area/build

#20758 redirects: add redirect for build guide "layers" chapter
  content/build/cache/_index.md
Labels: area/build, status/review

#20757 learning-paths: s/Learning Paths/learning paths
  content/learning-paths/_index.md
Labels: status/review

#20753 scout: sonarcloud is supported
  content/scout/integrations/code-quality/sonarqube.md
Labels: area/scout, status/review

#20779 fix: get-docker link
  content/get-started/_index.md
Labels: area/get-started, status/review

#20780 copilot: add rust, go support
  content/copilot/index.md
Labels: status/review

#20774 hub: add usage tab
  content/docker-hub/download-rate-limit.md
  data/toc.yaml
Labels: area/hub, status/review

#20787 guides: fix python guide issue
  content/language/python/deploy.md
Labels: area/get-started, status/review

#20785 add release notes for 4.34.1
  content/desktop/release-notes.md
Labels: area/desktop

#20581 scout: create exceptions in dashboard
  content/scout/explore/exceptions.md
  content/scout/guides/vex.md
  content/scout/how-tos/create-exceptions-gui.md
  content/scout/how-tos/create-exceptions-vex.md
  content/scout/images/suppressed-cve-cli.png
  content/scout/release-notes/platform.md
  data/toc.yaml
Labels: area/scout, status/review

#20747 Add kafka use case guide
  _vale/config/vocabularies/Docker/accept.txt
  content/guides/use-case/images/kafka-1.webp
  content/guides/use-case/kafka.md
  data/toc.yaml
Labels: status/review

#20794 security: enforce sign in vs enforce sso
  content/admin/organization/onboard.md
  content/security/for-admins/enforce-sign-in/_index.md
Labels: area/security, area/admin, status/review

#20791 copilot: add section on data privacy
  content/copilot/index.md
Labels: status/review

#20802 desktop: containerd default store for 4.34 fresh installs
  content/desktop/containerd.md
  content/desktop/wasm.md
  content/scout/how-tos/view-create-sboms.md
  content/scout/quickstart.md
Labels: area/desktop, area/scout, status/review

#20803 site: add kapa widget branding text
  layouts/partials/head.html
Labels: status/review

#20808 gha fix variable name
  content/includes/gha-tutorial.md
  content/manuals/build/ci/github-actions/_index.md
Labels: status/review

#20809 engine: 27.2.1 release notes
  _vendor/github.com/docker/cli/docs/deprecated.md
  _vendor/github.com/docker/cli/docs/extend/_index.md
  _vendor/github.com/docker/cli/docs/extend/legacy_plugins.md
  _vendor/github.com/docker/cli/docs/extend/plugin_api.md
  _vendor/github.com/docker/cli/docs/extend/plugins_authorization.md
  _vendor/github.com/docker/cli/docs/extend/plugins_network.md
  _vendor/github.com/moby/moby/docs/api/v1.47.yaml
  _vendor/modules.txt
  content/manuals/engine/network/drivers/_index.md
  content/manuals/engine/release-notes/17.03.md
  content/manuals/engine/release-notes/17.04.md
  content/manuals/engine/release-notes/17.05.md
  content/manuals/engine/release-notes/17.06.md
  content/manuals/engine/release-notes/17.07.md
  content/manuals/engine/release-notes/17.09.md
  content/manuals/engine/release-notes/17.10.md
  content/manuals/engine/release-notes/17.11.md
  content/manuals/engine/release-notes/17.12.md
  content/manuals/engine/release-notes/18.01.md
  content/manuals/engine/release-notes/18.02.md
  content/manuals/engine/release-notes/18.03.md
  content/manuals/engine/release-notes/18.04.md
  content/manuals/engine/release-notes/18.05.md
  content/manuals/engine/release-notes/18.06.md
  content/manuals/engine/release-notes/18.09.md
  content/manuals/engine/release-notes/19.03.md
  content/manuals/engine/release-notes/20.10.md
  content/manuals/engine/release-notes/23.0.md
  content/manuals/engine/release-notes/24.0.md
  content/manuals/engine/release-notes/25.0.md
  content/manuals/engine/release-notes/26.0.md
  content/manuals/engine/release-notes/26.1.md
  content/manuals/engine/release-notes/27.md
  content/manuals/engine/release-notes/_index.md
  content/manuals/engine/release-notes/prior-releases.md
  content/reference/api/engine/_index.md
  content/reference/api/engine/version/_index.md
  content/reference/api/engine/version/v1.47.md
  go.mod
  go.sum
  hugo.yaml
  hugo_stats.json
  layouts/partials/sidebar.html
Labels: area/cli, area/api, hugo, dependencies, status/review

#20792 scout: scores now based on org policy config
  content/manuals/scout/policy/scores.md
  content/manuals/scout/release-notes/platform.md
Labels: area/scout, status/review

#20812 cli: remove shorthand linktitle for legacy build reference
  content/reference/cli/docker/build-legacy.md
Labels: status/review

#20814 scout: fix release date of org-based health scores
  content/manuals/scout/release-notes/platform.md
Labels: status/review

#20811 add rag-ollama application example
  content/guides/use-case/_index.md
  content/guides/use-case/rag-ollama/_index.md
  content/guides/use-case/rag-ollama/containerize.md
  content/guides/use-case/rag-ollama/develop.md
Labels: status/review

#20820 hugo: replace dots with dashes in content filenames
  content/includes/buildx-v0-10-disclaimer.md
  content/manuals/build/release-notes.md
  content/manuals/desktop/previous-versions/2-x-mac.md
  content/manuals/desktop/previous-versions/2-x-windows.md
  content/manuals/desktop/previous-versions/3-x-mac.md
  content/manuals/desktop/previous-versions/3-x-windows.md
  content/manuals/desktop/release-notes.md
  content/manuals/engine/release-notes/17-03.md
  content/manuals/engine/release-notes/17-04.md
  content/manuals/engine/release-notes/17-05.md
  content/manuals/engine/release-notes/17-06.md
  content/manuals/engine/release-notes/17-07.md
  content/manuals/engine/release-notes/17-09.md
  content/manuals/engine/release-notes/17-10.md
  content/manuals/engine/release-notes/17-11.md
  content/manuals/engine/release-notes/17-12.md
  content/manuals/engine/release-notes/18-01.md
  content/manuals/engine/release-notes/18-02.md
  content/manuals/engine/release-notes/18-03.md
  content/manuals/engine/release-notes/18-04.md
  content/manuals/engine/release-notes/18-05.md
  content/manuals/engine/release-notes/18-06.md
  content/manuals/engine/release-notes/18-09.md
  content/manuals/engine/release-notes/19-03.md
  content/manuals/engine/release-notes/20-10.md
  content/manuals/engine/release-notes/23-0.md
  content/manuals/engine/release-notes/24-0.md
  content/manuals/engine/release-notes/25-0.md
  content/manuals/engine/release-notes/26-0.md
  content/manuals/engine/release-notes/26-1.md
  content/reference/api/engine/_index.md
  content/reference/api/engine/latest/index.html
  content/reference/api/engine/version/v1-25.md
  content/reference/api/engine/version/v1-26.md
  content/reference/api/engine/version/v1-27.md
  content/reference/api/engine/version/v1-28.md
  content/reference/api/engine/version/v1-29.md
  content/reference/api/engine/version/v1-30.md
  content/reference/api/engine/version/v1-31.md
  content/reference/api/engine/version/v1-32.md
  content/reference/api/engine/version/v1-33.md
  content/reference/api/engine/version/v1-34.md
  content/reference/api/engine/version/v1-35.md
  content/reference/api/engine/version/v1-36.md
  content/reference/api/engine/version/v1-37.md
  content/reference/api/engine/version/v1-38.md
  content/reference/api/engine/version/v1-39.md
  content/reference/api/engine/version/v1-40.md
  content/reference/api/engine/version/v1-41.md
  content/reference/api/engine/version/v1-42.md
  content/reference/api/engine/version/v1-43.md
  content/reference/api/engine/version/v1-44.md
  content/reference/api/engine/version/v1-45.md
  content/reference/api/engine/version/v1-46.md
  content/reference/api/engine/version/v1-47.md
  hugo.yaml
  layouts/_default/engine-api-baseof.html
Labels: hugo, status/review

#20821 desktop: remove *.wootric.com whitelist urls
  content/manuals/desktop/allow-list.md
Labels: status/review

#20825 scout: fix broken screenshot link
  content/manuals/scout/explore/exceptions.md
Labels: status/review

#20790 build: run mount secrets as env
  content/manuals/build/building/secrets.md
  content/manuals/build/cache/invalidation.md
  content/manuals/build/ci/github-actions/secrets.md
Labels: area/build

#20782 build(s3-cache): new/updated cache opt descriptions
  content/manuals/build/cache/backends/s3.md
Labels: area/build

#20612 build(bake): automatically deduplicate context transfers
  content/manuals/build/bake/contexts.md
Labels: area/build, status/do-not-merge

#20564 build: experimental dockerfile rules
  content/manuals/build/checks.md
  data/redirects.yml
Labels: area/build

#20833 vendor: github.com/moby/buildkit v0.16.0
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/copy-ignored-file.md
  go.mod
  go.sum
Labels: area/build, dependencies

#20827 config: bump ce and buildkit versions
  hugo.yaml
Labels: hugo, status/review

#20846 chore: tidy up hugo templates
  content/contribute/file-conventions.md
  content/learning-paths/_index.md
  content/reference/api/engine/latest.md
  content/reference/api/engine/latest/index.html
  content/reference/api/engine/version/_index.md
  content/reference/api/engine/version/v1.25.md
  content/reference/api/engine/version/v1.26.md
  content/reference/api/engine/version/v1.27.md
  content/reference/api/engine/version/v1.28.md
  content/reference/api/engine/version/v1.29.md
  content/reference/api/engine/version/v1.30.md
  content/reference/api/engine/version/v1.31.md
  content/reference/api/engine/version/v1.32.md
  content/reference/api/engine/version/v1.33.md
  content/reference/api/engine/version/v1.34.md
  content/reference/api/engine/version/v1.35.md
  content/reference/api/engine/version/v1.36.md
  content/reference/api/engine/version/v1.37.md
  content/reference/api/engine/version/v1.38.md
  content/reference/api/engine/version/v1.39.md
  content/reference/api/engine/version/v1.40.md
  content/reference/api/engine/version/v1.41.md
  content/reference/api/engine/version/v1.42.md
  content/reference/api/engine/version/v1.43.md
  content/reference/api/engine/version/v1.44.md
  content/reference/api/engine/version/v1.45.md
  content/reference/api/engine/version/v1.46.md
  content/reference/api/engine/version/v1.47.md
  content/reference/api/hub/dvp.md
  content/reference/api/hub/latest.md
  content/tags/_index.md
  hugo.yaml
  hugo_stats.json
  layouts/_default/api-baseof.html
  layouts/_default/engine-api-baseof.html
  layouts/_default/hub-api-baseof.html
  layouts/_default/wide-baseof.html
  layouts/partials/cli-aside.html
  layouts/partials/header.html
  layouts/partials/sidebar.html
  layouts/partials/toc-cli.html
  layouts/partials/top-nav.html
  layouts/tag/baseof.html
Labels: hugo, status/review

#20847 hugo: use i18n strings in callouts
  i18n/en.yaml
  layouts/_default/_markup/render-blockquote.html
  layouts/shortcodes/experimental.html
  layouts/shortcodes/restricted.html
Labels: hugo, status/review

#20848 chore: update labeler config
  .github/labeler.yml
Labels: area/release, status/review

#20864 subscription: add enhanced plan info
  content/includes/new-plans.md
  content/manuals/billing/build-billing.md
  content/manuals/billing/core-billing/get-started-core.md
  content/manuals/billing/scout-billing.md
  content/manuals/docker-hub/download-rate-limit.md
  content/manuals/docker-hub/service-accounts.md
  content/manuals/subscription/build-cloud/build-details.md
  content/manuals/subscription/core-subscription/details.md
  content/manuals/subscription/scout-details.md
Labels: area/hub, area/subscription, area/billing, status/review

#20743 site: improve search ux, add /search page
  assets/css/global.css
  assets/images/ai-stars.svg
  assets/images/search-ai.svg
  content/search.md
  hugo_stats.json
  layouts/_default/baseof.html
  layouts/_default/search.html
  layouts/partials/breadcrumbs.html
  layouts/partials/head.html
  layouts/partials/header.html
  layouts/partials/search-bar.html
  layouts/partials/search.html
  static/assets/images/logo-icon-white.svg
Labels: hugo

#20868 fix: prefill query param on search
  layouts/_default/search.html
  layouts/partials/search-bar.html
Labels: hugo, status/review

#20871 hub: update usage
  content/manuals/docker-hub/download-rate-limit.md
Labels: area/hub, status/review

#20879 site: fix search page redirects
  layouts/_default/search.html
  layouts/partials/search-bar.html
Labels: hugo, status/review

#20881 fix: badge markup showing up in preview titles
  content/contribute/file-conventions.md
  content/manuals/build/checks.md
  content/manuals/copilot/index.md
  layouts/partials/sidebar.html
Labels: area/build, area/contrib, hugo, status/review

#20888 Add Docker Desktop 4.34.2 security update in Security Announcements
  content/manuals/security/security-announcements.md
Labels: area/security

#20891 hub: update fair use link
  content/manuals/docker-hub/mirror.md
Labels: area/hub, status/review

#20613 scout: "Package types" option for no-fixable-packages-goal
  content/manuals/scout/policy/_index.md
Labels: area/release, area/scout, status/review

#20902 build release notes: buildx 0.17.0, 0.17.1, dockerfile 1.10.0
  content/manuals/build/buildkit/dockerfile-release-notes.md
  content/manuals/build/release-notes.md
Labels: area/build

#20899 add removing from apt as part of uninstalling
  content/manuals/engine/install/debian.md
Labels: area/engine, area/install

#20894 Update 06_bind_mounts.md
  content/get-started/workshop/06_bind_mounts.md
Labels: area/get-started

#20907 Update 03_updating_app.md
  content/get-started/workshop/03_updating_app.md
Labels: area/get-started

#20916 site: templates/navigation overhaul
  .prettierrc
  assets/css/global.css
  assets/css/kapa.css
  assets/images/docker-docs-white.svg
  content/get-started/_index.md
  content/guides/_index.md
  content/includes/_index.md
  content/learning-paths/_index.md
  content/manuals/_index.md
  content/reference/_index.md
  content/search.md
  content/tags/_index.md
  hugo_stats.json
  layouts/_default/baseof.html
  layouts/_default/cli.html
  layouts/_default/glossary.html
  layouts/_default/list.html
  layouts/_default/search.html
  layouts/_default/series.html
  layouts/_default/single.html
  layouts/_default/wide-baseof.html
  layouts/_default/wide.html
  layouts/learning-paths/list.html
  layouts/learning-paths/single.html
  layouts/partials/aside.html
  layouts/partials/breadcrumbs.html
  layouts/partials/cli-aside.html
  layouts/partials/content-default.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/partials/sidebar/mainnav.html
  layouts/partials/sidebar/sections.html
  layouts/partials/sidebar/tags.html
  layouts/partials/tooltip.html
  layouts/samples/single.html
  layouts/shortcodes/youtube-embed.html
  layouts/tag/taxonomy.html
  layouts/tag/term.html
  package-lock.json
  package.json
  tailwind.config.js
Labels: area/get-started, hugo, dependencies, status/review, area/guides

#20920 search: don't hide search drop-down on focus change
  layouts/partials/search-bar.html
Labels: hugo, status/review

#20922 learning path: update title style
  content/learning-paths/docker-compose.md
Labels: status/review, area/guides

#20931 fix docs: subject-verb agreement in best-practices.md
  content/manuals/build/building/best-practices.md
Labels: area/build

#20932 admin: seats and company owners
  content/manuals/admin/company/owners.md
  content/manuals/admin/faqs/company-faqs.md
Labels: area/admin, status/review

#20890 Add LocalStack Use case guide
  content/guides/use-case/images/launch-localstack.webp
  content/guides/use-case/images/localstack-arch.webp
  content/guides/use-case/images/localstack-logs.webp
  content/guides/use-case/images/localstack-s3put.webp
  content/guides/use-case/images/localstack-todolist-s3put.webp
  content/guides/use-case/images/localstack-todolist.webp
  content/guides/use-case/localstack.md
Labels: status/review, area/guides

#20889 build(bake): update remote bake definitions page
  content/manuals/build/bake/remote-definition.md
Labels: area/build

#20949 add missing period
  content/manuals/build/building/best-practices.md
Labels: area/build

#20952 engine: 27.3.0 release
  _vendor/github.com/docker/cli/docs/reference/dockerd.md
  _vendor/github.com/moby/moby/docs/api/v1.25.yaml
  _vendor/github.com/moby/moby/docs/api/v1.26.yaml
  _vendor/github.com/moby/moby/docs/api/v1.27.yaml
  _vendor/github.com/moby/moby/docs/api/v1.28.yaml
  _vendor/github.com/moby/moby/docs/api/v1.29.yaml
  _vendor/github.com/moby/moby/docs/api/v1.30.yaml
  _vendor/github.com/moby/moby/docs/api/v1.31.yaml
  _vendor/github.com/moby/moby/docs/api/v1.32.yaml
  _vendor/github.com/moby/moby/docs/api/v1.33.yaml
  _vendor/github.com/moby/moby/docs/api/v1.34.yaml
  _vendor/github.com/moby/moby/docs/api/v1.35.yaml
  _vendor/github.com/moby/moby/docs/api/v1.36.yaml
  _vendor/github.com/moby/moby/docs/api/v1.37.yaml
  _vendor/github.com/moby/moby/docs/api/v1.38.yaml
  _vendor/github.com/moby/moby/docs/api/v1.39.yaml
  _vendor/github.com/moby/moby/docs/api/v1.40.yaml
  _vendor/github.com/moby/moby/docs/api/v1.41.yaml
  _vendor/github.com/moby/moby/docs/api/v1.42.yaml
  _vendor/github.com/moby/moby/docs/api/v1.43.yaml
  _vendor/github.com/moby/moby/docs/api/v1.44.yaml
  _vendor/github.com/moby/moby/docs/api/v1.45.yaml
  _vendor/github.com/moby/moby/docs/api/v1.46.yaml
  _vendor/github.com/moby/moby/docs/api/v1.47.yaml
  _vendor/github.com/moby/moby/docs/api/version-history.md
  _vendor/modules.txt
  content/manuals/engine/release-notes/27.md
  go.mod
  go.sum
Labels: area/engine, area/cli, area/api, dependencies

#20959 Set linktitles for Kafka and LocalStack guides
  content/guides/use-case/kafka.md
  content/guides/use-case/localstack.md
Labels: area/guides

#20964 Update proxy.md
  content/manuals/engine/cli/proxy.md
Labels: area/engine

#20953 site: Ask AI copy updates
  hugo_stats.json
  layouts/_default/search.html
  layouts/partials/header.html
  layouts/partials/search-bar.html
Labels: hugo, status/review

#20956 engine: 27.3.1 release notes
  _vendor/modules.txt
  content/manuals/engine/release-notes/27.md
  go.mod
  go.sum
Labels: area/engine, dependencies

#20976 site: remove the floating cookie widget, use button in footer
  hugo.yaml
  layouts/partials/footer.html
Labels: hugo, status/review, area/config

#20974 build: clarify how secrets are passed and consumed
  content/manuals/build/building/secrets.md
Labels: area/build, status/review

#20975 vendor: v27.3.1 CLI reference
  data/engine-cli/docker.yaml
  data/engine-cli/docker_config_create.yaml
  data/engine-cli/docker_config_inspect.yaml
  data/engine-cli/docker_config_ls.yaml
  data/engine-cli/docker_config_rm.yaml
  data/engine-cli/docker_container_attach.yaml
  data/engine-cli/docker_container_kill.yaml
  data/engine-cli/docker_container_run.yaml
  data/engine-cli/docker_container_stats.yaml
  data/engine-cli/docker_container_update.yaml
  data/engine-cli/docker_image_build.yaml
  data/engine-cli/docker_image_ls.yaml
  data/engine-cli/docker_image_prune.yaml
  data/engine-cli/docker_image_pull.yaml
  data/engine-cli/docker_images.yaml
  data/engine-cli/docker_login.yaml
  data/engine-cli/docker_manifest.yaml
  data/engine-cli/docker_network_connect.yaml
  data/engine-cli/docker_node_demote.yaml
  data/engine-cli/docker_node_inspect.yaml
  data/engine-cli/docker_node_ls.yaml
  data/engine-cli/docker_node_promote.yaml
  data/engine-cli/docker_node_ps.yaml
  data/engine-cli/docker_node_rm.yaml
  data/engine-cli/docker_node_update.yaml
  data/engine-cli/docker_plugin_set.yaml
  data/engine-cli/docker_secret_create.yaml
  data/engine-cli/docker_secret_inspect.yaml
  data/engine-cli/docker_secret_ls.yaml
  data/engine-cli/docker_secret_rm.yaml
  data/engine-cli/docker_service.yaml
  data/engine-cli/docker_service_create.yaml
  data/engine-cli/docker_service_inspect.yaml
  data/engine-cli/docker_service_logs.yaml
  data/engine-cli/docker_service_ls.yaml
  data/engine-cli/docker_service_ps.yaml
  data/engine-cli/docker_service_rm.yaml
  data/engine-cli/docker_service_rollback.yaml
  data/engine-cli/docker_service_scale.yaml
  data/engine-cli/docker_service_update.yaml
  data/engine-cli/docker_stack_deploy.yaml
  data/engine-cli/docker_stack_ls.yaml
  data/engine-cli/docker_stack_ps.yaml
  data/engine-cli/docker_stack_rm.yaml
  data/engine-cli/docker_stack_services.yaml
  data/engine-cli/docker_swarm_ca.yaml
  data/engine-cli/docker_swarm_join-token.yaml
  data/engine-cli/docker_swarm_unlock-key.yaml
  data/engine-cli/docker_swarm_unlock.yaml
  data/engine-cli/docker_swarm_update.yaml
  data/engine-cli/docker_system_df.yaml
Labels: area/cli, status/review

#20972 compose: fix incorrect page aliases resulting in 404s
  content/manuals/compose/how-tos/environment-variables/envvars-precedence.md
  content/manuals/compose/how-tos/environment-variables/set-environment-variables.md
Labels: status/review

#20951 hugo: minimize width of lineno column for code blocks
  assets/css/code.css
Labels: hugo, status/review

#20960 Add auth docs for sso enforced
  content/reference/api/hub/latest.yaml
Labels: area/api

#20822 engine: add instructions for using ca certs with docker
  content/manuals/engine/network/ca-certs.md
  hugo_stats.json
Labels: area/engine, area/networking, hugo, status/review

#21007 build: use consistent secret id in examples
  content/manuals/build/building/secrets.md
Labels: area/build, status/review

#21010 builds: clarify instructions for bitbucket revocation
  content/manuals/docker-hub/builds/images/bitbucket-revoke.png
  content/manuals/docker-hub/builds/link-source.md
Labels: area/hub

#21014 engine: add target qualifier for engine api layout cascade
  content/reference/api/engine/version/_index.md
Labels: area/api

#21016 engine: unset api layout for engine v1.24 reference
  content/reference/api/engine/version/_index.md
  hugo.yaml
Labels: area/api, hugo, area/config

#21017 chore(scout): Document CUPS CVEs in high-profile vuln policy
  content/manuals/scout/policy/_index.md
Labels: area/scout

#21018 Revert "chore(scout): Document CUPS CVEs in high-profile vuln policy"
  content/manuals/scout/policy/_index.md
Labels: area/scout

#20992 site: add state of app dev survey landing page callout
  assets/images/build-cloud-light.svg
  assets/images/build-cloud-white.svg
  hugo_stats.json
  layouts/index.html
Labels: hugo, status/review

#21011 get-started: update link wording
  content/get-started/workshop/08_using_compose.md
Labels: area/get-started, status/review

#21022 chore: dependency updates and vale tweaks
  .vale.ini
  Dockerfile
  _vale/Docker/Acronyms.yml
  _vale/config/vocabularies/Docker/accept.txt
  content/contribute/components/icons.md
  content/manuals/admin/organization/_index.md
  content/manuals/engine/_index.md
  content/manuals/engine/storage/drivers/device-mapper-driver.md
  content/reference/compose-file/_index.md
  go.mod
  layouts/_default/_markup/render-codeblock.html
  layouts/partials/components/accordion.html
  layouts/partials/github-links.html
  layouts/partials/pagination.html
  layouts/partials/sidebar/mainnav.html
  layouts/partials/sidebar/sections.html
  netlify.toml
  package-lock.json
  package.json
Labels: area/engine, area/compose, area/storage, area/contrib, area/release, area/admin, hugo, dependencies, status/review, area/config, area/tests

#21027 Update multi stage docs
  content/get-started/docker-concepts/building-images/multi-stage-builds.md
Labels: area/get-started

#21020 chore(scout): Document CUPS CVEs in high-profile vuln policy
  content/manuals/scout/policy/_index.md
Labels: area/scout

#21025 Update outdated callout format
  content/manuals/admin/organization/onboard.md
Labels: area/admin

#21034 Update outdated callouts in core experience docs
  content/manuals/admin/company/organizations.md
  content/manuals/admin/deactivate-account.md
  content/manuals/release-lifecycle.md
  content/manuals/subscription/core-subscription/downgrade.md
  content/manuals/subscription/core-subscription/remove-seats.md
Labels: area/subscription, area/admin
