Repository docker/docs, pull requests merged in 2024-02, with the labels that each got.

#19279 storage: clarify that anonymous volumes arent reused
  content/storage/_index.md
Labels: area/storage

#19280 engine: 24.0.9 release notes
  content/engine/release-notes/24.0.md
Labels: area/engine

#19281 build: clarify that attestations expose build args
  content/build/attestations/slsa-provenance.md
  content/build/ci/github-actions/attestations.md
Labels: area/build

#19275 upgrade build and dev dependencies
  Dockerfile
  assets/js/mermaid.js
  layouts/_default/_markup/render-codeblock-mermaid.html
  layouts/partials/head.html
  netlify.toml
  package-lock.json
  package.json
Labels: area/release, hugo, dependencies

#19288 add security fixes
  content/desktop/release-notes.md
Labels: area/desktop

#19295 Add runc, buildkit and moby CVEs to security announcements
  content/security/security-announcements.md
Labels: area/security

#19291 Update UI steps to match Admin Console
  content/admin/company/owners.md
  content/admin/images/company-overview.png
  layouts/shortcodes/admin-org-audit-log.html
Labels: area/admin, hugo

#19285 test: add more lint rules for markdown
  .markdownlint.json
  content/admin/company/users.md
  content/build/cache/_index.md
  content/compose/gpu-support.md
  content/compose/release-notes.md
  content/compose/use-secrets.md
  content/config/formatting.md
  content/contribute/style/formatting.md
  content/contribute/style/grammar.md
  content/contribute/style/recommended-words.md
  content/desktop/extensions-sdk/design/design-guidelines.md
  content/desktop/faqs/releases.md
  content/desktop/hardened-desktop/settings-management/configure.md
  content/develop/develop-images/dockerfile_best-practices.md
  content/engine/reference/commandline/README.md
  content/engine/security/https/README.md
  content/engine/tutorials/_index.md
  content/faq/security/general.md
  content/security/for-admins/scim.md
  content/security/for-admins/single-sign-on/manage/_index.md
  content/trusted-content/insights-analytics.md
Labels: area/compose, area/build, area/desktop, area/cli, area/security, area/configuration, area/extensions, area/admin

#19300 vendor: github.com/moby/moby v25.0.3-0.20240203133757-341a7978a541+incompatible
  _vendor/github.com/moby/moby/docs/api/v1.18.md
  _vendor/github.com/moby/moby/docs/api/v1.19.md
  _vendor/github.com/moby/moby/docs/api/v1.20.md
  _vendor/github.com/moby/moby/docs/api/v1.21.md
  _vendor/github.com/moby/moby/docs/api/v1.22.md
  _vendor/github.com/moby/moby/docs/api/v1.23.md
  _vendor/github.com/moby/moby/docs/api/v1.25.yaml
  _vendor/github.com/moby/moby/docs/api/v1.26.yaml
  _vendor/github.com/moby/moby/docs/api/v1.27.yaml
  _vendor/github.com/moby/moby/docs/api/v1.28.yaml
  _vendor/github.com/moby/moby/docs/api/v1.29.yaml
  _vendor/github.com/moby/moby/docs/api/v1.30.yaml
  _vendor/github.com/moby/moby/docs/api/v1.31.yaml
  _vendor/github.com/moby/moby/docs/api/v1.32.yaml
  _vendor/github.com/moby/moby/docs/api/v1.33.yaml
  _vendor/github.com/moby/moby/docs/api/v1.34.yaml
  _vendor/github.com/moby/moby/docs/api/v1.38.yaml
  _vendor/github.com/moby/moby/docs/api/v1.39.yaml
  _vendor/github.com/moby/moby/docs/api/v1.40.yaml
  _vendor/github.com/moby/moby/docs/api/v1.41.yaml
  _vendor/github.com/moby/moby/docs/api/v1.42.yaml
  _vendor/github.com/moby/moby/docs/api/v1.43.yaml
  _vendor/github.com/moby/moby/docs/api/v1.44.yaml
  _vendor/github.com/moby/moby/docs/api/version-history.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: area/api, dependencies

#19305 fix: typo
  content/compose/compose-file/_index.md
Labels: area/compose

#19299 site: accessibility improvements
  layouts/index.html
  layouts/partials/footer.html
  layouts/partials/header.html
Labels: hugo

#19297 Update domain audit callout note
  layouts/shortcodes/admin-domain-audit.md
Labels: hugo

#19287 freshness(tier2): /build/building/**
  content/build/building/context.md
  content/build/building/multi-platform.md
  content/build/building/multi-stage.md
  content/build/building/packaging.md
  content/build/ci/github-actions/named-contexts.md
  hugo.yaml
Labels: area/build, hugo

#19312 Add Security section to Docker Desktop 4.27.0 release notes
  content/desktop/release-notes.md
Labels: area/desktop, area/security

#19314 hack: center the cookie consent closing button
  assets/css/hack.css
  assets/css/styles.css
Labels: hugo

#19304 site: self-host fonts
  assets/css/typography.css
  layouts/partials/head.html
  static/assets/fonts/RobotoFlex.woff2
  static/assets/fonts/RobotoFlex_LICENSE.txt
  static/assets/fonts/RobotoMono-Italic.woff2
  static/assets/fonts/RobotoMono-Regular.woff2
  static/assets/fonts/RobotoMono_LICENSE.txt
  tailwind.config.js
Labels: hugo

#19329 css: add font-display fallback for main webfont
  assets/css/typography.css
Labels: hugo

#19313 Update Admin Console references to settings menu
  content/admin/company/new-company.md
  content/admin/organization/_index.md
  content/admin/organization/general-settings.md
  data/toc.yaml
Labels: area/admin

#19332 site: add lazy loading for images
  layouts/_default/_markup/render-image.html
  layouts/shortcodes/inline-image.html
Labels: hugo

#19350 cli: add links for cli flags
  layouts/_default/cli.html
Labels: hugo

#19353 minor UI fix for Docker Desktop release notes
  layouts/shortcodes/desktop-install.html
Labels: hugo

#19360 Typo fix: replace TestContainers with Testcontainers.
  content/desktop/hardened-desktop/enhanced-container-isolation/config.md
Labels: area/desktop

#19359 build(cloud): remove FAQ page
  content/build/builders/manage.md
  content/build/cloud/_index.md
  content/build/cloud/faq.md
  content/build/cloud/usage.md
  data/toc.yaml
Labels: area/build

#19373 build: fix stage name references
  content/build/guide/build-args.md
Labels: area/build

#19369 Fix engine NVIDIA GPU guide
  content/config/containers/resource_constraints.md
Labels: area/configuration

#19334 Clarify how JIT works with SAML attributes and impacts SCIM
  content/security/for-admins/scim.md
  content/security/for-admins/single-sign-on/_index.md
Labels: area/security

#19354 Improve access to org onboarding guide
  content/admin/_index.md
  content/admin/organization/_index.md
  content/faq/admin/general-faqs.md
  layouts/shortcodes/admin-org-onboarding.md
Labels: area/admin, hugo

#19391 Update SSO prerequisite for CLI
  content/security/for-admins/single-sign-on/_index.md
Labels: area/security

#19408 build(cloud): rephrase conn encryption
  content/build/cloud/_index.md
Labels: area/build

#19409 wasm: update steps to enable wasm in docker desktop
  content/desktop/wasm.md
Labels: area/desktop

#19311 scout: add VEX guide
  content/scout/guides/vex.md
  data/toc.yaml
Labels: area/scout

#19415 build(cloud): rephrase conn encryption
  content/build/cloud/_index.md
  content/build/cloud/usage.md
Labels: area/build

#19406 Update requirements for accessing Admin Console
  content/admin/_index.md
  content/includes/admin-early-access.md
Labels: area/admin

#19404 Admin security freshness update part one
  content/security/_index.md
  content/security/for-admins/configure-sign-in.md
  content/security/for-admins/domain-audit.md
  content/security/for-admins/image-access-management.md
  content/security/for-admins/registry-access-management.md
  content/security/for-admins/roles-and-permissions.md
  content/security/for-admins/single-sign-on/_index.md
  layouts/shortcodes/admin-image-access.html
  layouts/shortcodes/admin-registry-access.html
Labels: area/security, hugo

#19411 cli: hoist content in CLI stubs to top
  layouts/_default/cli.html
Labels: hugo

#19344 site: improve home banner's bg image/color blend
  assets/css/global.css
  layouts/index.html
Labels: hugo

#19405 refresh language guides
  content/language/dotnet/deploy.md
  content/language/dotnet/develop.md
  content/language/dotnet/run-tests.md
  content/language/nodejs/develop.md
  content/language/nodejs/run-tests.md
  content/language/python/develop.md
  content/language/rust/develop.md
  content/language/rust/run-containers.md
Labels: area/get-started

#19419 chore: vale styles cleanup
  .github/vale/Docker/Acronyms.yml
  .github/vale/Docker/Adverbs.yml
  .github/vale/Docker/Avoid.yml
  .github/vale/Docker/ComplexWords.yml
  .github/vale/Docker/Contractions.yml
  .github/vale/Docker/HeadingSentenceCase.yml
  .github/vale/Docker/OxfordComma.yml
  .github/vale/Docker/RecommendedWords.yml
  .github/vale/Docker/Spacing.yml
  .github/vale/Docker/UIElement.yml
  .github/vale/Docker/URLFormat.yml
  .github/vale/Docker/Units.yml
  .github/vale/config/vocabularies/Docker/accept.txt
  .github/vale/config/vocabularies/Technology/accept.txt
  .vale.ini
Labels: area/release

#19420 docs: update wrong numeral adjectives in multi-platform.md
  content/build/guide/multi-platform.md
Labels: area/build

#19425 ci: add vale style check and update runners
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/validate-upstream.yml
Labels: area/release

#19426 Revert "ci: add vale style check"
  .github/workflows/build.yml
Labels: area/release

#19436 Fix typo in the Quickstart page
  content/scout/quickstart.md
Labels: area/scout

#19386 build: variables (arg, env)
  content/build/attestations/_index.md
  content/build/builders/_index.md
  content/build/building/env-vars.md
  content/build/building/variables.md
  content/build/cloud/usage.md
  content/build/images/build-variables.svg
  content/build/release-notes.md
  data/toc.yaml
  hugo.yaml
Labels: area/build, hugo

#19453 scout: add containerd image store prereq to vex guide
  content/scout/guides/vex.md
Labels: area/scout

#19423 cli: add debug callout in exec
  content/engine/reference/commandline/container_exec.md
Labels: area/cli

#18998 network: deduplicate swarm info for overlay driver
  content/engine/swarm/ingress.md
  content/engine/swarm/networking.md
  content/network/drivers/overlay.md
  content/network/network-tutorial-overlay.md
Labels: area/networking, area/swarm, status/review

#19468 redirect: add handler for old dockerd reference location
  data/redirects.yml
Labels: status/review

#19472 fix links in java language-specific guide
  content/language/java/containerize.md
  content/language/java/develop.md
Labels: area/get-started, status/review

#19461 build(cloud): add roles and permissions matrix
  content/build/cloud/_index.md
  content/security/for-admins/roles-and-permissions.md
Labels: area/build, area/security, status/review

#19467 ci: fix validate upstream workflow
  .github/workflows/validate-upstream.yml
Labels: area/release

#19401 scout: refresh core pages
  content/scout/_index.md
  content/scout/advisory-db-sources.md
  content/scout/dashboard.md
  content/scout/data-handling.md
  content/scout/image-analysis.md
  content/scout/image-details-view.md
  content/scout/image-prefix.md
  content/scout/images/dashboard-base-images.webp
  content/scout/images/dashboard-image-layers.webp
  content/scout/images/dashboard-image-policies.webp
  content/scout/images/dashboard-images.png
  content/scout/images/dashboard-images.webp
  content/scout/images/dashboard-overview.webp
  content/scout/images/dashboard-policies-view.webp
  content/scout/images/dashboard-repo-tags.webp
  content/scout/local-fs.md
  content/scout/release-notes.md
  content/scout/sbom.md
  data/toc.yaml
Labels: area/scout, status/review

#19387 scout(policy): unsupported distro versions option
  content/scout/policy/_index.md
Labels: area/scout, status/review

#19489 cli: alias tpl
  assets/css/global.css
  assets/css/icons.css
  assets/js/src/dockerfile-links.js
  assets/js/src/tooltip.js
  layouts/_default/_markup/render-link.html
  layouts/_default/cli.html
  layouts/partials/github-links.html
  layouts/partials/tooltip.html
  package-lock.json
  package.json
Labels: hugo, dependencies, status/review

#19496 update dead link
  content/docker-hub/oci-artifacts.md
Labels: area/hub

#19466 Fix typo in the Storage Overview page
  content/storage/_index.md
Labels: area/storage

#19361 add jupyter use-case guide
  content/guides/use-case/jupyter.md
  data/toc.yaml
Labels: status/review

#19504 fix : Text Overflow in last Note of mirror.md
  content/docker-hub/mirror.md
Labels: area/hub

#19506 Fix typos in the Storage Driver page.
  content/storage/storagedriver/_index.md
Labels: area/storage

#19519 update use-case guides toc
  data/toc.yaml
Labels: status/review

#19523 desktop(build): otel and attestation build results
  content/desktop/use-desktop/builds.md
Labels: area/desktop, status/review

#19525 build(cache): gha backend timeout opt
  content/build/cache/backends/gha.md
Labels: area/build

#19520 Clarify enforce sign-in steps
  content/security/for-admins/configure-sign-in.md
Labels: area/security, status/review

#19495 site: update thumbnail image
  layouts/partials/meta.html
  static/assets/images/thumbnail.webp
Labels: hugo, status/review

#19530 Fix typos in the btrfs-driver page
  content/storage/storagedriver/btrfs-driver.md
Labels: area/storage

#19527 build: add dbc to /build/ grid
  content/build/_index.md
  static/assets/images/logo-build-cloud.svg
Labels: area/build, status/review

#19531 add use-case guide overview
  content/guides/use-case/_index.md
  data/toc.yaml
Labels: status/review

#19537 debug: add `go` redirect for docker debug
  data/redirects.yml
Labels: status/review

#19528 Update security FAQ
  content/faq/security/general.md
Labels: status/review
