Repository docker/docs, pull requests merged in 2024-05, with the labels that each got.

#19930 Remove old onboard page
  content/docker-hub/onboard.md
Labels: area/hub

#19962 docs: fix links to docker-run
  content/compose/compose-file/05-services.md
Labels: area/compose

#19967 build(cloud): BitBucket Pipelines ci example
  content/build/cloud/ci.md
Labels: area/build

#19968 Revert "scout: unlist the scout metrics exporter page"
  content/scout/metrics-exporter.md
  content/scout/release-notes/platform.md
  data/toc.yaml
Labels: area/scout

#19947 Add merge organization steps to admin docs
  content/admin/faqs/organization-faqs.md
  content/admin/organization/orgs.md
Labels: area/admin, status/review

#19969 fix: whitespace breaks for code spans in tables
  assets/css/code.css
  hugo_stats.json
Labels: hugo, status/review

#19958 Update rootless.md
  content/engine/security/rootless.md
Labels: area/engine

#19972 build: export and analyze jaeger traces
  content/desktop/images/build-ui-jaeger-screenshot.png
  content/desktop/use-desktop/builds.md
  static/assets/video/build-jaeger-export.mp4
Labels: area/build, area/desktop

#19901 update node.js guide
  content/language/nodejs/containerize.md
  content/language/nodejs/develop.md
Labels: area/get-started, status/review

#19937 docs: remove note since issue #4696 was fixed
  content/build/buildkit/_index.md
Labels: area/build

#19970 scout: fix missing period / non-sentence
  content/scout/release-notes/platform.md
Labels: area/scout, status/review

#19737 add database use-case guide
  content/guides/use-case/_index.md
  content/guides/use-case/databases.md
  content/guides/use-case/images/databases-1.webp
  content/guides/use-case/images/databases-2.webp
  content/guides/use-case/images/databases-3.webp
  data/toc.yaml
Labels: status/review

#19991 Remove callout from convert orgs doc
  content/admin/convert-account.md
Labels: area/admin, status/review

#19989 Fix URL used for images in twitter/og previews
  layouts/_default/hub-api-baseof.html
  layouts/index.robots.txt
  layouts/partials/meta.html
Labels: hugo

#19998 css: fix rendering issue for code with numbered lines
  assets/css/code.css
Labels: hugo, status/review

#20002 site: improve static search
  assets/js/src/search.js
  content/scout/advisory-db-sources.md
  content/scout/dashboard.md
  content/scout/data-handling.md
  content/scout/env-vars.md
  content/scout/image-analysis.md
  content/scout/sbom.md
  hugo_stats.json
  layouts/partials/utils/description.html
  layouts/partials/utils/keywords.html
Labels: area/scout, hugo, status/review

#19992 Update rootless.md
  content/engine/security/rootless.md
Labels: area/engine

#19996 engine: 26.1.2 release notes
  content/engine/release-notes/26.1.md
Labels: area/engine

#20006 Update release-notes.md to remove hooks
  content/desktop/release-notes.md
Labels: area/desktop

#20009 Update the CI/CD config to build and push multi-platform image
  content/language/nodejs/configure-ci-cd.md
Labels: area/get-started

#20004 redirects: add temp redirect for scout notifications c0
  data/redirects.yml
Labels: status/review

#19950 fix: docker desktop macos completions
  content/config/completion.md
  content/desktop/faqs/macfaqs.md
  data/toc.yaml
Labels: area/engine, area/desktop, area/cli, area/configuration

#20012 chore: regenerate hugo_stats.json
  hugo_stats.json
Labels: status/review

#20013 scout: add CISA Vulnrichment advisory
  content/scout/advisory-db-sources.md
Labels: status/review

#20005 guides: remove use-case new badge
  data/toc.yaml
Labels: status/review

#19973 fix: pass heading text through md renderer
  layouts/_default/_markup/render-heading.html
  layouts/partials/pagemeta.html
  layouts/partials/toc-cli.html
Labels: hugo, status/review

#19587 engine: warn more about insecure daemon configurations / deprecate non-tls tcp
  content/config/daemon/remote-access.md
  content/engine/security/_index.md
Labels: area/engine, area/security, area/configuration, status/review

#20024 hugo: return keywords as sliceArray
  assets/js/src/search.js
  layouts/partials/meta.html
  layouts/partials/utils/keywords.html
Labels: hugo, status/review

#20017 update hub categories note
  content/docker-hub/repos/categories.md
Labels: area/hub, status/review

#19980 Update provisioning sections
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-users.md
Labels: area/Enterprise, hugo, status/review

#20027 storage: tmpfs maximum size
  .github/vale/config/vocabularies/Docker/accept.txt
  content/storage/tmpfs.md
Labels: area/storage, area/release, status/review

#19977 build: clarify that sha-1 build context can't be truncated
  content/build/building/context.md
Labels: area/build

#19879 build: default load and multi-export
  content/build/drivers/_index.md
  content/build/drivers/docker-container.md
  content/build/exporters/_index.md
Labels: area/build

#20033 vendor: moby, cli 26.1.2
  _vendor/modules.txt
  data/engine-cli/docker_container_run.yaml
  data/engine-cli/docker_swarm_init.yaml
  go.mod
  go.sum
Labels: dependencies

#20030 Update JIT release phase callouts
  .github/vale/config/vocabularies/Docker/accept.txt
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/security/for-admins/group-mapping.md
  content/security/for-admins/scim.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
  layouts/shortcodes/admin-sso-management-users.md
Labels: area/security, area/release, hugo, status/review

#20045 Fix typo in development.md
  content/language/nodejs/develop.md
Labels: area/get-started

#20050 engine: add 26.1.3 release notes
  content/engine/release-notes/26.1.md
  hugo.yaml
Labels: area/engine, hugo, status/review

#19982 Add documentation for "Running Containers"
  content/guides/docker-concepts/running-containers/images/access-the-frontend.webp
  content/guides/docker-concepts/running-containers/images/delete-containers.webp
  content/guides/docker-concepts/running-containers/images/delete-multi-container-apps.webp
  content/guides/docker-concepts/running-containers/images/exec-into-postgres-container.webp
  content/guides/docker-concepts/running-containers/images/list-containers.webp
  content/guides/docker-concepts/running-containers/images/multi-container-apps.webp
  content/guides/docker-concepts/running-containers/images/published-ports.webp
  content/guides/docker-concepts/running-containers/images/running-postgres-containers.webp
  content/guides/docker-concepts/running-containers/multi-container-applications.md
  content/guides/docker-concepts/running-containers/overriding-container-defaults.md
  content/guides/docker-concepts/running-containers/persisting-container-data.md
  content/guides/docker-concepts/running-containers/publishing-ports.md
  content/guides/docker-concepts/the-basics/images/todo-list-app.png
  content/guides/docker-concepts/the-basics/images/todo-list-containers.png
  content/guides/docker-concepts/the-basics/images/todo-list-delete.png
  data/toc.yaml
Labels: status/review

#20051 build: simplify multi-platform docs
  content/build/building/multi-platform.md
Labels: area/build, status/review

#20053 build: gha update and align syntax to be consistent
  content/build/ci/github-actions/annotations.md
  content/build/ci/github-actions/attestations.md
  content/build/ci/github-actions/cache.md
  content/build/ci/github-actions/configure-builder.md
  content/build/ci/github-actions/copy-image-registries.md
  content/build/ci/github-actions/export-docker.md
  content/build/ci/github-actions/local-registry.md
  content/build/ci/github-actions/manage-tags-labels.md
  content/build/ci/github-actions/multi-platform.md
  content/build/ci/github-actions/named-contexts.md
  content/build/ci/github-actions/push-multi-registries.md
  content/build/ci/github-actions/reproducible-builds.md
  content/build/ci/github-actions/secrets.md
  content/build/ci/github-actions/share-image-jobs.md
  content/build/ci/github-actions/test-before-push.md
  content/build/ci/github-actions/update-dockerhub-desc.md
  content/scout/policy/ci.md
Labels: area/build

#20047 guides: use "Try it out" consistently in concept headings
  content/guides/docker-concepts/building-images/multi-stage-builds.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-an-image.md
Labels: status/review

#20041 engine: louder notice about sles being s390x only
  content/engine/install/sles.md
Labels: area/engine, area/install, status/review

#20022 scout: metrics exporter, datadog example
  .github/vale/config/vocabularies/Docker/accept.txt
  content/scout/images/datadog_dashboard_1.png
  content/scout/images/datadog_dashboard_2.png
  content/scout/images/datadog_metrics_summary.png
  content/scout/images/scout-metrics-grafana-policy.png
  content/scout/images/scout-metrics-grafana-vulns.png
  content/scout/images/scout-metrics-grafana.png
  content/scout/metrics-exporter.md
Labels: area/release, area/scout, status/review

#20049 Networking overview - DNS fixes
  content/network/_index.md
Labels: area/networking

#19336 Add Travis CI under tabs in the Docker documentation.
  content/build/cloud/ci.md
Labels: area/build

#20061 Updated path to fit the java spring tutorial
  content/language/java/containerize.md
Labels: area/get-started

#20060 docs: Update instructions in language-specific guides.
  content/language/dotnet/configure-ci-cd.md
  content/language/java/configure-ci-cd.md
  content/language/php/configure-ci-cd.md
  content/language/python/configure-ci-cd.md
  content/language/rust/configure-ci-cd.md
Labels: area/get-started

#20046 Add steps to deactivate orgs in Admin Console
  content/admin/deactivate-account.md
Labels: area/admin, status/review

#20016 Update provisioning pages and add group mapping steps
  .github/vale/config/vocabularies/Docker/accept.txt
  content/_index.md
  content/admin/company/_index.md
  content/admin/company/owners.md
  content/admin/faqs/company-faqs.md
  content/admin/faqs/organization-faqs.md
  content/admin/organization/_index.md
  content/admin/organization/general-settings.md
  content/docker-hub/_index.md
  content/docker-hub/api/latest.yaml
  content/security/_index.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/security/for-admins/group-mapping.md
  content/security/for-admins/provisioning/group-mapping.md
  content/security/for-admins/provisioning/just-in-time.md
  content/security/for-admins/provisioning/scim.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
  content/security/for-admins/single-sign-on/connect/_index.md
  content/security/for-admins/single-sign-on/manage/_index.md
  content/subscription/core-subscription/details.md
  data/toc.yaml
  layouts/shortcodes/admin-domain-audit.md
  layouts/shortcodes/admin-org-onboarding.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-users.md
  layouts/shortcodes/admin-users.html
Labels: area/hub, area/security, area/subscription, area/api, area/release, area/admin, hugo, status/review

#20065 Metrics exporter - add /metrics suffix
  content/scout/metrics-exporter.md
Labels: area/scout

#20076 guides: remove walkthroughs
  content/desktop/install/debian.md
  content/desktop/install/fedora.md
  content/desktop/install/linux-install.md
  content/desktop/install/mac-install.md
  content/desktop/install/rhel.md
  content/desktop/install/ubuntu.md
  content/desktop/install/windows-install.md
  content/desktop/use-desktop/container.md
  content/desktop/use-desktop/images.md
  content/desktop/use-desktop/volumes.md
  content/get-started/06_bind_mounts.md
  content/get-started/_index.md
  content/guides/_index.md
  content/guides/docker-concepts/running-containers/multi-container-applications.md
  content/guides/docker-concepts/running-containers/persisting-container-data.md
  content/guides/docker-concepts/the-basics/what-is-a-container.md
  content/guides/docker-concepts/the-basics/what-is-a-registry.md
  content/guides/docker-concepts/the-basics/what-is-docker-compose.md
  content/guides/get-started/_index.md
  content/guides/use-case/genai-video-bot/_index.md
  content/guides/walkthroughs/access-local-folder.md
  content/guides/walkthroughs/containerize-your-app.md
  content/guides/walkthroughs/images/bind-mounts.webp
  content/guides/walkthroughs/images/containerize-app.webp
  content/guides/walkthroughs/images/getting-started-bindmount.webp
  content/guides/walkthroughs/images/getting-started-delete-stack.webp
  content/guides/walkthroughs/images/getting-started-explore-container.webp
  content/guides/walkthroughs/images/getting-started-frontend-2.webp
  content/guides/walkthroughs/images/getting-started-frontend.webp
  content/guides/walkthroughs/images/getting-started-isolation.webp
  content/guides/walkthroughs/images/getting-started-multi-container.webp
  content/guides/walkthroughs/images/getting-started-push.webp
  content/guides/walkthroughs/images/getting-started-run-image.webp
  content/guides/walkthroughs/images/getting-started-run-intro.webp
  content/guides/walkthroughs/images/getting-started-run.webp
  content/guides/walkthroughs/images/getting-started-search.webp
  content/guides/walkthroughs/images/getting-started-setup.webp
  content/guides/walkthroughs/images/getting-started-signin.webp
  content/guides/walkthroughs/images/getting-started-stop.webp
  content/guides/walkthroughs/images/getting-started-view.webp
  content/guides/walkthroughs/images/getting-started-volume.webp
  content/guides/walkthroughs/images/how-do-i-run-a-container.webp
  content/guides/walkthroughs/images/multi-container-apps.webp
  content/guides/walkthroughs/images/persist-data.webp
  content/guides/walkthroughs/images/publish-your-images.webp
  content/guides/walkthroughs/images/run-docker-hub-images.webp
  content/guides/walkthroughs/images/what-is-a-container.webp
  content/guides/walkthroughs/multi-container-apps.md
  content/guides/walkthroughs/persist-data.md
  content/guides/walkthroughs/publish-your-image.md
  content/guides/walkthroughs/run-a-container.md
  content/guides/walkthroughs/run-hub-images.md
  content/guides/walkthroughs/what-is-a-container.md
  content/language/_index.md
  data/toc.yaml
  layouts/index.html
Labels: area/install, area/desktop, area/get-started, hugo, status/review

#20089 redirect: add alias for /get-started/hands-on-overview/
  content/get-started/_index.md
Labels: area/get-started, status/review

#20083 samples: remove dev env links
  data/samples.yaml
  layouts/samples/single.html
Labels: hugo, status/review

#20068 Add a new guide "Sharing local files with containers"
  content/guides/docker-concepts/running-containers/images/delete-httpd-container.webp
  content/guides/docker-concepts/running-containers/images/delete-the-container.webp
  content/guides/docker-concepts/running-containers/images/deleted-files.webp
  content/guides/docker-concepts/running-containers/images/mounted-files.webp
  content/guides/docker-concepts/running-containers/persisting-container-data.md
  content/guides/docker-concepts/running-containers/sharing-local-files.md
  data/toc.yaml
Labels: status/review

#19956 Update 05_persisting_data.md
  content/get-started/05_persisting_data.md
Labels: area/get-started

#20099 hub: categories released
  content/docker-hub/release-notes.md
  content/docker-hub/repos/categories.md
Labels: area/hub, status/review

#20119 docker scout changelog for 1.9.x
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/modules.txt
  content/scout/release-notes/cli.md
  go.mod
  go.sum
Labels: area/scout, dependencies

#20084 Refresh admin and security FAQ pages
  .github/vale/config/vocabularies/Docker/accept.txt
  content/admin/company/_index.md
  content/admin/company/new-company.md
  content/admin/company/owners.md
  content/admin/faqs/company-faqs.md
  content/admin/faqs/general-faqs.md
  content/admin/faqs/organization-faqs.md
  content/security/faqs/single-sign-on/domain-faqs.md
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/faqs.md
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/faqs/single-sign-on/saml-faqs.md
  content/security/faqs/single-sign-on/users-faqs.md
  content/subscription/core-subscription/add-seats.md
  data/toc.yaml
  layouts/shortcodes/admin-org-onboarding.md
Labels: area/security, area/subscription, area/release, area/admin, hugo, status/review

#20131 Fix video URL
  content/security/for-admins/registry-access-management.md
Labels: area/security, status/review
