Repository docker/docs, pull requests merged in 2024-07, with the labels that each got.

#20330 engine: add release notes for v27.0.3
  _vendor/modules.txt
  content/engine/api/_index.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/ubuntu.md
  content/engine/release-notes/27.0.md
  go.mod
  go.sum
Labels: area/engine, area/install, area/Relnotes, area/api, dependencies

#20329 engine: remove centos/rhel 7 (EOL)
  content/engine/install/centos.md
  content/engine/install/rhel.md
  content/engine/security/rootless.md
  content/engine/security/userns-remap.md
  hugo_stats.json
Labels: area/engine, area/install

#20303 Update downgrade docs
  content/subscription/core-subscription/downgrade.md
Labels: area/subscription, status/review

#20337 build(cloud): add link to best practices
  content/build/cloud/optimization.md
Labels: area/build

#20338 Revert "site: add vwo async smartcode"
  hugo.yaml
  layouts/partials/head.html
Labels: hugo, status/review

#20341 engine: regenerate cli docs for 27.0
  data/engine-cli/docker_container_cp.yaml
  data/engine-cli/docker_container_create.yaml
  data/engine-cli/docker_container_logs.yaml
  data/engine-cli/docker_container_prune.yaml
  data/engine-cli/docker_container_run.yaml
  data/engine-cli/docker_create.yaml
  data/engine-cli/docker_image_prune.yaml
  data/engine-cli/docker_image_push.yaml
  data/engine-cli/docker_network_connect.yaml
  data/engine-cli/docker_network_create.yaml
  data/engine-cli/docker_network_prune.yaml
  data/engine-cli/docker_push.yaml
  data/engine-cli/docker_run.yaml
  data/engine-cli/docker_service_logs.yaml
  data/engine-cli/docker_swarm_unlock-key.yaml
  data/engine-cli/docker_swarm_unlock.yaml
  data/engine-cli/docker_system_events.yaml
  data/engine-cli/docker_system_prune.yaml
  data/engine-cli/docker_trust_revoke.yaml
  data/engine-cli/docker_volume_create.yaml
Labels: status/review

#20308 scout: exceptions follow-ups
  content/scout/explore/exceptions.md
Labels: area/scout, status/review

#20039 engine: consolidate troubleshooting to single page
  content/config/containers/resource_constraints.md
  content/config/daemon/remote-access.md
  content/config/daemon/troubleshoot.md
  content/engine/install/troubleshoot.md
  content/storage/troubleshooting_volume_errors.md
  data/toc.yaml
Labels: area/engine, area/install, area/configuration, area/storage, status/review

#20340 build(gha): rename DOCKER_BUILD_NO_SUMMARY to DOCKER_BUILD_SUMMARY_DISABLE
  content/build/ci/github-actions/build-summary.md
Labels: area/build

#20347 build: clean up remote auth example with secrets
  content/build/building/secrets.md
Labels: area/build

#20279 get-started: add overview and template
  content/guides/getting-started/_index.md
  content/guides/getting-started/build-and-push-first-image.md
  content/guides/getting-started/develop-with-containers.md
  content/guides/getting-started/get-docker-desktop.md
  content/guides/getting-started/whats-next.md
  hugo_stats.json
  layouts/_default/single.html
  layouts/guides/series.html
  layouts/partials/guides-stepper.html
  layouts/shortcodes/youtube-embed.html
Labels: hugo, status/review

#20351 hugo: move youtube script out of shortcode template
  layouts/_default/baseof.html
  layouts/shortcodes/youtube-embed.html
Labels: hugo, status/review

#20040 ci: bump runner to ubuntu-24.04
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/merge.yml
  .github/workflows/validate-upstream.yml
Labels: area/release

#20356 fix(typo): AS instead of as
  content/build/building/multi-stage.md
Labels: area/build

#20349 Move Docker Build Cloud to its own top-level section
  .github/CODEOWNERS
  .github/labeler.yml
  content/_index.md
  content/build-cloud/_index.md
  content/build-cloud/ci.md
  content/build-cloud/optimization.md
  content/build-cloud/setup.md
  content/build-cloud/usage.md
  content/build/_index.md
  content/build/building/multi-platform.md
  content/build/ci/github-actions/build-summary.md
  content/desktop/use-desktop/builds.md
  content/manuals.md
  data/toc.yaml
Labels: area/build, area/desktop, area/release, status/review, area/build-cloud

#20379 hugo: use URL parser for image ref in render hook
  layouts/_default/_markup/render-image.html
Labels: hugo, status/review

#20334 Add section on 3DS support
  content/billing/3d-secure.md
  content/billing/_index.md
  data/toc.yaml
Labels: area/billing

#19618 engine: add note about nftables incompatibility to install docs
  content/engine/install/debian.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/ubuntu.md
Labels: area/engine, area/install, status/review

#20231 build: user guide on using build checks
  content/build/checks.md
  data/toc.yaml
Labels: area/build, status/review

#20376 cli: add alias for docker container ps
  content/reference/cli/docker/container/ls.md
Labels: status/review

#20387 ci: use @reviewdog branch of vale-action
  .github/workflows/build.yml
Labels: area/release

#20335 guides: update java language guide
  content/language/java/containerize.md
  content/language/java/develop.md
  content/language/java/run-tests.md
Labels: area/get-started, status/review

#20399 fix samples typo
  data/samples.yaml
Labels: status/review

#20407 Update rhel.md to fix package names (rpms instead of debs)
  content/engine/install/rhel.md
Labels: area/engine, area/install

#20409 Fix typo: "supports" => "support"
  content/build/building/base-images.md
Labels: area/build

#19774 cli: make buildx build the canonical build
  content/build/building/best-practices.md
  content/build/building/packaging.md
  content/build/building/variables.md
  content/build/guide/export.md
  content/build/guide/intro.md
  content/docker-hub/builds/advanced.md
  content/guides/use-case/nlp/language-translation.md
  content/guides/use-case/nlp/named-entity-recognition.md
  content/guides/use-case/nlp/sentiment-analysis.md
  content/guides/use-case/nlp/text-classification.md
  content/guides/use-case/nlp/text-summarization.md
  content/language/rust/build-images.md
  content/reference/cli/docker/build-legacy.md
  content/reference/cli/docker/buildx/build.md
  data/engine-cli/docker_build.yaml
  data/engine-cli/docker_builder_build.yaml
  data/engine-cli/docker_image_build.yaml
  data/toc.yaml
Labels: area/hub, area/build, area/get-started, status/review

#20420 site: add vwo async smartcode to staging env
  hugo.yaml
  layouts/partials/head.html
Labels: hugo

#20422 build: buildx 0.16, dockerfile 1.9 release notes
  content/build/dockerfile/release-notes.md
  content/build/release-notes.md
Labels: area/build

#20357 build: assorted improvements, cleanup
  .github/workflows/build.yml
  Dockerfile
  _releaser/Dockerfile
  _releaser/go.mod
  _releaser/go.sum
  _releaser/main.go
  _releaser/netlify.go
  docker-bake.hcl
Labels: area/release

#20432 Fix link to scout github action environments
  content/scout/integrations/environment/_index.md
Labels: area/scout

#20350 Add account section and update settings and security
  .github/labeler.yml
  .github/vale/config/vocabularies/Docker/accept.txt
  content/accounts/_index.md
  content/accounts/deactivate-user-account.md
  content/accounts/manage-account.md
  content/admin/convert-account.md
  content/admin/deactivate-account.md
  content/admin/faqs/general-faqs.md
  content/docker-hub/builds/link-source.md
  content/docker-hub/images/docker-hub-repo-settings-menu.png
  content/docker-hub/repos/_index.md
  content/docker-id/_index.md
  content/security/for-developers/2fa/_index.md
  content/security/for-developers/2fa/disable-2fa.md
  content/security/for-developers/2fa/new-recovery-code.md
  content/security/for-developers/2fa/recover-hub-account.md
  content/security/for-developers/access-tokens.md
  data/toc.yaml
Labels: area/hub, area/security, area/release, area/admin

#20433 fix broken link
  content/accounts/manage-account.md
Labels: area/accounts, status/review

#20419 build: output must include specified component for annotation
  content/build/building/annotations.md
  content/build/ci/github-actions/annotations.md
Labels: area/build

#20354 go redirect scout
  data/redirects.yml
Labels: status/review

#20389 Clarify CLI password behavior when SSO enforced
  content/security/faqs/general.md
  content/security/faqs/single-sign-on/enforcement-faqs.md
  content/security/faqs/single-sign-on/idp-faqs.md
  content/security/for-admins/single-sign-on/_index.md
  content/security/security-announcements.md
Labels: area/security

#20456 engine: fix typo: iptables6 -> ip6tables
  content/engine/install/debian.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/ubuntu.md
Labels: area/engine, area/install

#20461 engine: update to v27.1.0
  content/engine/api/_index.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/sles.md
  content/engine/install/ubuntu.md
  content/engine/release-notes/27.0.md
  content/engine/release-notes/27.1.md
  data/toc.yaml
  hugo.yaml
Labels: area/engine, area/install, area/api, hugo

#20464 engine: update to v27.1.1
  content/engine/api/_index.md
  content/engine/install/centos.md
  content/engine/install/debian.md
  content/engine/install/fedora.md
  content/engine/install/raspberry-pi-os.md
  content/engine/install/rhel.md
  content/engine/install/ubuntu.md
  content/engine/release-notes/27.1.md
  hugo.yaml
Labels: area/engine, area/install, area/api, hugo

#20465 engine fix compose version in release notes
  content/engine/release-notes/27.1.md
Labels: area/engine, area/Relnotes

#20462 Bump compose v2.29.1
  _vendor/modules.txt
  content/compose/release-notes.md
  go.mod
  hugo.yaml
Labels: area/compose, hugo, dependencies

#20466 add release notes for buildx v0.16.1
  content/build/release-notes.md
Labels: area/build

#20396 Add FastAPI example for python docs
  content/language/python/containerize.md
  content/language/python/deploy.md
  content/language/python/develop.md
Labels: area/get-started, status/review

#20477 buildx 0.16.2 release notes
  content/build/release-notes.md
Labels: area/build

#20485 build/buildkit: fix image name
  content/build/buildkit/_index.md
Labels: area/build

#20489 vendor: github.com/moby/buildkit v0.15.1
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/_index.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/consistent-instruction-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/copy-ignored-file.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/file-consistent-command-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/from-as-casing.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/from-platform-flag-const-disallowed.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/invalid-default-arg-in-from.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/legacy-key-value-format.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/multiple-instructions-disallowed.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/redundant-target-platform.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/rules/secrets-used-in-arg-or-env.md
  data/toc.yaml
  go.mod
  go.sum
Labels: area/build, dependencies

#20493 build-cloud: replace `Hyrdobuild` with `Build Cloud`
  content/build-cloud/ci.md
Labels: area/build-cloud

#20474 ENGDOCS-2162
  content/build-cloud/usage.md
Labels: area/build-cloud

#20501 rootless: fuse-overlayfs is not needed since Linux kernel 5.11
  content/engine/security/rootless.md
  content/storage/storagedriver/select-storage-driver.md
Labels: area/engine, area/storage

#20499 4.33.1 release notes
  content/desktop/release-notes.md
Labels: area/desktop

#20412 Add Ruby on rails example for ruby docs
  content/language/_index.md
  content/language/images/ruby-on-rails.webp
  content/language/ruby/_index.md
  content/language/ruby/configure-ci-cd.md
  content/language/ruby/containerize.md
  content/language/ruby/deploy.md
  content/language/ruby/develop.md
  data/toc.yaml
Labels: area/get-started, status/review
