Repository docker/docs, pull requests merged in 2024-08, with the labels that each got.

#20513 fix typo in r guide
  content/language/r/develop.md
Labels: area/get-started, status/review

#20507 add release notes for docker scout v1.12.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_quickview.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/modules.txt
  content/scout/release-notes/cli.md
  go.mod
  go.sum
Labels: area/scout, dependencies

#20520 Fixed a typo cliPluginExtraDirs
  content/scout/install.md
Labels: area/scout

#20510 Add Underscores (`_`) and slashes (`/`) to valid label content
  content/config/labels-custom-metadata.md
Labels: area/engine, area/configuration

#20533 scout: fix placeholder date in release note for exceptions
  content/scout/release-notes/platform.md
Labels: status/review

#20535 scout: base image policy config for health scores
  content/scout/policy/scores.md
Labels: area/scout, status/review

#20539 docs: Fix typo in service name
  content/language/r/deploy.md
Labels: area/get-started

#20543 add release notes for docker scout v1.13.0
  _vendor/github.com/docker/scout-cli/docs/docker_scout_compare.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_cves.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_policy.yaml
  _vendor/github.com/docker/scout-cli/docs/docker_scout_quickview.yaml
  _vendor/github.com/docker/scout-cli/docs/scout_compare.md
  _vendor/github.com/docker/scout-cli/docs/scout_cves.md
  _vendor/github.com/docker/scout-cli/docs/scout_policy.md
  _vendor/github.com/docker/scout-cli/docs/scout_quickview.md
  _vendor/modules.txt
  content/scout/release-notes/cli.md
  go.mod
  go.sum
Labels: area/scout, dependencies

#20537 Docker Scout: update policy names
  content/build/building/best-practices.md
  content/scout/integrations/code-quality/sonarqube.md
  content/scout/integrations/source-code-management/github.md
  content/scout/policy/_index.md
  content/scout/policy/remediation.md
  content/scout/policy/scores.md
  content/scout/policy/view.md
  content/scout/quickstart.md
  content/scout/release-notes/platform.md
  data/redirects.yml
Labels: area/build, area/scout, status/review

#20534 cli: add alias for docker logs
  content/reference/cli/docker/container/logs.md
Labels: status/review

#20544 build: fix index of --debug flag
  content/build/checks.md
Labels: area/build, status/review

#20554 build: github actions check annotations
  content/build/checks.md
  content/build/images/gha-check-annotations.png
Labels: area/build

#19765 engine: add troubleshooting for managed ifaces
  .github/vale/config/vocabularies/Docker/accept.txt
  content/config/daemon/troubleshoot.md
  hugo_stats.json
Labels: area/engine, area/install, area/configuration, area/release, status/review

#20565 hub: remove webhook callback_url
  content/docker-hub/webhooks.md
Labels: area/hub, status/review

#20568 docs: typo in journald docs
  content/config/containers/logging/journald.md
Labels: area/engine, area/configuration

#19986 Add 'docker-forwarding' policy to firewalld description.
  content/network/packet-filtering-firewalls.md
Labels: area/networking, lifecycle/stale

#20576 buildx: image-manifest param for registry and local cache backends
  content/build/cache/backends/_index.md
  content/build/cache/backends/local.md
  content/build/cache/backends/registry.md
Labels: area/build

#20577 engine: volume subpath mount
  content/engine/storage/volumes.md
Labels: area/engine, area/storage, status/review

#20580 engine: add missing aliases after file rename
  content/engine/logging/configure.md
  content/engine/logging/plugins.md
Labels: status/review

#20582 engine: add 27.1.2 release notes
  content/engine/api/_index.md
  content/engine/release-notes/27.1.md
  hugo.yaml
Labels: area/engine, area/api, hugo

#20585 [docs] update Register a tax certificate
  content/billing/tax-certificate.md
Labels: area/billing, status/review

#20600 redirects: add missing engine redirects after refactor
  content/engine/network/drivers/bridge.md
  content/engine/network/drivers/host.md
  content/engine/network/drivers/ipvlan.md
  content/engine/network/drivers/macvlan.md
  content/engine/network/drivers/none.md
  content/engine/network/drivers/overlay.md
  data/redirects.yml
Labels: area/engine, status/review

#20601 redirect: fix overage issue
  content/admin/organization/orgs.md
  content/build-cloud/_index.md
  content/build-cloud/ci.md
  content/build-cloud/optimization.md
  content/build-cloud/setup.md
  content/build-cloud/usage.md
  content/build/building/best-practices.md
  content/desktop/previous-versions/2.x-mac.md
  content/desktop/previous-versions/2.x-windows.md
  content/docker-hub/builds/_index.md
  content/docker-hub/builds/advanced.md
  content/docker-hub/builds/automated-testing.md
  content/docker-hub/builds/link-source.md
  content/docker-hub/quickstart.md
  content/docker-id/_index.md
  content/engine/breaking_changes.md
  content/engine/faq.md
  content/reference/_index.md
  content/reference/cli/docker/_index.md
  content/scout/_index.md
  content/scout/quickstart.md
  content/trusted-content/dvp-program.md
  data/redirects.yml
  layouts/index.redirects.json
Labels: area/engine, area/hub, area/build, area/desktop, area/admin, area/scout, hugo, status/review, area/build-cloud

#20584 hugo/build/ci housekeeping
  .github/workflows/build.yml
  Dockerfile
  content/engine/logging/configure.md
  content/security/for-admins/enforce-sign-in/_index.md
  docker-bake.hcl
  layouts/_default/single.html
  layouts/partials/aside.html
  layouts/shortcodes/build-feature-state.html
  layouts/shortcodes/introduced.html
  layouts/shortcodes/siblings.html
Labels: area/engine, area/security, area/release, hugo, status/review

#20562 Make the specification of max-buffer-size discoverable.
  content/engine/logging/configure.md
Labels: area/engine, area/configuration

#20614 accounts: align topics with toc
  content/_index.md
  content/accounts/_index.md
  content/accounts/create-account.md
  content/admin/faqs/general-faqs.md
  content/admin/organization/orgs.md
  content/billing/core-billing/get-started-core.md
  content/build-cloud/_index.md
  content/desktop/get-started.md
  content/docker-hub/_index.md
  content/docker-hub/quickstart.md
  content/scout/guides/vex.md
  content/subscription/core-subscription/downgrade.md
  data/toc.yaml
Labels: area/hub, area/desktop, area/subscription, area/admin, area/scout, area/billing, area/accounts, status/review, area/build-cloud

#20596 scout: update ootb policy to match health score rules
  .github/vale/config/vocabularies/Docker/accept.txt
  content/scout/policy/_index.md
  content/scout/policy/scores.md
  content/scout/release-notes/platform.md
  data/redirects.yml
Labels: area/release, area/scout, status/review

#20618 release: increase timeout for creating lambda from 3s to 10s
  _releaser/aws.go
Labels: area/release, status/review

#20497 admin: add sso troubleshooting
  content/security/for-admins/single-sign-on/troubleshoot.md
  data/toc.yaml
Labels: area/security, status/review

#20557 docs: document journald image name field
  content/engine/logging/drivers/journald.md
Labels: area/engine, area/configuration

#20624 site: decrease z-index for copy button
  layouts/_default/_markup/render-codeblock.html
Labels: hugo, status/review

#20638 Update key-concepts.md
  content/engine/swarm/key-concepts.md
Labels: area/engine, area/swarm

#20571 Update volumes.md
  content/engine/storage/volumes.md
Labels: area/engine, area/storage

#20645 redirect: removes an incorrect alias
  content/guides/docker-concepts/building-images/multi-stage-builds.md
Labels: status/review

#20648 compose: use real network driver_opts examples
  content/compose/networking.md
  content/reference/compose-file/networks.md
  content/reference/compose-file/services.md
Labels: area/compose, status/review

#20650 revert 98987a6
  _releaser/aws.go
Labels: area/release

#20654 compose: fix link to RUN --mount=type=ssh
  content/reference/compose-file/build.md
Labels: status/review

#20610 guides: add overview for the building images guide
  content/guides/docker-concepts/building-images/_index.md
  content/guides/docker-concepts/building-images/build-tag-and-publish-an-image.md
  content/guides/docker-concepts/building-images/multi-stage-builds.md
  content/guides/docker-concepts/building-images/understanding-image-layers.md
  content/guides/docker-concepts/building-images/using-the-build-cache.md
  content/guides/docker-concepts/building-images/writing-a-dockerfile.md
  data/toc.yaml
Labels: status/review

#20651 hugo: remove unused templates
  layouts/partials/api-aside.html
  layouts/partials/category-links.html
  layouts/partials/mermaid.html
  layouts/partials/toc-api.html
Labels: hugo, status/review

#20656 copilot: call out waitlist signup
  content/copilot/index.md
Labels: status/review

#20652 hugo: replace deprecated resources.PostCSS method
  layouts/partials/utils/css.html
Labels: hugo, status/review

#20659 redirects: remove circular alias
  content/get-started/docker-overview.md
Labels: area/get-started, status/review

#20669 cleanup: more unused cruft
  assets/scss/api-reference.scss
  content/contribute/file-conventions.md
  content/engine/release-notes/25.0.md
  content/engine/release-notes/26.0.md
  content/engine/release-notes/26.1.md
  content/engine/release-notes/27.0.md
  content/engine/release-notes/27.1.md
  content/glossary.md
  content/manuals.md
  content/security/for-admins/provisioning/scim.md
  static/assets/images/rocket.svg
  static/assets/images/search.png
Labels: area/engine, area/security, hugo, status/review

#20668 scout: xref from policy to gha attestations example
  content/scout/policy/_index.md
Labels: area/scout, status/review

#20683 fix: incorrect sitemap stylesheet filename
  layouts/sitemap.xml
Labels: hugo

#20495 add insights
  content/admin/organization/insights.md
  data/redirects.yml
Labels: area/admin, status/review

#20675 remove typo in reference guide
  content/engine/swarm/key-concepts.md
Labels: area/engine, area/swarm

#20692 chore: update reference overview links
  content/reference/_index.md
Labels: status/review

#20696 compose: use plugin base cmd as cli overview
  content/compose/environment-variables/envvars.md
  content/compose/reference/_index.md
  content/get-started/workshop/08_using_compose.md
  content/language/cpp/containerize.md
  content/language/dotnet/containerize.md
  content/language/java/containerize.md
  content/language/nodejs/containerize.md
  content/language/php/containerize.md
  content/language/python/containerize.md
  content/language/r/containerize.md
  content/language/ruby/containerize.md
  content/reference/_index.md
  content/reference/cli/docker/compose/_index.md
  data/toc.yaml
Labels: status/review

#20697 fix typo
  content/security/for-admins/enforce-sign-in/methods.md
Labels: area/security, status/review

#20698 admin: update sso for companies
  content/security/for-admins/single-sign-on/troubleshoot.md
  layouts/shortcodes/admin-domains.html
  layouts/shortcodes/admin-sso-config.md
  layouts/shortcodes/admin-sso-connect.md
  layouts/shortcodes/admin-sso-management-connections.md
Labels: area/security, hugo, status/review

#20687 admin: update org onboarding
  content/admin/organization/onboard.md
  layouts/shortcodes/admin-org-onboarding.md
Labels: area/admin, hugo, status/review

#20704 learning-paths: fix formatting, duplication, missing elements
  content/learning-paths/docker-build-cloud.md
  content/learning-paths/docker-compose.md
  content/learning-paths/docker-scout.md
Labels: status/review

#20710 Set weights on building image pages to fix overview sorting
  content/get-started/docker-concepts/building-images/build-tag-and-publish-an-image.md
  content/get-started/docker-concepts/building-images/multi-stage-builds.md
  content/get-started/docker-concepts/building-images/understanding-image-layers.md
  content/get-started/docker-concepts/building-images/using-the-build-cache.md
  content/get-started/docker-concepts/building-images/writing-a-dockerfile.md
Labels: area/get-started

#20718 Couple of text updates for the DBC and Compose learning paths
  content/learning-paths/docker-build-cloud.md
  content/learning-paths/docker-compose.md
Labels: status/review

#20715 build: incorporate build guide into manuals
  content/build/building/export.md
  content/build/building/multi-platform.md
  content/build/building/variables.md
  content/build/cache/_index.md
  content/build/cache/optimize.md
  content/build/guide/_index.md
  content/build/guide/build-args.md
  content/build/guide/export.md
  content/build/guide/images/cache-bust.png
  content/build/guide/images/cross-compilation.png
  content/build/guide/images/emulation.png
  content/build/guide/images/layers.excalidraw
  content/build/guide/images/layers.png
  content/build/guide/images/multi-platform.excalidraw
  content/build/guide/images/parallelism.gif
  content/build/guide/images/reordered-layers.png
  content/build/guide/intro.md
  content/build/guide/layers.md
  content/build/guide/mounts.md
  content/build/guide/multi-platform.md
  content/build/guide/multi-stage.md
  content/build/guide/next-steps.md
  content/build/guide/test.md
  content/build/images/single-vs-multiplatform-image.svg
  content/get-started/docker-concepts/building-images/understanding-image-layers.md
  content/get-started/workshop/02_our_app.md
  content/get-started/workshop/09_image_best.md
  content/guides/_index.md
  content/language/_index.md
  content/language/cpp/containerize.md
  content/language/dotnet/containerize.md
  content/language/dotnet/run-tests.md
  content/language/golang/run-tests.md
  content/language/java/run-tests.md
  content/language/nodejs/containerize.md
  content/language/nodejs/run-tests.md
  content/language/php/develop.md
  content/language/php/run-tests.md
  content/language/python/containerize.md
  content/language/r/containerize.md
  content/language/ruby/containerize.md
  data/toc.yaml
  hugo_stats.json
Labels: area/build, area/get-started

#20732 config: bump example versions
  hugo.yaml
Labels: status/review

#20727 vale: relax/improve tests
  .vale.ini
  _vale/.vale-config/0-Hugo.ini
  _vale/Docker/Acronyms.yml
  _vale/Docker/Avoid.yml
  _vale/Docker/Capitalization.yml
  _vale/Docker/Exclamation.yml
  _vale/Docker/GenericCTA.yml
  _vale/Docker/HeadingLength.yml
  _vale/Docker/HeadingPunctuation.yml
  _vale/Docker/HeadingSentenceCase.yml
  _vale/Docker/ListComma.yml
  _vale/Docker/OxfordComma.yml
  _vale/Docker/RecommendedWords.yml
  _vale/Docker/SentenceLength.yml
  _vale/Docker/Spacing.yml
  _vale/Docker/URLFormat.yml
  _vale/Docker/Units.yml
  _vale/Docker/VersionText.yml
  _vale/Docker/We.yml
  _vale/config/vocabularies/Docker/accept.txt
Labels: status/review

#20724 copilot: add instructions for installing ext
  content/copilot/docker-agent-copilot.png
  content/copilot/index.md
Labels: status/review

#20708 iam: remove group mapping with sso using azure id
  content/security/faqs/single-sign-on/faqs.md
  content/security/for-admins/provisioning/group-mapping.md
  content/security/for-admins/single-sign-on/configure/configure-idp.md
Labels: area/security, status/review

#20716 engine: 27.2.0 release notes
  _vendor/github.com/docker/cli/docs/deprecated.md
  _vendor/github.com/docker/cli/docs/extend/index.md
  _vendor/github.com/docker/cli/docs/extend/plugins_authorization.md
  _vendor/github.com/docker/cli/docs/extend/plugins_metrics.md
  _vendor/github.com/docker/cli/docs/extend/plugins_volume.md
  _vendor/github.com/docker/cli/docs/reference/dockerd.md
  _vendor/github.com/docker/cli/docs/reference/run.md
  _vendor/github.com/moby/moby/docs/api/v1.46.yaml
  _vendor/github.com/moby/moby/docs/api/version-history.md
  _vendor/modules.txt
  content/desktop/release-notes.md
  content/engine/release-notes/27.1.md
  content/engine/release-notes/27.md
  data/toc.yaml
  go.mod
  go.sum
  hugo.yaml
Labels: area/engine, area/desktop, area/cli, area/api, hugo, dependencies

#20739 release notes: add known issue for CLI login address normalization
  content/desktop/release-notes.md
  content/engine/release-notes/27.md
Labels: area/engine, area/desktop

#20745 admin: add troubleshoot tag to sso topic
  content/security/for-admins/single-sign-on/troubleshoot.md
Labels: area/security, status/review

#20746 Fix typos in documentation.
  content/build/building/variables.md
Labels: area/build
