Repository docker/docs, pull requests merged in 2025-03, with the labels that each got.

#22146 dd: update UI steps for Enterprise DD install
  content/manuals/desktop/setup/install/enterprise-deployment/msi-install-and-configure.md
  content/manuals/desktop/setup/install/enterprise-deployment/pkg-install-and-configure.md
Labels: area/desktop, status/review

#22148 security: fix air gapped containers example
  content/manuals/security/for-admins/hardened-desktop/air-gapped-containers.md
Labels: area/security, status/review

#22160 subscription: add callout about TCC minutes rollovers
  content/guides/testcontainers-cloud/_index.md
  content/manuals/subscription/details.md
  content/manuals/subscription/scale.md
Labels: area/subscription, status/review, area/guides

#22181 billing: improve docs for manual payment retries
  content/manuals/billing/faqs.md
  content/manuals/billing/payment-method.md
Labels: area/billing, status/review

#22190 fix: rendering issue w/ experimental labs include
  content/includes/dockerfile-labs-channel.md
  content/manuals/build/buildkit/dockerfile-release-notes.md
  hugo_stats.json
  layouts/shortcodes/summary-bar.html
Labels: area/build, hugo, status/review

#22191 chore: cleanup includes w/ embedded shortcodes
  content/includes/compose-bridge-experimental.md
Labels: status/review

#22217 docs: Update build-summary.md to fix build-push-action references
  content/manuals/build/ci/github-actions/build-summary.md
Labels: area/build

#22220 Update image source for kafbat
  content/guides/kafka.md
Labels: area/guides

#22223 admin: add API option to manage members
  content/manuals/admin/organization/members.md
  layouts/shortcodes/admin-users.html
Labels: area/admin, hugo, status/review

#22198 billing: update VAT docs to include country prefix
  content/manuals/billing/details.md
  content/manuals/billing/history.md
  content/manuals/billing/tax-certificate.md
Labels: area/billing, status/review

#22229 fix: summary bar
  layouts/shortcodes/summary-bar.html
Labels: hugo, status/review

#22197 security: update OATs UI flow
  content/manuals/security/for-admins/access-tokens.md
Labels: area/security, status/review

#22221 accounts: add section to manage accounts
  content/manuals/accounts/_index.md
  content/manuals/accounts/manage-account.md
Labels: area/accounts, status/review

#22236 admin: add FAQ and add deactivate org to org section
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/admin/faqs/general-faqs.md
  content/manuals/admin/organization/deactivate-account.md
  content/manuals/admin/organization/orgs.md
  layouts/shortcodes/admin-domain-audit.md
Labels: area/admin, hugo, area/accounts, status/review

#22275 chore: add contact support button
  hugo_stats.json
  layouts/partials/components/support-button.html
  layouts/partials/footer.html
Labels: hugo, status/review

#22270 feat(api): Add oat tag for audit logs
  content/reference/api/hub/deprecated.md
  content/reference/api/hub/dvp.md
  content/reference/api/hub/latest-changelog.md
  content/reference/api/hub/latest.md
  content/reference/api/hub/latest.yaml
Labels: area/api, status/do-not-merge

#22279 Add public OATs (Organization Access Token) APIs
  content/reference/api/hub/latest-changelog.md
  content/reference/api/hub/latest.yaml
Labels: area/api, status/do-not-merge, status/review

#22290 Update develop.md for highlighted lines​
  content/guides/php/develop.md
Labels: status/triage, status/review, area/guides

#22324 fix: billing 404s
  content/manuals/billing/history.md
  content/manuals/billing/payment-method.md
Labels: area/billing, status/review

#22325 fix: only render admin icon for keyword in summary bar
  layouts/shortcodes/summary-bar.html
Labels: hugo, status/review

#22332 dmr-ex-fix
  content/manuals/desktop/features/model-runner.md
Labels: area/desktop, status/review
