Repository docker/docs, pull requests merged in 2025-04, with the labels that each got.

#22298 add llms.txt to repo
  hugo.yaml
  hugo_stats.json
  layouts/_default/index.llms.txt
  layouts/_default/list.markdown.md
  layouts/_default/single.markdown.md
  layouts/partials/aside.html
  layouts/partials/content-default.html
  layouts/partials/footer.html
  layouts/partials/md-dropdown.html
  layouts/partials/sidebar/sections.html
Labels: hugo, status/review, area/config

#22360 billing: add link as new payment method
  content/manuals/billing/faqs.md
  content/manuals/billing/payment-method.md
Labels: area/billing, status/review

#22366 chore: add missing cards from platform landing pages
  content/manuals/billing/_index.md
  content/manuals/security/_index.md
Labels: area/security, area/billing, status/review

#22380 billing: small change for feedback survey in cancellation flow
  content/manuals/subscription/change.md
Labels: area/subscription, status/review

#22369 Update latest.yaml to add group repo access
  content/reference/api/hub/latest.yaml
Labels: area/api, status/review

#22353 cx: add guided setup section for admin onboarding
  content/manuals/admin/organization/onboard.md
Labels: area/admin, status/review

#22384 CLI: Add missing `pad` and `truncate` output formatting functions
  content/manuals/engine/cli/formatting.md
Labels: area/engine

#22399 fix: settings management moved in AC UI
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/compliance-reporting.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-admin-console.md
Labels: area/security, status/review

#22406 BuildKit supports multiple cache exporters
  content/manuals/build/cache/backends/_index.md
Labels: area/build

#22424 kapa: change bot protection mechanism to hcaptcha
  layouts/partials/head.html
Labels: hugo

#22432 network link
  content/manuals/engine/network/tutorials/standalone.md
Labels: area/engine, area/networking, status/review

#22452 engine: v28.1.1
  content/manuals/engine/release-notes/28.md
  hugo.yaml
Labels: area/engine, hugo, area/config

#22441 security: caveats for admin-settings.json
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-json-file.md
  hugo_stats.json
Labels: area/security, hugo, status/review

#22469 Fix link to related docs in the "Building best practices" manual
  content/manuals/build/building/best-practices.md
Labels: area/build

#22461 security: remove outdated limitation and add suggestion for OATs
  content/manuals/admin/organization/convert-account.md
Labels: area/admin, status/review

#22462 fix: move llms page options out of title
  hugo_stats.json
  layouts/partials/content-default.html
Labels: hugo, status/review

#22495 fix: hide page options on mobile
  layouts/partials/content-default.html
Labels: hugo, status/review

#22500 Prevent Hugo from outputting its version
  hugo.yaml
Labels: hugo, area/config
