Repository docker/docs, pull requests merged in 2025-08, with the labels that each got.

#23212 ux: copy search term to AI widget
  assets/css/components.css
  assets/css/global.css
  assets/css/utilities.css
  assets/icons/search.svg
  assets/icons/sparkle.svg
  assets/images/ai-stars.svg
  assets/images/search-ai.svg
  hugo_stats.json
  layouts/_default/search.html
  layouts/partials/head.html
  layouts/partials/header.html
  layouts/partials/search-bar.html
Labels: hugo, status/review

#23229 chore: add utm parameters to dl urls
  content/manuals/desktop/_index.md
  content/manuals/desktop/features/wsl/_index.md
  hugo_stats.json
  layouts/shortcodes/desktop-install-v2.html
Labels: area/desktop, hugo, status/review

#23227 dmr: split up content
  content/manuals/ai/model-runner/_index.md
  content/manuals/ai/model-runner/api-reference.md
  content/manuals/ai/model-runner/examples.md
  content/manuals/ai/model-runner/get-started.md
  content/manuals/ai/model-runner/setup.md
Labels: status/review, area/ai

#23243 ux: move support and theme buttons to topnav
  assets/css/theme.css
  assets/css/utilities.css
  assets/icons/headset.svg
  assets/icons/moon.svg
  assets/icons/search.svg
  assets/icons/sparkle.svg
  assets/icons/sun.svg
  hugo_stats.json
  layouts/_default/baseof.html
  layouts/_default/search.html
  layouts/partials/components/support-button.html
  layouts/partials/contact-support-button.html
  layouts/partials/footer.html
  layouts/partials/header.html
  layouts/partials/search-bar.html
Labels: hugo, status/review

#23250 fix: search display
  layouts/_default/search.html
  layouts/partials/search-bar.html
Labels: hugo

#23277 chore(vale): build fixes
  .vale.ini
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/build/bake/variables.md
  content/manuals/build/building/best-practices.md
  content/manuals/build/buildkit/_index.md
  content/manuals/build/checks.md
  content/manuals/build/ci/github-actions/_index.md
  content/manuals/build/ci/github-actions/cache.md
  content/manuals/build/concepts/context.md
  content/manuals/build/concepts/dockerfile.md
  content/manuals/build/exporters/_index.md
  content/manuals/build/metadata/annotations.md
  content/manuals/build/release-notes.md
  content/manuals/desktop/settings-and-maintenance/settings.md
  content/manuals/desktop/use-desktop/volumes.md
  content/manuals/engine/network/links.md
  content/manuals/engine/security/trust/trust_delegation.md
Labels: area/engine, area/networking, area/build, area/desktop, area/security, area/tests

#23284 docs: removed duplicate entry
  content/manuals/ai/gordon/mcp/built-in-tools.md
Labels: area/ai

#23293 ux: improve release notes formatting
  assets/css/components.css
  hugo_stats.json
  layouts/shortcodes/desktop-install-v2.html
  layouts/shortcodes/release-date.html
Labels: hugo

#23296 chore(cli): fix sentence structure
  content/manuals/engine/cli/formatting.md
Labels: area/engine

#23328 security: add RSS feed option
  content/manuals/security/security-announcements.md
  hugo_stats.json
  layouts/security-announcements/single.rss.xml
  layouts/shortcodes/rss-button.html
Labels: area/security, status/do-not-merge, hugo, status/review
