Repository docker/docs, pull requests merged in 2025-06, with the labels that each got.

#22681 model-cli reference docs
  .vale.ini
  _vendor/github.com/docker/model-cli/docs/reference/docker_model.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_compose.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_compose_down.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_compose_up.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_df.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_inspect.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_install-runner.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_list.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_logs.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_package.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_ps.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_pull.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_push.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_rm.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_run.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_status.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_tag.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_uninstall-runner.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_unload.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_version.yaml
  _vendor/github.com/docker/model-cli/docs/reference/model.md
  _vendor/github.com/docker/model-cli/docs/reference/model_df.md
  _vendor/github.com/docker/model-cli/docs/reference/model_inspect.md
  _vendor/github.com/docker/model-cli/docs/reference/model_install-runner.md
  _vendor/github.com/docker/model-cli/docs/reference/model_list.md
  _vendor/github.com/docker/model-cli/docs/reference/model_logs.md
  _vendor/github.com/docker/model-cli/docs/reference/model_package.md
  _vendor/github.com/docker/model-cli/docs/reference/model_ps.md
  _vendor/github.com/docker/model-cli/docs/reference/model_pull.md
  _vendor/github.com/docker/model-cli/docs/reference/model_push.md
  _vendor/github.com/docker/model-cli/docs/reference/model_rm.md
  _vendor/github.com/docker/model-cli/docs/reference/model_run.md
  _vendor/github.com/docker/model-cli/docs/reference/model_status.md
  _vendor/github.com/docker/model-cli/docs/reference/model_tag.md
  _vendor/github.com/docker/model-cli/docs/reference/model_uninstall-runner.md
  _vendor/github.com/docker/model-cli/docs/reference/model_unload.md
  _vendor/github.com/docker/model-cli/docs/reference/model_version.md
  _vendor/modules.txt
  content/manuals/ai/model-runner.md
  content/reference/cli/docker/model/_index.md
  content/reference/cli/docker/model/df.md
  content/reference/cli/docker/model/inspect.md
  content/reference/cli/docker/model/install-runner.md
  content/reference/cli/docker/model/list.md
  content/reference/cli/docker/model/logs.md
  content/reference/cli/docker/model/package.md
  content/reference/cli/docker/model/ps.md
  content/reference/cli/docker/model/pull.md
  content/reference/cli/docker/model/push.md
  content/reference/cli/docker/model/rm.md
  content/reference/cli/docker/model/run.md
  content/reference/cli/docker/model/status.md
  content/reference/cli/docker/model/tag.md
  content/reference/cli/docker/model/uninstall-runner.md
  content/reference/cli/docker/model/unload.md
  content/reference/cli/docker/model/version.md
  go.mod
  go.sum
  hugo.yaml
Labels: area/cli, hugo, dependencies, area/config, area/tests, area/ai

#22755 ci: remove gha cache exports
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/validate-upstream.yml
Labels: area/release

#22756 fix: do not use liquid
  content/contribute/file-conventions.md
Labels: area/contrib

#22735 engine: add redirects for old URLs
  content/get-started/_index.md
  content/manuals/engine/daemon/live-restore.md
Labels: area/engine, area/get-started

#22761 ux: update code block styling
  .vscode/docker.code-snippets
  assets/css/utilities.css
  hugo_stats.json
  layouts/_default/_markup/render-codeblock.html
Labels: hugo, dependencies, status/review

#22769 Revert "Revert "DMR: GUI docs""
  content/manuals/_index.md
  content/manuals/ai/model-runner/_index.md
  data/redirects.yml
Labels: area/ai

#22775 chore: remove plan from docs
  content/guides/docker-build-cloud/common-questions.md
  content/manuals/admin/faqs/general-faqs.md
  content/manuals/admin/organization/activity-logs.md
  content/manuals/admin/organization/convert-account.md
  content/manuals/admin/organization/orgs.md
  content/manuals/billing/3d-secure.md
  content/manuals/billing/_index.md
  content/manuals/billing/cycle.md
  content/manuals/billing/details.md
  content/manuals/billing/faqs.md
  content/manuals/billing/history.md
  content/manuals/billing/payment-method.md
  content/manuals/desktop/enterprise/_index.md
  content/manuals/desktop/previous-versions/2.x-mac.md
  content/manuals/desktop/troubleshoot-and-support/support.md
  content/manuals/docker-hub/release-notes.md
  content/manuals/docker-hub/service-accounts.md
  content/manuals/docker-hub/usage/pulls.md
  content/manuals/scout/_index.md
  content/manuals/security/faqs/single-sign-on/enforcement-faqs.md
  content/manuals/subscription/_index.md
  content/manuals/subscription/change.md
  content/manuals/subscription/details.md
  content/manuals/subscription/manage-seats.md
  content/manuals/subscription/scale.md
  content/manuals/subscription/setup.md
  content/reference/api/hub/latest.yaml
Labels: area/hub, area/desktop, area/security, area/subscription, area/api, area/admin, area/scout, area/billing, status/review, area/guides

#22792 chore: add blog post to learn more section of settings management
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
Labels: area/security, status/review

#22805 admin: add new activity log events
  content/manuals/admin/organization/activity-logs.md
Labels: area/admin, status/review

#22726 engine: 28.2.2
  content/manuals/engine/release-notes/28.md
  content/reference/api/engine/_index.md
  hugo.yaml
Labels: area/engine, area/api, hugo, area/config

#22824 build-cloud: add build cache space
  content/manuals/build-cloud/builder-settings.md
Labels: status/review, area/build-cloud

#22823 vendor: revert model-cli commands that are not part of v0.1.24
  content/reference/cli/docker/model/df.md
  content/reference/cli/docker/model/ps.md
  content/reference/cli/docker/model/unload.md
Labels: area/cli, dependencies

#22829 validate vendor target
  .github/workflows/build.yml
  Dockerfile
  docker-bake.hcl
Labels: area/release, area/config

#22811 Fix: make button shortcode fully clickable
  layouts/shortcodes/button.html
Labels: hugo

#22836 fix: highlighting in code blocks
  assets/css/syntax-dark.css
  content/guides/genai-leveraging-rag/index.md
  hugo_stats.json
Labels: hugo, status/review, area/guides

#22793 Update best-practices.md
  content/manuals/build/building/best-practices.md
Labels: area/build

#22849 build-cloud: add section on multi-architecture allocation
  content/manuals/build-cloud/builder-settings.md
Labels: status/review, area/build-cloud

#22862 fix: model cli command links
  content/manuals/ai/model-runner/_index.md
Labels: status/review, area/ai

#22861 cx: bulk resend invite users/members
  content/manuals/admin/company/users.md
  content/manuals/admin/organization/members.md
  layouts/shortcodes/admin-users.html
Labels: area/admin, hugo, status/review

#22846 add 4.42.1 release notes
  content/manuals/desktop/release-notes.md
Labels: area/desktop

#22916 api: fix retry-after header docs
  content/reference/api/hub/latest.yaml
Labels: area/api

#22918 desktop: update MSI install commands
  content/manuals/desktop/setup/install/enterprise-deployment/msi-install-and-configure.md
Labels: area/desktop, status/review

#22908 ai runtime: add intro paragraph
  content/manuals/ai/model-runner/_index.md
Labels: area/ai
