Repository docker/docs, pull requests merged in 2025-07, with the labels that each got.

#22962 chore: fix search result color
  assets/css/global.css
  assets/css/utilities.css
  layouts/_default/search.html
  layouts/partials/search-bar.html
Labels: hugo, status/review

#22968 chore: reduce font size
  assets/css/global.css
  assets/css/theme.css
  layouts/partials/md-dropdown.html
Labels: hugo, status/review

#22985 fix: update min. version for settings management
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-admin-console.md
Labels: area/security, status/review

#22987 Docker Engine 28.3.1
  content/manuals/engine/release-notes/28.md
  content/reference/api/engine/_index.md
  hugo.yaml
Labels: area/engine, area/api, hugo, area/config

#22995 Revert "Gordon DHI migration"
  content/includes/gordondhi.md
  content/manuals/ai/gordon/_index.md
  content/manuals/dhi/features/integration.md
  content/manuals/dhi/how-to/migrate.md
Labels: area/ai, area/dhi

#22994 dmr: consolidate Compose content
  content/manuals/ai/compose/model-runner.md
  content/manuals/ai/compose/models-and-compose.md
  content/manuals/ai/model-runner/_index.md
  content/manuals/desktop/release-notes.md
Labels: area/desktop, area/ai

#23012 fix: visual touch-ups
  assets/css/components.css
  assets/css/global.css
  assets/css/utilities.css
  layouts/partials/breadcrumbs.html
  layouts/partials/content-default.html
  layouts/partials/github-links.html
  layouts/partials/md-dropdown.html
Labels: hugo

#23000 admin: org freshness part 2
  content/manuals/admin/organization/activity-logs.md
  content/manuals/admin/organization/deactivate-account.md
  content/manuals/admin/organization/general-settings.md
  content/manuals/admin/organization/insights.md
  content/manuals/admin/organization/manage-products.md
  layouts/shortcodes/admin-org-audit-log.html
Labels: area/admin, hugo, status/review

#22970 admin: org freshness part 1
  content/includes/admin-org-overview.md
  content/manuals/admin/_index.md
  content/manuals/admin/organization/_index.md
  content/manuals/admin/organization/convert-account.md
  content/manuals/admin/organization/manage-a-team.md
  content/manuals/admin/organization/members.md
  content/manuals/admin/organization/onboard.md
  content/manuals/admin/organization/orgs.md
Labels: area/admin, status/review

#23018 fix: broken link causing build error
  content/manuals/admin/organization/onboard.md
Labels: area/admin

#23019 engine/containers: fix link to restart policies
  content/manuals/engine/containers/start-containers-automatically.md
Labels: area/engine

#23022 fix: code block
  content/reference/compose-file/services.md
Labels: area/compose

#23030 tooling: add prompts to vscode
  .github/instructions/styleguide-instructions.md
  .github/prompts/freshness-tier1.prompt.md
  .github/prompts/freshness-tier2.prompt.md
  .github/prompts/review.prompt.md
Labels: area/get-started, area/release

#23026 security: add k8s setting to reference
  content/manuals/desktop/features/networking.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/settings-reference.md
  hugo_stats.json
Labels: area/desktop, area/security, hugo, status/review

#22912 Create hub-mcp.md
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
Labels: area/ai

#23039 fix: linter
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
Labels: area/ai

#22935 add MCP Gateway
  assets/css/components.css
  content/manuals/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/toolkit.md
  content/manuals/ai/mcp-gateway/_index.md
Labels: hugo, status/review, area/ai, team/ai-tools

#22938 samples: add agentic
  content/reference/samples/_index.md
  content/reference/samples/agentic-ai.md
  data/samples.yaml
Labels: area/samples, status/review

#22910 offload: add initial docs
  _vale/config/vocabularies/Docker/accept.txt
  content/_index.md
  content/manuals/_index.md
  content/manuals/desktop/_index.md
  content/manuals/desktop/setup/images/cloud-mode.png
  content/manuals/desktop/setup/vm-vdi.md
  content/manuals/offload/_index.md
  content/manuals/offload/about.md
  content/manuals/offload/configuration.md
  content/manuals/offload/images/cloud-mode.png
  content/manuals/offload/optimize.md
  content/manuals/offload/quickstart.md
  content/manuals/offload/troubleshoot.md
  content/manuals/offload/usage.md
  content/reference/cli/docker/offload/_index.md
  content/reference/cli/docker/offload/accounts.md
  content/reference/cli/docker/offload/diagnose.md
  content/reference/cli/docker/offload/start.md
  content/reference/cli/docker/offload/status.md
  content/reference/cli/docker/offload/stop.md
  content/reference/cli/docker/offload/version.md
  data/offload-cli/docker_offload.yaml
  data/offload-cli/docker_offload_accounts.yaml
  data/offload-cli/docker_offload_diagnose.yaml
  data/offload-cli/docker_offload_start.yaml
  data/offload-cli/docker_offload_status.yaml
  data/offload-cli/docker_offload_stop.yaml
  data/offload-cli/docker_offload_version.yaml
  data/redirects.yml
  data/summary.yaml
Labels: area/desktop, area/cli, status/review, area/tests, area/cloud

#23057 build: update buildx ref to 0.25.0 and buildkit ref to 0.23.2
  _vendor/github.com/docker/buildx/docs/bake-reference.md
  _vendor/github.com/moby/buildkit/docs/attestations/slsa-definitions.md
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  go.mod
  go.sum
Labels: area/build, dependencies

#23041 admin: FAQ freshness
  content/manuals/admin/faqs/_index.md
  content/manuals/admin/faqs/company-faqs.md
  content/manuals/admin/faqs/general-faqs.md
  content/manuals/admin/faqs/organization-faqs.md
Labels: area/admin, status/review

#23064 security: move domain audit
  content/manuals/security/for-admins/domain-management.md
  data/summary.yaml
Labels: area/security, status/review

#23073 fix: remove mask from svg
  layouts/partials/admonitions/icons/important.svg
Labels: hugo

#23084 ci: deploy from main
  .github/workflows/deploy.yml
  .github/workflows/merge.yml
Labels: area/release

#23103 security: add unassociated machines docs
  content/manuals/unassociated-machines/_index.md
  layouts/index.robots.txt
Labels: status/do-not-merge, hugo, status/review

#23106 dmr: update TCP support info
  content/manuals/ai/model-runner/_index.md
Labels: status/review, area/ai, team/ai-runtime

#23110 ui: add 'open in Claude/Chatgpt' to page options
  assets/css/utilities.css
  assets/icons/claude.svg
  assets/icons/openai.svg
  hugo_stats.json
  layouts/partials/md-dropdown.html
Labels: hugo, status/review

#23069 build: cdi manual
  content/manuals/build/building/base-images.md
  content/manuals/build/building/best-practices.md
  content/manuals/build/building/cdi.md
Labels: area/build, area/release

#23133 docs: fix mcp configuration location in vscode
  content/manuals/ai/mcp-catalog-and-toolkit/toolkit.md
Labels: area/ai

#23131 build: bake stdlib functions page
  _vendor/github.com/docker/buildx/docs/bake-stdlib.md
  content/manuals/build/bake/funcs.md
  hugo.yaml
Labels: area/build, hugo, dependencies, area/config

#23142 chore: reduce Vale reporting noise
  .vale.ini
  _vale/config/vocabularies/Docker/accept.txt
  content/contribute/style/voice-tone.md
Labels: area/contrib, area/tests

#23130 build: buildx 0.26.0 and 0.26.1 release notes
  content/manuals/build/release-notes.md
Labels: area/build

#23068 fix(toc): remove horizontal overflow due Table of Contents (#23052)
  layouts/partials/aside.html
  layouts/partials/content-default.html
Labels: hugo

#23143 add teams to unassociated machines
  content/manuals/unassociated-machines/_index.md
Labels: status/review

#23146 chore: reduce noice in Vale error reporting
  .vale.ini
  _vale/config/vocabularies/Docker/accept.txt
  content/guides/admin-user-management/setup.md
  content/manuals/compose/releases/release-notes.md
  content/manuals/desktop/previous-versions/edge-releases-mac.md
  content/manuals/desktop/previous-versions/edge-releases-windows.md
  content/manuals/desktop/release-notes.md
  content/manuals/desktop/troubleshoot-and-support/feedback.md
  content/manuals/enterprise/security/provisioning/group-mapping.md
  content/manuals/offload/feedback.md
  content/manuals/security/security-announcements.md
  content/reference/api/registry/auth.md
  content/reference/compose-file/secrets.md
Labels: area/compose, area/desktop, area/cli, area/security, area/api, dependencies, area/tests, area/guides

#23147 css: display main menu on mobile only
  layouts/partials/sidebar/mainnav.html
  layouts/partials/sidebar/sections.html
Labels: hugo

#23145 fix: open in llm dropdown
  hugo_stats.json
  layouts/partials/md-dropdown.html
Labels: status/do-not-merge, hugo, status/review

#23113 billing: freshness
  content/manuals/billing/3d-secure.md
  content/manuals/billing/_index.md
  content/manuals/billing/cycle.md
  content/manuals/billing/details.md
  content/manuals/billing/faqs.md
  content/manuals/billing/history.md
  content/manuals/billing/payment-method.md
  content/manuals/billing/tax-certificate.md
Labels: area/billing, status/review

#23174 Update userns-remap.md
  content/manuals/engine/security/userns-remap.md
Labels: area/engine, area/security

#23151 build: use new buildkitd-config instead
  content/manuals/build/buildkit/configure.md
Labels: area/build

#23167 Added clarification text in _index.md
  content/manuals/engine/install/_index.md
Labels: area/engine, area/install

#23176 freshness: accounts
  content/manuals/accounts/_index.md
  content/manuals/accounts/create-account.md
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/accounts/general-faqs.md
  content/manuals/accounts/manage-account.md
  content/manuals/docker-hub/usage/pulls.md
  content/manuals/subscription/change.md
  hugo_stats.json
Labels: area/hub, area/subscription, hugo, area/accounts, status/review
