Repository docker/docs, pull requests merged in 2025-02, with the labels that each got.

#21947 Fixed set up
  content/manuals/admin/organization/onboard.md
Labels: area/admin

#21953 Fix build example diff in multi-platform.md
  content/manuals/build/building/multi-platform.md
Labels: area/build

#21967 fix: remove redirect loop from ask gordon docs
  content/manuals/desktop/features/gordon/_index.md
Labels: area/desktop, status/review

#21988 typo in local cache storage backend
  content/manuals/build/cache/backends/local.md
Labels: area/build

#21998 Fix 404
  content/manuals/engine/install/ubuntu.md
Labels: area/engine, area/install, status/review

#22010 fix: remove EA badge from admin console doc
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-admin-console.md
Labels: area/security, status/review

#22008 chore: quick fix for contribute guide
  content/contribute/components/call-outs.md
Labels: area/contrib, status/review

#22002 Add new auth token docs
  content/reference/api/hub/latest.md
  content/reference/api/hub/latest.yaml
Labels: area/api

#22021 security: update manage members and SSO users FAQs
  content/manuals/admin/organization/members.md
  content/manuals/security/faqs/single-sign-on/users-faqs.md
Labels: area/security, area/admin, status/review

#21983 accounts: update nav
  content/manuals/accounts/deactivate-user-account.md
  content/manuals/accounts/manage-account.md
  content/manuals/admin/organization/convert-account.md
  content/manuals/security/for-developers/2fa/_index.md
  content/manuals/security/for-developers/2fa/disable-2fa.md
  content/manuals/security/for-developers/2fa/new-recovery-code.md
  content/manuals/security/for-developers/access-tokens.md
Labels: area/security, area/admin, area/accounts, status/review

#22061 vendor: github.com/moby/buildkit v0.20.0
  _vendor/github.com/moby/buildkit/docs/buildkitd.toml.md
  go.mod
  go.sum
Labels: area/build, dependencies

#22062 Remove links to the public roadmap
  content/manuals/docker-hub/release-notes.md
  content/manuals/platform-release-notes.md
  content/manuals/scout/release-notes/platform.md
Labels: area/hub, area/scout

#22079 Update oat docs for company owners
  content/manuals/security/for-admins/access-tokens.md
Labels: area/security

#22081 billing and docker hub: pricing updates
  content/includes/hub-limits.md
  content/manuals/billing/docker-hub-pricing.md
  content/manuals/docker-hub/usage/_index.md
  content/manuals/docker-hub/usage/manage.md
  content/manuals/docker-hub/usage/pulls.md
  content/manuals/docker-hub/usage/repositories.md
  content/manuals/docker-hub/usage/storage.md
  content/manuals/subscription/details.md
  content/manuals/subscription/scale.md
  hugo_stats.json
Labels: area/hub, area/subscription, hugo, area/billing, status/review

#22119 remove mention of roadmap from subscription details.md
  content/manuals/subscription/details.md
Labels: area/subscription, status/review

#22124 Document `expires_at` field for PAT creation
  content/reference/api/hub/latest.yaml
Labels: area/api, status/review

#22126 build: use tags input for distributed builds workflow
  content/manuals/build/ci/github-actions/multi-platform.md
Labels: area/build

#22133 hub/billing: cleanup hub pull docs
  content/manuals/docker-hub/usage/_index.md
  content/manuals/docker-hub/usage/pulls.md
  content/manuals/docker-hub/usage/repositories.md
Labels: area/hub, status/review
