Repository docker/docs, pull requests merged in 2025-10, with the labels that each got.

#23449 Update MCP overview page
  content/guides/agentic-ai.md
  content/manuals/_index.md
  content/manuals/ai/cagent/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/_index.md
  content/manuals/ai/mcp-catalog-and-toolkit/catalog.md
  content/manuals/ai/mcp-catalog-and-toolkit/faqs.md
  content/manuals/ai/mcp-catalog-and-toolkit/get-started.md
  content/manuals/ai/mcp-catalog-and-toolkit/hub-mcp.md
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-servers-overview.svg
  content/manuals/ai/mcp-catalog-and-toolkit/images/mcp-toolkit-overview.png
  content/manuals/ai/mcp-catalog-and-toolkit/mcp-gateway.md
  content/manuals/ai/mcp-catalog-and-toolkit/toolkit.md
Labels: dependencies, area/guides, area/ai

#23491 engine/install: update supported OS versions
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/fedora.md
  content/manuals/engine/install/rhel.md
Labels: area/engine, area/install

#23502 build: buildx 0.29.1 release notes
  content/manuals/build/release-notes.md
Labels: area/build

#23505 update unassociated machines for clarification
  content/manuals/unassociated-machines/_index.md
Labels: status/review
