Repository docker/docs, pull requests merged in 2025-09, with the labels that each got.

#23336 cagent
  _vale/config/vocabularies/Docker/accept.txt
  assets/icons/cagent.svg
  content/manuals/_index.md
  content/manuals/ai/cagent/_index.md
  content/manuals/ai/cagent/examples.md
  content/manuals/ai/mcp-gateway/_index.md
  content/manuals/testcontainers.md
  data/summary.yaml
Labels: hugo, area/tests, area/ai

#23343 vendor: github.com/docker/model-cli v0.1.40
  _vendor/github.com/docker/model-cli/docs/reference/docker_model.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_compose.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_compose_down.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_compose_metadata.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_compose_up.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_configure.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_df.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_inspect.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_install-runner.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_list.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_logs.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_package.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_ps.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_pull.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_push.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_rm.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_run.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_status.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_tag.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_uninstall-runner.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_unload.yaml
  _vendor/github.com/docker/model-cli/docs/reference/docker_model_version.yaml
  _vendor/github.com/docker/model-cli/docs/reference/model.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: dependencies

#23382 Update max image size section
  content/manuals/scout/explore/analysis.md
Labels: area/scout

#23403 Update landing page to include MCP Toolkit banner and card
  content/_index.md
  layouts/index.html
Labels: hugo

#23428 [docker-hub-api] Add `Create, Get, Head repository` endpoint
  content/reference/api/hub/changelog.md
  content/reference/api/hub/deprecated.md
  content/reference/api/hub/latest.yaml
Labels: area/api

#23459 fix: search bar
  layouts/_default/search.html
  layouts/partials/search-bar.html
Labels: hugo, status/review

#23469 ci: fix s3 upload
  .github/workflows/deploy.yml
Labels: area/release, ci
