Repository docker/docs, pull requests merged in 2025-05, with the labels that each got.

#22563 edits to some headings x 2
  data/engine-cli/docker_image_build.yaml
Labels: area/cli, wtd-project

#21708 add another iptables rule to allow dns queries from container
  content/manuals/engine/network/packet-filtering-firewalls.md
Labels: area/engine, area/networking

#22591 4.41.2 release notes
  content/manuals/desktop/release-notes.md
Labels: area/desktop

#22602 Remote access to container ports
  content/manuals/engine/network/_index.md
  content/manuals/engine/network/packet-filtering-firewalls.md
Labels: area/engine, area/networking

#22589 Expand documentation on the KubernetesImagesRepository setting.
  content/manuals/desktop/features/kubernetes.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-json-file.md
Labels: area/desktop, area/security

#22610 Update what-is-a-container.md
  content/get-started/docker-concepts/the-basics/what-is-a-container.md
Labels: area/get-started

#22613 dd: update Windows Arm to EA
  content/manuals/desktop/setup/install/windows-install.md
Labels: area/desktop, status/review

#22619 build: image-manifest enabled by default for cache export
  content/manuals/build/cache/backends/_index.md
  content/manuals/build/cache/backends/local.md
  content/manuals/build/cache/backends/registry.md
Labels: area/build

#22491 Update roles-and-permissions.md
  content/manuals/security/for-admins/roles-and-permissions.md
Labels: area/security, status/review

#22629 update go to 1.24
  Dockerfile
  go.mod
  hack/releaser/Dockerfile
  hack/releaser/go.mod
  hugo.yaml
Labels: area/release, hugo, dependencies, area/config

#22634 Fix a link to the related documentation in the Annotations manual
  content/manuals/build/metadata/annotations.md
Labels: area/build

#22635 engine: add new supported versions
  content/manuals/engine/install/debian.md
  content/manuals/engine/install/fedora.md
Labels: area/engine, area/install, status/review

#22624 security: fix callout in domain audit
  layouts/shortcodes/admin-domain-audit.md
Labels: hugo, status/review

#22630 desktop: add faq for MDMs
  content/manuals/desktop/setup/install/enterprise-deployment/faq.md
Labels: area/desktop, status/review

#22638 billing: fix 404
  content/manuals/subscription/change.md
Labels: area/subscription, status/review

#22639 fix: mobile footer issue
  hugo_stats.json
  layouts/_default/baseof.html
  layouts/partials/footer.html
Labels: hugo, status/review

#22625 security: add settings reference
  content/manuals/security/for-admins/hardened-desktop/settings-management/_index.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-admin-console.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/configure-json-file.md
  content/manuals/security/for-admins/hardened-desktop/settings-management/settings-reference.md
Labels: area/security, hugo, status/review

#22636 chore: update area labeler and codeowners for AI
  .github/CODEOWNERS
  .github/labeler.yml
Labels: area/release, status/review

#22644 troubleshooting: remove docker feedback cli
  content/manuals/compose/support-and-feedback/feedback.md
  content/manuals/desktop/troubleshoot-and-support/feedback.md
Labels: area/compose, area/desktop

#22623 DMR: clarify base urls
  content/manuals/ai/model-runner.md
Labels: dependencies, status/review

#22651 Update buildkit reference to v0.22.0-rc1
  _vendor/github.com/moby/buildkit/frontend/dockerfile/docs/reference.md
  go.mod
  go.sum
Labels: area/build, dependencies

#22526 dmr hugging face addition
  content/manuals/ai/model-runner.md
Labels: status/do-not-merge, status/review

#22647 security: improve SCIM intro
  content/manuals/security/faqs/general.md
  content/manuals/security/for-admins/provisioning/scim.md
  hugo_stats.json
Labels: area/security, hugo, status/review

#22672 cx: update UI steps
  content/manuals/admin/organization/general-settings.md
  content/manuals/admin/organization/orgs.md
Labels: area/admin, status/review

#22671 build: provenance is minimal by default
  content/manuals/build/metadata/attestations/_index.md
  content/manuals/build/metadata/attestations/slsa-provenance.md
Labels: area/build

#22677 chore: fix missing card in AI section
  content/manuals/_index.md
  content/manuals/ai/gordon/mcp/gordon-mcp-server.md
  static/assets/icons/toolbox.svg
Labels: hugo, area/ai

#22678 update: VAT faq and callouts
  content/includes/tax-compliance.md
  content/manuals/billing/faqs.md
Labels: area/billing, status/review

#22693 add: mcp redirect
  data/redirects.yml
Labels: status/review

#22660 engine: 28.2.0
  _vale/Docker/Acronyms.yml
  _vale/config/vocabularies/Docker/accept.txt
  content/manuals/engine/release-notes/28.md
Labels: area/engine, area/tests

#22717 Docker 28.2.1
  _vendor/modules.txt
  content/manuals/engine/release-notes/28.md
  content/reference/api/engine/_index.md
  go.mod
  go.sum
  hugo.yaml
Labels: area/engine, area/api, hugo, dependencies, area/config

#22734 theme: extract more styles
  .vscode/docker.code-snippets
  assets/css/components.css
  assets/css/utilities.css
  content/get-started/introduction/get-docker-desktop.md
  layouts/_default/baseof.html
  layouts/guides/landing.html
  layouts/partials/components/guide-summary.html
  layouts/partials/languages.html
  layouts/partials/tags.html
  layouts/shortcodes/button.html
Labels: area/get-started, hugo, status/review
